Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

Do not undef HAVE_STDLIB_H in export.c for libAfterImage
  graf2d/asimage/src/libAfterImage/export.c
Owners: @couet

Don't configure the files since there is nothing to replace
  main/CMakeLists.txt
Owners: @bellenot

Install the files needed by the tests
  main/CMakeLists.txt
Owners: @bellenot

Replace #!/usr/bin/env @python@ with #!/usr/bin/env python
  main/python/cmdLineUtils.py
  main/python/rootbrowse.py
  main/python/rootcp.py
  main/python/rootdrawtree.py
  main/python/rooteventselector.py
  main/python/rootls.py
  main/python/rootmkdir.py
  main/python/rootmv.py
  main/python/rootprint.py
  main/python/rootrm.py
  main/python/rootslimtree.py
Owners: @pcanal

[df] Add test for JIT with explicit multithreading
  tree/dataframe/test/dataframe_concurrency.cxx
Owners: @martamaja10, @vepadulano

[clad] Bump clad to version v1.5
  interpreter/cling/tools/plugins/clad/CMakeLists.txt
Owners: @bellenot

Remove redundant code, we do not need arrayrefs anymore
  hist/hist/src/TFormula.cxx
Owners: @lmoneta

Make clang differentiable
  core/metacling/src/CMakeLists.txt
Owners: @bellenot

Add fit/exampleFit3D.C to clad veto
  tutorials/CMakeLists.txt
Owners: @bellenot

[math][RF] Define pullbacks of `ROOT::Math::landau` functions for AD
  math/mathcore/inc/Math/CladDerivator.h
Owners: @lmoneta

[RF] Rename RooPower and RooExpPoly to avoid clash with classes fom CMS
  README/ReleaseNotes/v632/index.md
  documentation/doxygen/images/RooLegacyExpPoly.png
  documentation/doxygen/images/RooPowerSum.png
  etc/RooFitHS3_wsexportkeys.json
  etc/RooFitHS3_wsfactoryexpressions.json
  roofit/hs3/src/JSONFactories_RooFitCore.cxx
  roofit/hs3/test/testRooFitHS3.cxx
  roofit/roofit/CMakeLists.txt
  roofit/roofit/inc/LinkDef1.h
  roofit/roofit/inc/RooLegacyExpPoly.h
  roofit/roofit/inc/RooPowerSum.h
  roofit/roofit/src/RooLegacyExpPoly.cxx
  roofit/roofit/src/RooPowerSum.cxx
  roofit/roofitcore/test/testTestStatistics.cxx
  tutorials/roofit/rf614_binned_fit_problems.C
  tutorials/roofit/rf614_binned_fit_problems.py
Owners: @dpiparo, @couet, @lmoneta, @guitargeek, @bellenot

[RF] Slight refactoring of the `MathFuncs`
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
Owners: @lmoneta, @guitargeek

Some minor indentation fixes
  graf2d/asimage/src/libAfterImage/export.c
  graf2d/asimage/src/libAfterImage/import.c
  graf2d/asimage/src/libAfterImage/ungif.c
Owners: @couet

Fix pythonizations test errors on ix86 Linux
  bindings/pyroot/pythonizations/test/rdataframe_makenumpy.py
  bindings/pyroot/pythonizations/test/rtensor.py
Owners: @dpiparo, @vepadulano

Do not undef HAVE_STDLIB_H in export.c for libAfterImage
  graf2d/asimage/src/libAfterImage/export.c
Owners: @couet

Make it possible to use the system giflib with the builtin libAfterImage
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

Add old gtest compat for SetUpTestSuite/TearDownTestSuite
  tree/tree/test/friendinfo.cxx
Owners: @pcanal

[RF] Merge EvaluateFuncs and AnalyticalIntegrals header
  roofit/doc/developers/roofit_ad.md
  roofit/histfactory/src/FlexibleInterpVar.cxx
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofit/src/RooBernstein.cxx
  roofit/roofit/src/RooBifurGauss.cxx
  roofit/roofit/src/RooCBShape.cxx
  roofit/roofit/src/RooChebychev.cxx
  roofit/roofit/src/RooExponential.cxx
  roofit/roofit/src/RooGaussian.cxx
  roofit/roofit/src/RooLandau.cxx
  roofit/roofit/src/RooLognormal.cxx
  roofit/roofit/src/RooPoisson.cxx
  roofit/roofit/src/RooPolynomial.cxx
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
  roofit/roofitcore/src/RooConstraintSum.cxx
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooEffProd.cxx
  roofit/roofitcore/src/RooEfficiency.cxx
  roofit/roofitcore/src/RooNLLVarNew.cxx
  roofit/roofitcore/src/RooNormalizedPdf.h
  roofit/roofitcore/src/RooPolyVar.cxx
  roofit/roofitcore/src/RooRatio.cxx
  roofit/roofitcore/src/RooRecursiveFraction.cxx
  roofit/roofitcore/src/RooTruthModel.cxx
Owners: @lmoneta, @guitargeek, @bellenot

[PyROOT] Refactor `rtensor` test to be more granular
  bindings/pyroot/pythonizations/test/rtensor.py
Owners: @dpiparo, @vepadulano

Add an #ifdef HAVE_STDLIB_H in import.c for consistency, remove undef
  graf2d/asimage/src/libAfterImage/import.c
Owners: @couet

[RF] Replace some `TMath` functions with standard math functions
  roofit/histfactory/src/HistFactoryNavigation.cxx
  roofit/histfactory/src/RooBarlowBeestonLL.cxx
  roofit/histfactory/test/stressHistFactory.cxx
  roofit/roofit/src/Roo2DKeysPdf.cxx
  roofit/roofit/src/RooArgusBG.cxx
  roofit/roofit/src/RooBDecay.cxx
  roofit/roofit/src/RooBMixDecay.cxx
  roofit/roofit/src/RooDstD0BG.cxx
  roofit/roofit/src/RooGExpModel.cxx
  roofit/roofit/src/RooGamma.cxx
  roofit/roofit/src/RooMomentMorph.cxx
  roofit/roofit/src/RooMomentMorphFunc.cxx
  roofit/roofit/src/RooMomentMorphFuncND.cxx
  roofit/roofit/src/RooNDKeysPdf.cxx
  roofit/roofit/src/RooNonCPEigenDecay.cxx
  roofit/roofit/src/RooNovosibirsk.cxx
  roofit/roofit/test/testRooJohnson.cxx
  roofit/roofitcore/src/RooAbsData.cxx
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooFitResult.cxx
  roofit/roofitcore/src/RooGrid.cxx
  roofit/roofitcore/src/RooHistError.cxx
  roofit/roofitcore/src/RooMCIntegrator.cxx
  roofit/roofitcore/test/stressRooFit_tests.h
  roofit/roofitcore/test/testGenericPdf.cxx
  roofit/roofitmore/src/RooAdaptiveGaussKronrodIntegrator1D.cxx
  roofit/roofitmore/src/RooNonCentralChiSquare.cxx
  roofit/roostats/inc/RooStats/ConfidenceBelt.h
  roofit/roostats/inc/RooStats/MCMCCalculator.h
  roofit/roostats/inc/RooStats/MCMCInterval.h
  roofit/roostats/src/HybridResult.cxx
  roofit/roostats/src/HypoTestInverterResult.cxx
  roofit/roostats/src/HypoTestResult.cxx
  roofit/roostats/src/MCMCInterval.cxx
  roofit/roostats/src/MetropolisHastings.cxx
  roofit/roostats/src/NeymanConstruction.cxx
  roofit/xroofit/src/xRooNLLVar.cxx
  roofit/xroofit/src/xRooNode.cxx
Owners: @lmoneta, @guitargeek

Ignore warnings about RooNaNPacker not being implemented for big endian
  core/testsupport/src/TestSupport.cxx
Owners: @dpiparo, @pcanal

Update libAfterImage configure file to match configure.in
  graf2d/asimage/src/libAfterImage/configure
Owners: @couet

Port libAfterImage configure script to C99.
  graf2d/asimage/src/libAfterImage/configure
Owners: @couet

[RF] Improve RooLandau tests in `testRooFuncWrapper`
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Owners: @lmoneta, @guitargeek

[RF] Fixup to recent change in `PiecewiseInterpolation::translate()`
  roofit/histfactory/src/PiecewiseInterpolation.cxx
Owners: @lmoneta, @guitargeek

Fix compilation error with giflib 5
  graf2d/asimage/src/libAfterImage/ungif.c
Owners: @couet

[RF] Optimize code generated from `PiecewiseInterpolation` for use in AD
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooHistFunc.h
Owners: @lmoneta, @guitargeek

[clad] Bump clad to version v1.5
  interpreter/cling/tools/plugins/clad/CMakeLists.txt
Owners: @bellenot

Make clang differentiable
  core/metacling/src/CMakeLists.txt
Owners: @bellenot

Remove redundant code, we do not need arrayrefs anymore
  hist/hist/src/TFormula.cxx
Owners: @lmoneta

Support PCRE2
  bindings/pyroot/pythonizations/test/import_load_libs.py
  cmake/modules/FindPCRE2.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  core/base/CMakeLists.txt
  core/base/src/TPRegexp.cxx
  tutorials/legacy/regexp/regexp.C
Owners: @dpiparo, @vepadulano, @bellenot, @pcanal, @couet

Support PCRE2
  bindings/pyroot/pythonizations/test/import_load_libs.py
  cmake/modules/FindPCRE2.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  core/base/CMakeLists.txt
  core/base/src/TPRegexp.cxx
  tutorials/legacy/regexp/regexp.C
Owners: @dpiparo, @vepadulano, @bellenot, @pcanal, @couet

[webgui] remoe firefox log at exit
  etc/runfirefox.sh
Owners: @dpiparo

[webgui] correcly handle local display by reload
  gui/webdisplay/inc/ROOT/RWebWindow.hxx
  gui/webdisplay/src/RWebWindow.cxx
  gui/webdisplay/src/RWebWindowWSHandler.hxx
Owners: @linev

[webgui] remoe firefox log at exit
  etc/runfirefox.sh
Owners: @dpiparo

[webgui] correcly handle local display by reload
  gui/webdisplay/inc/ROOT/RWebWindow.hxx
  gui/webdisplay/src/RWebWindow.cxx
  gui/webdisplay/src/RWebWindowWSHandler.hxx
Owners: @linev

[jsroot] dev 17/05/2024 with latest three.js
  js/build/jsroot.js
  js/changes.md
  js/modules/base/TAttTextHandler.mjs
  js/modules/base/base3d.mjs
  js/modules/core.mjs
  js/modules/d3.mjs
  js/modules/draw.mjs
  js/modules/geom/TGeoPainter.mjs
  js/modules/geom/geobase.mjs
  js/modules/gpad/RPadPainter.mjs
  js/modules/gpad/TAxisPainter.mjs
  js/modules/gpad/TCanvasPainter.mjs
  js/modules/gpad/TFramePainter.mjs
  js/modules/gpad/TPadPainter.mjs
  js/modules/gui/HierarchyPainter.mjs
  js/modules/gui/menu.mjs
  js/modules/gui/utils.mjs
  js/modules/hist/RH3Painter.mjs
  js/modules/hist/TH1Painter.mjs
  js/modules/hist/TH2Painter.mjs
  js/modules/hist/TH3Painter.mjs
  js/modules/hist/TPavePainter.mjs
  js/modules/hist/hist3d.mjs
  js/modules/hist2d/TGraphPainter.mjs
  js/modules/hist2d/TH1Painter.mjs
  js/modules/hist2d/TH2Painter.mjs
  js/modules/hist2d/THistPainter.mjs
  js/modules/io.mjs
  js/modules/three.mjs
  js/modules/three_addons.mjs
  js/scripts/JSRoot.core.js
Owners: @linev

[jsroot] dev 17/05/2024 with latest three.js
  js/build/jsroot.js
  js/changes.md
  js/modules/base/TAttTextHandler.mjs
  js/modules/base/base3d.mjs
  js/modules/core.mjs
  js/modules/d3.mjs
  js/modules/draw.mjs
  js/modules/geom/TGeoPainter.mjs
  js/modules/geom/geobase.mjs
  js/modules/gpad/RPadPainter.mjs
  js/modules/gpad/TAxisPainter.mjs
  js/modules/gpad/TCanvasPainter.mjs
  js/modules/gpad/TFramePainter.mjs
  js/modules/gpad/TPadPainter.mjs
  js/modules/gui/HierarchyPainter.mjs
  js/modules/gui/menu.mjs
  js/modules/gui/utils.mjs
  js/modules/hist/RH3Painter.mjs
  js/modules/hist/TH1Painter.mjs
  js/modules/hist/TH2Painter.mjs
  js/modules/hist/TH3Painter.mjs
  js/modules/hist/TPavePainter.mjs
  js/modules/hist/hist3d.mjs
  js/modules/hist2d/TGraphPainter.mjs
  js/modules/hist2d/TH1Painter.mjs
  js/modules/hist2d/TH2Painter.mjs
  js/modules/hist2d/THistPainter.mjs
  js/modules/io.mjs
  js/modules/three.mjs
  js/modules/three_addons.mjs
  js/scripts/JSRoot.core.js
Owners: @linev

[eve7] use three_addons.mjs from latest jsroot
  ui5/eve7/eve.mjs
Owners: @linev

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
