Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

2D/3D version of TH1::AddBinContent, as with TH2::SetBinContent/TH3::SetBinContent (#14154)
  hist/hist/inc/TH2.h
  hist/hist/inc/TH3.h
  hist/hist/src/TH2.cxx
  hist/hist/src/TH3.cxx
Owners: @lmoneta

[tree,io] prevent integer overflow when dealing with cachesize
  io/io/inc/TFileCacheRead.h
  io/io/src/TFileCacheRead.cxx
  tree/tree/inc/TTreeCache.h
  tree/tree/inc/TTreeCacheUnzip.h
  tree/tree/inc/TTreeCloner.h
  tree/tree/src/TTree.cxx
  tree/tree/src/TTreeCache.cxx
  tree/tree/src/TTreeCacheUnzip.cxx
  tree/tree/src/TTreeCloner.cxx
Owners: @pcanal

[ntuple] style fix in unit test LinkDef
  tree/ntuple/v7/test/CustomStructLinkDef.h
Owners: @jblomer

[ntuple] add clarifying comment to unit test
  tree/ntuple/v7/test/rfield_class.cxx
Owners: @jblomer

[ntuple] simplify RField<TObject> constructor
  tree/ntuple/v7/src/RField.cxx
Owners: @jblomer

[ntuple] remove RField<TObject>::GetClass()
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/src/RField.cxx
Owners: @jblomer

[cmake] fine-tune the builtin-afterimage flag removal (#15195)
  cmake/modules/RootBuildOptions.cmake
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

[hadd] fix processing of indirect file when multiprocess is enabled (#14913)
  main/src/hadd.cxx
Owners: @pcanal

Byte swap values read from the protobuf raw data stream on big endian
  tmva/sofie_parsers/src/RModelParser_ONNX.cxx
Owners: @lmoneta

Supefluous EnableThreadSafety()
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
Owners: @lmoneta

[ntuple] add unit test for TObject inheritance
  tree/ntuple/v7/test/CustomStruct.hxx
  tree/ntuple/v7/test/CustomStructLinkDef.h
  tree/ntuple/v7/test/rfield_class.cxx
Owners: @jblomer

[tmva] Fix RBatchGenerator tutorials
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
  tutorials/tmva/RBatchGenerator_NumPy.py
  tutorials/tmva/RBatchGenerator_PyTorch.py
  tutorials/tmva/RBatchGenerator_TensorFlow.py
  tutorials/tmva/RBatchGenerator_filters_vectors.py
Owners: @dpiparo, @vepadulano, @lmoneta, @couet

[ntuple] Implement incremental merging
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/src/RNTupleMerger.cxx
  tree/ntuple/v7/src/RPageStorage.cxx
  tree/ntuple/v7/test/ntuple_merger.cxx
Owners: @jblomer

[TMVA] Disable `rbdt` test
  tmva/tmva/test/CMakeLists.txt
Owners: @bellenot

[ntuple] minor improvement in unit test dictionaries
  tree/ntuple/v7/test/CustomStruct.hxx
Owners: @jblomer

[CI] Add `xgboost` and `scikit-learn` to requirements
  requirements.txt
Owners: @dpiparo

[tmva] Add number of training and validation batches in RBatchGenerator
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
Owners: @dpiparo, @vepadulano, @lmoneta

[df] Rename variables of ChangeBeginAndEndEntries function
  tree/dataframe/inc/ROOT/RDF/RInterface.hxx
  tree/dataframe/inc/ROOT/RDF/RLoopManager.hxx
  tree/dataframe/src/RInterface.cxx
  tree/dataframe/src/RLoopManager.cxx
Owners: @martamaja10, @vepadulano

[tmva] Warn when using RBDT and xgboost
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_rbdt.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_tree_inference.py
  tmva/tmva/test/CMakeLists.txt
  tutorials/CMakeLists.txt
Owners: @dpiparo, @vepadulano, @bellenot

[NFC][ntuple] add clarifying comment
  tree/ntuple/v7/test/rfield_class.cxx
Owners: @jblomer

[NFC][ntuple] add clarifying comment
  tree/ntuple/v7/test/rfield_class.cxx
Owners: @jblomer

[df] Add test for ChangeBeginAndEndEntries
  tree/dataframe/test/dataframe_cloning.cxx
Owners: @martamaja10, @vepadulano

[ntuple] split TObject unit test into smaller bits
  tree/ntuple/v7/test/rfield_class.cxx
Owners: @jblomer

fix file exclusion in format checker
  .ci/format_script.sh
Owners: @dpiparo

[ntuple] Simplify RNTupleMerger::CollectColumns
  tree/ntuple/v7/inc/ROOT/RNTupleMerger.hxx
  tree/ntuple/v7/src/RNTupleMerger.cxx
Owners: @jblomer

[skip-ci] document reasonable max bin content for th1f th2f th3f th1d th2d th3d
  hist/hist/inc/TH1.h
  hist/hist/inc/TH2.h
  hist/hist/inc/TH3.h
  hist/hist/src/TH1.cxx
  hist/hist/src/TH2.cxx
  hist/hist/src/TH3.cxx
Owners: @lmoneta

[ntuple] Add RPageSink::GetDescriptor()
  tree/ntuple/v7/inc/ROOT/RPageNullSink.hxx
  tree/ntuple/v7/inc/ROOT/RPageSinkBuf.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/src/RNTupleParallelWriter.cxx
  tree/ntuple/v7/src/RPageSinkBuf.cxx
  tree/ntuple/v7/test/ntuple_endian.cxx
  tree/ntuple/v7/test/ntuple_storage.cxx
Owners: @jblomer

[tmva][NFC] Apply clang-format to changed files
  tmva/sofie/inc/TMVA/RModel.hxx
  tmva/sofie/inc/TMVA/RModel_Base.hxx
  tmva/sofie/inc/TMVA/RModel_GNN.hxx
  tmva/sofie/inc/TMVA/RModel_GraphIndependent.hxx
Owners: @lmoneta

[ntuple] Use CommitSealedPagesV in RNTupleMerger
  tree/ntuple/v7/src/RNTupleMerger.cxx
Owners: @jblomer

[ci] Fetch exactly the PR base sha for clang-format
  .github/workflows/code_analysis.yml
Owners: @dpiparo

[ntuple] use RTypedDeleter in RField<TObject>
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/src/RField.cxx
Owners: @jblomer

[TMVA] Avoid xgboost-cppyy symbol clashing problem in tmva101_Training
  tutorials/tmva/tmva101_Training.py
Owners: @couet

[ntuple] Add RPageSink::IsInitialized()
  tree/ntuple/v7/inc/ROOT/RPageNullSink.hxx
  tree/ntuple/v7/inc/ROOT/RPageSinkBuf.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageDaos.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageFile.hxx
  tree/ntuple/v7/src/RNTupleParallelWriter.cxx
  tree/ntuple/v7/src/RPageSinkBuf.cxx
  tree/ntuple/v7/src/RPageStorage.cxx
  tree/ntuple/v7/test/ntuple_endian.cxx
  tree/ntuple/v7/test/ntuple_storage.cxx
Owners: @jblomer

[core] TChain::AddFile clarify that no check is done if nentries>0
  tree/tree/src/TChain.cxx
Owners: @pcanal

[df] Add ChangeEntryRange
  tree/dataframe/inc/ROOT/RDF/RInterface.hxx
  tree/dataframe/inc/ROOT/RDF/RLoopManager.hxx
  tree/dataframe/src/RInterface.cxx
  tree/dataframe/src/RLoopManager.cxx
Owners: @martamaja10, @vepadulano

[ntuple] fix-up unit test for TClass::CanSplit check
  tree/ntuple/v7/test/rfield_class.cxx
Owners: @jblomer

[df] Add ChangeBeginAndEndEntries
  tree/dataframe/inc/ROOT/RDF/RInterface.hxx
  tree/dataframe/inc/ROOT/RDF/RLoopManager.hxx
  tree/dataframe/src/RInterface.cxx
  tree/dataframe/src/RLoopManager.cxx
Owners: @martamaja10, @vepadulano

[TMVA] Fix failing `rbdt_xgboost` test
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_tree_inference.py
  tmva/tmva/test/rbdt_xgboost.py
Owners: @dpiparo, @vepadulano, @lmoneta

[core] 1 missing Undo revert Classdef version
  core/base/inc/TAttMarker.h
Owners: @dpiparo, @pcanal

[tmva] Create chunking for df with filters
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
  tmva/tmva/inc/TMVA/RChunkLoader.hxx
Owners: @dpiparo, @vepadulano, @lmoneta
