Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

[ci] Also publish test results for scheduled builds
  .github/workflows/test-result-comment.yml
Owners: @dpiparo

[hist] fix x0 printEntries in thnBase
  hist/hist/src/THnBase.cxx
Owners: @lmoneta

[core] Fix unresolved '_Thrd_sleep_for@4' symbol
  core/metacling/src/CMakeLists.txt
  core/winnt/src/TWinNTSystem.cxx
  tutorials/CMakeLists.txt
Owners: @bellenot, @dpiparo, @pcanal

[PyROOT] Update reference counter reference value for Numba tests
  bindings/pyroot/pythonizations/test/numbadeclare.py
Owners: @dpiparo, @vepadulano

[PyROOT] Correct typo in the name of a helper function
  bindings/pyroot/pythonizations/python/ROOT/_facade.py
Owners: @dpiparo, @vepadulano

[jsroot] better TH2Poly support
  js/build/jsroot.js
  js/changes.md
  js/modules/core.mjs
  js/modules/gui.mjs
  js/modules/gui/HierarchyPainter.mjs
  js/modules/hist2d/TH2Painter.mjs
  js/modules/hist2d/THistPainter.mjs
Owners: @linev

[PyROOT] Avoid the interpreter to query info for array pythonizations
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rvec.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_rtensor.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/PyzPythonHelpers.cxx
Owners: @dpiparo, @vepadulano

Revert "[PyROOT] Forward compatibility of pretty printing with CPyCppyy"
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_generic.py
Owners: @dpiparo, @vepadulano

[ci] Re-enable builds on pushes
  .github/workflows/root-ci.yml
Owners: @dpiparo

[PyROOT] Add cppyy synchronization script and update patches
  bindings/pyroot/cppyy/patches/32bit-int-numpy.patch
  bindings/pyroot/cppyy/patches/CPyCppyy-Adapt-to-no-std-in-ROOT.patch
  bindings/pyroot/cppyy/patches/CPyCppyy-Add-converters-and-executors-for-ROOT-types.patch
  bindings/pyroot/cppyy/patches/CPyCppyy-Always-convert-returned-std-string.patch
  bindings/pyroot/cppyy/patches/CPyCppyy-Disable-initializer-style-construction.patch
  bindings/pyroot/cppyy/patches/CPyCppyy-TString_converter.patch
  bindings/pyroot/cppyy/patches/NumbaExt-Add-GetArgMatchScore-function.patch
  bindings/pyroot/cppyy/patches/NumbaExt-Add-IsConst-to-PyCallable-and-CPPMethod.patch
  bindings/pyroot/cppyy/patches/NumbaExt-Add-Reflex.h-in-CMakeLists.txt.patch
  bindings/pyroot/cppyy/patches/NumbaExt-Add-an-entrypoint-for-cppyy.numba_ext.patch
  bindings/pyroot/cppyy/patches/NumbaExt-Add-cppyy.numba_ext-to-_NumbaDeclareDecorator.patch
  bindings/pyroot/cppyy/patches/NumbaExt-Add-internal_enum_type_t-to-numba_ext.patch
  bindings/pyroot/cppyy/patches/NumbaExt-Add-logic-for-smart-ptrs-in-SetArg.patch
  bindings/pyroot/cppyy/patches/NumbaExt-Add-missing-coma-in-types.py.patch
  bindings/pyroot/cppyy/patches/NumbaExt-Add-numba_ext-reflex-types-to-CMakeList.patch
  bindings/pyroot/cppyy/patches/NumbaExt-Add-some-more-types-in-numba-ext.patch
  bindings/pyroot/cppyy/patches/NumbaExt-Add-support-for-tuple-overload-in-TemplatePro.patch
  bindings/pyroot/cppyy/patches/NumbaExt-Enable-use-of-the-new-overload-for-FindOverlo.patch
  bindings/pyroot/cppyy/patches/PyROOT-Use-non-deprecated-API-to-initialize-Python.patch
  bindings/pyroot/cppyy/patches/avoiding-python312-assert.patch
  bindings/pyroot/cppyy/patches/cppyy-Don-t-enable-cling-autoloading.patch
  bindings/pyroot/cppyy/patches/cppyy-No-CppyyLegacy-namespace.patch
  bindings/pyroot/cppyy/patches/cppyy-Remove-Windows-workaround.patch
  bindings/pyroot/cppyy/patches/gc_flags.patch
  bindings/pyroot/cppyy/patches/initializer_list_converter.patch
  bindings/pyroot/cppyy/patches/null-safety.patch
  bindings/pyroot/cppyy/patches/string_view_backport.patch
  bindings/pyroot/cppyy/patches/tstring_converter.patch
  bindings/pyroot/cppyy/sync-upstream
Owners: @dpiparo, @vepadulano

[RF] Factor out common code of RooNLLVarNew implementation
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/src/RooNLLVarNew.cxx
Owners: @lmoneta, @guitargeek

[cppyy-backend] Minimal updates to use the most recent CPyCppyy
  bindings/pyroot/cppyy/cppyy-backend/clingwrapper/src/clingwrapper.cxx
  bindings/pyroot/cppyy/cppyy-backend/clingwrapper/src/cpp_cppyy.h
Owners: @dpiparo, @vepadulano

Avoid memory leak in TROOT::GetFunction() (#14969)
  core/base/src/TROOT.cxx
Owners: @dpiparo, @pcanal

[roofit] missed some: do not use whole std namespace, just what's needed
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
  roofit/histfactory/src/RooBarlowBeestonLL.cxx
  roofit/roofit/src/RooCFunction1Binding.cxx
  roofit/roofit/src/RooCFunction2Binding.cxx
  roofit/roofit/src/RooCFunction3Binding.cxx
  roofit/roofit/src/RooCFunction4Binding.cxx
  roofit/roofit/src/RooFunctor1DBinding.cxx
  roofit/roofit/src/RooFunctorBinding.cxx
  roofit/roofit/src/RooMultiBinomial.cxx
  roofit/roofit/src/RooParamHistFunc.cxx
  roofit/roofitcore/src/RooAbsCachedReal.cxx
  roofit/roofitcore/src/RooAbsReal.cxx
  roofit/roofitcore/src/RooAbsStudy.cxx
  roofit/roofitcore/src/RooArgProxy.cxx
  roofit/roofitcore/src/RooArgSet.cxx
  roofit/roofitcore/src/RooCurve.cxx
  roofit/roofitcore/src/RooFactoryWSTool.cxx
  roofit/roofitcore/src/RooNameReg.cxx
  roofit/roofitcore/src/RooProfileLL.cxx
  roofit/roofitcore/src/RooRandomizeParamMCSModule.cxx
  roofit/roofitcore/src/RooSimWSTool.cxx
  roofit/roofitcore/src/RooStudyManager.cxx
  roofit/roofitcore/src/RooStudyPackage.cxx
  roofit/roofitcore/src/RooTreeDataStore.cxx
  roofit/roofitmore/src/RooAdaptiveGaussKronrodIntegrator1D.cxx
  roofit/roostats/src/SamplingDistribution.cxx
Owners: @lmoneta, @guitargeek

[ci] Remove unused file
  .github/workflows/all-branches.yml
Owners: @dpiparo

[skip-ci] fix the doc namespaces clean up (#14980)
  documentation/doxygen/filter.cxx
  documentation/doxygen/modifyNamespacesWebpage.sh
Owners: @couet

[ci] Modify scheduled build time for old branches
  .github/workflows/root-626.yml
  .github/workflows/root-628.yml
Owners: @dpiparo

Fix error in TGaxis::ChangeLabelByValue docu macro
  graf2d/graf/src/TGaxis.cxx
Owners: @couet

[tutorials] do not use whole std namespace, only what's needed
  tutorials/html/MakeTutorials.C
  tutorials/legacy/thread/stressThreadPool.C
  tutorials/legacy/thread/threadPool.C
  tutorials/pythia/pythiaExample.C
  tutorials/roostats/ModelInspector.C
  tutorials/roostats/MultivariateGaussianTest.C
  tutorials/roostats/StandardHistFactoryPlotsWithCategories.C
  tutorials/roostats/StandardHypoTestInvDemo.C
  tutorials/roostats/TwoSidedFrequentistUpperLimitWithBands.C
  tutorials/roostats/rs601_HLFactoryexample.C
  tutorials/roostats/rs602_HLFactoryCombinationexample.C
  tutorials/roostats/rs603_HLFactoryElaborateExample.C
  tutorials/roostats/rs_numbercountingutils.C
  tutorials/tmva/TMVAGAexample.C
  tutorials/tmva/TMVAGAexample2.C
  tutorials/tmva/TMVAMultipleBackgroundExample.C
  tutorials/unfold/testUnfold1.C
  tutorials/unfold/testUnfold2.C
  tutorials/unfold/testUnfold3.C
  tutorials/unfold/testUnfold4.C
  tutorials/unfold/testUnfold5a.C
  tutorials/unfold/testUnfold5b.C
  tutorials/unfold/testUnfold5c.C
  tutorials/unfold/testUnfold5d.C
  tutorials/unfold/testUnfold6.C
  tutorials/unfold/testUnfold7a.C
  tutorials/unfold/testUnfold7b.C
  tutorials/unfold/testUnfold7c.C
Owners: @couet

[relnotes] Mention cppyy upgrade in release notes
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

Make links to json spec files (#14959)
  documentation/doxygen/Doxyfile
  tutorials/dataframe/df105_WBosonAnalysis.py
  tutorials/dataframe/df106_HiggsToFourLeptons.C
  tutorials/dataframe/df106_HiggsToFourLeptons.py
  tutorials/dataframe/df107_SingleTopAnalysis.py
Owners: @couet

[PyROOT] Adopt to no conversion from `char[]` to Python `str`
  bindings/pyroot/pythonizations/src/TTreePyz.cxx
  bindings/pyroot/pythonizations/test/ttree_branch_attr.py
Owners: @dpiparo, @vepadulano

[RF] Support for RooEfficiency in the RooFit code generation backend
  roofit/roofitcore/inc/RooEfficiency.h
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/src/RooEfficiency.cxx
Owners: @lmoneta, @guitargeek

[webgui] set selected pad in TWebCanvas
  gui/webgui6/src/TWebCanvas.cxx
Owners: @linev

[DF][Windows] Disable df035_RDFFromPandas
  tutorials/CMakeLists.txt
Owners: @bellenot

[http] adjust syntax
  net/http/src/TCivetweb.cxx
  net/http/src/THttpServer.cxx
  net/http/src/THttpWSHandler.cxx
  net/http/src/TRootSniffer.cxx
  net/http/src/TRootSnifferStore.cxx
Owners: @linev

[DF][NFC] Mention AsRNode in the progress bar documentation
  tree/dataframe/src/RDataFrame.cxx
Owners: @martamaja10, @vepadulano

[ntuple] add continue-on-error option to RFieldBase::Create()
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/src/RField.cxx
Owners: @jblomer

Clarify wording
  hist/hist/src/TH1.cxx
  hist/hist/src/THnBase.cxx
Owners: @lmoneta

[ci] Contextualize cmake warning about builtin_afterimage=OFF
  cmake/modules/RootBuildOptions.cmake
Owners: @bellenot

New methods (#15029)
  core/base/inc/TColor.h
  core/base/src/TColor.cxx
Owners: @dpiparo, @pcanal

[RF] Avoid deprecated `createIterator()` function in RooStats tutorials
  tutorials/histfactory/ModifyInterpolation.C
  tutorials/roostats/ModelInspector.C
  tutorials/roostats/StandardBayesianMCMCDemo.C
  tutorials/roostats/StandardHistFactoryPlotsWithCategories.C
Owners: @couet

[skip-ci] Fix TColor inline code (#15017)
  core/base/src/TColor.cxx
Owners: @dpiparo, @pcanal

[http] do not use plain Form() macro
  net/http/src/THttpCallArg.cxx
  net/http/src/THttpServer.cxx
  net/http/src/TRootSniffer.cxx
  net/httpsniff/src/TRootSnifferFull.cxx
Owners: @linev

[ntuple] improve error message when writing fails (#15007)
  tree/ntuple/v7/src/RMiniFile.cxx
Owners: @jblomer

[RF] Rename RooMomentMorph::getVal to RooMomentMorph::getValV
  roofit/roofit/inc/RooMomentMorph.h
  roofit/roofit/inc/RooMomentMorphFunc.h
  roofit/roofit/src/RooMomentMorph.cxx
  roofit/roofit/src/RooMomentMorphFunc.cxx
Owners: @lmoneta, @guitargeek

[PyROOT] Migrate `RDataFramePyz` to Python
  bindings/pyroot/pythonizations/CMakeLists.txt
  bindings/pyroot/pythonizations/python/ROOT/_facade.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/RDataFramePyz.cxx
Owners: @bellenot, @dpiparo, @vepadulano

[PyROOT] Move `AsRVec` and `AsRTensor` to Python
  bindings/pyroot/pythonizations/CMakeLists.txt
  bindings/pyroot/pythonizations/python/ROOT/_facade.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rvec.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/__init__.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_rtensor.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/PyzCppHelpers.cxx
  bindings/pyroot/pythonizations/src/PyzCppHelpers.hxx
  bindings/pyroot/pythonizations/src/RTensorPyz.cxx
  bindings/pyroot/pythonizations/src/RVecPyz.cxx
  bindings/pyroot/pythonizations/test/rtensor.py
Owners: @bellenot, @dpiparo, @vepadulano

[hist] explain better what computeIntegral does
  hist/hist/src/TH1.cxx
  hist/hist/src/TH2Poly.cxx
  hist/hist/src/THnBase.cxx
Owners: @lmoneta

[RF] Several code generation optimizations
  roofit/histfactory/src/FlexibleInterpVar.cxx
  roofit/roofit/src/RooParamHistFunc.cxx
  roofit/roofitcore/inc/RooFit/Detail/CodeSquashContext.h
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooFit/Detail/CodeSquashContext.cxx
  roofit/roofitcore/src/RooHistPdf.cxx
  roofit/roofitcore/src/RooProduct.cxx
  roofit/roofitcore/src/RooRealSumPdf.cxx
Owners: @lmoneta, @guitargeek

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
