Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

[rntuple] Default initialize data member of RNTupleLocator
  tree/ntuple/v7/inc/ROOT/RNTupleUtil.hxx
Owners: @jblomer

[interpreter] Avoid GCC notes about misleading-indentation
  interpreter/CMakeLists.txt
Owners: @bellenot

[tmva] Remove unnecessary vector in RBatchGenerator
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
Owners: @lmoneta

[glew] Remove broken end of string checks in _glewStrSame
  builtins/glew/src/glew.c
Owners: @dpiparo

[tmva] Remove superfluous function overload in RBatchGenerator
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
Owners: @lmoneta

[core] Upgrade openssl and davix builtin versions
  builtins/davix/CMakeLists.txt
  builtins/openssl/CMakeLists.txt
  builtins/openssl/openssl-darwin64-aarch64-cc.diff
Owners: @bellenot, @dpiparo

[core] Upgrade openssl and davix builtin versions
  builtins/davix/CMakeLists.txt
  builtins/openssl/CMakeLists.txt
  builtins/openssl/openssl-darwin64-aarch64-cc.diff
Owners: @bellenot, @dpiparo

[core] Upgrade openssl and davix builtin versions
  builtins/davix/CMakeLists.txt
  builtins/openssl/CMakeLists.txt
  builtins/openssl/openssl-darwin64-aarch64-cc.diff
Owners: @bellenot, @dpiparo

[skip ci][ci] New schedule for nightly builds
  .github/workflows/root-626.yml
  .github/workflows/root-628.yml
  .github/workflows/root-630.yml
  .github/workflows/root-632.yml
Owners: @dpiparo

[skip ci][ci] New schedule for nightly builds
  .github/workflows/root-626.yml
  .github/workflows/root-628.yml
  .github/workflows/root-630.yml
  .github/workflows/root-632.yml
Owners: @dpiparo

[skip-ci] fix more typos and undefined params
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/src/ConstraintHelpers.cxx
  roofit/roofitcore/src/RooAbsData.cxx
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooAddPdf.cxx
  roofit/roofitcore/src/RooAddition.cxx
  tutorials/graphs/graphreverse.C
Owners: @lmoneta, @guitargeek, @couet

[skip-ci] missing parallelism defgroup
  core/base/doc/index.md
Owners: @dpiparo, @pcanal

[skip-ci] fix typo
  math/minuit/inc/TMinuitMinimizer.h
Owners: @lmoneta

[skip-ci] move missing proof defgroup to legacy one
  tutorials/proof/ProofNtuple.C
  tutorials/proof/ProofNtuple.h
  tutorials/proof/ProofPythia.C
  tutorials/proof/ProofPythia.h
Owners: @couet

[skip-ci] fix typo
  hist/histv7/inc/ROOT/RHistView.hxx
Owners: @lmoneta

[skip-ci] fix roofit typos
  roofit/hs3/src/RooJSONFactoryWSTool.cxx
  roofit/roofitcore/src/MemPoolForRooSets.h
Owners: @lmoneta, @guitargeek

[skip-ci] avoid group with just one class
  core/foundation/res/TSpinLockGuard.h
Owners: @dpiparo, @pcanal

[skip-ci] missing tutorial defgroups
  tutorials/index.md
Owners: @couet

[skip-ci] move missing proof defgroup to legacy one
  tutorials/proof/ProofNtuple.C
  tutorials/proof/ProofNtuple.h
  tutorials/proof/ProofPythia.C
  tutorials/proof/ProofPythia.h
Owners: @couet

[skip-ci] fix typo
  hist/histv7/inc/ROOT/RHistView.hxx
Owners: @lmoneta

[skip-ci] rename to matching defined group
  core/thread/inc/ROOT/TSpinMutex.hxx
  core/thread/inc/ROOT/TThreadedObject.hxx
Owners: @dpiparo, @pcanal

[skip-ci] define doxygen group ROOT7 and NTuple
  tree/ntuple/v7/doc/README.md
Owners: @jblomer

[skip-ci] missing parallelism defgroup
  core/base/doc/index.md
Owners: @dpiparo, @pcanal

[skip-ci] fix file typos
  roofit/roofitcore/inc/RooAbsSelfCachedReal.h
  tree/ntupleutil/v7/inc/ROOT/RNTupleImporter.hxx
  tree/ntupleutil/v7/inc/ROOT/RNTupleInspector.hxx
Owners: @lmoneta, @guitargeek, @jblomer

[skip-ci] avoid one-class group
  math/mathmore/src/GSLMultiRootFunctionWrapper.h
Owners: @lmoneta

[skip-ci] fix typo in group name
  tutorials/graphs/hlGraph1.C
Owners: @couet

[skip-ci] fix typo
  math/minuit/inc/TMinuitMinimizer.h
Owners: @lmoneta

[skip-ci] fix copy-paste typo
  graf3d/gl/src/TGLSelectRecord.cxx
Owners: @couet

[skip-ci] fix typo
  math/unuran/inc/TUnuranBaseDist.h
Owners: @lmoneta

[skip-ci] remove redundancy
  tree/ntuple/v7/doc/README.md
Owners: @jblomer

[skip-ci] missing defgroup REve
  graf3d/eve7/src/REveTypes.cxx
Owners: @osschar, @linev

[skip-ci] fix typo
  math/unuran/inc/TUnuranBaseDist.h
Owners: @lmoneta

[skip-ci] missing tutorial defgroups
  tutorials/index.md
Owners: @couet

[skip-ci] fix typo
  hist/hist/src/TGraphSmooth.cxx
Owners: @lmoneta

[skip-ci] avoid group with just one class
  core/foundation/res/TSpinLockGuard.h
Owners: @dpiparo, @pcanal

[skip-ci] fix typos in roobatchcompute group
  roofit/batchcompute/res/RooBatchCompute.h
  roofit/batchcompute/src/Batches.h
  roofit/batchcompute/src/ComputeFunctions.cxx
  roofit/batchcompute/src/RooBatchCompute.cu
  roofit/batchcompute/src/RooBatchCompute.cxx
Owners: @lmoneta, @guitargeek

[skip-ci] missing counterpart of qt5webdisplay
  gui/qt6webdisplay/index.md
Owners: @bellenot

[skip-ci] missing stdext defgroup
  core/base/doc/index.md
Owners: @dpiparo, @pcanal

[skip-ci] define doxygen group ROOT7 and NTuple
  tree/ntuple/v7/doc/README.md
Owners: @jblomer

[skip-ci] fix typos in roobatchcompute group
  roofit/batchcompute/res/RooBatchCompute.h
  roofit/batchcompute/src/Batches.h
  roofit/batchcompute/src/ComputeFunctions.cxx
  roofit/batchcompute/src/RooBatchCompute.cu
  roofit/batchcompute/src/RooBatchCompute.cxx
Owners: @lmoneta, @guitargeek

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
