Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

[pyroot] Strengthen management of `TObject`s in CPython extension
  bindings/pyroot/pythonizations/src/PyROOTWrapper.cxx
  bindings/pyroot/pythonizations/src/TMemoryRegulator.cxx
  bindings/pyroot/pythonizations/src/TMemoryRegulator.h
Owners: @dpiparo, @vepadulano

[tree] Remove unused `include` from a TChainParsing test
  tree/tree/test/TChainParsing.cxx
Owners: @pcanal

[CMake] Move `BLAS_LIBRARY` linking together with the other libraries
  tmva/pymva/test/CMakeLists.txt
Owners: @bellenot

[imt] Fix missing include directories for TBB
  core/imt/test/CMakeLists.txt
Owners: @bellenot

[cling] Add parsing of -isystem arguments to rootcling.
  core/dictgen/src/TModuleGenerator.cxx
Owners: @dpiparo, @pcanal

[CMake] Make VDT an IMPORTED target; convert to target-based cmake.
  cmake/modules/FindVdt.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  math/vecops/CMakeLists.txt
  roofit/batchcompute/CMakeLists.txt
  tmva/tmva/CMakeLists.txt
Owners: @bellenot

[CMake] Improve ROOT_GENERATE_DICTIONARY
  cmake/modules/RootMacros.cmake
Owners: @bellenot

[CMake] Prevent CMake error when remote is not called origin.
  CMakeLists.txt
Owners: @bellenot

[webdisplay] Add a cmake error if http is disabled.
  gui/webdisplay/CMakeLists.txt
Owners: @bellenot

[CMake] Remove cheats with include directories.
  cmake/modules/RootMacros.cmake
Owners: @bellenot

[CMake] Fix unit test config for core/thread.
  core/thread/test/CMakeLists.txt
Owners: @bellenot

[CMake] Remove an unused argument for ROOT_ADD_TEST.
  cmake/modules/RootMacros.cmake
Owners: @bellenot

[CMake] Use modern target_link_library syntax for exectuables.
  cmake/modules/RootMacros.cmake
  roofit/multiprocess/test/CMakeLists.txt
Owners: @bellenot

[NFC] Clarify arguments or ROOT_STANDARD_LIBRARY_PACKAGE.
  cmake/modules/RootMacros.cmake
Owners: @bellenot

[CMake] Make nlohmann_json config target-based.
  builtins/nlohmann/CMakeLists.txt
  cmake/modules/SearchInstalledSoftware.cmake
  graf3d/eve7/CMakeLists.txt
  io/io/CMakeLists.txt
  roofit/jsoninterface/CMakeLists.txt
  roofit/multiprocess/CMakeLists.txt
  tree/dataframe/CMakeLists.txt
  tree/dataframe/test/CMakeLists.txt
Owners: @bellenot

[CMake][NFC] Simplify cmake code for test fixtures.
  cmake/modules/RootMacros.cmake
Owners: @bellenot

[OpenSSL] Require the component SSL from OpenSSL.
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

[RF] Add res/ headers to build interface of RooFit.
  roofit/roofitcore/test/CMakeLists.txt
Owners: @bellenot

[CMake] Consolidate dependency management for ROOT_LINKER_LIBRARY.
  cmake/modules/RootMacros.cmake
Owners: @bellenot

Upgrade builtin xrootd version
  builtins/xrootd/CMakeLists.txt
Owners: @bellenot

[matrix] Add SetElement method
  math/matrix/inc/TMatrixT.h
  math/matrix/inc/TMatrixTSym.h
Owners: @lmoneta

[matrix] Add SetElement test
  math/matrix/test/testMatrixT.cxx
Owners: @lmoneta

[jsroot] 7.7.0 with TF1 adjustments
  js/build/jsroot.js
  js/changes.md
  js/index.htm
  js/modules/base/ObjectPainter.mjs
  js/modules/core.mjs
  js/modules/gpad/RAxisPainter.mjs
  js/modules/gpad/RFramePainter.mjs
  js/modules/gpad/TAxisPainter.mjs
  js/modules/gpad/TFramePainter.mjs
  js/modules/hist/TF1Painter.mjs
  js/modules/hist/TF2Painter.mjs
  js/modules/hist/TF3Painter.mjs
  js/modules/hist2d/RHistPainter.mjs
  js/modules/hist2d/TGraphPainter.mjs
  js/modules/hist2d/THistPainter.mjs
  js/modules/io.mjs
Owners: @linev

[webcanv] more flexible usage of saved points in TF1
  gui/webgui6/inc/TWebCanvas.h
  gui/webgui6/src/TWebCanvas.cxx
Owners: @linev

[webcanv] more flexible usage of saved points in TF1
  gui/webgui6/inc/TWebCanvas.h
  gui/webgui6/src/TWebCanvas.cxx
Owners: @linev

[jsroot] 7.7.0 with TF1 adjustments
  js/build/jsroot.js
  js/changes.md
  js/index.htm
  js/modules/base/ObjectPainter.mjs
  js/modules/core.mjs
  js/modules/gpad/RAxisPainter.mjs
  js/modules/gpad/RFramePainter.mjs
  js/modules/gpad/TAxisPainter.mjs
  js/modules/gpad/TFramePainter.mjs
  js/modules/hist/TF1Painter.mjs
  js/modules/hist/TF2Painter.mjs
  js/modules/hist/TF3Painter.mjs
  js/modules/hist2d/RHistPainter.mjs
  js/modules/hist2d/TGraphPainter.mjs
  js/modules/hist2d/THistPainter.mjs
  js/modules/io.mjs
Owners: @linev

[tmva] Return only one size when loading chunks with no filters
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
  tmva/tmva/inc/TMVA/RChunkLoader.hxx
Owners: @lmoneta

[skip-ci] clarify the TPolyMarker::GetN differences with respect to TGraph::GetN
  hist/hist/inc/TPolyMarker.h
Owners: @lmoneta

[PyROOT] Replace `sonnet` with `dm-sonnet` in requirements.txt
  requirements.txt
Owners: @dpiparo

[PyROOT] Replace `sonnet` with `dm-sonnet` in requirements.txt
  requirements.txt
Owners: @dpiparo

New Method TH1::SetColor
  hist/hist/inc/TH1.h
  hist/hist/src/TH1.cxx
Owners: @lmoneta

[skip-ci] clarify the TPolyMarker::GetN differences with respect to TGraph::GetN
  hist/hist/inc/TPolyMarker.h
Owners: @lmoneta

[skip-ci] clarify the TPolyMarker::GetN differences with respect to TGraph::GetN
  hist/hist/inc/TPolyMarker.h
Owners: @lmoneta

[CMake] Fix version detection in `FindCUDNN.cmake`
  cmake/modules/FindCUDNN.cmake
Owners: @bellenot

[CMake] Fix version detection in `FindCUDNN.cmake`
  cmake/modules/FindCUDNN.cmake
Owners: @bellenot

[PyROOT] Fix memory leak in TTree `__getattr__` pythonization
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_ttree.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/TTreePyz.cxx
Owners: @dpiparo, @vepadulano

[PyROOT] Fix typos
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/Factory.py
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/JPyInterface.py
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/OutputTransformer.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/__init__.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_stl_vector.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_crossvalidation.py
  bindings/pyroot/pythonizations/src/RPyROOTApplication.cxx
  bindings/pyroot/pythonizations/src/RPyROOTApplication.h
  bindings/pyroot/pythonizations/test/roofit/rooabscollection.py
  bindings/pyroot/pythonizations/test/roofit/roodataset_numpy.py
Owners: @dpiparo, @vepadulano

[tmva] Changes for Cudnn version > 8
  tmva/tmva/inc/TMVA/DNN/Architectures/Cpu.h
  tmva/tmva/inc/TMVA/DNN/Architectures/Cuda.h
  tmva/tmva/inc/TMVA/DNN/Architectures/TCudnn.h
  tmva/tmva/inc/TMVA/DNN/CNN/ContextHandles.h
  tmva/tmva/inc/TMVA/DNN/RNN/GRULayer.h
  tmva/tmva/inc/TMVA/DNN/RNN/LSTMLayer.h
  tmva/tmva/inc/TMVA/DNN/RNN/RNNLayer.h
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta

[ntuple] Make RNTupleFileWriter::Recreate/Append return unique_ptr
  tree/ntuple/v7/inc/ROOT/RMiniFile.hxx
  tree/ntuple/v7/src/RMiniFile.cxx
  tree/ntuple/v7/src/RPageStorageFile.cxx
  tree/ntuple/v7/test/ntuple_minifile.cxx
Owners: @jblomer

Fix typo SetColor -> SetColors
  hist/hist/inc/TH1.h
  hist/hist/src/TH1.cxx
Owners: @lmoneta

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
