Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

[RN] More details about webgraphics
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[RN] More details about webgraphics
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[RN] More details about webgraphics
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[ntuple] Improve error for compression mismatch
  tree/ntupleutil/v7/src/RNTupleInspector.cxx
Owners: @jblomer

[gui] Fix issue #15643
  gui/gui/src/TGFSContainer.cxx
Owners: @bellenot

[RN] Update authors and format
  README/ReleaseNotes/empty.md
Owners: @dpiparo

[RN] Update authors and format
  README/ReleaseNotes/empty.md
Owners: @dpiparo

clang-format
  gui/gui/src/TGFSContainer.cxx
Owners: @bellenot

[DF] Get file count from page source
  tree/dataframe/inc/ROOT/RCsvDS.hxx
  tree/dataframe/inc/ROOT/RDataSource.hxx
  tree/dataframe/inc/ROOT/RNTupleDS.hxx
  tree/dataframe/inc/ROOT/RRootDS.hxx
  tree/dataframe/src/RRootDS.cxx
  tree/dataframe/test/datasource_csv.cxx
  tree/dataframe/test/datasource_ntuple.cxx
Owners: @martamaja10, @vepadulano

[DF] Correctly pass number of files to `RDFDescription`
  tree/dataframe/src/RInterfaceBase.cxx
  tree/dataframe/test/datasource_ntuple.cxx
Owners: @martamaja10, @vepadulano

[DF] Remove unused `RDFDescription` constructor
  tree/dataframe/inc/ROOT/RDF/RDFDescription.hxx
  tree/dataframe/src/RDFDescription.cxx
Owners: @martamaja10, @vepadulano

[df] Make string caching in RLoopManager thread-safe
  tree/dataframe/inc/ROOT/RDF/RDefineReader.hxx
  tree/dataframe/inc/ROOT/RDF/RLoopManager.hxx
  tree/dataframe/inc/ROOT/RDF/Utils.hxx
  tree/dataframe/src/RDFColumnRegister.cxx
  tree/dataframe/src/RDFUtils.cxx
  tree/dataframe/src/RDefineReader.cxx
Owners: @martamaja10, @vepadulano

[df] Make string caching in RLoopManager thread-safe
  tree/dataframe/inc/ROOT/RDF/RDefineReader.hxx
  tree/dataframe/inc/ROOT/RDF/RLoopManager.hxx
  tree/dataframe/inc/ROOT/RDF/Utils.hxx
  tree/dataframe/src/RDFColumnRegister.cxx
  tree/dataframe/src/RDFUtils.cxx
  tree/dataframe/src/RDefineReader.cxx
Owners: @martamaja10, @vepadulano

[df] Make string caching in RLoopManager thread-safe
  tree/dataframe/inc/ROOT/RDF/RDefineReader.hxx
  tree/dataframe/inc/ROOT/RDF/RLoopManager.hxx
  tree/dataframe/inc/ROOT/RDF/Utils.hxx
  tree/dataframe/src/RDFColumnRegister.cxx
  tree/dataframe/src/RDFUtils.cxx
  tree/dataframe/src/RDefineReader.cxx
Owners: @martamaja10, @vepadulano

[df] Make string caching in RLoopManager thread-safe
  tree/dataframe/inc/ROOT/RDF/RDefineReader.hxx
  tree/dataframe/inc/ROOT/RDF/RLoopManager.hxx
  tree/dataframe/inc/ROOT/RDF/Utils.hxx
  tree/dataframe/src/RDFColumnRegister.cxx
  tree/dataframe/src/RDFUtils.cxx
  tree/dataframe/src/RDefineReader.cxx
Owners: @martamaja10, @vepadulano

Revert "[ntuple] add ClassDefInline to RKeyBlob"
  tree/ntuple/v7/src/RMiniFile.cxx
Owners: @jblomer

Revert "[ntuple] add ClassDefInline to RKeyBlob"
  tree/ntuple/v7/src/RMiniFile.cxx
Owners: @jblomer

Revert "[ntuple] add ClassDefInline to RKeyBlob"
  tree/ntuple/v7/src/RMiniFile.cxx
Owners: @jblomer

[RN] More items, sorting
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[RN] More items, sorting
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[RN] More items, sorting
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

Update ROOT version files to v6.32.00
  core/foundation/inc/ROOT/RVersion.hxx
Owners: @dpiparo, @pcanal

[RN] Add 6.34.00 index
  README/ReleaseNotes/v634/index.md
Owners: @dpiparo

[RN] Add 6.34.00 index
  README/ReleaseNotes/v634/index.md
Owners: @dpiparo

Update ROOT version files to v6.32.01
  core/foundation/inc/ROOT/RVersion.hxx
Owners: @dpiparo, @pcanal

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
