Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[PyROOT] Format Python code of some pythonization sources with `black`
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rvec.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_rtensor.py
Owners: @dpiparo, @vepadulano

[ntuple] fix method spelling
  tree/ntuple/v7/src/RField.cxx
Owners: @jblomer

[ntuple] add class RInvalidField
  tree/ntuple/v7/inc/ROOT/RField.hxx
Owners: @jblomer

[RF] Re-implement `MakeNumpyDataFrame` with no interpreter calls
  bindings/pyroot/pythonizations/CMakeLists.txt
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
  bindings/pyroot/pythonizations/test/rdataframe_makenumpy.py
  tree/dataframe/CMakeLists.txt
  tree/dataframe/inc/ROOT/RVecDS.hxx
Owners: @bellenot, @dpiparo, @vepadulano, @martamaja10

[RF] Disable RooFit AD tests on Windows
  roofit/roofitcore/test/CMakeLists.txt
Owners: @bellenot

[PyROOT] Use Python standard function to get system endianness
  bindings/pyroot/pythonizations/CMakeLists.txt
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rvec.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_rtensor.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/PyzPythonHelpers.cxx
Owners: @bellenot, @dpiparo, @vepadulano

[cling] Backport jitlink ppc64 (#13850)
  interpreter/cling/lib/Interpreter/IncrementalJIT.cpp
  interpreter/llvm-project/llvm-project.tag
  interpreter/llvm-project/llvm/include/llvm/ExecutionEngine/JITLink/ELF_ppc64.h
  interpreter/llvm-project/llvm/include/llvm/ExecutionEngine/JITLink/TableManager.h
  interpreter/llvm-project/llvm/include/llvm/ExecutionEngine/JITLink/ppc64.h
  interpreter/llvm-project/llvm/lib/ExecutionEngine/JITLink/CMakeLists.txt
  interpreter/llvm-project/llvm/lib/ExecutionEngine/JITLink/ELF.cpp
  interpreter/llvm-project/llvm/lib/ExecutionEngine/JITLink/ELF_ppc64.cpp
  interpreter/llvm-project/llvm/lib/ExecutionEngine/JITLink/ppc64.cpp
  interpreter/llvm-project/llvm/lib/ExecutionEngine/Orc/ELFNixPlatform.cpp
Owners: @dpiparo, @vgvassilev, @bellenot

missing includes
  hist/hist/src/THnBase.cxx
Owners: @lmoneta

[ntuple] fix compiler warning in unit test
  tree/ntuple/v7/test/CustomStruct.hxx
Owners: @jblomer

fix return
  hist/hist/src/THnBase.cxx
Owners: @lmoneta

[RF] Use `RooFit::Evaluator` for nominal evaluation in RooFuncWrapper
  roofit/roofitcore/inc/RooFuncWrapper.h
  roofit/roofitcore/src/FitHelpers.cxx
  roofit/roofitcore/src/RooEvaluatorWrapper.cxx
  roofit/roofitcore/src/RooFuncWrapper.cxx
  roofit/roofitcore/src/RooRealIntegral.cxx
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Owners: @lmoneta, @guitargeek

[ntuple] improve return type of RFieldBase::Check()
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/rfield_check.cxx
Owners: @jblomer

[RF] Modify PiecewiseInterpolation to use loops instead
  roofit/histfactory/src/PiecewiseInterpolation.cxx
Owners: @lmoneta, @guitargeek

[skip-ci][ci] Enable master-like workflow dispatch
  .github/workflows/root-626.yml
Owners: @dpiparo

[skip-ci] brief is for file, not for namespace
  core/testsupport/src/TestSupport.cxx
Owners: @dpiparo, @pcanal

[RF] Read const arrays from const input in code generation
  roofit/roofitcore/inc/RooFit/Detail/CodeSquashContext.h
  roofit/roofitcore/inc/RooFuncWrapper.h
  roofit/roofitcore/src/RooFit/Detail/CodeSquashContext.cxx
  roofit/roofitcore/src/RooFuncWrapper.cxx
  roofit/roofitcore/src/RooRealIntegral.cxx
Owners: @lmoneta, @guitargeek

Update THnBase.cxx
  hist/hist/src/THnBase.cxx
Owners: @lmoneta

fix include
  hist/hist/src/THnBase.cxx
Owners: @lmoneta

Very long text string generated a wrong SVG file (#14590)
  graf2d/postscript/src/TSVG.cxx
Owners: @couet

[runtime_cxxmodules] Do not overlay on top of the unix modulemaps.
  interpreter/cling/lib/Interpreter/CIFactory.cpp
Owners: @dpiparo

improve error messages and simplify for loop
  hist/hist/src/THnBase.cxx
Owners: @lmoneta

[RF][Windows] Re-enable `testRooFuncWrapper`
  roofit/roofitcore/test/CMakeLists.txt
Owners: @bellenot

[hist] thnbase copy bin labels
  hist/hist/src/THnBase.cxx
Owners: @lmoneta

[ntuple] add RFieldBase::Check() test for 'long double'
  tree/ntuple/v7/test/rfield_check.cxx
Owners: @jblomer

[runtime_cxxmodules] Allow for changing the modulemap name to match the overlay.
  interpreter/cling/lib/Interpreter/CIFactory.cpp
Owners: @dpiparo

[ntuple] add RFieldBase::Check()
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/CMakeLists.txt
  tree/ntuple/v7/test/CustomStruct.hxx
  tree/ntuple/v7/test/CustomStructLinkDef.h
  tree/ntuple/v7/test/rfield_check.cxx
Owners: @jblomer, @bellenot

fix while
  hist/hist/src/THnBase.cxx
Owners: @lmoneta

[http] do not use ProcessLine to create sniffer
  net/http/inc/TRootSniffer.h
  net/http/src/THttpServer.cxx
  net/httpsniff/inc/TRootSnifferFull.h
Owners: @linev

[rdf] Restrict distributed initialization to executors only
  bindings/experimental/distrdf/python/DistRDF/Backends/Base.py
  bindings/experimental/distrdf/test/backend/test_common.py
Owners: @dpiparo, @vepadulano

[NFC][ntuple] fix method comment
  tree/ntuple/v7/inc/ROOT/RField.hxx
Owners: @jblomer

Allow producing forward compatible file for fBits value.
  core/base/src/TObject.cxx
  io/io/inc/TFile.h
  io/io/src/TStreamerInfoWriteBuffer.cxx
Owners: @dpiparo, @pcanal

[http] provide full path to html files in tutorials
  tutorials/http/custom.C
  tutorials/http/custom.htm
  tutorials/webgui/ping/ping.cxx
  tutorials/webgui/webwindow/server.cxx
Owners: @linev, @couet

[RF] Fix dirty state propagation for offsetting with new CPU backend
  roofit/roofitcore/inc/RooFit/EvalContext.h
  roofit/roofitcore/inc/RooFit/Evaluator.h
  roofit/roofitcore/src/RooEvaluatorWrapper.cxx
  roofit/roofitcore/src/RooEvaluatorWrapper.h
  roofit/roofitcore/src/RooFit/EvalContext.cxx
  roofit/roofitcore/src/RooFit/Evaluator.cxx
  roofit/roofitcore/src/RooNLLVarNew.cxx
  roofit/roofitcore/src/RooNLLVarNew.h
  roofit/roofitcore/test/testTestStatistics.cxx
Owners: @lmoneta, @guitargeek

[skip-ci][ci] Skip matrix overrides in case of workflow_dispatch
  .github/workflows/root-ci.yml
Owners: @dpiparo

[PyROOT] Remove `PyzCppHelpers`
  bindings/pyroot/pythonizations/CMakeLists.txt
  bindings/pyroot/pythonizations/src/CPPInstancePyz.cxx
  bindings/pyroot/pythonizations/src/GenericPyz.cxx
  bindings/pyroot/pythonizations/src/PyzCppHelpers.cxx
  bindings/pyroot/pythonizations/src/PyzCppHelpers.hxx
  bindings/pyroot/pythonizations/src/TClassPyz.cxx
  bindings/pyroot/pythonizations/src/TObjectPyz.cxx
  bindings/pyroot/pythonizations/src/TTreePyz.cxx
Owners: @bellenot, @dpiparo, @vepadulano

[cmake][tests] Fix and re-enable tests on Windows
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  core/metacling/src/CMakeLists.txt
  core/thread/test/CMakeLists.txt
  test/CMakeLists.txt
  tmva/tmva/test/CMakeLists.txt
  tutorials/CMakeLists.txt
Owners: @bellenot

implement missing IsInside() (#15074)
  graf2d/graf/inc/TCrown.h
  graf2d/graf/inc/TDiamond.h
  graf2d/graf/inc/TEllipse.h
  graf2d/graf/src/TCrown.cxx
  graf2d/graf/src/TDiamond.cxx
  graf2d/graf/src/TEllipse.cxx
  tutorials/graphics/inside.C
Owners: @couet

[llvm-project] Bump to tag ROOT-llvm16-20240402-01
  interpreter/llvm-project/llvm-project.tag
Owners: @vgvassilev

[ntuple] speed-up temperatures tutorial
  tutorials/v7/ntuple/ntpl011_global_temperatures.C
Owners: @couet

[PyROOT] Fix infinite loop in `TMemoryRegulator::ClearProxiedObjects()`
  bindings/pyroot/pythonizations/src/TMemoryRegulator.cxx
Owners: @dpiparo, @vepadulano
