Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[ntuple] add check on buffer size before reading checksum
  tree/ntuple/v7/src/RNTuple.cxx
Owners: @jblomer

Add missing include file
  hist/hist/test/test_MapCppName.cxx
Owners: @lmoneta

Make clang differentiable
  core/metacling/src/CMakeLists.txt
Owners: @bellenot

[clad] Bump clad to version v1.5
  interpreter/cling/tools/plugins/clad/CMakeLists.txt
Owners: @bellenot

Remove redundant code, we do not need arrayrefs anymore
  hist/hist/src/TFormula.cxx
Owners: @lmoneta

[tmva] Check if RNode is made out of TTree
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
Owners: @dpiparo, @vepadulano

[TO REVERT] Never run TMVA GNN tests and tutorials as unit tests
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  tutorials/CMakeLists.txt
Owners: @bellenot

[TMVA] Add missing TMVA python dependencies to requirements.txt
  requirements.txt
Owners: @dpiparo

[TMVA] Add missing TMVA python dependencies to requirements.txt
  requirements.txt
Owners: @dpiparo

[TO REVERT] Never run TMVA GNN tests and tutorials as unit tests
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  tutorials/CMakeLists.txt
Owners: @bellenot

Change error value
  hist/hist/test/test_MapCppName.cxx
Owners: @lmoneta

[TO REVERT] Never run TMVA GNN tests and tutorials as unit tests
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  tutorials/CMakeLists.txt
Owners: @bellenot

[TMVA] Add missing TMVA python dependencies to requirements.txt
  requirements.txt
Owners: @dpiparo

[TMVA] Add missing TMVA python dependencies to requirements.txt
  requirements.txt
Owners: @dpiparo

[TO REVERT] Never run TMVA GNN tests and tutorials as unit tests
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  tutorials/CMakeLists.txt
Owners: @bellenot

Revert "[tmva] Check origin of dataframe and add comments"
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
  tmva/tmva/inc/TMVA/RChunkLoader.hxx
Owners: @dpiparo, @vepadulano, @lmoneta

[TMVA] Add missing TMVA python dependencies to requirements.txt
  requirements.txt
Owners: @dpiparo

[TO REVERT] Never run TMVA GNN tests and tutorials as unit tests
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  tutorials/CMakeLists.txt
Owners: @bellenot

[TO REVERT] Never run TMVA GNN tests and tutorials as unit tests
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  tutorials/CMakeLists.txt
Owners: @bellenot

[TMVA] Add missing TMVA python dependencies to requirements.txt
  requirements.txt
Owners: @dpiparo

Support PCRE2
  bindings/pyroot/pythonizations/test/import_load_libs.py
  cmake/modules/FindPCRE2.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  core/base/CMakeLists.txt
  core/base/src/TPRegexp.cxx
  tutorials/legacy/regexp/regexp.C
Owners: @dpiparo, @vepadulano, @bellenot, @pcanal, @couet

[RF] Small fixup for using RooFit with new Clad 1.5
  roofit/histfactory/src/FlexibleInterpVar.cxx
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
Owners: @lmoneta, @guitargeek

[df] Introduce function to retrieve type of data source
  tree/dataframe/inc/ROOT/RDF/RInterface.hxx
  tree/dataframe/src/RInterface.cxx
Owners: @martamaja10, @vepadulano

[RF] Small fixup for using RooFit with new Clad 1.5
  roofit/histfactory/src/FlexibleInterpVar.cxx
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
Owners: @lmoneta, @guitargeek

[tmva] Check if dataframe's data source is of TTree origin
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
Owners: @dpiparo, @vepadulano

[hist] Comment unused parameter in TFormula
  hist/hist/src/TFormula.cxx
Owners: @lmoneta

[RF] Small fixup for using RooFit with new Clad 1.5
  roofit/histfactory/src/FlexibleInterpVar.cxx
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
Owners: @lmoneta, @guitargeek

[RF] Small fixup for using RooFit with new Clad 1.5
  roofit/histfactory/src/FlexibleInterpVar.cxx
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
Owners: @lmoneta, @guitargeek

[RF] Small fixup for using RooFit with new Clad 1.5
  roofit/histfactory/src/FlexibleInterpVar.cxx
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
Owners: @lmoneta, @guitargeek

io: Avoid infinite recursion in TFile::Open
  io/io/src/TFile.cxx
Owners: @pcanal

[core] Test builtin_zlib on mac13
  .github/workflows/root-ci.yml
Owners: @dpiparo

[asimage] AfterImage needs to look at builtin zlib headers
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

Add REve notes
  README/ReleaseNotes/v632/index.md
  README/ReleaseNotes/v632/reve-boxset-cones.png
Owners: @dpiparo

[hist] Comment unused parameter in TFormula
  hist/hist/src/TFormula.cxx
Owners: @lmoneta

[hist] Comment unused parameter in TFormula
  hist/hist/src/TFormula.cxx
Owners: @lmoneta

[hist] Comment unused parameter in TFormula
  hist/hist/src/TFormula.cxx
Owners: @lmoneta

Don't use system giflib on macOS
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

Don't use system giflib on macOS
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

[hist] Comment unused parameter in TFormula
  hist/hist/src/TFormula.cxx
Owners: @lmoneta

Support PCRE2
  bindings/pyroot/pythonizations/test/import_load_libs.py
  cmake/modules/FindPCRE2.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  core/base/CMakeLists.txt
  core/base/src/TPRegexp.cxx
  tutorials/legacy/regexp/regexp.C
Owners: @dpiparo, @vepadulano, @bellenot, @pcanal, @couet
