Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

[webgui] correcly handle local display by reload
  gui/webdisplay/inc/ROOT/RWebWindow.hxx
  gui/webdisplay/src/RWebWindow.cxx
  gui/webdisplay/src/RWebWindowWSHandler.hxx
Owners: @linev

[webgui] remoe firefox log at exit
  etc/runfirefox.sh
Owners: @dpiparo

add recursive version of rootls
  main/python/cmdLineUtils.py
  main/python/rootls.py
Owners: @pcanal

add recursive version of rootls
  main/python/cmdLineUtils.py
  main/python/rootls.py
Owners: @pcanal

[main] use function to avoid code duplication
  main/python/cmdLineUtils.py
Owners: @pcanal

[NFC] autoformat Python scripts with black --line-length=120
  main/python/cmdLineUtils.py
  main/python/rootls.py
Owners: @pcanal

[NFC] autoformat Python scripts with black --line-length=120
  main/python/cmdLineUtils.py
  main/python/rootls.py
Owners: @pcanal

[main] use function to avoid code duplication
  main/python/cmdLineUtils.py
Owners: @pcanal

stray par
  python/cmdLineUtils/CMakeLists.txt
Owners: @bellenot

add test for recursive ls
  python/cmdLineUtils/CMakeLists.txt
  python/cmdLineUtils/RecursiveRootls.ref
  python/cmdLineUtils/subdirs.C
Owners: @bellenot, @dpiparo

missing semicolon
  python/cmdLineUtils/subdirs.C
Owners: @dpiparo

fix memleak
  python/cmdLineUtils/subdirs.C
Owners: @dpiparo

add subdir test file
  python/cmdLineUtils/subdirs.root
Owners: @dpiparo

use hard root file
  python/cmdLineUtils/CMakeLists.txt
Owners: @bellenot

Delete python/cmdLineUtils/subdirs.C
  python/cmdLineUtils/subdirs.C
Owners: @dpiparo

fix memleak
  python/cmdLineUtils/subdirs.C
Owners: @dpiparo

missing semicolon
  python/cmdLineUtils/subdirs.C
Owners: @dpiparo

try currentdir instead
  python/cmdLineUtils/CMakeLists.txt
Owners: @bellenot

Update RecursiveRootls.ref
  python/cmdLineUtils/RecursiveRootls.ref
Owners: @dpiparo

Update RecursiveRootls.ref
  python/cmdLineUtils/RecursiveRootls.ref
Owners: @dpiparo

Delete python/cmdLineUtils/subdirs.C
  python/cmdLineUtils/subdirs.C
Owners: @dpiparo

try currentdir instead
  python/cmdLineUtils/CMakeLists.txt
Owners: @bellenot

add subdir test file
  python/cmdLineUtils/subdirs.root
Owners: @dpiparo

stray par
  python/cmdLineUtils/CMakeLists.txt
Owners: @bellenot

add test for recursive ls
  python/cmdLineUtils/CMakeLists.txt
  python/cmdLineUtils/RecursiveRootls.ref
  python/cmdLineUtils/subdirs.C
Owners: @bellenot, @dpiparo

use hard root file
  python/cmdLineUtils/CMakeLists.txt
Owners: @bellenot

[webgui] remoe firefox log at exit
  etc/runfirefox.sh
Owners: @dpiparo

[webgui] correcly handle local display by reload
  gui/webdisplay/inc/ROOT/RWebWindow.hxx
  gui/webdisplay/src/RWebWindow.cxx
  gui/webdisplay/src/RWebWindowWSHandler.hxx
Owners: @linev

add recursive version of rootls
  main/python/cmdLineUtils.py
  main/python/rootls.py
Owners: @pcanal

[main] use function to avoid code duplication
  main/python/cmdLineUtils.py
Owners: @pcanal

[NFC] autoformat Python scripts with black --line-length=120
  main/python/cmdLineUtils.py
  main/python/rootls.py
Owners: @pcanal

[jsroot] dev 17/05/2024 with latest three.js
  js/build/jsroot.js
  js/changes.md
  js/modules/base/TAttTextHandler.mjs
  js/modules/base/base3d.mjs
  js/modules/core.mjs
  js/modules/d3.mjs
  js/modules/draw.mjs
  js/modules/geom/TGeoPainter.mjs
  js/modules/geom/geobase.mjs
  js/modules/gpad/RPadPainter.mjs
  js/modules/gpad/TAxisPainter.mjs
  js/modules/gpad/TCanvasPainter.mjs
  js/modules/gpad/TFramePainter.mjs
  js/modules/gpad/TPadPainter.mjs
  js/modules/gui/HierarchyPainter.mjs
  js/modules/gui/menu.mjs
  js/modules/gui/utils.mjs
  js/modules/hist/RH3Painter.mjs
  js/modules/hist/TH1Painter.mjs
  js/modules/hist/TH2Painter.mjs
  js/modules/hist/TH3Painter.mjs
  js/modules/hist/TPavePainter.mjs
  js/modules/hist/hist3d.mjs
  js/modules/hist2d/TGraphPainter.mjs
  js/modules/hist2d/TH1Painter.mjs
  js/modules/hist2d/TH2Painter.mjs
  js/modules/hist2d/THistPainter.mjs
  js/modules/io.mjs
  js/modules/three.mjs
  js/modules/three_addons.mjs
  js/scripts/JSRoot.core.js
Owners: @linev

[CMake] Create builtin openssl include directory at configure time.
  builtins/openssl/CMakeLists.txt
Owners: @bellenot

[CMake] Make XRootD config target-based.
  builtins/xrootd/CMakeLists.txt
  cmake/modules/SearchInstalledSoftware.cmake
  net/netxng/CMakeLists.txt
Owners: @bellenot

[XRootD] Simplify config of builtin.
  builtins/xrootd/CMakeLists.txt
Owners: @bellenot

[CMake] Further simplify builtin xrootd
  builtins/xrootd/CMakeLists.txt
Owners: @bellenot

[ntuple] remove fChecksum from RNTuple anchor
  tree/ntuple/v7/inc/ROOT/RMiniFile.hxx
  tree/ntuple/v7/inc/ROOT/RNTuple.hxx
  tree/ntuple/v7/src/RMiniFile.cxx
  tree/ntuple/v7/src/RNTuple.cxx
  tree/ntuple/v7/test/ntuple_minifile.cxx
Owners: @jblomer

[ci] Enable distributed RDataFrame testing on MacOS
  .github/workflows/root-ci-config/buildconfig/mac-beta.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
Owners: @dpiparo

[eve7] use three_addons.mjs from latest jsroot
  ui5/eve7/eve.mjs
Owners: @linev

[jsroot] latest code with three.js
  js/build/jsroot.js
  js/changes.md
  js/index.htm
  js/modules/base/TAttTextHandler.mjs
  js/modules/base/base3d.mjs
  js/modules/core.mjs
  js/modules/draw.mjs
  js/modules/geom/TGeoPainter.mjs
  js/modules/geom/geobase.mjs
  js/modules/gpad/RPadPainter.mjs
  js/modules/gpad/TCanvasPainter.mjs
  js/modules/gpad/TPadPainter.mjs
  js/modules/gui/menu.mjs
  js/modules/gui/utils.mjs
  js/modules/hist/RH3Painter.mjs
  js/modules/hist/TH1Painter.mjs
  js/modules/hist/TH2Painter.mjs
  js/modules/hist/TH3Painter.mjs
  js/modules/hist/TPavePainter.mjs
  js/modules/hist/hist3d.mjs
  js/modules/hist2d/TGraphPainter.mjs
  js/modules/hist2d/TH1Painter.mjs
  js/modules/hist2d/TH2Painter.mjs
  js/modules/hist2d/THistPainter.mjs
  js/modules/three.mjs
  js/modules/three_addons.mjs
  js/scripts/JSRoot.core.js
Owners: @linev

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
