Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

Fix boundary check for VecOps::Take
  math/vecops/inc/ROOT/RVec.hxx
Owners: @dpiparo

[PyROOT] Simplify pythonization code
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/__init__.py
Owners: @dpiparo, @vepadulano

[hist] Remove memory leak in TSpline3 copy ctor
  hist/hist/src/TSpline.cxx
Owners: @lmoneta

Remove __MAKECINT__
  core/base/inc/TVirtualPerfStats.h
  core/base/src/TStyle.cxx
  documentation/doxygen/converttonotebook.py
  gui/gui/src/TGFrame.cxx
  io/io/inc/TFile.h
  math/mathcore/test/stressGoFTest.cxx
Owners: @dpiparo, @pcanal, @couet, @bellenot, @lmoneta

[TTaskGroup] Use global task arena
  core/imt/inc/ROOT/TTaskGroup.hxx
  core/imt/src/TTaskGroup.cxx
Owners: @dpiparo

Update core/clingutils/CMakeLists.txt
  core/clingutils/CMakeLists.txt
Owners: @bellenot

[PyROOT] Improve output of CPPMethod::GetPrototype
  bindings/pyroot/cppyy/CPyCppyy/src/CPPMethod.cxx
Owners: @dpiparo, @vepadulano

Add palette editor
  graf3d/eve7/inc/ROOT/REveRGBAPalette.hxx
  graf3d/eve7/src/REveDigitSet.cxx
  graf3d/eve7/src/REveRGBAPalette.cxx
  ui5/eve7/controller/Ged.controller.js
  ui5/eve7/lib/EveElementsRCore.js
Owners: @osschar, @linev

Update unit test to detect the undetected issue
  math/vecops/test/vecops_rvec.cxx
Owners: @dpiparo

[cmake] Fix version detection for old TBB
  cmake/modules/FindTBB.cmake
Owners: @bellenot

Implement TWinNTSystem::GetCryptoRandom
  core/winnt/CMakeLists.txt
  core/winnt/inc/TWinNTSystem.h
  core/winnt/src/TWinNTSystem.cxx
Owners: @bellenot, @dpiparo, @pcanal

[core] do not use whole std namespace, only what's needed
  core/base/src/String.cxx
  core/base/src/TSystem.cxx
  core/cont/src/TList.cxx
  core/dictgen/src/rootcling_impl.cxx
  core/foundation/src/TClassEdit.cxx
  core/meta/src/TClass.cxx
  core/meta/src/TStreamerElement.cxx
  core/metacling/src/TCling.cxx
  core/metacling/src/TClingBaseClassInfo.cxx
  core/metacling/src/TClingCallFunc.cxx
  core/metacling/src/TClingTypeInfo.cxx
  core/textinput/src/Getline_color.cxx
Owners: @dpiparo, @pcanal

[ntuple] Return cluster size from RPageNullSink
  tree/ntuple/v7/inc/ROOT/RPageNullSink.hxx
Owners: @jblomer

[ci] Schedule only once per day
  .github/workflows/root-628.yml
Owners: @dpiparo

Deprecation of TGeoBBox::AreOverlapping (#14954)
  geom/geom/inc/TGeoBBox.h
Owners: @agheata

[webgui] use gSystem->GetCryptoRandom() to generate keys
  gui/webdisplay/inc/ROOT/RWebWindowsManager.hxx
  gui/webdisplay/src/RWebWindow.cxx
  gui/webdisplay/src/RWebWindowsManager.cxx
Owners: @linev

Make sure the option L draws closed polygon for TH2Poly (#14975)
  hist/histpainter/src/TGraphPainter.cxx
  hist/histpainter/src/THistPainter.cxx
Owners: @lmoneta

[pymva] Remove import of deprecated torch function
  tmva/pymva/src/RModelParser_PyTorch.cxx
Owners: @lmoneta

Fix strict-aliasing compilation warning
  graf3d/eve7/src/REveBoxSet.cxx
Owners: @osschar, @linev

[Math] Fix typo in generated code
  hist/hist/src/TMultiDimFit.cxx
Owners: @lmoneta

[tmva][pymva] Remove depreacted function in SOFIE torch parser
  tmva/pymva/src/RModelParser_PyTorch.cxx
Owners: @lmoneta

[math] More fixes to TMath documentation for cumulative distribution functions
  math/mathcore/src/TMath.cxx
Owners: @lmoneta

Update RenderCore version with implementation of optimized digit visualization
  builtins/rendercore/RenderCore-1.1.tar.gz
  builtins/rendercore/RenderCore-1.2.tar.gz
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @dpiparo, @bellenot

[RF] Update xroofit
  roofit/xroofit/inc/RooFit/xRooFit/xRooNLLVar.h
  roofit/xroofit/inc/RooFit/xRooFit/xRooNode.h
  roofit/xroofit/src/xRooFit.cxx
  roofit/xroofit/src/xRooNode.cxx
Owners: @lmoneta, @guitargeek

[math] Detach TEventList instances from gDirectory
  math/mlp/src/TMultiLayerPerceptron.cxx
Owners: @lmoneta

[hist] not forget to reset pointer after delete
  hist/hist/src/TSpline.cxx
Owners: @lmoneta

Provide default argumetns in AllowMultipleRemoteConnections which prevent accidental remote and multiple connectios
  graf3d/eve7/inc/ROOT/REveManager.hxx
  graf3d/eve7/src/REveManager.cxx
Owners: @osschar, @linev

[cling] Add deprecation warning for declarations without `auto` (#14645)
  core/metacling/src/TClingCallbacks.cxx
  core/metacling/test/TClingTests.cxx
Owners: @dpiparo, @pcanal

[Windows] Standardize compiler flags (#14973)
  cmake/modules/SetUpWindows.cmake
Owners: @bellenot

Import a Pandas data frame to RDataFrame
  bindings/pyroot/pythonizations/python/ROOT/_facade.py
  tutorials/dataframe/df035_RDFFromPandas.py
Owners: @dpiparo, @vepadulano, @couet

Also simplify loading of palette in TASPaletteEditor
  graf2d/asimage/src/TASPaletteEditor.cxx
Owners: @couet

[hist] fix memory leak in TSpline5 assignment operator
  hist/hist/src/TSpline.cxx
Owners: @lmoneta

[tmva][pymva] Changes for new version (1.4) of scikit-learn
  tmva/pymva/src/MethodPyAdaBoost.cxx
  tmva/pymva/src/MethodPyGTB.cxx
  tmva/pymva/src/MethodPyRandomForest.cxx
Owners: @lmoneta

Add function that enables multipple remote connections.
  graf3d/eve7/inc/ROOT/REveManager.hxx
  graf3d/eve7/src/REveManager.cxx
Owners: @osschar, @linev

[graphics] Save memory when obtaining TImageDump instance
  graf2d/asimage/CMakeLists.txt
  graf2d/asimage/src/TASImage.cxx
Owners: @bellenot, @couet

Do not use interpreter to store palette
  graf2d/asimage/src/TASPaletteEditor.cxx
Owners: @couet

[hist] provide default values for all TSpline members
  hist/hist/inc/TSpline.h
  hist/hist/src/TSpline.cxx
Owners: @lmoneta

[webgui] assert if key cannot be generated
  gui/webdisplay/src/RWebWindow.cxx
Owners: @linev

[test] do not use whole std namespace, only what's needed
  roofit/multiprocess/src/ProcessTimer.cxx
  roofit/multiprocess/test/test_ProcessTimer.cxx
  roofit/roofitcore/test/stressRooFit.cxx
  roofit/roofitmore/src/RooGaussKronrodIntegrator1D.cxx
  roofit/roofitmore/src/RooLegendre.cxx
  roofit/roofitmore/src/RooNonCentralChiSquare.cxx
  roofit/roofitmore/src/RooSpHarmonic.cxx
  roofit/roostats/test/stressRooStats.cxx
  test/MainEvent.cxx
  test/TBench.h
  test/TFormulaTests.cxx
  test/bench.cxx
  test/stressHistoFit.cxx
  test/stressHistogram.cxx
  test/stressInterpreter.cxx
  test/stressIterators.cxx
  tmva/tmva/src/DataSetFactory.cxx
  tmva/tmva/src/GeneticPopulation.cxx
  tmva/tmva/src/PDEFoam.cxx
  tmva/tmva/src/PDEFoamCell.cxx
  tmva/tmva/src/PDEFoamVect.cxx
  tmva/tmva/src/ROCCalc.cxx
  tmva/tmva/src/ROCCurve.cxx
  tmva/tmva/src/Tools.cxx
  tmva/tmva/test/Method/TestMethodDNNValidationSize.cxx
  tmva/tmva/test/stressTMVA.cxx
Owners: @lmoneta, @guitargeek, @dpiparo

[ci] Disable builds on pushes while waiting to increase mac12 capacity
  .github/workflows/root-ci.yml
Owners: @dpiparo

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
