Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

[ratioplot] use central fIsUpdate flag, make it transient
  graf2d/gpad/inc/TRatioPlot.h
  graf2d/gpad/src/TRatioPlot.cxx
Owners: @couet

[hstack] simplify Get[X/Y/Z]axis methods
  hist/hist/src/THStack.cxx
Owners: @lmoneta

[ratioplot] put as first primitive
  graf2d/gpad/src/TRatioPlot.cxx
Owners: @couet

[tree] Allow bypassing I/O when copying TTreeIndex
  tree/tree/src/InternalTreeUtils.cxx
  tree/treeplayer/inc/TChainIndex.h
  tree/treeplayer/inc/TTreeIndex.h
  tree/treeplayer/src/TChainIndex.cxx
  tree/treeplayer/src/TTreeIndex.cxx
Owners: @pcanal

[cmake] Remove `cmake_policy(SET CMP0071 NEW)`
  gui/qt5webdisplay/CMakeLists.txt
  gui/qt6webdisplay/CMakeLists.txt
Owners: @bellenot

[ratioplot] keep default Browse() implementation
  graf2d/gpad/inc/TRatioPlot.h
  graf2d/gpad/src/TRatioPlot.cxx
Owners: @couet

[RF] Make sure RooFit legacy backend is still tested
  roofit/CMakeLists.txt
Owners: @bellenot

[math][unuran] Change default method for sampling multi-dim distributions
  math/unuran/inc/TUnuran.h
  math/unuran/src/TUnuran.cxx
  math/unuran/src/TUnuranSampler.cxx
  tutorials/unuran/unuranDemo.C
Owners: @lmoneta, @couet

Remove the Python tutorials form the list of Namespaces (#14883)
  documentation/doxygen/Makefile
  documentation/doxygen/filter.cxx
  documentation/doxygen/modifyNamespacesWebpage.sh
Owners: @couet

[jsroot] dev 7/03/2024 with new TRatioPlot support
  js/build/jsroot.js
  js/changes.md
  js/modules/base/BasePainter.mjs
  js/modules/base/base3d.mjs
  js/modules/core.mjs
  js/modules/draw/TLinePainter.mjs
  js/modules/draw/TRatioPlotPainter.mjs
  js/modules/gpad/RCanvasPainter.mjs
  js/modules/gpad/RFramePainter.mjs
  js/modules/gpad/RPadPainter.mjs
  js/modules/gpad/TCanvasPainter.mjs
  js/modules/gpad/TFramePainter.mjs
  js/modules/gpad/TPadPainter.mjs
  js/modules/gui.mjs
  js/modules/gui/HierarchyPainter.mjs
  js/modules/gui/menu.mjs
  js/modules/gui/utils.mjs
  js/modules/hist/TGraph2DPainter.mjs
  js/modules/hist2d/THistPainter.mjs
Owners: @linev

[thstack] fix copy constructor
  hist/hist/src/THStack.cxx
Owners: @lmoneta

[ratioplot] only update gridlines in ratio plot painting
  graf2d/gpad/inc/TRatioPlot.h
  graf2d/gpad/src/TRatioPlot.cxx
Owners: @couet

[skip ci][ci] Enable v6-26-00-patches builds in the new CI
  .github/workflows/root-626.yml
Owners: @dpiparo

[thstack] simplify THStack::Print()
  hist/hist/src/THStack.cxx
Owners: @lmoneta

[ratioplot] use vectors and better cpp syntax
  graf2d/gpad/inc/TRatioPlot.h
  graf2d/gpad/src/TRatioPlot.cxx
Owners: @couet

[RF] Avoid floating point exception in RooBatchCompute with IMT
  roofit/batchcompute/src/RooBatchCompute.cxx
Owners: @lmoneta, @guitargeek

[df] Force only one RNTuple name in distributed scheduling
  bindings/experimental/distrdf/python/DistRDF/HeadNode.py
Owners: @dpiparo, @vepadulano

[cmake] Always fail when CUDA is required but not found
  cmake/modules/CheckCompiler.cmake
Owners: @bellenot

Implement REveBoxSet to display any digit shape with instancing. Support different types of per digit transformation.
  graf3d/eve7/inc/ROOT/REveBoxSet.hxx
  graf3d/eve7/inc/ROOT/REveDigitSet.hxx
  graf3d/eve7/inc/ROOT/REveManager.hxx
  graf3d/eve7/src/REveBoxSet.cxx
  graf3d/eve7/src/REveManager.cxx
  tutorials/eve7/boxset.C
  tutorials/eve7/boxset_cones.C
  ui5/eve7/controller/Ged.controller.js
  ui5/eve7/lib/EveElementsRCore.js
Owners: @osschar, @linev, @couet

Implement TUnixSystem::GetCryptoRandom
  core/unix/CMakeLists.txt
  core/unix/inc/TUnixSystem.h
  core/unix/src/TUnixSystem.cxx
Owners: @bellenot, @dpiparo, @pcanal

[ski[-ci][math] Improve documentation of cumulative distributions in TMath
  math/mathcore/src/TMath.cxx
Owners: @lmoneta

[core] introduce TSystem::GetCryptoRandom method
  core/base/inc/TSystem.h
  core/base/src/TSystem.cxx
Owners: @dpiparo, @pcanal

[webcanv] correctly set gPad
  gui/webgui6/src/TWebCanvas.cxx
Owners: @linev

[TTaskGroup] Use isolated_task_group if available
  core/imt/src/TTaskGroup.cxx
Owners: @dpiparo

[cppyy] Remove unused Python modules
  bindings/pyroot/cppyy/cppyy/test/bindexplib.py
  bindings/pyroot/cppyy/cppyy/test/test_aclassloader.py
  bindings/pyroot/cppyy/cppyy/test/test_advancedcpp.py
  bindings/pyroot/cppyy/cppyy/test/test_api.py
  bindings/pyroot/cppyy/cppyy/test/test_boost.py
  bindings/pyroot/cppyy/cppyy/test/test_boost_any.py
  bindings/pyroot/cppyy/cppyy/test/test_conversions.py
  bindings/pyroot/cppyy/cppyy/test/test_cpp11features.py
  bindings/pyroot/cppyy/cppyy/test/test_crossinheritance.py
  bindings/pyroot/cppyy/cppyy/test/test_datatypes.py
  bindings/pyroot/cppyy/cppyy/test/test_doc_features.py
  bindings/pyroot/cppyy/cppyy/test/test_eigen.py
  bindings/pyroot/cppyy/cppyy/test/test_fragile.py
  bindings/pyroot/cppyy/cppyy/test/test_lowlevel.py
  bindings/pyroot/cppyy/cppyy/test/test_operators.py
  bindings/pyroot/cppyy/cppyy/test/test_overloads.py
  bindings/pyroot/cppyy/cppyy/test/test_pythonify.py
  bindings/pyroot/cppyy/cppyy/test/test_pythonization.py
  bindings/pyroot/cppyy/cppyy/test/test_stltypes.py
  bindings/pyroot/cppyy/cppyy/test/test_streams.py
  bindings/pyroot/cppyy/cppyy/test/test_templates.py
Owners: @dpiparo, @vepadulano

[TTaskGroup] Remove fCanRun
  core/imt/inc/ROOT/TTaskGroup.hxx
  core/imt/src/TTaskGroup.cxx
Owners: @dpiparo

[ntuple] Disable ImplicitMT after every test
  tree/ntuple/v7/test/ntuple_storage.cxx
Owners: @jblomer

[skip-ci] fix typo docu stray braces
  math/minuit/src/TLinearFitter.cxx
  math/physics/src/TRobustEstimator.cxx
Owners: @lmoneta

[core] add testing for TSystem::GetCryptoRandom
  core/base/test/TSystemTests.cxx
Owners: @dpiparo, @pcanal

[jsroot] dev 12/03/2024 with X/Y range selection
  js/LICENSE
  js/build/jsroot.js
  js/modules/base/BasePainter.mjs
  js/modules/base/func.mjs
  js/modules/core.mjs
  js/modules/draw/TGaxisPainter.mjs
  js/modules/gpad/RPadPainter.mjs
  js/modules/gpad/TFramePainter.mjs
  js/modules/gpad/TPadPainter.mjs
  js/modules/hist/TF1Painter.mjs
  js/modules/hist/TF2Painter.mjs
  js/modules/hist/TF3Painter.mjs
  js/modules/hist/TH3Painter.mjs
  js/modules/hist2d/TGraphPainter.mjs
  js/modules/hist2d/TH1Painter.mjs
  js/modules/hist2d/THistPainter.mjs
  js/scripts/jspdf.umd.min.js
  js/scripts/svg2pdf.umd.min.js
Owners: @linev

[Math] Do not modify dbg message if never printed
  math/minuit/src/TMinuit.cxx
Owners: @lmoneta

Add palette as eve eve-element
  graf3d/eve7/src/REveRGBAPalette.cxx
  tutorials/eve7/boxset.C
  tutorials/eve7/boxset_cones.C
Owners: @osschar, @linev, @couet

[runtime_cxxmodules] Fix libcxx on osx15.3
  core/clingutils/CMakeLists.txt
  interpreter/cling/include/cling/std_darwin.modulemap
  interpreter/cling/lib/Interpreter/CIFactory.cpp
Owners: @bellenot, @dpiparo

[ntuple] Add two tests for IMT interaction
  tree/ntuple/v7/test/ntuple_cluster.cxx
  tree/ntuple/v7/test/ntuple_storage.cxx
Owners: @jblomer

[ntuple] Remove RTaskScheduler::Reset
  tree/ntuple/v7/inc/ROOT/RNTupleImtTaskScheduler.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/src/RPageStorageDaos.cxx
  tree/ntuple/v7/src/RPageStorageFile.cxx
Owners: @jblomer

[skip-ci][ci] consider only ARM for mac-beta
  .github/workflows/root-ci.yml
Owners: @dpiparo

[PyROOT] Forward compatibility of pretty printing with CPyCppyy
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_generic.py
Owners: @dpiparo, @vepadulano

[PyROOT] Forward compatibility of user pythonizations with newer cppyy
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/__init__.py
Owners: @dpiparo, @vepadulano

[df] Ensure proper RNTuple data is processed by distributed tasks
  bindings/experimental/distrdf/python/DistRDF/ComputationGraphGenerator.py
  bindings/experimental/distrdf/python/DistRDF/HeadNode.py
Owners: @dpiparo, @vepadulano

[ntuple] Remove unzipping thread from RClusterPool
  tree/ntuple/v7/inc/ROOT/RClusterPool.hxx
  tree/ntuple/v7/src/RClusterPool.cxx
Owners: @jblomer

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
