Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

[eve7] use three_addons.mjs from latest jsroot
  ui5/eve7/eve.mjs
Owners: @linev

[webgui] correcly handle local display by reload
  gui/webdisplay/inc/ROOT/RWebWindow.hxx
  gui/webdisplay/src/RWebWindow.cxx
  gui/webdisplay/src/RWebWindowWSHandler.hxx
Owners: @linev

[webgui] remoe firefox log at exit
  etc/runfirefox.sh
Owners: @dpiparo

[core] apply clang-format to R__ASSERT and R__CHECK
  core/foundation/inc/TError.h
Owners: @dpiparo, @pcanal

[df] Ensure there is code to JIT before calling the interpreter
  tree/dataframe/src/RLoopManager.cxx
Owners: @martamaja10, @vepadulano

[CMake] Make XRootD config target-based.
  builtins/xrootd/CMakeLists.txt
  cmake/modules/SearchInstalledSoftware.cmake
  net/netxng/CMakeLists.txt
Owners: @bellenot

[XRootD] Simplify config of builtin.
  builtins/xrootd/CMakeLists.txt
Owners: @bellenot

[CMake] Further simplify builtin xrootd
  builtins/xrootd/CMakeLists.txt
Owners: @bellenot

[XRootD] Simplify config of builtin.
  builtins/xrootd/CMakeLists.txt
Owners: @bellenot

[CMake] Make XRootD config target-based.
  builtins/xrootd/CMakeLists.txt
  cmake/modules/SearchInstalledSoftware.cmake
  net/netxng/CMakeLists.txt
Owners: @bellenot

[CMake] Further simplify builtin xrootd
  builtins/xrootd/CMakeLists.txt
Owners: @bellenot

[CMake] Create builtin openssl include directory at configure time.
  builtins/openssl/CMakeLists.txt
Owners: @bellenot

[CMake] Create builtin openssl include directory at configure time.
  builtins/openssl/CMakeLists.txt
Owners: @bellenot

[http] explain why widgets list request is disabled
  net/http/src/THttpServer.cxx
Owners: @linev

use explicit type to prevent signed/unsigned comparison warnings
  tmva/tmva/src/TSpline1.cxx
  tmva/tmva/src/TSpline2.cxx
Owners: @lmoneta

update documentation
  tmva/tmva/src/TSpline2.cxx
Owners: @lmoneta

TMVA::TSpline2: fix memory issues
  tmva/tmva/src/TSpline2.cxx
Owners: @lmoneta

[core] prevent more overflows when concatenating
  core/base/src/TString.cxx
Owners: @dpiparo, @pcanal

[webgui] update RWebWindow::GetUrl docu
  gui/webdisplay/src/RWebWindow.cxx
Owners: @linev

Remove redundant data member; follow naming convention
  tmva/tmva/inc/TMVA/TSpline1.h
  tmva/tmva/inc/TMVA/TSpline2.h
  tmva/tmva/src/TSpline1.cxx
  tmva/tmva/src/TSpline2.cxx
Owners: @lmoneta

do not create an extra instance of graph for TSpline3 and 5
  tmva/tmva/src/PDF.cxx
Owners: @lmoneta

add variant for Long64 to THn
  hist/hist/inc/LinkDef.h
  hist/hist/inc/THn.h
  hist/hist/src/THn.cxx
  hist/hist/src/THnBase.cxx
Owners: @lmoneta

[matrix] Modify Sort for complex conjugate pairs (#14736)
  math/matrix/src/TMatrixDEigen.cxx
  math/matrix/test/testMatrixT.cxx
Owners: @lmoneta

[ntuple] split RNTuple.hxx in reader/writer header
  gui/browsable/src/RFieldHolder.hxx
  gui/browsable/src/RNTupleBrowseProvider.cxx
  tree/dataframe/src/RLoopManager.cxx
  tree/dataframe/src/RNTupleDS.cxx
  tree/dataframe/test/dataframe_unified_constructor.cxx
  tree/dataframe/test/datasource_ntuple.cxx
  tree/ntuple/CMakeLists.txt
  tree/ntuple/v7/inc/ROOT/RNTuple.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleModel.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleReader.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleWriter.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RFieldVisitor.cxx
  tree/ntuple/v7/src/RNTupleModel.cxx
  tree/ntuple/v7/src/RNTupleParallelWriter.cxx
  tree/ntuple/v7/src/RNTupleReader.cxx
  tree/ntuple/v7/src/RNTupleWriter.cxx
  tree/ntuple/v7/test/ntuple_cluster.cxx
  tree/ntuple/v7/test/ntuple_test.hxx
  tree/ntupleutil/v7/inc/ROOT/RNTupleImporter.hxx
  tree/ntupleutil/v7/inc/ROOT/RNTupleInspector.hxx
  tree/ntupleutil/v7/src/RNTupleImporter.cxx
  tree/ntupleutil/v7/src/RNTupleInspector.cxx
  tree/ntupleutil/v7/test/ntupleutil_test.hxx
  tutorials/v7/ntuple/ntpl001_staff.C
  tutorials/v7/ntuple/ntpl002_vector.C
  tutorials/v7/ntuple/ntpl003_lhcbOpenData.C
  tutorials/v7/ntuple/ntpl004_dimuon.C
  tutorials/v7/ntuple/ntpl005_introspection.C
  tutorials/v7/ntuple/ntpl006_friends.C
  tutorials/v7/ntuple/ntpl007_mtFill.C
  tutorials/v7/ntuple/ntpl008_import.C
  tutorials/v7/ntuple/ntpl009_parallelWriter.C
  tutorials/v7/ntuple/ntpl010_skim.C
  tutorials/v7/ntuple/ntpl011_global_temperatures.C
Owners: @bellenot, @martamaja10, @vepadulano, @jblomer, @couet

[webgui] use new headless mode in chrome
  gui/webdisplay/src/RWebDisplayHandle.cxx
Owners: @linev

[io] convert argument to long to prevent overflow on caller side
  core/base/inc/TBuffer.h
  io/io/inc/TBufferFile.h
  io/io/inc/TBufferJSON.h
  io/io/inc/TBufferText.h
  io/io/src/TBufferFile.cxx
  io/io/src/TBufferJSON.cxx
  io/io/src/TBufferText.cxx
  io/sql/inc/TBufferSQL2.h
  io/sql/src/TBufferSQL2.cxx
  io/xml/inc/TBufferXML.h
  io/xml/src/TBufferXML.cxx
  tree/tree/inc/TBufferSQL.h
  tree/tree/src/TBufferSQL.cxx
Owners: @dpiparo, @pcanal, @linev

TH3: projection and profile fix
  hist/hist/src/TH3.cxx
Owners: @lmoneta

[hist] Add regression test for #6658
  hist/hist/test/CMakeLists.txt
  hist/hist/test/test_projections.cxx
Owners: @bellenot, @lmoneta

implement long long version of th1i th2i th3i
  core/rint/test/TTabComTests.cxx
  documentation/primer/histograms.md
  documentation/users-guide/Histograms.md
  hist/doc/Hist.md
  hist/hist/CMakeLists.txt
  hist/hist/inc/LinkDef.h
  hist/hist/inc/TH1.h
  hist/hist/inc/TH1L64.h
  hist/hist/inc/TH2.h
  hist/hist/inc/TH2L64.h
  hist/hist/inc/TH3.h
  hist/hist/inc/TH3L64.h
  hist/hist/src/TH1.cxx
  hist/hist/src/TH2.cxx
  hist/hist/src/TH3.cxx
  test/stressHistogram.cxx
Owners: @dpiparo, @pcanal, @couet, @lmoneta, @bellenot

[io] fix crash due to overflow in buffer length variable
  io/io/src/TBufferFile.cxx
Owners: @pcanal

[core,io] Prevent out-of-bond writing in TString and increase severity of MaxSize-related raised errors
  core/base/inc/TString.h
  core/base/src/Stringio.cxx
  core/base/src/TString.cxx
  core/base/src/TStringLong.cxx
  io/io/src/TBufferFile.cxx
Owners: @dpiparo, @pcanal

[core] Clean code command in rule parsing
  core/foundation/src/RConversionRuleParser.cxx
Owners: @dpiparo, @pcanal

[jsroot] dev 20/02/2024
  js/build/jsroot.js
  js/changes.md
  js/modules/base/BasePainter.mjs
  js/modules/base/ObjectPainter.mjs
  js/modules/core.mjs
  js/modules/draw.mjs
  js/modules/draw/TGaxisPainter.mjs
  js/modules/draw/TLinePainter.mjs
  js/modules/draw/TTree.mjs
  js/modules/gpad/RPadPainter.mjs
  js/modules/gpad/TAxisPainter.mjs
  js/modules/gpad/TFramePainter.mjs
  js/modules/gpad/TPadPainter.mjs
  js/modules/gui.mjs
  js/modules/gui/display.mjs
  js/modules/gui/menu.mjs
  js/modules/gui/utils.mjs
  js/modules/hist/TF1Painter.mjs
  js/modules/hist/TPavePainter.mjs
  js/modules/io.mjs
  js/modules/tree.mjs
Owners: @linev

add variant for Long64 to THnSparse
  hist/hist/inc/LinkDef.h
  hist/hist/inc/THnSparse.h
  hist/hist/src/THnSparse.cxx
Owners: @lmoneta

[webgui] do not use --headless=new on mac platforms
  gui/webdisplay/src/RWebDisplayHandle.cxx
Owners: @linev

[webgui] assert when window key is not generated
  gui/webdisplay/src/RWebWindowsManager.cxx
Owners: @linev

rename L64 to L, force THnL and THnSparse to work with TArrayL64
  core/rint/test/TTabComTests.cxx
  documentation/primer/histograms.md
  documentation/users-guide/Histograms.md
  hist/doc/Hist.md
  hist/hist/CMakeLists.txt
  hist/hist/inc/LinkDef.h
  hist/hist/inc/TH1.h
  hist/hist/inc/TH1L.h
  hist/hist/inc/TH2.h
  hist/hist/inc/TH2L.h
  hist/hist/inc/TH3.h
  hist/hist/inc/TH3L.h
  hist/hist/inc/THn.h
  hist/hist/inc/THnSparse.h
  hist/hist/src/TH1.cxx
  hist/hist/src/TH2.cxx
  hist/hist/src/TH3.cxx
  hist/hist/src/THn.cxx
  hist/hist/src/THnBase.cxx
  hist/hist/src/THnSparse.cxx
  hist/histv7/inc/ROOT/RHist.hxx
  test/stressHistogram.cxx
Owners: @dpiparo, @pcanal, @couet, @lmoneta, @bellenot

[root{cp,mv}] Improve documentation of compression settings
  main/python/rootcp.py
  main/python/rootmv.py
Owners: @pcanal

make TSpline1 and TSpline2 copy only graph points
  tmva/tmva/inc/TMVA/TSpline1.h
  tmva/tmva/inc/TMVA/TSpline2.h
  tmva/tmva/src/PDF.cxx
  tmva/tmva/src/TSpline1.cxx
  tmva/tmva/src/TSpline2.cxx
Owners: @lmoneta

TH2: projection and profile fix
  hist/hist/src/TH2.cxx
Owners: @lmoneta

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
