Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[ntuple] fix expected byte count for v4: 64 -> 66
  tree/ntuple/v7/src/RNTuple.cxx
Owners: @jblomer

[core] document R__ASSERT/CHECK and add R__likely
  core/foundation/inc/TError.h
Owners: @dpiparo, @pcanal

[main] use function to avoid code duplication
  main/python/cmdLineUtils.py
Owners: @pcanal

[NFC] autoformat Python scripts with black --line-length=120
  main/python/cmdLineUtils.py
  main/python/rootls.py
Owners: @pcanal

add recursive version of rootls
  main/python/cmdLineUtils.py
  main/python/rootls.py
Owners: @pcanal

[ci] Enable distributed RDataFrame testing on MacOS
  .github/workflows/root-ci-config/buildconfig/mac-beta.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
Owners: @dpiparo

TH2Poly fix
  hist/hist/src/TH2Poly.cxx
Owners: @lmoneta

[core] change !R__likely(e) to R__unlikely(!e) for readability
  core/foundation/inc/TError.h
Owners: @dpiparo, @pcanal

Add a test
  hist/hist/test/CMakeLists.txt
  hist/hist/test/test_MapCppName.cxx
Owners: @bellenot, @lmoneta

[core] backtick-quote `assert()` in R__ASSERT comment
  core/foundation/inc/TError.h
Owners: @dpiparo, @pcanal

Remove the K&R style definitions from builtin zlib (part 2)
  builtins/zlib/adler32.c
  builtins/zlib/compress.c
  builtins/zlib/crc32.c
  builtins/zlib/gzclose.c
  builtins/zlib/gzlib.c
  builtins/zlib/gzread.c
  builtins/zlib/gzwrite.c
  builtins/zlib/infback.c
  builtins/zlib/inffast.c
  builtins/zlib/inftrees.c
  builtins/zlib/trees.c
  builtins/zlib/uncompr.c
  builtins/zlib/zutil.c
Owners: @dpiparo

[core] Test builtin_zlib on mac13
  .github/workflows/root-ci.yml
Owners: @dpiparo

[asimage] AfterImage needs to look at builtin zlib headers
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

Update RenderCore with fix in tonemap fragement shader
  builtins/rendercore/RenderCore-1.4.tar.gz
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @dpiparo, @bellenot

Set the viewer background color only in tone map shader. Use black background in all other render passes
  ui5/eve7/lib/GlViewerRCore.js
Owners: @linev

[RF] Improve RooLandau tests in `testRooFuncWrapper`
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Owners: @lmoneta, @guitargeek

[RF] Merge EvaluateFuncs and AnalyticalIntegrals header
  roofit/doc/developers/roofit_ad.md
  roofit/histfactory/src/FlexibleInterpVar.cxx
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofit/src/RooBernstein.cxx
  roofit/roofit/src/RooBifurGauss.cxx
  roofit/roofit/src/RooCBShape.cxx
  roofit/roofit/src/RooChebychev.cxx
  roofit/roofit/src/RooExponential.cxx
  roofit/roofit/src/RooGaussian.cxx
  roofit/roofit/src/RooLandau.cxx
  roofit/roofit/src/RooLognormal.cxx
  roofit/roofit/src/RooPoisson.cxx
  roofit/roofit/src/RooPolynomial.cxx
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
  roofit/roofitcore/src/RooConstraintSum.cxx
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooEffProd.cxx
  roofit/roofitcore/src/RooEfficiency.cxx
  roofit/roofitcore/src/RooNLLVarNew.cxx
  roofit/roofitcore/src/RooNormalizedPdf.h
  roofit/roofitcore/src/RooPolyVar.cxx
  roofit/roofitcore/src/RooRatio.cxx
  roofit/roofitcore/src/RooRecursiveFraction.cxx
  roofit/roofitcore/src/RooTruthModel.cxx
Owners: @lmoneta, @guitargeek, @bellenot

Make projected geo shape outlines non-transparent
  ui5/eve7/lib/EveElementsRCore.js
Owners: @linev

[RF] Slight refactoring of the `MathFuncs`
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
Owners: @lmoneta, @guitargeek

[RF] Replace some `TMath` functions with standard math functions
  roofit/histfactory/src/HistFactoryNavigation.cxx
  roofit/histfactory/src/RooBarlowBeestonLL.cxx
  roofit/histfactory/test/stressHistFactory.cxx
  roofit/roofit/src/Roo2DKeysPdf.cxx
  roofit/roofit/src/RooArgusBG.cxx
  roofit/roofit/src/RooBDecay.cxx
  roofit/roofit/src/RooBMixDecay.cxx
  roofit/roofit/src/RooDstD0BG.cxx
  roofit/roofit/src/RooGExpModel.cxx
  roofit/roofit/src/RooGamma.cxx
  roofit/roofit/src/RooMomentMorph.cxx
  roofit/roofit/src/RooMomentMorphFunc.cxx
  roofit/roofit/src/RooMomentMorphFuncND.cxx
  roofit/roofit/src/RooNDKeysPdf.cxx
  roofit/roofit/src/RooNonCPEigenDecay.cxx
  roofit/roofit/src/RooNovosibirsk.cxx
  roofit/roofit/test/testRooJohnson.cxx
  roofit/roofitcore/src/RooAbsData.cxx
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooFitResult.cxx
  roofit/roofitcore/src/RooGrid.cxx
  roofit/roofitcore/src/RooHistError.cxx
  roofit/roofitcore/src/RooMCIntegrator.cxx
  roofit/roofitcore/test/stressRooFit_tests.h
  roofit/roofitcore/test/testGenericPdf.cxx
  roofit/roofitmore/src/RooAdaptiveGaussKronrodIntegrator1D.cxx
  roofit/roofitmore/src/RooNonCentralChiSquare.cxx
  roofit/roostats/inc/RooStats/ConfidenceBelt.h
  roofit/roostats/inc/RooStats/MCMCCalculator.h
  roofit/roostats/inc/RooStats/MCMCInterval.h
  roofit/roostats/src/HybridResult.cxx
  roofit/roostats/src/HypoTestInverterResult.cxx
  roofit/roostats/src/HypoTestResult.cxx
  roofit/roostats/src/MCMCInterval.cxx
  roofit/roostats/src/MetropolisHastings.cxx
  roofit/roostats/src/NeymanConstruction.cxx
  roofit/xroofit/src/xRooNLLVar.cxx
  roofit/xroofit/src/xRooNode.cxx
Owners: @lmoneta, @guitargeek

[eve7] use three_addons.mjs from latest jsroot
  ui5/eve7/eve.mjs
Owners: @linev

[jsroot] latest code with three.js
  js/build/jsroot.js
  js/changes.md
  js/index.htm
  js/modules/base/TAttTextHandler.mjs
  js/modules/base/base3d.mjs
  js/modules/core.mjs
  js/modules/draw.mjs
  js/modules/geom/TGeoPainter.mjs
  js/modules/geom/geobase.mjs
  js/modules/gpad/RPadPainter.mjs
  js/modules/gpad/TCanvasPainter.mjs
  js/modules/gpad/TPadPainter.mjs
  js/modules/gui/menu.mjs
  js/modules/gui/utils.mjs
  js/modules/hist/RH3Painter.mjs
  js/modules/hist/TH1Painter.mjs
  js/modules/hist/TH2Painter.mjs
  js/modules/hist/TH3Painter.mjs
  js/modules/hist/TPavePainter.mjs
  js/modules/hist/hist3d.mjs
  js/modules/hist2d/TGraphPainter.mjs
  js/modules/hist2d/TH1Painter.mjs
  js/modules/hist2d/TH2Painter.mjs
  js/modules/hist2d/THistPainter.mjs
  js/modules/three.mjs
  js/modules/three_addons.mjs
  js/scripts/JSRoot.core.js
Owners: @linev

[RF] Slight refactoring of the `MathFuncs`
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
Owners: @lmoneta, @guitargeek

[RF] Replace some `TMath` functions with standard math functions
  roofit/histfactory/src/HistFactoryNavigation.cxx
  roofit/histfactory/src/RooBarlowBeestonLL.cxx
  roofit/histfactory/test/stressHistFactory.cxx
  roofit/roofit/src/Roo2DKeysPdf.cxx
  roofit/roofit/src/RooArgusBG.cxx
  roofit/roofit/src/RooBDecay.cxx
  roofit/roofit/src/RooBMixDecay.cxx
  roofit/roofit/src/RooDstD0BG.cxx
  roofit/roofit/src/RooGExpModel.cxx
  roofit/roofit/src/RooGamma.cxx
  roofit/roofit/src/RooMomentMorph.cxx
  roofit/roofit/src/RooMomentMorphFunc.cxx
  roofit/roofit/src/RooMomentMorphFuncND.cxx
  roofit/roofit/src/RooNDKeysPdf.cxx
  roofit/roofit/src/RooNonCPEigenDecay.cxx
  roofit/roofit/src/RooNovosibirsk.cxx
  roofit/roofit/test/testRooJohnson.cxx
  roofit/roofitcore/src/RooAbsData.cxx
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooFitResult.cxx
  roofit/roofitcore/src/RooGrid.cxx
  roofit/roofitcore/src/RooHistError.cxx
  roofit/roofitcore/src/RooMCIntegrator.cxx
  roofit/roofitcore/test/stressRooFit_tests.h
  roofit/roofitcore/test/testGenericPdf.cxx
  roofit/roofitmore/src/RooAdaptiveGaussKronrodIntegrator1D.cxx
  roofit/roofitmore/src/RooNonCentralChiSquare.cxx
  roofit/roostats/inc/RooStats/ConfidenceBelt.h
  roofit/roostats/inc/RooStats/MCMCCalculator.h
  roofit/roostats/inc/RooStats/MCMCInterval.h
  roofit/roostats/src/HybridResult.cxx
  roofit/roostats/src/HypoTestInverterResult.cxx
  roofit/roostats/src/HypoTestResult.cxx
  roofit/roostats/src/MCMCInterval.cxx
  roofit/roostats/src/MetropolisHastings.cxx
  roofit/roostats/src/NeymanConstruction.cxx
  roofit/xroofit/src/xRooNLLVar.cxx
  roofit/xroofit/src/xRooNode.cxx
Owners: @lmoneta, @guitargeek

[RF] Replace some `TMath` functions with standard math functions
  roofit/histfactory/src/HistFactoryNavigation.cxx
  roofit/histfactory/src/RooBarlowBeestonLL.cxx
  roofit/histfactory/test/stressHistFactory.cxx
  roofit/roofit/src/Roo2DKeysPdf.cxx
  roofit/roofit/src/RooArgusBG.cxx
  roofit/roofit/src/RooBDecay.cxx
  roofit/roofit/src/RooBMixDecay.cxx
  roofit/roofit/src/RooDstD0BG.cxx
  roofit/roofit/src/RooGExpModel.cxx
  roofit/roofit/src/RooGamma.cxx
  roofit/roofit/src/RooMomentMorph.cxx
  roofit/roofit/src/RooMomentMorphFunc.cxx
  roofit/roofit/src/RooMomentMorphFuncND.cxx
  roofit/roofit/src/RooNDKeysPdf.cxx
  roofit/roofit/src/RooNonCPEigenDecay.cxx
  roofit/roofit/src/RooNovosibirsk.cxx
  roofit/roofit/test/testRooJohnson.cxx
  roofit/roofitcore/src/RooAbsData.cxx
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooFitResult.cxx
  roofit/roofitcore/src/RooGrid.cxx
  roofit/roofitcore/src/RooHistError.cxx
  roofit/roofitcore/src/RooMCIntegrator.cxx
  roofit/roofitcore/test/stressRooFit_tests.h
  roofit/roofitcore/test/testGenericPdf.cxx
  roofit/roofitmore/src/RooAdaptiveGaussKronrodIntegrator1D.cxx
  roofit/roofitmore/src/RooNonCentralChiSquare.cxx
  roofit/roostats/inc/RooStats/ConfidenceBelt.h
  roofit/roostats/inc/RooStats/MCMCCalculator.h
  roofit/roostats/inc/RooStats/MCMCInterval.h
  roofit/roostats/src/HybridResult.cxx
  roofit/roostats/src/HypoTestInverterResult.cxx
  roofit/roostats/src/HypoTestResult.cxx
  roofit/roostats/src/MCMCInterval.cxx
  roofit/roostats/src/MetropolisHastings.cxx
  roofit/roostats/src/NeymanConstruction.cxx
  roofit/xroofit/src/xRooNLLVar.cxx
  roofit/xroofit/src/xRooNode.cxx
Owners: @lmoneta, @guitargeek

[RF] Slight refactoring of the `MathFuncs`
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
Owners: @lmoneta, @guitargeek

[RF] Merge EvaluateFuncs and AnalyticalIntegrals header
  roofit/doc/developers/roofit_ad.md
  roofit/histfactory/src/FlexibleInterpVar.cxx
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofit/src/RooBernstein.cxx
  roofit/roofit/src/RooBifurGauss.cxx
  roofit/roofit/src/RooCBShape.cxx
  roofit/roofit/src/RooChebychev.cxx
  roofit/roofit/src/RooExponential.cxx
  roofit/roofit/src/RooGaussian.cxx
  roofit/roofit/src/RooLandau.cxx
  roofit/roofit/src/RooLognormal.cxx
  roofit/roofit/src/RooPoisson.cxx
  roofit/roofit/src/RooPolynomial.cxx
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
  roofit/roofitcore/src/RooConstraintSum.cxx
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooEffProd.cxx
  roofit/roofitcore/src/RooEfficiency.cxx
  roofit/roofitcore/src/RooNLLVarNew.cxx
  roofit/roofitcore/src/RooNormalizedPdf.h
  roofit/roofitcore/src/RooPolyVar.cxx
  roofit/roofitcore/src/RooRatio.cxx
  roofit/roofitcore/src/RooRecursiveFraction.cxx
  roofit/roofitcore/src/RooTruthModel.cxx
Owners: @lmoneta, @guitargeek, @bellenot

[RF] Improve RooLandau tests in `testRooFuncWrapper`
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Owners: @lmoneta, @guitargeek

[RF] Merge EvaluateFuncs and AnalyticalIntegrals header
  roofit/doc/developers/roofit_ad.md
  roofit/histfactory/src/FlexibleInterpVar.cxx
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofit/src/RooBernstein.cxx
  roofit/roofit/src/RooBifurGauss.cxx
  roofit/roofit/src/RooCBShape.cxx
  roofit/roofit/src/RooChebychev.cxx
  roofit/roofit/src/RooExponential.cxx
  roofit/roofit/src/RooGaussian.cxx
  roofit/roofit/src/RooLandau.cxx
  roofit/roofit/src/RooLognormal.cxx
  roofit/roofit/src/RooPoisson.cxx
  roofit/roofit/src/RooPolynomial.cxx
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
  roofit/roofitcore/src/RooConstraintSum.cxx
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooEffProd.cxx
  roofit/roofitcore/src/RooEfficiency.cxx
  roofit/roofitcore/src/RooNLLVarNew.cxx
  roofit/roofitcore/src/RooNormalizedPdf.h
  roofit/roofitcore/src/RooPolyVar.cxx
  roofit/roofitcore/src/RooRatio.cxx
  roofit/roofitcore/src/RooRecursiveFraction.cxx
  roofit/roofitcore/src/RooTruthModel.cxx
Owners: @lmoneta, @guitargeek, @bellenot

[RF] Improve RooLandau tests in `testRooFuncWrapper`
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Owners: @lmoneta, @guitargeek

[math][RF] Define pullbacks of `ROOT::Math::landau` functions for AD
  math/mathcore/inc/Math/CladDerivator.h
Owners: @lmoneta

[RF] Fixup to recent change in `PiecewiseInterpolation::translate()`
  roofit/histfactory/src/PiecewiseInterpolation.cxx
Owners: @lmoneta, @guitargeek

Spurrious change to enable testing jenkins
  README.md
Owners: @dpiparo

All Geometry tutorials translated into Python.
  tutorials/pygeom/RadioNuclides.py
  tutorials/pygeom/assembly.py
  tutorials/pygeom/building.py
  tutorials/pygeom/cheongwadae.py
  tutorials/pygeom/csgdemo.py
  tutorials/pygeom/files/cms.root
  tutorials/pygeom/files/cms.root.ROOT.cachefile
  tutorials/pygeom/gdml/opticalsurfaces.gdml
  tutorials/pygeom/gdml/testoptical.py
  tutorials/pygeom/gdml/tmp.gdml
  tutorials/pygeom/gdml/tmp.root
  tutorials/pygeom/geodemo.py
  tutorials/pygeom/geomAlice.py
  tutorials/pygeom/geomAlice_itsv.py
  tutorials/pygeom/geomAtlas.py
  tutorials/pygeom/geomBrahms.py
  tutorials/pygeom/geomD0.py
  tutorials/pygeom/geometry.py
  tutorials/pygeom/iterplugin.cxx
  tutorials/pygeom/lego.py
  tutorials/pygeom/mp3player.py
  tutorials/pygeom/na49.py
  tutorials/pygeom/na49geomfile.py
  tutorials/pygeom/na49view.py
  tutorials/pygeom/parallel_world.py
  tutorials/pygeom/robot.py
  tutorials/pygeom/rootgeom.py
  tutorials/pygeom/runplugin.py
  tutorials/pygeom/shapes.py
  tutorials/pygeom/shapesAnim.py
  tutorials/pygeom/south_gate.py
  tutorials/pygeom/station1.py
  tutorials/pygeom/station2.py
  tutorials/pygeom/tank.py
  tutorials/pygeom/teddy.obj
  tutorials/pygeom/tessellatedNav.py
  tutorials/pygeom/visualizeWavefrontObj.py
  tutorials/pygeom/web_cms.py
  tutorials/pygeom/xtruDraw.py
  tutorials/pygeom/xtruSamples.py
Owners: @couet

FOAM Tutorials translated into Python.
  tutorials/pyfoam/foam_demo.py
  tutorials/pyfoam/foam_demo.root
  tutorials/pyfoam/foam_demopers.py
  tutorials/pyfoam/foam_kanwa.py
  tutorials/pyfoam/index.md
Owners: @couet

Physics Tutorials translated into Python.
  tutorials/pymatrix/decomposeQR.py
  tutorials/pymatrix/invertMatrix.py
  tutorials/pymatrix/solveLinear.py
  tutorials/pyphysics/PhaseSpace.png
  tutorials/pyphysics/PhaseSpace.py
Owners: @couet

Matrix Tutorials translated into Python.
  tutorials/pymatrix/decomposeQR.py
  tutorials/pymatrix/invertMatrix.py
  tutorials/pymatrix/solveLinear.py
Owners: @couet

Physics tutorials translated into Python.
  tutorials/pyphysics/pyphysics/PhaseSpace.png
  tutorials/pyphysics/pyphysics/PhaseSpace.py
Owners: @couet

Remove duplicated directory.
  tutorials/pyphysics/pyphysics/PhaseSpace.png
  tutorials/pyphysics/pyphysics/PhaseSpace.py
Owners: @couet

[ci] Simplify 6.26 build configuration
  .github/workflows/root-626.yml
Owners: @dpiparo
