Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[ci] Half frequency of 6.26/28 nightlies
  .github/workflows/root-626.yml
  .github/workflows/root-628.yml
Owners: @dpiparo

[ci] Half frequency of 6.26/28 nightlies
  .github/workflows/root-626.yml
  .github/workflows/root-628.yml
Owners: @dpiparo

[ci] Half frequency of 6.26/28 nightlies
  .github/workflows/root-626.yml
  .github/workflows/root-628.yml
Owners: @dpiparo

[ci] Simplify 6.26 build configuration
  .github/workflows/root-626.yml
Owners: @dpiparo

[ci] Simplify 6.26 build configuration
  .github/workflows/root-626.yml
Owners: @dpiparo

Improve RNs in several respects
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

Make projected geo shape outlines non-transparent
  ui5/eve7/lib/EveElementsRCore.js
Owners: @linev

Set the viewer background color only in tone map shader. Use black background in all other render passes
  ui5/eve7/lib/GlViewerRCore.js
Owners: @linev

Update RenderCore with fix in tonemap fragement shader
  builtins/rendercore/RenderCore-1.4.tar.gz
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @dpiparo, @bellenot

Set the viewer background color only in tone map shader. Use black background in all other render passes
  ui5/eve7/lib/GlViewerRCore.js
Owners: @linev

Update RenderCore with fix in tonemap fragement shader
  builtins/rendercore/RenderCore-1.3.tar.gz
  builtins/rendercore/RenderCore-1.4.tar.gz
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @dpiparo, @bellenot

Make projected geo shape outlines non-transparent
  ui5/eve7/lib/EveElementsRCore.js
Owners: @linev

Ignore warnings about RooNaNPacker not being implemented for big endian
  core/testsupport/src/TestSupport.cxx
Owners: @dpiparo, @pcanal

Ignore warnings about RooNaNPacker not being implemented for big endian
  core/testsupport/src/TestSupport.cxx
Owners: @dpiparo, @pcanal

Add fit/exampleFit3D.C to clad veto
  tutorials/CMakeLists.txt
Owners: @bellenot

[RF] Fixup to recent change in `PiecewiseInterpolation::translate()`
  roofit/histfactory/src/PiecewiseInterpolation.cxx
Owners: @lmoneta, @guitargeek

[math][RF] Define pullbacks of `ROOT::Math::landau` functions for AD
  math/mathcore/inc/Math/CladDerivator.h
Owners: @lmoneta

[math][RF] Define pullbacks of `ROOT::Math::landau` functions for AD
  math/mathcore/inc/Math/CladDerivator.h
Owners: @lmoneta

[RF] Fixup to recent change in `PiecewiseInterpolation::translate()`
  roofit/histfactory/src/PiecewiseInterpolation.cxx
Owners: @lmoneta, @guitargeek

[core] Test builtin_zlib on mac13
  .github/workflows/root-ci.yml
Owners: @dpiparo

Remove the K&R style definitions from builtin zlib (part 2)
  builtins/zlib/adler32.c
  builtins/zlib/compress.c
  builtins/zlib/crc32.c
  builtins/zlib/gzclose.c
  builtins/zlib/gzlib.c
  builtins/zlib/gzread.c
  builtins/zlib/gzwrite.c
  builtins/zlib/infback.c
  builtins/zlib/inffast.c
  builtins/zlib/inftrees.c
  builtins/zlib/trees.c
  builtins/zlib/uncompr.c
  builtins/zlib/zutil.c
Owners: @dpiparo

Remove the K&R style definitions from builtin zlib (part 2)
  builtins/zlib/adler32.c
  builtins/zlib/compress.c
  builtins/zlib/crc32.c
  builtins/zlib/gzclose.c
  builtins/zlib/gzlib.c
  builtins/zlib/gzread.c
  builtins/zlib/gzwrite.c
  builtins/zlib/infback.c
  builtins/zlib/inffast.c
  builtins/zlib/inftrees.c
  builtins/zlib/trees.c
  builtins/zlib/uncompr.c
  builtins/zlib/zutil.c
Owners: @dpiparo

[asimage] AfterImage needs to look at builtin zlib headers
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

[core] Test builtin_zlib on mac13
  .github/workflows/root-ci.yml
Owners: @dpiparo

[asimage] AfterImage needs to look at builtin zlib headers
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

[asimage] AfterImage needs to look at builtin zlib headers
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

[core] Test builtin_zlib on mac13
  .github/workflows/root-ci.yml
Owners: @dpiparo

[RF] Rename RooPower and RooExpPoly to avoid clash with classes fom CMS
  README/ReleaseNotes/v632/index.md
  documentation/doxygen/images/RooLegacyExpPoly.png
  documentation/doxygen/images/RooPowerSum.png
  etc/RooFitHS3_wsexportkeys.json
  etc/RooFitHS3_wsfactoryexpressions.json
  roofit/hs3/src/JSONFactories_RooFitCore.cxx
  roofit/hs3/test/testRooFitHS3.cxx
  roofit/roofit/CMakeLists.txt
  roofit/roofit/inc/LinkDef1.h
  roofit/roofit/inc/RooLegacyExpPoly.h
  roofit/roofit/inc/RooPowerSum.h
  roofit/roofit/src/RooLegacyExpPoly.cxx
  roofit/roofit/src/RooPowerSum.cxx
  roofit/roofitcore/test/testTestStatistics.cxx
  tutorials/roofit/rf614_binned_fit_problems.C
  tutorials/roofit/rf614_binned_fit_problems.py
Owners: @dpiparo, @couet, @lmoneta, @guitargeek, @bellenot

Improve RNs in several respects
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[PyROOT] Refactor `rtensor` test to be more granular
  bindings/pyroot/pythonizations/test/rtensor.py
Owners: @dpiparo, @vepadulano

Fix pythonizations test errors on ix86 Linux
  bindings/pyroot/pythonizations/test/rdataframe_makenumpy.py
  bindings/pyroot/pythonizations/test/rtensor.py
Owners: @dpiparo, @vepadulano

[asimage] AfterImage needs to look at builtin zlib headers
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

[core] Test builtin_zlib on mac13
  .github/workflows/root-ci.yml
Owners: @dpiparo

[core] Test builtin_zlib on mac13
  .github/workflows/root-ci.yml
Owners: @dpiparo

[asimage] AfterImage needs to look at builtin zlib headers
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

Geometry tutorials translated into Python.
  tutorials/pygeom/RadioNuclides.py
  tutorials/pygeom/assembly.py
  tutorials/pygeom/building.py
  tutorials/pygeom/cheongwadae.py
  tutorials/pygeom/csgdemo.py
  tutorials/pygeom/files/cms.root
  tutorials/pygeom/files/cms.root.ROOT.cachefile
  tutorials/pygeom/gdml/opticalsurfaces.gdml
  tutorials/pygeom/gdml/testoptical.py
  tutorials/pygeom/gdml/tmp.gdml
  tutorials/pygeom/gdml/tmp.root
  tutorials/pygeom/geodemo.py
  tutorials/pygeom/geomAlice.py
  tutorials/pygeom/geomAlice_itsv.py
  tutorials/pygeom/geomAtlas.py
  tutorials/pygeom/geomBrahms.py
  tutorials/pygeom/geomD0.py
  tutorials/pygeom/geometry.py
  tutorials/pygeom/iterplugin.cxx
  tutorials/pygeom/lego.py
  tutorials/pygeom/mp3player.py
  tutorials/pygeom/na49.py
  tutorials/pygeom/na49geomfile.py
  tutorials/pygeom/na49view.py
  tutorials/pygeom/parallel_world.py
  tutorials/pygeom/robot.py
  tutorials/pygeom/rootgeom.py
  tutorials/pygeom/runplugin.py
  tutorials/pygeom/shapes.py
  tutorials/pygeom/shapesAnim.py
  tutorials/pygeom/south_gate.py
  tutorials/pygeom/station1.py
  tutorials/pygeom/station2.py
  tutorials/pygeom/tank.py
  tutorials/pygeom/teddy.obj
  tutorials/pygeom/tessellatedNav.py
  tutorials/pygeom/visualizeWavefrontObj.py
  tutorials/pygeom/web_cms.py
  tutorials/pygeom/xtruDraw.py
  tutorials/pygeom/xtruSamples.py
Owners: @couet

[RF] Replace some `TMath` functions with standard math functions
  roofit/histfactory/src/HistFactoryNavigation.cxx
  roofit/histfactory/src/RooBarlowBeestonLL.cxx
  roofit/histfactory/test/stressHistFactory.cxx
  roofit/roofit/src/Roo2DKeysPdf.cxx
  roofit/roofit/src/RooArgusBG.cxx
  roofit/roofit/src/RooBDecay.cxx
  roofit/roofit/src/RooBMixDecay.cxx
  roofit/roofit/src/RooDstD0BG.cxx
  roofit/roofit/src/RooGExpModel.cxx
  roofit/roofit/src/RooGamma.cxx
  roofit/roofit/src/RooMomentMorph.cxx
  roofit/roofit/src/RooMomentMorphFunc.cxx
  roofit/roofit/src/RooMomentMorphFuncND.cxx
  roofit/roofit/src/RooNDKeysPdf.cxx
  roofit/roofit/src/RooNonCPEigenDecay.cxx
  roofit/roofit/src/RooNovosibirsk.cxx
  roofit/roofit/test/testRooJohnson.cxx
  roofit/roofitcore/src/RooAbsData.cxx
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooFitResult.cxx
  roofit/roofitcore/src/RooGrid.cxx
  roofit/roofitcore/src/RooHistError.cxx
  roofit/roofitcore/src/RooMCIntegrator.cxx
  roofit/roofitcore/test/stressRooFit_tests.h
  roofit/roofitcore/test/testGenericPdf.cxx
  roofit/roofitmore/src/RooAdaptiveGaussKronrodIntegrator1D.cxx
  roofit/roofitmore/src/RooNonCentralChiSquare.cxx
  roofit/roostats/inc/RooStats/ConfidenceBelt.h
  roofit/roostats/inc/RooStats/MCMCCalculator.h
  roofit/roostats/inc/RooStats/MCMCInterval.h
  roofit/roostats/src/HybridResult.cxx
  roofit/roostats/src/HypoTestInverterResult.cxx
  roofit/roostats/src/HypoTestResult.cxx
  roofit/roostats/src/MCMCInterval.cxx
  roofit/roostats/src/MetropolisHastings.cxx
  roofit/roostats/src/NeymanConstruction.cxx
  roofit/xroofit/src/xRooNLLVar.cxx
  roofit/xroofit/src/xRooNode.cxx
Owners: @lmoneta, @guitargeek

[RF] Slight refactoring of the `MathFuncs`
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
Owners: @lmoneta, @guitargeek

Ignore warnings about RooNaNPacker not being implemented for big endian
  core/testsupport/src/TestSupport.cxx
Owners: @dpiparo, @pcanal

Add old gtest compat for SetUpTestSuite/TearDownTestSuite
  tree/tree/test/friendinfo.cxx
Owners: @pcanal
