Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

[ratioplot] add testing for thstack in ratio plot
  graf2d/gpad/test/ratioplot.cxx
Owners: @couet

missing defaults in SaveAs overload
  geom/geom/inc/TGeoVolume.h
  hist/hist/inc/TGraph.h
Owners: @agheata, @lmoneta

[skip ci][ci] Try regular 628 nightlies
  .github/workflows/root-628.yml
Owners: @dpiparo

[ntuple] Enable binding view to external memory
  tree/ntuple/v7/inc/ROOT/RNTupleReader.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleUtil.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleView.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RNTupleReader.cxx
  tree/ntuple/v7/test/ntuple_view.cxx
Owners: @jblomer

[ratioplot] add testing for TRatioPlot reading from file
  graf2d/gpad/CMakeLists.txt
  graf2d/gpad/test/CMakeLists.txt
  graf2d/gpad/test/ratioplot.cxx
Owners: @bellenot, @couet

[ci] Remove builtin_fftw3 and builtin_gsl on Linux
  .github/workflows/root-ci-config/buildconfig/alma8.txt
  .github/workflows/root-ci-config/buildconfig/alma9.txt
  .github/workflows/root-ci-config/buildconfig/fedora38.txt
  .github/workflows/root-ci-config/buildconfig/fedora39.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu20.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu22.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu2304.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu2310.txt
Owners: @dpiparo

[ratioplot] do not create axes which wan't be drawn
  graf2d/gpad/src/TRatioPlot.cxx
Owners: @couet

[ratioplot] special handling for THStack
  graf2d/gpad/inc/TRatioPlot.h
  graf2d/gpad/src/TRatioPlot.cxx
Owners: @couet

[RF] Mention in the docs that the new CPU eval backend is the default
  roofit/roofitcore/src/RooAbsPdf.cxx
Owners: @lmoneta, @guitargeek

[CI] Refactor the GHA code that nightly builds
  .github/workflows/root-ci.yml
  .github/workflows/root-master.yml
Owners: @dpiparo

[ci] Remove Ubuntu 23.04 from testing platforms
  .github/workflows/root-ci-config/buildconfig/ubuntu2304.txt
  .github/workflows/root-ci.yml
Owners: @dpiparo

[hist] default filename saveas
  hist/hist/inc/TH1.h
Owners: @lmoneta

[skip ci][ci] Update 628 nightly trigger to the new structure
  .github/workflows/root-628.yml
Owners: @dpiparo

[ci] Remove fedora37.txt configuration
  .github/workflows/root-ci-config/buildconfig/fedora37.txt
Owners: @dpiparo

[RF] Avoid `std::vector` allocations when calling RooBatchCompute
  roofit/batchcompute/res/RooBatchCompute.h
  roofit/batchcompute/src/ComputeFunctions.cxx
  roofit/batchcompute/src/RooBatchCompute.cu
  roofit/batchcompute/src/RooBatchCompute.cxx
  roofit/roofit/src/RooChebychev.cxx
  roofit/roofit/src/RooChiSquarePdf.cxx
  roofit/roofit/src/RooExpPoly.cxx
  roofit/roofit/src/RooGaussModel.cxx
  roofit/roofit/src/RooJohnson.cxx
  roofit/roofit/src/RooPoisson.cxx
  roofit/roofit/src/RooPower.cxx
  roofit/roofitcore/src/RooAddModel.cxx
  roofit/roofitcore/src/RooAddPdf.cxx
  roofit/roofitcore/src/RooAddition.cxx
  roofit/roofitcore/src/RooNormalizedPdf.cxx
  roofit/roofitcore/src/RooPolyVar.cxx
  roofit/roofitcore/src/RooProdPdf.cxx
  roofit/roofitcore/src/RooTruthModel.cxx
Owners: @lmoneta, @guitargeek

[math] Fix copy-paste error in `math/mathmore/test/CMakeLists.txt`
  math/mathmore/test/CMakeLists.txt
Owners: @bellenot

[ratioplot] use static_cast
  graf2d/gpad/src/TRatioPlot.cxx
Owners: @couet

[ntuple] fix exception handling when adding fields
  tree/ntuple/v7/inc/ROOT/RNTupleModel.hxx
  tree/ntuple/v7/src/RNTupleModel.cxx
  tree/ntuple/v7/test/ntuple_basics.cxx
Owners: @jblomer

[CI] Remove `minuit2` option from CI configuration
  .github/workflows/root-ci-config/buildconfig/global.txt
Owners: @dpiparo

[cmake] Remove deprecated `minuit2` build option
  cmake/modules/RootBuildOptions.cmake
Owners: @bellenot

Readjust the representation of CallFunc arguments to match the callee signature.
  core/metacling/src/TClingCallFunc.cxx
  core/metacling/test/TClingCallFuncTests.cxx
Owners: @dpiparo, @pcanal

[RF] Don't consider implicit MT in RooBatchCompute
  roofit/batchcompute/CMakeLists.txt
  roofit/batchcompute/src/RooBatchCompute.cxx
Owners: @bellenot, @lmoneta, @guitargeek

[ratioplot] call pads modified once when range is changed
  graf2d/gpad/src/TRatioPlot.cxx
Owners: @couet

Make argument adjustment in SetArg if the function signature is available.
  core/metacling/src/TClingCallFunc.cxx
  core/metacling/src/TClingCallFunc.h
Owners: @dpiparo, @pcanal

[ntuple] forbid RNTuple I/O of unsplittable classes
  tree/ntuple/v7/doc/specifications.md
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/rfield_class.cxx
Owners: @jblomer

[ntuple] fail gracefully on attempt to create cyclic class
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/CustomStruct.hxx
  tree/ntuple/v7/test/CustomStructLinkDef.h
  tree/ntuple/v7/test/rfield_class.cxx
Owners: @jblomer

[RF] Reduce runtime of some RooStats tutorials by using less toys
  tutorials/roostats/HybridInstructional.C
  tutorials/roostats/HybridStandardForm.C
Owners: @couet

[hstack] fix THStack::GetZaxis()
  hist/hist/src/THStack.cxx
Owners: @lmoneta

[core] Use ExpandPathName(TString&) to prevent mem leaks (ROOT-7280):
  core/base/src/TApplication.cxx
Owners: @dpiparo, @pcanal

[ratioplot] update image sizes in stressGraphics
  test/stressGraphics.ref
  test/stressGraphics_builtinzlib.ref
Owners: @dpiparo

[ratioplot] check and connect signals handles also in Paint
  graf2d/gpad/inc/TRatioPlot.h
  graf2d/gpad/src/TRatioPlot.cxx
Owners: @couet

[thstack] use correct type in cast
  hist/hist/src/THStack.cxx
Owners: @lmoneta

[thstack] delete in destructor all objects
  hist/hist/src/THStack.cxx
Owners: @lmoneta

[skip ci][ci] Use correct indentation in workflow yml file
  .github/workflows/root-ci.yml
Owners: @dpiparo

[ratioplot] only update axis attributes when painting
  graf2d/gpad/inc/TRatioPlot.h
  graf2d/gpad/src/TRatioPlot.cxx
Owners: @couet

[tree] Add test for TTreeIndex::Clone
  tree/treeplayer/test/CMakeLists.txt
  tree/treeplayer/test/ttreeindex_clone.cxx
Owners: @bellenot, @pcanal

[ci] Add buildconfig for mac-beta
  .github/workflows/root-ci-config/buildconfig/mac-beta.txt
Owners: @dpiparo

[cmake] Fix invalid use of `minuit2` flag
  roofit/roostats/test/CMakeLists.txt
Owners: @bellenot

[io] Prevent potential leaks from ExpandPathName (ROOT-7280):
  io/io/src/TFile.cxx
Owners: @pcanal

[ci] Add mac-beta runner
  .github/workflows/root-ci.yml
Owners: @dpiparo

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
