Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[RF] MultiProcess: worker to master multipart messages
  roofit/multiprocess/res/RooFit/MultiProcess/Messenger.h
  roofit/multiprocess/res/RooFit/MultiProcess/Messenger_decl.h
  roofit/multiprocess/src/Messenger.cxx
Owners: @lmoneta, @guitargeek

[RF] extend testNaNPacker with demonstrations of arithmetic
  roofit/roofitcore/test/testNaNPacker.cxx
Owners: @lmoneta, @guitargeek

[RF] extend testRooAbsL with comparisons to RooNLLVar
  roofit/roofitcore/test/TestStatistics/testRooAbsL.cxx
Owners: @lmoneta, @guitargeek

[RF] implement full TestStatistics::RooAbsL::constOptimizeTestStatistic
  roofit/roofitcore/src/TestStatistics/ConstantTermsOptimizer.cxx
  roofit/roofitcore/src/TestStatistics/ConstantTermsOptimizer.h
  roofit/roofitcore/src/TestStatistics/RooAbsL.cxx
  roofit/roofitcore/test/TestStatistics/testRooAbsL.cxx
Owners: @lmoneta, @guitargeek

[RF] implement full TestStatistics::RooAbsL::constOptimizeTestStatistic
  roofit/roofitcore/src/TestStatistics/ConstantTermsOptimizer.cxx
  roofit/roofitcore/src/TestStatistics/ConstantTermsOptimizer.h
  roofit/roofitcore/src/TestStatistics/RooAbsL.cxx
  roofit/roofitcore/test/TestStatistics/testRooAbsL.cxx
Owners: @lmoneta, @guitargeek

[RF] extend testNaNPacker with demonstrations of arithmetic
  roofit/roofitcore/test/testNaNPacker.cxx
Owners: @lmoneta, @guitargeek

[RF] extend testRooAbsL with comparisons to RooNLLVar
  roofit/roofitcore/test/TestStatistics/testRooAbsL.cxx
Owners: @lmoneta, @guitargeek

[df] Delete allocated node before throwing error
  tree/dataframe/src/RDFInterfaceUtils.cxx
Owners: @martamaja10, @vepadulano

[df] Delete allocated node before throwing error
  tree/dataframe/src/RDFInterfaceUtils.cxx
Owners: @martamaja10, @vepadulano

[RF] Move remaining RooFit tests in `test/` into `roofit/`
  roofit/roofit/test/CMakeLists.txt
  roofit/roofit/test/GaussFunction.h
  roofit/roofit/test/MinimizerTypes.h
  roofit/roofit/test/WrapperRooPdf.h
  roofit/roofit/test/testFitPerf.cxx
  roofit/roofit/test/testRooFit.cxx
  test/CMakeLists.txt
  test/fit/CMakeLists.txt
  test/fit/GaussFunction.h
Owners: @bellenot, @lmoneta, @guitargeek, @dpiparo

[RF] Move remaining RooFit tests in `test/` into `roofit/`
  roofit/roofit/test/CMakeLists.txt
  roofit/roofit/test/GaussFunction.h
  roofit/roofit/test/MinimizerTypes.h
  roofit/roofit/test/WrapperRooPdf.h
  roofit/roofit/test/testFitPerf.cxx
  roofit/roofit/test/testRooFit.cxx
  test/CMakeLists.txt
  test/fit/CMakeLists.txt
  test/fit/GaussFunction.h
Owners: @bellenot, @lmoneta, @guitargeek, @dpiparo

[RF] Move remaining RooFit tests in `test/` into `roofit/`
  roofit/roofit/test/CMakeLists.txt
  roofit/roofit/test/GaussFunction.h
  roofit/roofit/test/MinimizerTypes.h
  roofit/roofit/test/WrapperRooPdf.h
  roofit/roofit/test/testFitPerf.cxx
  roofit/roofit/test/testRooFit.cxx
  test/CMakeLists.txt
  test/fit/CMakeLists.txt
  test/fit/GaussFunction.h
Owners: @bellenot, @lmoneta, @guitargeek, @dpiparo

[skip ci][ci] New schedule for nightly builds
  .github/workflows/root-626.yml
  .github/workflows/root-628.yml
  .github/workflows/root-630.yml
  .github/workflows/root-632.yml
Owners: @dpiparo

[skip ci][ci] New string to skip CI
  .github/workflows/root-ci.yml
Owners: @dpiparo

[webgui] simplify test if file exists in CEF
  gui/cefdisplay/src/gui_handler.cxx
Owners: @linev

[webgui] reduce debug output
  gui/webgui6/src/TWebCanvas.cxx
Owners: @linev

[webgui] simplify test if file exists in CEF
  gui/cefdisplay/src/gui_handler.cxx
Owners: @linev

[webgui] proper authentication test for CEF and Qt5
  gui/webdisplay/src/RWebWindow.cxx
Owners: @linev

[http] remove debug output
  net/http/src/THttpServer.cxx
Owners: @linev

[webgui] reduce debug output
  gui/webgui6/src/TWebCanvas.cxx
Owners: @linev

[http] remove debug output
  net/http/src/THttpServer.cxx
Owners: @linev

[webgui] proper authentication test for CEF and Qt5
  gui/webdisplay/src/RWebWindow.cxx
Owners: @linev

[webgui] reduce debug output
  gui/webgui6/src/TWebCanvas.cxx
Owners: @linev

[http] remove debug output
  net/http/src/THttpServer.cxx
Owners: @linev

[webgui] proper authentication test for CEF and Qt5
  gui/webdisplay/src/RWebWindow.cxx
Owners: @linev

[webgui] simplify test if file exists in CEF
  gui/cefdisplay/src/gui_handler.cxx
Owners: @linev

[skip ci][ci] New string to skip CI
  .github/workflows/root-ci.yml
Owners: @dpiparo

[skip ci][ci] New string to skip CI
  .github/workflows/root-ci.yml
Owners: @dpiparo

[skip-ci][ci] Add action to harvest solved issues per project
  .github/workflows/projFixedIssues.yml
  build/misc/get_solved_issues-github-actions.py
Owners: @dpiparo

[skip-ci][ci] Add action to harvest solved issues per project
  .github/workflows/projFixedIssues.yml
  build/misc/get_solved_issues-github-actions.py
Owners: @dpiparo

[ci] Add copyright statement and authors
  build/misc/get_solved_issues-github-actions.py
Owners: @dpiparo

[ci] Update action
  .github/workflows/projFixedIssues.yml
Owners: @dpiparo

[interpreter] Disable LLVM_ENABLE_WARNINGS for builtin_clang
  interpreter/CMakeLists.txt
Owners: @bellenot

[ci] Update action
  .github/workflows/projFixedIssues.yml
Owners: @dpiparo

[ci] Add copyright statement and authors
  build/misc/get_solved_issues-github-actions.py
Owners: @dpiparo

[ci] Update action
  .github/workflows/projFixedIssues.yml
Owners: @dpiparo

[ci] Add copyright statement and authors
  build/misc/get_solved_issues-github-actions.py
Owners: @dpiparo

[ci] Update secret settings
  .github/workflows/projFixedIssues.yml
  build/misc/get_solved_issues-github-actions.py
Owners: @dpiparo

[ci] Update secret settings
  .github/workflows/projFixedIssues.yml
  build/misc/get_solved_issues-github-actions.py
Owners: @dpiparo

[core] Upgrade openssl and davix builtin versions
  builtins/davix/CMakeLists.txt
  builtins/openssl/CMakeLists.txt
  builtins/openssl/openssl-darwin64-aarch64-cc.diff
Owners: @bellenot, @dpiparo
