Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[skip-ci] missing treeplayer defgroup
  tree/treeplayer/src/TTreePlayer.cxx
Owners: @pcanal

[skip-ci] missing treeplayer defgroup
  tree/treeplayer/src/TTreePlayer.cxx
Owners: @pcanal

[skip-ci] missing paramfunctor defgroup
  math/mathcore/inc/Math/ParamFunctor.h
Owners: @lmoneta

[skip-ci] missing counterpart of qt5webdisplay
  gui/qt6webdisplay/index.md
Owners: @bellenot

[skip-ci] avoid one-class group
  math/mathmore/src/GSLMultiRootFunctionWrapper.h
Owners: @lmoneta

[skip-ci] missing stdext defgroup
  core/base/doc/index.md
Owners: @dpiparo, @pcanal

[skip-ci] fix typo
  hist/hist/src/TGraphSmooth.cxx
Owners: @lmoneta

[skip-ci] missing paramfunctor defgroup
  math/mathcore/inc/Math/ParamFunctor.h
Owners: @lmoneta

[skip-ci] remove redundancy
  tree/ntuple/v7/doc/README.md
Owners: @jblomer

[skip-ci] rename to matching defined group
  core/thread/inc/ROOT/TSpinMutex.hxx
  core/thread/inc/ROOT/TThreadedObject.hxx
Owners: @dpiparo, @pcanal

[skip-ci] fix typo in group name
  tutorials/graphs/hlGraph1.C
Owners: @couet

[skip-ci] fix more typos and undefined params
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/src/ConstraintHelpers.cxx
  roofit/roofitcore/src/RooAbsData.cxx
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooAddPdf.cxx
  roofit/roofitcore/src/RooAddition.cxx
  tutorials/graphs/graphreverse.C
Owners: @lmoneta, @guitargeek, @couet

[skip-ci] missing defgroup REve
  graf3d/eve7/src/REveTypes.cxx
Owners: @osschar, @linev

[skip-ci] fix roofit typos
  roofit/hs3/src/RooJSONFactoryWSTool.cxx
  roofit/roofitcore/src/MemPoolForRooSets.h
Owners: @lmoneta, @guitargeek

[skip-ci] fix file typos
  roofit/roofitcore/inc/RooAbsSelfCachedReal.h
  tree/ntupleutil/v7/inc/ROOT/RNTupleImporter.hxx
  tree/ntupleutil/v7/inc/ROOT/RNTupleInspector.hxx
Owners: @lmoneta, @guitargeek, @jblomer

[skip-ci] fix copy-paste typo
  graf3d/gl/src/TGLSelectRecord.cxx
Owners: @couet

[roofit] Fix unused parameter warning
  roofit/roofit/inc/RooCBShape.h
  roofit/roofit/src/RooCBShape.cxx
Owners: @lmoneta, @guitargeek

[CMake] Move connection check for `clad` after RootBuildOptions
  CMakeLists.txt
Owners: @bellenot

[proof] Remove call to deprecated `TList` constructor
  README/ReleaseNotes/v632/index.md
  proof/proof/inc/TProofOutputList.h
Owners: @dpiparo, @gganis

[interpreter] Comply with CMP0148
  interpreter/CMakeLists.txt
  interpreter/cling/CMakeLists.txt
Owners: @bellenot

[RF] Support RooBernstein in code generation for AD
  roofit/roofit/inc/RooBernstein.h
  roofit/roofit/src/RooBernstein.cxx
  roofit/roofit/src/RooLandau.cxx
  roofit/roofit/test/testRooBernstein.cxx
  roofit/roofitcore/inc/RooFit/Detail/AnalyticalIntegrals.h
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Owners: @lmoneta, @guitargeek

[skip-ci][windows][cling] Export missing symbols
  interpreter/cling/tools/driver/CMakeLists.txt
Owners: @bellenot

Builtin CFITSIO: 3.45 -> 4.4.0
  builtins/cfitsio/CMakeLists.txt
  builtins/cfitsio/cfitsio-no-find-zlib.diff
  builtins/cfitsio/no-fortran-wrapper.diff
  cmake/modules/FindCFITSIO.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  graf2d/fitsio/CMakeLists.txt
Owners: @bellenot, @dpiparo

[RF] MultiProcess: worker to master multipart messages
  roofit/multiprocess/res/RooFit/MultiProcess/Messenger.h
  roofit/multiprocess/res/RooFit/MultiProcess/Messenger_decl.h
  roofit/multiprocess/src/Messenger.cxx
Owners: @lmoneta, @guitargeek

[RF] implement full TestStatistics::RooAbsL::constOptimizeTestStatistic
  roofit/roofitcore/src/TestStatistics/ConstantTermsOptimizer.cxx
  roofit/roofitcore/src/TestStatistics/ConstantTermsOptimizer.h
  roofit/roofitcore/src/TestStatistics/RooAbsL.cxx
  roofit/roofitcore/test/TestStatistics/testRooAbsL.cxx
Owners: @lmoneta, @guitargeek

[RF] extend testRooAbsL with comparisons to RooNLLVar
  roofit/roofitcore/test/TestStatistics/testRooAbsL.cxx
Owners: @lmoneta, @guitargeek

[RF] extend testNaNPacker with demonstrations of arithmetic
  roofit/roofitcore/test/testNaNPacker.cxx
Owners: @lmoneta, @guitargeek

[RF] Move remaining RooFit tests in `test/` into `roofit/`
  roofit/roofit/test/CMakeLists.txt
  roofit/roofit/test/GaussFunction.h
  roofit/roofit/test/MinimizerTypes.h
  roofit/roofit/test/WrapperRooPdf.h
  roofit/roofit/test/testFitPerf.cxx
  roofit/roofit/test/testRooFit.cxx
  test/CMakeLists.txt
  test/fit/CMakeLists.txt
  test/fit/GaussFunction.h
Owners: @bellenot, @lmoneta, @guitargeek, @dpiparo

[skip-ci] define missing doxygen groups
  core/base/doc/index.md
  core/foundation/res/TSpinLockGuard.h
  core/thread/inc/ROOT/TSpinMutex.hxx
  core/thread/inc/ROOT/TThreadedObject.hxx
  graf3d/eve7/src/REveTypes.cxx
  graf3d/gl/src/TGLSelectRecord.cxx
  gui/qt6webdisplay/index.md
  hist/hist/src/TGraphSmooth.cxx
  hist/histv7/inc/ROOT/RHistView.hxx
  math/mathcore/inc/Math/ParamFunctor.h
  math/mathmore/src/GSLMultiRootFunctionWrapper.h
  math/minuit/inc/TMinuitMinimizer.h
  math/unuran/inc/TUnuranBaseDist.h
  roofit/batchcompute/res/RooBatchCompute.h
  roofit/batchcompute/src/Batches.h
  roofit/batchcompute/src/ComputeFunctions.cxx
  roofit/batchcompute/src/RooBatchCompute.cu
  roofit/batchcompute/src/RooBatchCompute.cxx
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/hs3/src/RooJSONFactoryWSTool.cxx
  roofit/roofitcore/inc/RooAbsSelfCachedReal.h
  roofit/roofitcore/src/ConstraintHelpers.cxx
  roofit/roofitcore/src/MemPoolForRooSets.h
  roofit/roofitcore/src/RooAbsData.cxx
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooAddPdf.cxx
  roofit/roofitcore/src/RooAddition.cxx
  tree/ntuple/v7/doc/README.md
  tree/ntupleutil/v7/inc/ROOT/RNTupleImporter.hxx
  tree/ntupleutil/v7/inc/ROOT/RNTupleInspector.hxx
  tree/treeplayer/src/TTreePlayer.cxx
  tutorials/graphs/graphreverse.C
  tutorials/graphs/hlGraph1.C
  tutorials/index.md
  tutorials/proof/ProofNtuple.C
  tutorials/proof/ProofNtuple.h
  tutorials/proof/ProofPythia.C
  tutorials/proof/ProofPythia.h
Owners: @dpiparo, @pcanal, @osschar, @linev, @couet, @bellenot, @lmoneta, @guitargeek, @jblomer

[rntuple] Default initialize data member of RNTupleLocator
  tree/ntuple/v7/inc/ROOT/RNTupleUtil.hxx
Owners: @jblomer

[rntuple] Default initialize data member of RNTupleLocator
  tree/ntuple/v7/inc/ROOT/RNTupleUtil.hxx
Owners: @jblomer

[tmva] Remove unused class variables
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
  tmva/tmva/inc/TMVA/RChunkLoader.hxx
Owners: @lmoneta

[ci] Access GITHUB_TOKEN
  .github/workflows/projFixedIssues.yml
Owners: @dpiparo

[ci] Access GITHUB_TOKEN
  .github/workflows/projFixedIssues.yml
Owners: @dpiparo

[ci] Use GITHUB_TOKEN to get list of solved issues
  build/misc/get_solved_issues-github-actions.py
Owners: @dpiparo

[ci] Use GITHUB_TOKEN to get list of solved issues
  build/misc/get_solved_issues-github-actions.py
Owners: @dpiparo

[core] Upgrade openssl and davix builtin versions
  builtins/davix/CMakeLists.txt
  builtins/openssl/CMakeLists.txt
  builtins/openssl/openssl-darwin64-aarch64-cc.diff
Owners: @bellenot, @dpiparo

[core] Upgrade openssl and davix builtin versions
  builtins/davix/CMakeLists.txt
  builtins/openssl/CMakeLists.txt
  builtins/openssl/openssl-darwin64-aarch64-cc.diff
Owners: @bellenot, @dpiparo

split targets for better structure
  documentation/doxygen/CMakeLists.txt
  documentation/doxygen/Doxyfile
  documentation/doxygen/filter.cxx
Owners: @bellenot, @couet

fix bug: multiple COMMAND must share WORKING_DIRECTORY
  documentation/doxygen/CMakeLists.txt
  documentation/doxygen/modifyClassWebpage.sh
  documentation/doxygen/modifyClassWebpages.sh
Owners: @bellenot, @couet
