Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

Update .gitignore
  .gitignore
Owners: @dpiparo

fix typo
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

temporarily disable tutorials
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

[ci] Add doxygen generation workflow
  .github/workflows/root-docs.yml
Owners: @dpiparo

try run on mac runner
  .github/workflows/root-ci-config/build_root.py
  .github/workflows/root-docs.yml
Owners: @dpiparo

add timer
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

Create archive before uploading artifact
  .github/workflows/root-docs.yml
Owners: @dpiparo

build all docu
  .github/workflows/root-docs.yml
Owners: @dpiparo

switch to mac12 that is x64
  .github/workflows/root-docs.yml
  documentation/doxygen/CMakeLists.txt
Owners: @dpiparo, @bellenot

try with dmg doxygen
  .github/workflows/root-docs.yml
Owners: @dpiparo

[ci] Add documentation option to build_root.py
  .github/workflows/root-ci-config/build_root.py
Owners: @dpiparo

[interpreter] Avoid GCC notes about misleading-indentation
  interpreter/CMakeLists.txt
Owners: @bellenot

[interpreter] Disable LLVM_ENABLE_WARNINGS for builtin_clang
  interpreter/CMakeLists.txt
Owners: @bellenot

[interpreter] Avoid GCC notes about misleading-indentation
  interpreter/CMakeLists.txt
Owners: @bellenot

[interpreter] Disable LLVM_ENABLE_WARNINGS for builtin_clang
  interpreter/CMakeLists.txt
Owners: @bellenot

Remove workaround for ABI_BREAKING_CHECKS
  interpreter/CMakeLists.txt
Owners: @bellenot

[RF] Disable RooNaNPacker.PackedNaNPreservedAfterArithmetic on Windows
  roofit/roofitcore/test/testNaNPacker.cxx
Owners: @lmoneta, @guitargeek

[RF] Disable RooNaNPacker.PackedNaNPreservedAfterArithmetic on Windows
  roofit/roofitcore/test/testNaNPacker.cxx
Owners: @lmoneta, @guitargeek

[core] Change version string to X.Y.Z
  bindings/pyroot/pythonizations/test/root_module.py
  core/base/src/TROOT.cxx
  core/foundation/inc/ROOT/RVersion.hxx
Owners: @dpiparo, @vepadulano, @pcanal

[io] Improve warning message
  io/io/src/TFile.cxx
Owners: @pcanal

[interpreter] Disable LLVM_ENABLE_WARNINGS for builtin_clang
  interpreter/CMakeLists.txt
Owners: @bellenot

[interpreter] Avoid GCC notes about misleading-indentation
  interpreter/CMakeLists.txt
Owners: @bellenot

[hist] TGraph::SaveAs title was using incoherent delimiter
  hist/hist/src/TGraph.cxx
Owners: @lmoneta

[core] Upgrade openssl and davix builtin versions
  builtins/davix/CMakeLists.txt
  builtins/openssl/CMakeLists.txt
  builtins/openssl/openssl-darwin64-aarch64-cc.diff
Owners: @bellenot, @dpiparo

[glew] Remove broken end of string checks in _glewStrSame
  builtins/glew/src/glew.c
Owners: @dpiparo

[glew] Remove broken end of string checks in _glewStrSame
  builtins/glew/src/glew.c
Owners: @dpiparo

[ci] Enable distributed RDataFrame testing on MacOS
  .github/workflows/root-ci-config/buildconfig/mac-beta.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
Owners: @dpiparo

[RF] Disable RooNaNPacker.PackedNaNPreservedAfterArithmetic on Windows
  roofit/roofitcore/test/testNaNPacker.cxx
Owners: @lmoneta, @guitargeek

[RF] Disable RooNaNPacker.PackedNaNPreservedAfterArithmetic on Windows
  roofit/roofitcore/test/testNaNPacker.cxx
Owners: @lmoneta, @guitargeek

[skip-ci] define missing doxygen groups
  core/base/doc/index.md
  core/foundation/res/TSpinLockGuard.h
  core/thread/inc/ROOT/TSpinMutex.hxx
  core/thread/inc/ROOT/TThreadedObject.hxx
  graf3d/eve7/src/REveTypes.cxx
  graf3d/gl/src/TGLSelectRecord.cxx
  gui/qt6webdisplay/index.md
  hist/hist/src/TGraphSmooth.cxx
  hist/histv7/inc/ROOT/RHistView.hxx
  math/mathcore/inc/Math/ParamFunctor.h
  math/mathmore/src/GSLMultiRootFunctionWrapper.h
  math/minuit/inc/TMinuitMinimizer.h
  math/unuran/inc/TUnuranBaseDist.h
  roofit/batchcompute/res/RooBatchCompute.h
  roofit/batchcompute/src/Batches.h
  roofit/batchcompute/src/ComputeFunctions.cxx
  roofit/batchcompute/src/RooBatchCompute.cu
  roofit/batchcompute/src/RooBatchCompute.cxx
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/hs3/src/RooJSONFactoryWSTool.cxx
  roofit/roofitcore/inc/RooAbsSelfCachedReal.h
  roofit/roofitcore/src/ConstraintHelpers.cxx
  roofit/roofitcore/src/MemPoolForRooSets.h
  roofit/roofitcore/src/RooAbsData.cxx
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooAddPdf.cxx
  roofit/roofitcore/src/RooAddition.cxx
  tree/ntuple/v7/doc/README.md
  tree/ntupleutil/v7/inc/ROOT/RNTupleImporter.hxx
  tree/ntupleutil/v7/inc/ROOT/RNTupleInspector.hxx
  tree/treeplayer/src/TTreePlayer.cxx
  tutorials/graphs/graphreverse.C
  tutorials/graphs/hlGraph1.C
  tutorials/index.md
  tutorials/proof/ProofNtuple.C
  tutorials/proof/ProofNtuple.h
  tutorials/proof/ProofPythia.C
  tutorials/proof/ProofPythia.h
Owners: @dpiparo, @pcanal, @osschar, @linev, @couet, @bellenot, @lmoneta, @guitargeek, @jblomer

[CMake] Move connection check for `clad` after RootBuildOptions
  CMakeLists.txt
Owners: @bellenot

[interpreter] Comply with CMP0148
  interpreter/CMakeLists.txt
  interpreter/cling/CMakeLists.txt
Owners: @bellenot

[RF] Move remaining RooFit tests in `test/` into `roofit/`
  roofit/roofit/test/CMakeLists.txt
  roofit/roofit/test/GaussFunction.h
  roofit/roofit/test/MinimizerTypes.h
  roofit/roofit/test/WrapperRooPdf.h
  roofit/roofit/test/testFitPerf.cxx
  roofit/roofit/test/testRooFit.cxx
  test/CMakeLists.txt
  test/fit/CMakeLists.txt
  test/fit/GaussFunction.h
Owners: @bellenot, @lmoneta, @guitargeek, @dpiparo

[interpreter] Disable LLVM_ENABLE_WARNINGS for builtin_clang
  interpreter/CMakeLists.txt
Owners: @bellenot

[RF] Disable RooNaNPacker.PackedNaNPreservedAfterArithmetic on Windows
  roofit/roofitcore/test/testNaNPacker.cxx
Owners: @lmoneta, @guitargeek

[proof] Remove call to deprecated `TList` constructor
  README/ReleaseNotes/v632/index.md
  proof/proof/inc/TProofOutputList.h
Owners: @dpiparo, @gganis

[RF] extend testRooAbsL with comparisons to RooNLLVar
  roofit/roofitcore/test/TestStatistics/testRooAbsL.cxx
Owners: @lmoneta, @guitargeek

[interpreter] Avoid GCC notes about misleading-indentation
  interpreter/CMakeLists.txt
Owners: @bellenot

[roofit] Fix unused parameter warning
  roofit/roofit/inc/RooCBShape.h
  roofit/roofit/src/RooCBShape.cxx
Owners: @lmoneta, @guitargeek

[RF] Support RooBernstein in code generation for AD
  roofit/roofit/inc/RooBernstein.h
  roofit/roofit/src/RooBernstein.cxx
  roofit/roofit/src/RooLandau.cxx
  roofit/roofit/test/testRooBernstein.cxx
  roofit/roofitcore/inc/RooFit/Detail/AnalyticalIntegrals.h
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Owners: @lmoneta, @guitargeek
