Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

[PyROOT] Refactor `rtensor` test to be more granular
  bindings/pyroot/pythonizations/test/rtensor.py
Owners: @dpiparo, @vepadulano

[RF] Fixup to recent change in `PiecewiseInterpolation::translate()`
  roofit/histfactory/src/PiecewiseInterpolation.cxx
Owners: @lmoneta, @guitargeek

[RF] Improve RooLandau tests in `testRooFuncWrapper`
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Owners: @lmoneta, @guitargeek

[RF] Merge EvaluateFuncs and AnalyticalIntegrals header
  roofit/doc/developers/roofit_ad.md
  roofit/histfactory/src/FlexibleInterpVar.cxx
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofit/src/RooBernstein.cxx
  roofit/roofit/src/RooBifurGauss.cxx
  roofit/roofit/src/RooCBShape.cxx
  roofit/roofit/src/RooChebychev.cxx
  roofit/roofit/src/RooExponential.cxx
  roofit/roofit/src/RooGaussian.cxx
  roofit/roofit/src/RooLandau.cxx
  roofit/roofit/src/RooLognormal.cxx
  roofit/roofit/src/RooPoisson.cxx
  roofit/roofit/src/RooPolynomial.cxx
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
  roofit/roofitcore/src/RooConstraintSum.cxx
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooEffProd.cxx
  roofit/roofitcore/src/RooEfficiency.cxx
  roofit/roofitcore/src/RooNLLVarNew.cxx
  roofit/roofitcore/src/RooNormalizedPdf.h
  roofit/roofitcore/src/RooPolyVar.cxx
  roofit/roofitcore/src/RooRatio.cxx
  roofit/roofitcore/src/RooRecursiveFraction.cxx
  roofit/roofitcore/src/RooTruthModel.cxx
Owners: @lmoneta, @guitargeek, @bellenot

[RF] Optimize code generated from `PiecewiseInterpolation` for use in AD
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooHistFunc.h
Owners: @lmoneta, @guitargeek

[math][RF] Define pullbacks of `ROOT::Math::landau` functions for AD
  math/mathcore/inc/Math/CladDerivator.h
Owners: @lmoneta

Add fit/exampleFit3D.C to clad veto
  tutorials/CMakeLists.txt
Owners: @bellenot

Fix pythonizations test errors on ix86 Linux
  bindings/pyroot/pythonizations/test/rdataframe_makenumpy.py
  bindings/pyroot/pythonizations/test/rtensor.py
Owners: @dpiparo, @vepadulano

FOAM tutorials translated into Python.
  tutorials/pyfoam/foam_demo.py
  tutorials/pyfoam/foam_demo.root
  tutorials/pyfoam/foam_demopers.py
  tutorials/pyfoam/foam_kanwa.py
  tutorials/pyfoam/index.md
Owners: @couet

Fix pythonizations test errors on ix86 Linux
  bindings/pyroot/pythonizations/test/rdataframe_makenumpy.py
  bindings/pyroot/pythonizations/test/rtensor.py
Owners: @dpiparo, @vepadulano

[PyROOT] Refactor `rtensor` test to be more granular
  bindings/pyroot/pythonizations/test/rtensor.py
Owners: @dpiparo, @vepadulano

Fix pythonizations test errors on ix86 Linux
  bindings/pyroot/pythonizations/test/rdataframe_makenumpy.py
  bindings/pyroot/pythonizations/test/rtensor.py
Owners: @dpiparo, @vepadulano

[PyROOT] Refactor `rtensor` test to be more granular
  bindings/pyroot/pythonizations/test/rtensor.py
Owners: @dpiparo, @vepadulano

Add fit/exampleFit3D.C to clad veto
  tutorials/CMakeLists.txt
Owners: @bellenot

Add fit/exampleFit3D.C to clad veto
  tutorials/CMakeLists.txt
Owners: @bellenot

Matrix tutorials translated into Python.
  tutorials/pymatrix/decomposeQR.py
  tutorials/pymatrix/invertMatrix.py
  tutorials/pymatrix/solveLinear.py
Owners: @couet

Physics tutorials translated into Python.
  tutorials/pyphysics/PhaseSpace.png
  tutorials/pyphysics/PhaseSpace.py
Owners: @couet

Fix compilation error with giflib 5
  graf2d/asimage/src/libAfterImage/ungif.c
Owners: @couet

Update libAfterImage configure file to match configure.in
  graf2d/asimage/src/libAfterImage/configure
Owners: @couet

Make it possible to use the system giflib with the builtin libAfterImage
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

Fix compilation error with giflib 5
  graf2d/asimage/src/libAfterImage/ungif.c
Owners: @couet

Update libAfterImage configure file to match configure.in
  graf2d/asimage/src/libAfterImage/configure
Owners: @couet

Some minor indentation fixes
  graf2d/asimage/src/libAfterImage/export.c
  graf2d/asimage/src/libAfterImage/import.c
  graf2d/asimage/src/libAfterImage/ungif.c
Owners: @couet

Port libAfterImage configure script to C99.
  graf2d/asimage/src/libAfterImage/configure
Owners: @couet

Make it possible to use the system giflib with the builtin libAfterImage
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

Port libAfterImage configure script to C99.
  graf2d/asimage/src/libAfterImage/configure
Owners: @couet

Some minor indentation fixes
  graf2d/asimage/src/libAfterImage/export.c
  graf2d/asimage/src/libAfterImage/import.c
  graf2d/asimage/src/libAfterImage/ungif.c
Owners: @couet

[RF] Rename RooPower and RooExpPoly to avoid clash with classes fom CMS
  README/ReleaseNotes/v632/index.md
  documentation/doxygen/images/RooLegacyExpPoly.png
  documentation/doxygen/images/RooPowerSum.png
  etc/RooFitHS3_wsexportkeys.json
  etc/RooFitHS3_wsfactoryexpressions.json
  roofit/hs3/src/JSONFactories_RooFitCore.cxx
  roofit/hs3/test/testRooFitHS3.cxx
  roofit/roofit/CMakeLists.txt
  roofit/roofit/inc/LinkDef1.h
  roofit/roofit/inc/RooLegacyExpPoly.h
  roofit/roofit/inc/RooPowerSum.h
  roofit/roofit/src/RooLegacyExpPoly.cxx
  roofit/roofit/src/RooPowerSum.cxx
  roofit/roofitcore/test/testTestStatistics.cxx
  tutorials/roofit/rf614_binned_fit_problems.C
  tutorials/roofit/rf614_binned_fit_problems.py
Owners: @dpiparo, @couet, @lmoneta, @guitargeek, @bellenot

[RF] Rename RooPower and RooExpPoly to avoid clash with classes fom CMS
  README/ReleaseNotes/v632/index.md
  documentation/doxygen/images/RooLegacyExpPoly.png
  documentation/doxygen/images/RooPowerSum.png
  etc/RooFitHS3_wsexportkeys.json
  etc/RooFitHS3_wsfactoryexpressions.json
  roofit/hs3/src/JSONFactories_RooFitCore.cxx
  roofit/hs3/test/testRooFitHS3.cxx
  roofit/roofit/CMakeLists.txt
  roofit/roofit/inc/LinkDef1.h
  roofit/roofit/inc/RooLegacyExpPoly.h
  roofit/roofit/inc/RooPowerSum.h
  roofit/roofit/src/RooLegacyExpPoly.cxx
  roofit/roofit/src/RooPowerSum.cxx
  roofit/roofitcore/test/testTestStatistics.cxx
  tutorials/roofit/rf614_binned_fit_problems.C
  tutorials/roofit/rf614_binned_fit_problems.py
Owners: @dpiparo, @couet, @lmoneta, @guitargeek, @bellenot

Update libAfterImage configure file to match configure.in
  graf2d/asimage/src/libAfterImage/configure
Owners: @couet

Port libAfterImage configure script to C99.
  graf2d/asimage/src/libAfterImage/configure
Owners: @couet

Make it possible to use the system giflib with the builtin libAfterImage
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

Some minor indentation fixes
  graf2d/asimage/src/libAfterImage/export.c
  graf2d/asimage/src/libAfterImage/import.c
  graf2d/asimage/src/libAfterImage/ungif.c
Owners: @couet

Fix compilation error with giflib 5
  graf2d/asimage/src/libAfterImage/ungif.c
Owners: @couet

[RF] Rename RooPower and RooExpPoly to avoid clash with classes fom CMS
  README/ReleaseNotes/v632/index.md
  documentation/doxygen/images/RooLegacyExpPoly.png
  documentation/doxygen/images/RooPowerSum.png
  etc/RooFitHS3_wsexportkeys.json
  etc/RooFitHS3_wsfactoryexpressions.json
  roofit/hs3/src/JSONFactories_RooFitCore.cxx
  roofit/hs3/test/testRooFitHS3.cxx
  roofit/roofit/CMakeLists.txt
  roofit/roofit/inc/LinkDef1.h
  roofit/roofit/inc/RooLegacyExpPoly.h
  roofit/roofit/inc/RooPowerSum.h
  roofit/roofit/src/RooLegacyExpPoly.cxx
  roofit/roofit/src/RooPowerSum.cxx
  roofit/roofitcore/test/testTestStatistics.cxx
  tutorials/roofit/rf614_binned_fit_problems.C
  tutorials/roofit/rf614_binned_fit_problems.py
Owners: @dpiparo, @couet, @lmoneta, @guitargeek, @bellenot

Do not undef HAVE_STDLIB_H in export.c for libAfterImage
  graf2d/asimage/src/libAfterImage/export.c
Owners: @couet

Add an #ifdef HAVE_STDLIB_H in import.c for consistency, remove undef
  graf2d/asimage/src/libAfterImage/import.c
Owners: @couet

Add an #ifdef HAVE_STDLIB_H in import.c for consistency, remove undef
  graf2d/asimage/src/libAfterImage/import.c
Owners: @couet

Do not undef HAVE_STDLIB_H in export.c for libAfterImage
  graf2d/asimage/src/libAfterImage/export.c
Owners: @couet

Add an #ifdef HAVE_STDLIB_H in import.c for consistency, remove undef
  graf2d/asimage/src/libAfterImage/import.c
Owners: @couet

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
