Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[webgui] fix chrome headless interactive
  gui/webdisplay/src/RWebDisplayHandle.cxx
Owners: @linev

[DF] Change test to avoid double free on Fedora39
  tree/dataframe/test/dataframe_vecops.cxx
Owners: @martamaja10, @vepadulano

add deprecation message
  README/ReleaseNotes/v632/index.md
  cmake/modules/RootBuildOptions.cmake
Owners: @dpiparo, @bellenot

[webgui] do not use --headless=new on mac
  gui/webdisplay/src/RWebDisplayHandle.cxx
Owners: @linev

[core] check once if file suffix provided
  core/unix/src/TUnixSystem.cxx
Owners: @dpiparo, @pcanal

Formatting
  core/imt/inc/ROOT/TExecutor.hxx
  core/imt/src/TExecutor.cxx
Owners: @dpiparo

[hist] Add missing cast to enum and prevent int overflow in TEfficiency
  hist/hist/inc/TEfficiency.h
  hist/hist/src/TEfficiency.cxx
Owners: @lmoneta

[ntuple] split off RNTupleCollectionWriter header
  tree/ntuple/CMakeLists.txt
  tree/ntuple/v7/inc/ROOT/REntry.hxx
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleCollectionWriter.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleModel.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleWriter.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RNTupleModel.cxx
  tree/ntuple/v7/src/RNTupleWriter.cxx
  tree/ntuple/v7/test/ntuple_test.hxx
  tree/ntupleutil/v7/inc/ROOT/RNTupleImporter.hxx
Owners: @bellenot, @jblomer

[cmake] properly use nlohmann in ctest
  tree/dataframe/test/CMakeLists.txt
Owners: @bellenot

[core] add testing for TSystem::TempFileName
  core/base/test/CMakeLists.txt
  core/base/test/TSystemTests.cxx
Owners: @bellenot, @dpiparo, @pcanal

[DF] Adapt tests to changes in Display
  tree/dataframe/test/dataframe_display.cxx
  tree/dataframe/test/datasource_csv.cxx
Owners: @martamaja10, @vepadulano

[ntuple] rename header RNTupleAnchor.hxx --> RNTuple.hxx
  tree/dataframe/src/RLoopManager.cxx
  tree/ntuple/CMakeLists.txt
  tree/ntuple/v7/inc/ROOT/RMiniFile.hxx
  tree/ntuple/v7/inc/ROOT/RNTuple.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageDaos.hxx
  tree/ntuple/v7/src/RNTuple.cxx
  tree/ntuple/v7/src/RNTupleMerger.cxx
  tree/ntuple/v7/src/RNTupleReader.cxx
  tree/ntupleutil/v7/test/ntupleutil_test.hxx
Owners: @martamaja10, @vepadulano, @bellenot, @jblomer

[cmake] do not test chrome version on windows
  cmake/modules/RootConfiguration.cmake
Owners: @bellenot

[cmake] detect major chrome version
  cmake/modules/RootConfiguration.cmake
  config/rootrc.in
Owners: @bellenot, @dpiparo

[win] Fix failing `std::this_thread::sleep_for` (#14786)
  core/metacling/src/CMakeLists.txt
Owners: @bellenot

[ntuple] Change `FromRNTuple` to regular RDF constructor
  tutorials/v7/ntuple/ntpl004_dimuon.C
  tutorials/v7/ntuple/ntpl008_import.C
Owners: @couet

[RF] Fix some typos in RooFit
  roofit/roofitcore/inc/RooAddModel.h
  roofit/roofitcore/inc/RooAddPdf.h
  roofit/roofitcore/inc/RooCompositeDataStore.h
  roofit/roofitcore/inc/RooCustomizer.h
  roofit/roofitcore/inc/RooLinkedListElem.h
  roofit/roofitcore/inc/RooMinimizer.h
  roofit/roofitcore/inc/RooMsgService.h
  roofit/roofitcore/inc/RooNumConvPdf.h
  roofit/roofitcore/inc/RooTreeDataStore.h
  roofit/roofitcore/inc/RooVectorDataStore.h
  roofit/roofitcore/src/RooAbsArg.cxx
  roofit/roofitcore/src/RooCustomizer.cxx
  roofit/roofitcore/src/RooGenProdProj.cxx
  roofit/roofitcore/src/RooHistPdf.cxx
  roofit/roofitcore/src/RooObjCacheManager.cxx
  roofit/roofitcore/src/RooPolyFunc.cxx
  roofit/roofitcore/src/RooVectorDataStore.cxx
  roofit/roofitcore/src/RooWorkspace.cxx
  roofit/roofitcore/test/test_lib.h
  roofit/roostats/src/BayesianCalculator.cxx
  roofit/xroofit/src/xRooNode.cxx
Owners: @lmoneta, @guitargeek

[core] add suffix in TSystem::TempFileName method
  core/base/inc/TSystem.h
  core/base/src/TSystem.cxx
  core/unix/inc/TUnixSystem.h
  core/unix/src/TUnixSystem.cxx
  core/winnt/inc/TWinNTSystem.h
  core/winnt/src/TWinNTSystem.cxx
Owners: @dpiparo, @pcanal

[math][fit] Change FitFCN/SetFCN to pass a flag for the type of fit
  hist/hist/inc/TF1.h
  math/mathcore/inc/Fit/FitResult.h
  math/mathcore/inc/Fit/Fitter.h
  math/mathcore/inc/Math/FitMethodFunction.h
  math/mathcore/src/Fitter.cxx
Owners: @lmoneta

[cmake] Don't set default value for removed `alien` option
  cmake/modules/RootBuildOptions.cmake
Owners: @bellenot

[DF] Speedup RInterface::Display
  tree/dataframe/inc/ROOT/RDF/RDisplay.hxx
Owners: @martamaja10, @vepadulano

[ntuple] make zstd the default
  tree/ntuple/v7/inc/ROOT/RNTupleOptions.hxx
Owners: @jblomer

[webgui] use TSystem::TempFileName
  gui/webdisplay/src/RWebDisplayHandle.cxx
Owners: @linev

[ntuple] split RNTupleOptions header
  tree/ntuple/CMakeLists.txt
  tree/ntuple/v7/inc/ROOT/RMiniFile.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleParallelWriter.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleReadOptions.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleReader.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleWriteOptions.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleWriteOptionsDaos.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/src/RNTupleFillContext.cxx
  tree/ntuple/v7/src/RNTupleWriteOptions.cxx
  tree/ntuple/v7/src/RNTupleWriter.cxx
  tree/ntuple/v7/src/RPageSinkBuf.cxx
  tree/ntuple/v7/src/RPageSourceFriends.cxx
  tree/ntuple/v7/src/RPageStorageDaos.cxx
  tree/ntuple/v7/test/ntuple_cluster.cxx
  tree/ntuple/v7/test/ntuple_endian.cxx
  tree/ntuple/v7/test/ntuple_test.hxx
  tree/ntupleutil/v7/inc/ROOT/RNTupleImporter.hxx
  tree/ntupleutil/v7/src/RNTupleImporter.cxx
  tree/ntupleutil/v7/test/ntuple_inspector.cxx
  tree/ntupleutil/v7/test/ntupleutil_test.hxx
  tutorials/v7/ntuple/ntpl005_introspection.C
  tutorials/v7/ntuple/ntpl011_global_temperatures.C
Owners: @bellenot, @jblomer, @couet

[skip-ci] fix typo trailing brace in docu
  hist/hist/src/TH1.cxx
  hist/hist/src/TH2.cxx
  hist/hist/src/TH3.cxx
Owners: @lmoneta

[cmake] Make Minuit2 build option deprecation warning less alarming
  cmake/modules/RootBuildOptions.cmake
Owners: @bellenot

Remove the deprecated Oracle interface
  cmake/modules/FindOracle.cmake
  cmake/modules/RootBuildOptions.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  sql/CMakeLists.txt
  sql/oracle/CMakeLists.txt
  sql/oracle/doc/index.txt
  sql/oracle/inc/LinkDef.h
  sql/oracle/inc/TOracleResult.h
  sql/oracle/inc/TOracleRow.h
  sql/oracle/inc/TOracleServer.h
  sql/oracle/inc/TOracleStatement.h
  sql/oracle/src/TOracleResult.cxx
  sql/oracle/src/TOracleRow.cxx
  sql/oracle/src/TOracleServer.cxx
  sql/oracle/src/TOracleStatement.cxx
Owners: @bellenot, @pcanal, @linev

[cling] Add TableGen-based generator for command line arguments
  interpreter/CMakeLists.txt
  interpreter/cling/CMakeLists.txt
  interpreter/cling/include/cling/Interpreter/CMakeLists.txt
  interpreter/cling/include/cling/Interpreter/ClingOptions.inc
  interpreter/cling/include/cling/Interpreter/ClingOptions.td
  interpreter/cling/lib/Interpreter/CMakeLists.txt
Owners: @bellenot, @dpiparo

[ntuple] remove unused header
  tree/ntupleutil/v7/inc/ROOT/RNTupleInspector.hxx
  tree/ntupleutil/v7/src/RNTupleInspector.cxx
Owners: @jblomer

[cmake] clarify wording of deprecate-OFF
  cmake/modules/RootBuildOptions.cmake
Owners: @bellenot

[ntuple] use default compression in importer
  tree/ntupleutil/v7/inc/ROOT/RNTupleImporter.hxx
  tree/ntupleutil/v7/src/RNTupleImporter.cxx
Owners: @jblomer

[NFC][cling] Use StringRef::{starts,ends}_with
  interpreter/cling/lib/Interpreter/AutoloadCallback.cpp
  interpreter/cling/lib/Interpreter/BackendPasses.cpp
  interpreter/cling/lib/Interpreter/ClangInternalState.cpp
  interpreter/cling/lib/Interpreter/ClingCodeCompleteConsumer.cpp
  interpreter/cling/lib/Interpreter/DeclUnloader.cpp
  interpreter/cling/lib/Interpreter/DefinitionShadower.cpp
  interpreter/cling/lib/Interpreter/DynamicLibraryManager.cpp
  interpreter/cling/lib/Interpreter/ExternalInterpreterSource.cpp
  interpreter/cling/lib/Interpreter/ForwardDeclPrinter.cpp
  interpreter/cling/lib/Interpreter/Interpreter.cpp
  interpreter/cling/lib/Interpreter/LookupHelper.cpp
  interpreter/cling/lib/Interpreter/NullDerefProtectionTransformer.cpp
  interpreter/cling/lib/MetaProcessor/InputValidator.cpp
  interpreter/cling/lib/MetaProcessor/MetaParser.cpp
  interpreter/cling/lib/Utils/AST.cpp
  interpreter/cling/lib/Utils/Paths.cpp
  interpreter/cling/lib/Utils/PlatformWin.cpp
  interpreter/cling/lib/Utils/SourceNormalization.cpp
Owners: @dpiparo

initial work for for issue #7871
  core/imt/inc/ROOT/TExecutor.hxx
  core/imt/src/TExecutor.cxx
Owners: @dpiparo

Remove the `exceptions` build option
  cmake/modules/RootBuildOptions.cmake
Owners: @bellenot

[ntuple] split off RNTupleFillContext header
  tree/ntuple/CMakeLists.txt
  tree/ntuple/v7/inc/ROOT/RNTupleFillContext.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleWriter.hxx
  tree/ntuple/v7/src/RNTupleFillContext.cxx
  tree/ntuple/v7/src/RNTupleWriter.cxx
  tutorials/v7/ntuple/ntpl009_parallelWriter.C
Owners: @bellenot, @jblomer, @couet

Use always bundled afterimage which contains many fixes
  cmake/modules/RootBuildOptions.cmake
Owners: @bellenot

[webgui] switch --headless=new base on chrome version
  gui/webdisplay/inc/ROOT/RWebDisplayHandle.hxx
  gui/webdisplay/src/RWebDisplayHandle.cxx
Owners: @linev

[NFC][ntuple] docstring fix
  tree/ntuple/v7/inc/ROOT/RNTupleWriter.hxx
Owners: @jblomer

[ntuple] add missing header in tutorial
  tutorials/v7/ntuple/ntpl009_parallelWriter.C
Owners: @couet

[RF] Consistent treatment of empty datasets with new CPU backend
  roofit/batchcompute/src/RooBatchCompute.cu
  roofit/batchcompute/src/RooBatchCompute.cxx
  roofit/roofitcore/inc/RooFit/Detail/BatchModeDataHelpers.h
  roofit/roofitcore/src/BatchModeDataHelpers.cxx
  roofit/roofitcore/src/RooDataSet.cxx
  roofit/roofitcore/src/RooFit/Evaluator.cxx
  roofit/roofitcore/src/RooFuncWrapper.cxx
  roofit/roofitcore/test/testTestStatistics.cxx
Owners: @lmoneta, @guitargeek
