Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[NFC][ntuple] clarify in spec that encoding is page-wise
  tree/ntuple/v7/doc/specifications.md
Owners: @jblomer

[RF] Fixup work around deleted move constructor in `std::span` backport
  roofit/roofitcore/src/RooFit/Evaluator.cxx
Owners: @lmoneta, @guitargeek

[clang] Correctly RAII reset two "new" Sema fields
  interpreter/llvm-project/clang/include/clang/Sema/Sema.h
Owners: @vgvassilev

[df] Enable cloning of AsNumpyResult
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
  bindings/pyroot/pythonizations/test/rdataframe_asnumpy.py
Owners: @dpiparo, @vepadulano

[io] Add rootrc key TFile.v630forwardCompatibility
  config/rootrc.in
  io/io/src/TFile.cxx
Owners: @dpiparo, @pcanal

Make DeltaPhi work with different floating point types
  math/vecops/inc/ROOT/RVec.hxx
Owners: @dpiparo

[skip-ci,math] Specify that returned weight is not normalized
  math/physics/src/TGenPhaseSpace.cxx
Owners: @lmoneta

Add note of the link between TObject and k630forwardCompatibility.
  io/io/inc/TFile.h
Owners: @pcanal

[ntuple] fix CyclicCollectionProxy inheritance (tests)
  tree/ntuple/v7/test/CustomStruct.hxx
Owners: @jblomer

[RF] Always reference data in workspace in `rs101_limitexample`
  tutorials/roostats/rs101_limitexample.C
  tutorials/roostats/rs101_limitexample.py
Owners: @couet

[tree] Add regression test for writing long strings
  tree/tree/test/TTreeRegressions.cxx
Owners: @pcanal

[RF] Also veto Python version of TestNonCentral when `mathmore=OFF`
  tutorials/CMakeLists.txt
Owners: @bellenot

[clang] Reuse ContextRAII for ContextAndScopeRAII
  interpreter/llvm-project/clang/include/clang/Sema/Sema.h
Owners: @vgvassilev

[cppyy] Fix `missing-field-initializers` with Python 3.12
  bindings/pyroot/cppyy/CPyCppyy/src/CPPDataMember.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPPExcInstance.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPPInstance.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPPOverload.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPPScope.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPyCppyyModule.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CustomPyTypes.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/LowLevelViews.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/TemplateProxy.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/TupleOfInstances.cxx
  bindings/pyroot/cppyy/sync-upstream
Owners: @dpiparo, @vepadulano

[RF] Improve parameter management in `RooEvaluatorWrapper`
  roofit/roofitcore/src/FitHelpers.cxx
  roofit/roofitcore/src/RooEvaluatorWrapper.cxx
  roofit/roofitcore/src/RooEvaluatorWrapper.h
  roofit/roofitcore/src/RooFuncWrapper.cxx
  roofit/roofitcore/src/RooNLLVarNew.cxx
  roofit/roofitcore/src/RooNLLVarNew.h
  roofit/roofitcore/test/testRooSimultaneous.cxx
Owners: @lmoneta, @guitargeek

[minuit2] make letter case consistent
  math/minuit2/src/Minuit2Minimizer.cxx
Owners: @lmoneta

[RF] No manual `del` in RooFit/RooStats tutorials
  tutorials/roofit/rf207_comptools.py
  tutorials/roofit/rf514_RooCustomizer.py
  tutorials/roostats/rs101_limitexample.py
Owners: @couet

[RF] Work around deleted move constructor in `std::span` backport
  roofit/roofitcore/src/RooFit/Evaluator.cxx
Owners: @lmoneta, @guitargeek

[df] Correctly clone AsNumpyResult in distributed execution
  bindings/experimental/distrdf/python/DistRDF/Backends/Utils.py
Owners: @dpiparo, @vepadulano

[PyROOT] Replace `TDirectory.__getattr__` with `__getitem__`
  README/ReleaseNotes/v632/index.md
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tdirectory.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tfile.py
  bindings/pyroot/pythonizations/test/tdirectory_attrsyntax.py
  tutorials/dataframe/df007_snapshot.py
  tutorials/dataframe/df017_vecOpsHEP.py
  tutorials/pyroot/pyroot005_tfile_context_manager.py
Owners: @dpiparo, @vepadulano, @couet

[ntuple] add unit test for virtual inheritance
  tree/ntuple/v7/test/CustomStruct.hxx
  tree/ntuple/v7/test/CustomStructLinkDef.h
  tree/ntuple/v7/test/rfield_class.cxx
Owners: @jblomer

[RF] Convert 4 RooStat tutorials to PyROOT
  tutorials/roostats/HybridInstructional.py
  tutorials/roostats/HybridStandardForm.py
  tutorials/roostats/TestNonCentral.py
  tutorials/roostats/TwoSidedFrequentistUpperLimitWithBands.C
  tutorials/roostats/TwoSidedFrequentistUpperLimitWithBands.py
Owners: @couet

[CI][windows] Disable failing tests on Jenkins
  tutorials/CMakeLists.txt
Owners: @bellenot

Fix writing long strings.
  io/io/src/TBufferFile.cxx
Owners: @pcanal

[ntuple] fix detection of cyclic collection proxies
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/CustomStruct.cxx
  tree/ntuple/v7/test/CustomStruct.hxx
  tree/ntuple/v7/test/CustomStructLinkDef.h
  tree/ntuple/v7/test/rfield_class.cxx
Owners: @jblomer

[ntuple] forbid user classes with virtual inheritance
  tree/ntuple/v7/doc/specifications.md
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/CustomStruct.hxx
  tree/ntuple/v7/test/CustomStructLinkDef.h
  tree/ntuple/v7/test/rfield_class.cxx
Owners: @jblomer

[NFC][ntuple] fix typo in code comment
  tree/ntuple/v7/test/CustomStruct.hxx
Owners: @jblomer

[cmake][windows] Don't install system DLLs (#15114)
  cmake/modules/RootCPack.cmake
Owners: @bellenot

[hadd] avoid large RAM in hadd with multiple subdirs
  io/io/src/TFileMerger.cxx
Owners: @pcanal

[gui] Do not reset FitPanel params when ADD on top of prefit function
  gui/fitpanel/src/TFitEditor.cxx
Owners: @bellenot

[skip-ci] [io] Collapse data format details of TFile class.
  io/io/src/TFile.cxx
Owners: @pcanal

[ntuple] improve check for TObject class version
  tree/ntuple/v7/src/RField.cxx
Owners: @jblomer

[CMake] Remove `builtin_libafterimage` option
  .github/workflows/root-ci-config/buildconfig/global.txt
  cmake/modules/RootBuildOptions.cmake
  cmake/modules/RootConfiguration.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  config/Makefile.in
Owners: @dpiparo, @bellenot

[hist] fix bug in TSpline3 save-as code
  hist/hist/src/TSpline.cxx
Owners: @lmoneta

[PyROOT] Disable automatic conversion of regular to smart pointers
  bindings/pyroot/cppyy/CPyCppyy/src/Converters.cxx
  bindings/pyroot/cppyy/patches/CPyCppyy-Disable-implicit-conversion-to-smart-ptr.patch
  bindings/pyroot/cppyy/sync-upstream
Owners: @dpiparo, @vepadulano

Make inv mass calculations accept different floating point types
  math/vecops/inc/ROOT/RVec.hxx
Owners: @dpiparo

[core] add more detailed tests for GetClassSharedLibs
  core/metacling/test/TClingTests.cxx
Owners: @dpiparo, @pcanal

[ntuple] improve error message
  tree/ntuple/v7/src/RField.cxx
Owners: @jblomer

[CMake] Don't mention C++17 requirement for `root7` and `webgui` flags
  cmake/modules/RootBuildOptions.cmake
Owners: @bellenot

[skip-ci] cross-reference markdown docu with link as well as human-readable
  io/io/src/TFile.cxx
Owners: @pcanal
