Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

Simplify the platform-dependent part of a couple of add_custom_command
  CMakeLists.txt
Owners: @bellenot

Fix the syntax on Windows
  CMakeLists.txt
Owners: @bellenot

[pyroot] Strengthen management of `TObject`s in CPython extension
  bindings/pyroot/pythonizations/src/PyROOTWrapper.cxx
  bindings/pyroot/pythonizations/src/TMemoryRegulator.cxx
  bindings/pyroot/pythonizations/src/TMemoryRegulator.h
Owners: @dpiparo, @vepadulano

[ci] Add Ubuntu 24.04 builds
  .github/workflows/root-ci-config/buildconfig/ubuntu2404.txt
  .github/workflows/root-ci.yml
Owners: @dpiparo

Add REve notes
  README/ReleaseNotes/v632/index.md
  README/ReleaseNotes/v632/reve-boxset-cones.png
Owners: @dpiparo

Add REve notes
  README/ReleaseNotes/v632/index.md
  README/ReleaseNotes/v632/reve-boxset-cones.png
Owners: @dpiparo

Add REve notes
  README/ReleaseNotes/v632/index.md
  README/ReleaseNotes/v632/reve-boxset-cones.png
Owners: @dpiparo

Add REve notes
  README/ReleaseNotes/v632/index.md
  README/ReleaseNotes/v632/reve-boxset-cones.png
Owners: @dpiparo

[tmva] Remove unnecessary clause check
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
Owners: @dpiparo, @vepadulano, @lmoneta

[meta] TClass: prefer typeid=>TClass map values with less Double32_t:
  core/meta/src/TClass.cxx
  core/meta/test/CMakeLists.txt
  core/meta/test/testTClass.cxx
Owners: @dpiparo, @pcanal, @bellenot

[treereader] Allow reading `Foo<Double32_t>` into `Foo<double>`:
  tree/treeplayer/src/TTreeReaderValue.cxx
  tree/treeplayer/test/CMakeLists.txt
  tree/treeplayer/test/branchobject.cxx
  tree/treeplayer/test/branchobject.root
Owners: @pcanal, @bellenot

[tmva] Fix filtered chunk loader in case last value of column is a vector
  tmva/tmva/inc/TMVA/RChunkLoader.hxx
Owners: @lmoneta

[pyroot] Strengthen management of `TObject`s in CPython extension
  bindings/pyroot/pythonizations/src/PyROOTWrapper.cxx
  bindings/pyroot/pythonizations/src/TMemoryRegulator.cxx
  bindings/pyroot/pythonizations/src/TMemoryRegulator.h
Owners: @dpiparo, @vepadulano

[df] Improve ownership model of external objects in distributed RDataFrame
  bindings/experimental/distrdf/python/DistRDF/HeadNode.py
  bindings/experimental/distrdf/python/DistRDF/Ranges.py
  bindings/experimental/distrdf/test/test_headnode.py
  tree/tree/inc/ROOT/InternalTreeUtils.hxx
  tree/tree/src/InternalTreeUtils.cxx
Owners: @dpiparo, @vepadulano, @pcanal

[pyroot] Strengthen management of `TObject`s in CPython extension
  bindings/pyroot/pythonizations/src/PyROOTWrapper.cxx
  bindings/pyroot/pythonizations/src/TMemoryRegulator.cxx
  bindings/pyroot/pythonizations/src/TMemoryRegulator.h
Owners: @dpiparo, @vepadulano

[ci] Add Ubuntu 24.04 builds
  .github/workflows/root-ci-config/buildconfig/ubuntu2404.txt
  .github/workflows/root-ci.yml
Owners: @dpiparo

[ci] Add Ubuntu 24.04 builds
  .github/workflows/root-ci-config/buildconfig/ubuntu2404.txt
  .github/workflows/root-ci.yml
Owners: @dpiparo

[pyroot] Make sure cached objects in TFile are cleaned up
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tfile.py
Owners: @dpiparo, @vepadulano

[df] Improve ownership model of external objects in distributed RDataFrame
  bindings/experimental/distrdf/python/DistRDF/HeadNode.py
  bindings/experimental/distrdf/python/DistRDF/Ranges.py
  bindings/experimental/distrdf/test/test_headnode.py
  tree/tree/inc/ROOT/InternalTreeUtils.hxx
  tree/tree/src/InternalTreeUtils.cxx
Owners: @dpiparo, @vepadulano, @pcanal

[pyroot] Make sure cached objects in TFile are cleaned up
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tfile.py
Owners: @dpiparo, @vepadulano

[RF] Update `rf611_weightedfits.C` example to show extended fit
  tutorials/roofit/rf611_weightedfits.C
Owners: @couet

[RF] Document asymptotically correct error correction for extended fits
  README/ReleaseNotes/v632/index.md
  roofit/roofitcore/src/RooAbsPdf.cxx
Owners: @dpiparo, @lmoneta, @guitargeek

[RF] Asymptotically correct uncertainties in extended unbinned NLL fits
  roofit/roofitcore/src/FitHelpers.cxx
Owners: @lmoneta, @guitargeek

[RF] Fix typos in RooFit
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofit/test/testFitPerf.cxx
  tutorials/roofit/rf514_RooCustomizer.C
  tutorials/roofit/rf514_RooCustomizer.py
Owners: @lmoneta, @guitargeek, @couet

[RF] Use absolute epsilon in RooDerivative
  roofit/roofitcore/src/RooDerivative.cxx
Owners: @lmoneta, @guitargeek

[pyroot] Strengthen management of `TObject`s in CPython extension
  bindings/pyroot/pythonizations/src/PyROOTWrapper.cxx
  bindings/pyroot/pythonizations/src/TMemoryRegulator.cxx
  bindings/pyroot/pythonizations/src/TMemoryRegulator.h
Owners: @dpiparo, @vepadulano

[pyroot] Make sure cached objects in TFile are cleaned up
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tfile.py
Owners: @dpiparo, @vepadulano

[df] Improve ownership model of external objects in distributed RDataFrame
  bindings/experimental/distrdf/python/DistRDF/HeadNode.py
  bindings/experimental/distrdf/python/DistRDF/Ranges.py
  bindings/experimental/distrdf/test/test_headnode.py
  tree/tree/inc/ROOT/InternalTreeUtils.hxx
  tree/tree/src/InternalTreeUtils.cxx
Owners: @dpiparo, @vepadulano, @pcanal

[ci] Add Ubuntu 24.04 builds
  .github/workflows/root-ci-config/buildconfig/ubuntu2404.txt
  .github/workflows/root-ci.yml
Owners: @dpiparo

[df] Introduce function to retrieve type of data source
  tree/dataframe/inc/ROOT/RDF/RInterface.hxx
  tree/dataframe/src/RInterface.cxx
Owners: @martamaja10, @vepadulano

[df] Use data source label in distributed HeadNode factory
  bindings/experimental/distrdf/python/DistRDF/HeadNode.py
Owners: @dpiparo, @vepadulano

[CMake] Fix version detection in `FindCUDNN.cmake`
  cmake/modules/FindCUDNN.cmake
Owners: @bellenot

[webcanv] more flexible usage of saved points in TF1
  gui/webgui6/inc/TWebCanvas.h
  gui/webgui6/src/TWebCanvas.cxx
Owners: @linev

[webcanv] more flexible usage of saved points in TF1
  gui/webgui6/inc/TWebCanvas.h
  gui/webgui6/src/TWebCanvas.cxx
Owners: @linev

[jsroot] 7.7.0 with TF1 adjustments
  js/build/jsroot.js
  js/changes.md
  js/index.htm
  js/modules/base/ObjectPainter.mjs
  js/modules/core.mjs
  js/modules/gpad/RAxisPainter.mjs
  js/modules/gpad/RFramePainter.mjs
  js/modules/gpad/TAxisPainter.mjs
  js/modules/gpad/TFramePainter.mjs
  js/modules/hist/TF1Painter.mjs
  js/modules/hist/TF2Painter.mjs
  js/modules/hist/TF3Painter.mjs
  js/modules/hist2d/RHistPainter.mjs
  js/modules/hist2d/TGraphPainter.mjs
  js/modules/hist2d/THistPainter.mjs
  js/modules/io.mjs
Owners: @linev

[jsroot] 7.7.0 with last TF1 fixes
  js/build/jsroot.js
  js/changes.md
  js/modules/base/ObjectPainter.mjs
  js/modules/core.mjs
  js/modules/gpad/RAxisPainter.mjs
  js/modules/gpad/RFramePainter.mjs
  js/modules/gpad/TAxisPainter.mjs
  js/modules/gpad/TFramePainter.mjs
  js/modules/hist/TF1Painter.mjs
  js/modules/hist/TF2Painter.mjs
  js/modules/hist/TF3Painter.mjs
  js/modules/hist2d/RHistPainter.mjs
  js/modules/hist2d/TGraphPainter.mjs
  js/modules/hist2d/THistPainter.mjs
  js/modules/io.mjs
Owners: @linev

[PyROOT] Replace `sonnet` with `dm-sonnet` in requirements.txt
  requirements.txt
Owners: @dpiparo

[ci] Add Ubuntu 24.04 builds
  .github/workflows/root-ci-config/buildconfig/ubuntu2404.txt
  .github/workflows/root-ci.yml
Owners: @dpiparo

[df] Improve ownership model of external objects in distributed RDataFrame
  bindings/experimental/distrdf/python/DistRDF/HeadNode.py
  bindings/experimental/distrdf/python/DistRDF/Ranges.py
  bindings/experimental/distrdf/test/test_headnode.py
  tree/tree/inc/ROOT/InternalTreeUtils.hxx
  tree/tree/src/InternalTreeUtils.cxx
Owners: @dpiparo, @vepadulano, @pcanal

[pyroot] Make sure cached objects in TFile are cleaned up
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tfile.py
Owners: @dpiparo, @vepadulano

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
