Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

[CMake] Require `opengl` when building with `cocoa`
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

[tmva] Add first changes of test to RBatchGenerator
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  bindings/pyroot/pythonizations/test/rbatchgenerator_completeness.py
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
Owners: @dpiparo, @vepadulano, @bellenot, @lmoneta

[tmva] Remove bare new from tutorial
  tutorials/tmva/TMVAClassification.C
Owners: @couet

[skip-ci] missing pars
  tree/tree/inc/TTree.h
Owners: @pcanal

[io] Use default member initialization in RRawFile
  io/io/inc/ROOT/RRawFile.hxx
  io/io/inc/ROOT/RRawFileUnix.hxx
  io/io/inc/ROOT/RRawFileWin.hxx
  io/io/src/RRawFile.cxx
  io/io/src/RRawFileUnix.cxx
  io/io/src/RRawFileWin.cxx
Owners: @pcanal

Remove unused variable
  graf3d/eve7/src/REveDataCollection.cxx
Owners: @osschar, @linev

[skip-ci] Clarify how setscanfield(0) disables interactivity at prompt
  tree/tree/inc/TTree.h
  tree/tree/src/TTree.cxx
  tree/treeplayer/src/TTreePlayer.cxx
Owners: @pcanal

[skip-ci] small doc fixes (#15208)
  hist/histpainter/src/THistPainter.cxx
Owners: @lmoneta

Add the objects from the list of functions in the Legend. (#15179)
  graf2d/gpad/src/TPad.cxx
Owners: @couet

Print warning in dictionary for this class is not existing.
  graf3d/eve7/src/REveElement.cxx
Owners: @osschar, @linev

[skip-ci] document TTree::SetScanField
  tree/tree/inc/TTree.h
Owners: @pcanal

[skip-ci] reword
  tree/tree/src/TTree.cxx
Owners: @pcanal

[win] echo without newline in `root-config.bat`
  config/root-config.bat.in
Owners: @dpiparo

[io] Remove RRawFile::GetFeatures()
  io/io/inc/ROOT/RRawFile.hxx
  io/io/inc/ROOT/RRawFileTFile.hxx
  io/io/inc/ROOT/RRawFileUnix.hxx
  io/io/inc/ROOT/RRawFileWin.hxx
  io/io/src/RRawFileUnix.cxx
  io/io/test/RRawFile.cxx
  net/davix/inc/ROOT/RRawFileDavix.hxx
  net/netxng/inc/ROOT/RRawFileNetXNG.hxx
  tree/dataframe/src/RSqliteDS.cxx
Owners: @pcanal, @gganis, @martamaja10, @vepadulano

[io] Use unique_ptr for RRawFile::fBufferSpace
  io/io/inc/ROOT/RRawFile.hxx
  io/io/src/RRawFile.cxx
Owners: @pcanal

[skip-ci] clarify difference between lines and entries
  tree/tree/src/TTree.cxx
Owners: @pcanal

[io] Remove RRawFile::kFeatureHasAsyncIo flag
  io/io/inc/ROOT/RRawFile.hxx
  net/netxng/inc/ROOT/RRawFileNetXNG.hxx
Owners: @pcanal, @gganis

Remove accidental debug print
  graf3d/eve7/src/REveDataCollection.cxx
Owners: @osschar, @linev

[tmva] Properly manage TFile objects in tutorial
  tutorials/tmva/TMVAClassification.C
Owners: @couet

Fix bug in the setting of background color
  ui5/eve7/lib/GlViewerRCore.js
Owners: @linev

[RF] Put `RooFuncWrapper` in experimental namespace
  roofit/roofitcore/inc/RooFuncWrapper.h
  roofit/roofitcore/src/FitHelpers.cxx
  roofit/roofitcore/src/RooFuncWrapper.cxx
  roofit/roofitcore/src/RooRealIntegral.cxx
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Owners: @lmoneta, @guitargeek

[hist] THn: Add GetBinCenter and Integral helper methods (#15200)
  hist/hist/inc/THnBase.h
  hist/hist/src/THnBase.cxx
  hist/hist/test/THn.cxx
Owners: @lmoneta

[skip-ci] add more documentation and apply doxygen format
  tree/treeplayer/src/TTreePlayer.cxx
Owners: @pcanal

[io] Remove RRawFile::Map()
  io/io/inc/ROOT/RRawFile.hxx
  io/io/inc/ROOT/RRawFileUnix.hxx
  io/io/src/RRawFile.cxx
  io/io/src/RRawFileUnix.cxx
  io/io/test/RRawFile.cxx
Owners: @pcanal

[http] improve several others tutorials
  tutorials/http/httpcontrol.C
  tutorials/http/httpserver.C
  tutorials/http/ws.C
Owners: @linev

[skip-ci] cross-reference with ttree scan
  tree/tree/src/TTree.cxx
Owners: @pcanal

[tree] prevent crash in LoadCurrentDim
  tree/treeplayer/src/TTreeFormula.cxx
Owners: @pcanal

[http] adjust httptextlog.C tutorial
  tutorials/http/httptextlog.C
  tutorials/http/httptextlog.js
  tutorials/http/httptextlog.mjs
Owners: @linev

add test for calling a static method with default parameters
  bindings/pyroot/cppyy/cppyy/test/test_regression.py
Owners: @dpiparo, @vepadulano

[ntuple] Extend documentation of CreateFillContext
  tree/ntuple/v7/inc/ROOT/RNTupleParallelWriter.hxx
Owners: @jblomer

[cling] Add plugin support (#15169)
  interpreter/cling/include/cling/Interpreter/InvocationOptions.h
  interpreter/cling/lib/Interpreter/BackendPasses.cpp
  interpreter/cling/lib/Interpreter/Interpreter.cpp
  interpreter/cling/lib/Interpreter/InvocationOptions.cpp
Owners: @dpiparo

[skip-ci] note about the non-correspondence of entries and lines
  tree/tree/inc/TTree.h
Owners: @pcanal

[RF] Enable `roofit_multiprocess` on the CI
  .github/workflows/root-ci-config/buildconfig/global.txt
  .github/workflows/root-ci-config/buildconfig/windows10.txt
Owners: @dpiparo

[skip-ci] fix typo in docu
  tree/tree/src/TTree.cxx
Owners: @pcanal

Add backward compatible AddBox() function interfaces
  graf3d/eve7/inc/ROOT/REveBoxSet.hxx
Owners: @osschar, @linev

[skip-ci] fix format
  tree/tree/inc/TTree.h
Owners: @pcanal

[cmake] provide custom path to bsd/stdlib.h (#15242)
  core/unix/CMakeLists.txt
Owners: @bellenot

[pyroot] Add rstring to remove warning in python 3.12
  bindings/pyroot/cppyy/cppyy-backend/cling/python/cppyy_backend/_cppyy_generator.py
Owners: @dpiparo, @vepadulano

[http] refer to latest JSROOT release in comments
  net/http/src/THttpServer.cxx
Owners: @linev

[skip-ci] mention default
  tree/treeplayer/src/TTreePlayer.cxx
Owners: @pcanal

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
