Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

io: Avoid infinite recursion in TFile::Open
  io/io/src/TFile.cxx
Owners: @pcanal

io: Avoid infinite recursion in TFile::Open
  io/io/src/TFile.cxx
Owners: @pcanal

io: Avoid infinite recursion in TFile::Open
  io/io/src/TFile.cxx
Owners: @pcanal

io: Avoid infinite recursion in TFile::Open
  io/io/src/TFile.cxx
Owners: @pcanal

io: Avoid infinite recursion in TFile::Open
  io/io/src/TFile.cxx
Owners: @pcanal

io: Avoid infinite recursion in TFile::Open
  io/io/src/TFile.cxx
Owners: @pcanal

io: Avoid infinite recursion in TFile::Open
  io/io/src/TFile.cxx
Owners: @pcanal

io: Avoid infinite recursion in TFile::Open
  io/io/src/TFile.cxx
Owners: @pcanal

io: Avoid infinite recursion in TFile::Open
  io/io/src/TFile.cxx
Owners: @pcanal

io: Avoid infinite recursion in TFile::Open
  io/io/src/TFile.cxx
Owners: @pcanal

[tree] Avoid buffer overflow in TBranch
  tree/tree/src/TBranch.cxx
Owners: @pcanal

[tree] Avoid buffer overflow in TBranch
  tree/tree/src/TBranch.cxx
Owners: @pcanal

[tree] Avoid buffer overflow in TBranch
  tree/tree/src/TBranch.cxx
Owners: @pcanal

[df] Delete allocated node before throwing error
  tree/dataframe/src/RDFInterfaceUtils.cxx
Owners: @martamaja10, @vepadulano

[tree] Avoid buffer overflow in TBranch
  tree/tree/src/TBranch.cxx
Owners: @pcanal

[meta] AlternateTuple fail explicitly if one of the member is not accessible
  core/metacling/src/TCling.cxx
Owners: @dpiparo, @pcanal

[meta] TDataMember properly combine the access property.
  core/meta/src/TDataMember.cxx
Owners: @dpiparo, @pcanal

[meta] TClingTypeInfo add access information to Property
  core/metacling/src/TClingTypeInfo.cxx
Owners: @dpiparo, @pcanal

[meta] Allow SetClassInfo to be silent (for transient members)
  core/meta/inc/TInterpreter.h
  core/meta/src/TClass.cxx
  core/metacling/src/TCling.cxx
  core/metacling/src/TCling.h
Owners: @dpiparo, @pcanal

[meta] Allow AlternateTuple to be silent (for transient members)
  core/metacling/src/TCling.cxx
Owners: @dpiparo, @pcanal

[dict] Make IsUnsupportedUniquePointer silent.
  io/rootpcm/src/rootclingIO.cxx
Owners: @pcanal

[meta] Add routine to calculate decl accessiblity from global ctxt.
  core/clingutils/res/TClingUtils.h
  core/clingutils/src/TClingUtils.cxx
Owners: @dpiparo, @pcanal

[meta] Apply kIsNotReacheable to DataMember and Functions
  core/metacling/src/TClingDataMemberInfo.cxx
  core/metacling/src/TClingMethodInfo.cxx
  core/metacling/test/TClingDataMemberInfoTests.cxx
Owners: @dpiparo, @pcanal

[meta] Add kIsUnreachable property (first to TClingTypeInfo)
  core/meta/inc/TDictionary.h
  core/metacling/src/TClingTypeInfo.cxx
Owners: @dpiparo, @pcanal

[meta] TMemberInspector::GenericShowMembers pass isSilent to GetClass
  core/base/src/TMemberInspector.cxx
Owners: @dpiparo, @pcanal

[meta] TCling::InspectMembers be silent about errors within unique_ptr
  core/metacling/src/TCling.cxx
Owners: @dpiparo, @pcanal

[meta] AlternateTuple take scope accessibility in consideration to reject code generation
  core/metacling/src/TCling.cxx
Owners: @dpiparo, @pcanal

[meta] Clarify comment in TCling::InspectMembers
  core/metacling/src/TCling.cxx
Owners: @dpiparo, @pcanal

[meta] Assert in case of unexpected access property
  core/clingutils/src/TClingUtils.cxx
  core/metacling/src/TCling.cxx
  core/metacling/src/TClingBaseClassInfo.cxx
  core/metacling/src/TClingDataMemberInfo.cxx
  core/metacling/src/TClingMethodInfo.cxx
  core/metacling/src/TClingTypeInfo.cxx
Owners: @dpiparo, @pcanal

io: Avoid infinite recursion in TFile::Open
  io/io/src/TFile.cxx
Owners: @pcanal

io: Avoid infinite recursion in TFile::Open
  io/io/src/TFile.cxx
Owners: @pcanal

[tree] Avoid buffer overflow in TBranch
  tree/tree/src/TBranch.cxx
Owners: @pcanal

[tree] Avoid buffer overflow in TBranch
  tree/tree/src/TBranch.cxx
Owners: @pcanal

[tree] Avoid buffer overflow in TBranch
  tree/tree/src/TBranch.cxx
Owners: @pcanal

[tree] Avoid buffer overflow in TBranch
  tree/tree/src/TBranch.cxx
Owners: @pcanal

[tree] Avoid buffer overflow in TBranch
  tree/tree/src/TBranch.cxx
Owners: @pcanal

[df] Delete allocated node before throwing error
  tree/dataframe/src/RDFInterfaceUtils.cxx
Owners: @martamaja10, @vepadulano

[CMake] Fix version detection in `FindCUDNN.cmake`
  cmake/modules/FindCUDNN.cmake
Owners: @bellenot

[PyROOT] Fix memory leak in TTree `__getattr__` pythonization
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_ttree.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/TTreePyz.cxx
Owners: @dpiparo, @vepadulano

[PyROOT] Replace `sonnet` with `dm-sonnet` in requirements.txt
  requirements.txt
Owners: @dpiparo
