Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

MakeClass/Selector: replace more special characters in branch name.
  tree/treeplayer/src/TTreePlayer.cxx
  tree/treeplayer/src/TTreeReaderGenerator.cxx
Owners: @pcanal

[cmake] Add back cxx_std_ compile feature
  cmake/modules/RootMacros.cmake
Owners: @bellenot

[RF] Add codegen+AD support for `RooUniform` and `RooRecursiveFraction`
  roofit/roofit/inc/RooUniform.h
  roofit/roofit/src/RooUniform.cxx
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/inc/RooRecursiveFraction.h
  roofit/roofitcore/src/RooRecursiveFraction.cxx
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Owners: @lmoneta, @guitargeek

[CI] Disable `tmva-cpu` on `alma9` to avoid openblas clashes with NumPy
  .github/workflows/root-ci-config/buildconfig/alma9.txt
Owners: @dpiparo

[RF] Comment out `ryml` backend for RooFit JSON interface
  roofit/jsoninterface/CMakeLists.txt
Owners: @bellenot

[ntuple] clearer variable names for XRootD readv limits
  net/netxng/src/RRawFileNetXNG.cxx
Owners: @gganis

[core] suppress gcc warning
  core/rint/src/TTabCom.cxx
Owners: @dpiparo, @pcanal

Add missing `onnx` to requirements.txt
  requirements.txt
Owners: @dpiparo

[tutorials] When pymva is not there exclude tutorials based on Python ML libs
  tutorials/CMakeLists.txt
Owners: @bellenot

[sckip-ci][tmva] Add tensorflow and torch in requirements.txt
  requirements.txt
Owners: @dpiparo

[RF] Throw exception if element in `RooAbsCollection` can't be replaced
  roofit/roofitcore/src/RooAbsCollection.cxx
Owners: @lmoneta, @guitargeek

[tutorials] Fix `tensorflow` and `pytorch` detection in TMVA tutorial
  tutorials/tmva/TMVA_CNN_Classification.py
Owners: @couet

Clean up remaining mentions of TXNet* classes
  config/rootrc.in
  documentation/users-guide/InputOutput.md
  documentation/users-guide/InstallandBuild.md
  io/io/src/TFile.cxx
  io/io/src/TFileCacheRead.cxx
  io/io/src/TFileCacheWrite.cxx
  net/monalisa/src/TMonaLisaWriter.cxx
  net/net/inc/TFileStager.h
  net/net/src/TFileStager.cxx
  net/net/src/TNetFile.cxx
  net/net/src/TPSocket.cxx
  net/rpdutils/src/rpdutils.cxx
  proof/proof/src/TDSet.cxx
Owners: @dpiparo, @couet, @pcanal, @gganis

[CI] Enable fftw3, sqlite, and xml on Windows (#15203)
  .github/workflows/root-ci-config/buildconfig/windows10.txt
Owners: @dpiparo

[tutorials] Disable `TMVA_SOFIE_RSofieReader.C` tutorial test
  tutorials/CMakeLists.txt
Owners: @bellenot

[TMVA] Avoid torch-cppyy symbol clashing problem in tmva tutorials
  tutorials/tmva/TMVA_CNN_Classification.py
  tutorials/tmva/pytorch/ApplicationClassificationPyTorch.py
  tutorials/tmva/pytorch/ApplicationRegressionPyTorch.py
  tutorials/tmva/pytorch/ClassificationPyTorch.py
  tutorials/tmva/pytorch/MulticlassPyTorch.py
  tutorials/tmva/pytorch/RegressionPyTorch.py
Owners: @couet

Delete net/netx directory
  documentation/doxygen/makeinput.sh
  net/CMakeLists.txt
  net/netx/CMakeLists.txt
  net/netx/inc/LinkDef.h
  net/netx/inc/TXNetFile.h
  net/netx/inc/TXNetFileStager.h
  net/netx/inc/TXNetSystem.h
  net/netx/src/TXNetFile.cxx
  net/netx/src/TXNetFileStager.cxx
  net/netx/src/TXNetSystem.cxx
Owners: @couet, @bellenot, @gganis

[RF] Fix double-ownership in RooRealIntegral copy constructor
  roofit/roofitcore/src/RooRealIntegral.cxx
Owners: @lmoneta, @guitargeek

[roofit] Document unused parameter in constructor
  roofit/roofitcore/src/RooFormula.cxx
Owners: @lmoneta, @guitargeek

[tmva] Implement rbatchgen tests, fix bug
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  bindings/pyroot/pythonizations/test/rbatchgenerator_completeness.py
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
Owners: @dpiparo, @vepadulano, @lmoneta

[tmva] Fix batch gen Tensorflow tutorial
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  tutorials/tmva/RBatchGenerator_TensorFlow.py
Owners: @dpiparo, @vepadulano, @couet

[tmva] Minor typo fix
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
Owners: @lmoneta

[tmva] Fix test14 in batchgen
  bindings/pyroot/pythonizations/test/rbatchgenerator_completeness.py
Owners: @dpiparo, @vepadulano

[tmva] Return only train generator if validation split is 0
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  bindings/pyroot/pythonizations/test/rbatchgenerator_completeness.py
Owners: @dpiparo, @vepadulano

[tmva] Remove pure stupidness in RBatchGenerator
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
Owners: @lmoneta

[tmva] Remove unnecessary vector in RBatchGenerator
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
Owners: @lmoneta

[tmva] Remove superfluous function overload in RBatchGenerator
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
Owners: @lmoneta

[tmva] Remove unused class variables
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
  tmva/tmva/inc/TMVA/RChunkLoader.hxx
Owners: @lmoneta

[tmva] RBatchGenerator fix std::variant and place while do instead of lambda recursion
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
Owners: @lmoneta

[tmva] Remove superfluous function overload
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
Owners: @lmoneta

[df] Introduce function to retrieve type of data source
  tree/dataframe/inc/ROOT/RDF/RInterface.hxx
  tree/dataframe/src/RInterface.cxx
Owners: @martamaja10, @vepadulano

[clad] Bump clad to version v1.5
  interpreter/cling/tools/plugins/clad/CMakeLists.txt
Owners: @bellenot

Make clang differentiable
  core/metacling/src/CMakeLists.txt
Owners: @bellenot

[clad] Bump clad to version v1.5
  interpreter/cling/tools/plugins/clad/CMakeLists.txt
Owners: @bellenot

Remove redundant code, we do not need arrayrefs anymore
  hist/hist/src/TFormula.cxx
Owners: @lmoneta

Remove redundant code, we do not need arrayrefs anymore
  hist/hist/src/TFormula.cxx
Owners: @lmoneta

Make clang differentiable
  core/metacling/src/CMakeLists.txt
Owners: @bellenot

Update 6.32 release notes
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

Revert "Update 6.32 release notes"
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[skip-ci] update 6.32 release note
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo
