Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[skip-ci] mention default
  tree/tree/inc/TTree.h
Owners: @pcanal

[tree] Propagate IMT settings of TChain to internal TTrees
  tree/tree/src/TChain.cxx
  tree/tree/test/ImplicitMT.cxx
Owners: @pcanal

[skip-ci] document nentries
  tree/tree/src/TTree.cxx
Owners: @pcanal

[http] use JS class for custom class painter
  tutorials/http/httptextlog.mjs
Owners: @linev

Reduce usage of vertical space in the table header
  ui5/eve7/view/EveTable.view.xml
Owners: @linev

When adjusting arguments of a static method call on an instance,
  bindings/pyroot/cppyy/CPyCppyy/src/CPPClassMethod.cxx
Owners: @dpiparo, @vepadulano

[skip-ci] coherent format
  tree/tree/inc/TTree.h
Owners: @pcanal

[skip-ci] clarify non-correspondence of entries and lines
  tree/treeplayer/src/TTreePlayer.cxx
Owners: @pcanal

Fix tooltip error when REveCaloData is not streamed
  ui5/eve7/lib/EveElementsRCore.js
Owners: @linev

CMAKE: add comment for deprecating cmake options to notify SPI please
  cmake/modules/RootBuildOptions.cmake
Owners: @bellenot

[skip-ci] reword
  tree/tree/src/TTree.cxx
Owners: @pcanal

Make cylinder barrel in 3D view transparent
  tutorials/eve7/calorimeters.C
Owners: @couet

[io] Homogenize comment style in RRawFile.hxx
  io/io/inc/ROOT/RRawFile.hxx
Owners: @pcanal

[TMVA] Enforce supported version of TensorFlow
  requirements.txt
Owners: @dpiparo

[ntuple] Tweak TFile ownership model for reading
  tree/ntuple/v7/doc/architecture.md
  tree/ntuple/v7/src/RPageStorageFile.cxx
Owners: @jblomer

[io] Handle empty requests early in RRawFile::ReadAt
  io/io/src/RRawFile.cxx
  io/io/test/RRawFile.cxx
Owners: @pcanal

Remove xpdtest binary
  main/CMakeLists.txt
  main/src/xpdtest.cxx
  man/man1/xpdtest.1
Owners: @bellenot, @pcanal, @dpiparo

[gpad] Remove variable redeclaration (#15256)
  graf2d/gpad/src/TPad.cxx
Owners: @couet

[xrootd] fix setting readv limits for raw file
  net/netxng/src/RRawFileNetXNG.cxx
Owners: @gganis

[gui] Update the order of wildcards, to demote rare ones.
  gui/gui/src/TRootCanvas.cxx
Owners: @bellenot

[webgui] introduce new display kind "on"
  gui/webdisplay/inc/ROOT/RWebDisplayArgs.hxx
  gui/webdisplay/src/RWebDisplayArgs.cxx
Owners: @linev

[RF] Remove warning about unused variables in `RooFormula`
  roofit/roofitcore/src/RooFormula.cxx
Owners: @lmoneta, @guitargeek

[webgui] handle new "on" mode for display
  gui/webdisplay/inc/ROOT/RWebDisplayHandle.hxx
  gui/webdisplay/src/RWebDisplayHandle.cxx
  gui/webdisplay/src/RWebWindowsManager.cxx
Owners: @linev

Clean up remaining files related to xproofd
  .github/workflows/root-ci-config/buildconfig/global.txt
  CMakeLists.txt
  cmake/modules/RootConfiguration.cmake
  config/Makefile.in
  config/xproofd.in
  etc/proof/xpd.cf.sample
  man/man1/proofserv.1
  man/man1/xproofd.1
Owners: @dpiparo, @bellenot

[core] overflow check was too conservative
  core/rint/src/TTabCom.cxx
Owners: @dpiparo, @pcanal

Delete net/monalisa directory
  .github/workflows/root-ci-config/buildconfig/global.txt
  README/README.MONALISA
  cmake/modules/FindMonalisa.cmake
  cmake/modules/RootBuildOptions.cmake
  cmake/modules/RootConfiguration.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  config/Makefile.in
  documentation/doxygen/makeinput.sh
  etc/plugins/TVirtualMonitoringWriter/P010_TMonaLisaWriter.C
  net/CMakeLists.txt
  net/monalisa/CMakeLists.txt
  net/monalisa/inc/LinkDef.h
  net/monalisa/inc/TMonaLisaWriter.h
  net/monalisa/src/TMonaLisaWriter.cxx
Owners: @dpiparo, @bellenot, @couet, @gganis

[webgui] adjust comments about display types
  core/base/src/TROOT.cxx
  core/base/src/root-argparse.py
  gui/webdisplay/inc/ROOT/RWebDisplayArgs.hxx
  gui/webdisplay/src/RWebDisplayArgs.cxx
Owners: @dpiparo, @pcanal, @linev

Remove dead netx configuration variables
  cmake/modules/RootConfiguration.cmake
  config/rootrc.in
  documentation/users-guide/InstallandBuild.md
  etc/plugins/ROOT@@Internal@@RRawFile/P020_RRawFileNetXNG.C
  etc/plugins/TFile/P100_TXNetFile.C
  etc/plugins/TFileStager/P010_TXNetFileStager.C
  etc/plugins/TSystem/P040_TXNetSystem.C
Owners: @bellenot, @dpiparo, @couet

requirements.txt: Skip tensorflow with Python 3.12
  requirements.txt
Owners: @dpiparo

[skip-ci] amend comments
  core/rint/src/TTabCom.cxx
Owners: @dpiparo, @pcanal

[webgui] provide more info about --web option
  core/base/src/TROOT.cxx
  core/base/src/root-argparse.py
Owners: @dpiparo, @pcanal

[TMVA] Correctly link `blas` in PyMVA tests
  tmva/pymva/test/CMakeLists.txt
Owners: @bellenot

Remove TProofMonSenderML
  etc/plugins/TProofMonSender/P010_TProofMonSenderML.C
  proof/proofplayer/CMakeLists.txt
  proof/proofplayer/inc/LinkDef.h
  proof/proofplayer/inc/TProofMonSenderML.h
  proof/proofplayer/src/TProofMonSenderML.cxx
Owners: @dpiparo, @bellenot, @gganis

[io] Make RRawFile::kUnknownFileSize private
  io/io/inc/ROOT/RRawFile.hxx
Owners: @pcanal

[RF] Update xroofit
  roofit/xroofit/CMakeLists.txt
  roofit/xroofit/inc/RooFit/xRooFit/xRooFit.h
  roofit/xroofit/inc/RooFit/xRooFit/xRooNLLVar.h
  roofit/xroofit/inc/RooFit/xRooFit/xRooNode.h
  roofit/xroofit/src/xRooFit.cxx
  roofit/xroofit/src/xRooFitVersion.h
  roofit/xroofit/src/xRooHypoSpace.cxx
  roofit/xroofit/src/xRooNLLVar.cxx
  roofit/xroofit/src/xRooNode.cxx
Owners: @bellenot, @lmoneta, @guitargeek

[skip-ci][doc] Improve RVec operations documentation
  math/vecops/inc/ROOT/RVec.hxx
Owners: @dpiparo

requirements.txt: make sure that cpu version of PyTorch gets installed
  requirements.txt
Owners: @dpiparo

[tutorial] remove a duplicated line for finding torch and keras
  tutorials/CMakeLists.txt
Owners: @bellenot

[core] tab completion: insert match but do not replace the content after it
  core/rint/src/TTabCom.cxx
Owners: @dpiparo, @pcanal

[PyROOT] Remove now unnecessary test
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  bindings/pyroot/pythonizations/test/dependency_versions.py
Owners: @bellenot, @dpiparo, @vepadulano
