Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[df] Add function for checking if dataframe is made out of TTree or TChain
  tree/dataframe/inc/ROOT/RDF/RInterface.hxx
  tree/dataframe/src/RInterface.cxx
Owners: @martamaja10, @vepadulano

[tmva] Add first changes of test to RBatchGenerator
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  bindings/pyroot/pythonizations/test/rbatchgenerator_completeness.py
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
Owners: @dpiparo, @vepadulano, @bellenot, @lmoneta

[ntuple] fix-up comment
  tree/ntuple/v7/inc/ROOT/RField.hxx
Owners: @jblomer

[ntuple] minor improvement to unit test
  tree/ntuple/v7/test/ntuple_types.cxx
Owners: @jblomer

[ntuple] stricter testing for std::optional
  tree/ntuple/v7/test/ntuple_types.cxx
Owners: @jblomer

[ntuple] minor improvement to unit test
  tree/ntuple/v7/test/ntuple_types.cxx
Owners: @jblomer

[ntuple] add support for std::optional<T>
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/ntuple_types.cxx
Owners: @jblomer

[ntuple] stricter testing for std::optional
  tree/ntuple/v7/test/ntuple_types.cxx
Owners: @jblomer

[ntuple] add support for std::optional<T>
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/ntuple_types.cxx
Owners: @jblomer

[ntuple] minor improvement to unit test
  tree/ntuple/v7/test/ntuple_types.cxx
Owners: @jblomer

[ntuple] fix-up comment
  tree/ntuple/v7/inc/ROOT/RField.hxx
Owners: @jblomer

[ntuple] fix-up comment
  tree/ntuple/v7/inc/ROOT/RField.hxx
Owners: @jblomer

[ntuple] stricter testing for std::optional
  tree/ntuple/v7/test/ntuple_types.cxx
Owners: @jblomer

[tmva] Check origin of dataframe and add comments
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
  tmva/tmva/inc/TMVA/RChunkLoader.hxx
Owners: @dpiparo, @vepadulano, @lmoneta

RField: add vector.reserve() wherever we know the number of elements to push
  tree/ntuple/v7/src/RField.cxx
Owners: @jblomer

RField: add vector.reserve() wherever we know the number of elements to push
  tree/ntuple/v7/src/RField.cxx
Owners: @jblomer

[cling] Make cling::utils::Lookup::Named look into using directives
  interpreter/cling/lib/Utils/AST.cpp
  interpreter/cling/test/.clang-format
  interpreter/cling/test/Lookup/named.C
Owners: @dpiparo

[ntuple] store attached column ids in field descriptor
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/test/ntuple_descriptor.cxx
Owners: @jblomer

[ntuple] fix complexity of RNTupleDescriptor::FindFieldId()
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/test/ntuple_limits.cxx
Owners: @jblomer

[ntuple] Make RNTupleDescriptor::FindLogicalColumnId linear complexity
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/test/ntuple_limits.cxx
Owners: @jblomer

[ntuple] implement REntry::GetToken() in O(logn)
  tree/ntuple/v7/inc/ROOT/REntry.hxx
  tree/ntuple/v7/test/ntuple_limits.cxx
Owners: @jblomer

[ntuple] minor simplification in RNTupleDescriptor
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
Owners: @jblomer

[ntuple] run clang-format on RMiniFile.cxx
  tree/ntuple/v7/src/RMiniFile.cxx
Owners: @jblomer

[ntuple] Fix RNTuple.ClusterEntries test
  tree/ntuple/v7/test/ntuple_basics.cxx
Owners: @jblomer

[ntuple] Add test for automatic cluster committing
  tree/ntuple/v7/test/ntuple_basics.cxx
Owners: @jblomer

[ntuple] Add FillNoCommit method and RNTupleFillStatus
  tree/ntuple/CMakeLists.txt
  tree/ntuple/v7/inc/ROOT/RNTupleFillContext.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleFillStatus.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleWriter.hxx
  tree/ntuple/v7/test/ntuple_basics.cxx
  tree/ntuple/v7/test/ntuple_test.hxx
Owners: @bellenot, @jblomer

[ntuple] Document relaxed assumption of FillNoCommit
  tree/ntuple/v7/doc/architecture.md
Owners: @jblomer

[skip-ci][windows][cling] Export missing symbols
  interpreter/cling/tools/driver/CMakeLists.txt
Owners: @bellenot

[ntuple] Provide default RFieldBase::GenerateColumnsImpl
  tree/ntuple/v7/inc/ROOT/RField.hxx
Owners: @jblomer

[ntuple] use hash map for entry token lookup
  tree/ntuple/v7/inc/ROOT/REntry.hxx
Owners: @jblomer

[skip-ci][windows][cling] Export missing symbols
  interpreter/cling/tools/driver/CMakeLists.txt
Owners: @bellenot

[skip-ci][windows][cling] Export missing symbols
  interpreter/cling/tools/driver/CMakeLists.txt
Owners: @bellenot

[tmva] Implement rbatchgen tests, fix bug
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  bindings/pyroot/pythonizations/test/rbatchgenerator_completeness.py
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
Owners: @dpiparo, @vepadulano, @lmoneta

[ntuple] run clang-format on RMiniFile.cxx
  tree/ntuple/v7/src/RMiniFile.cxx
Owners: @jblomer

[ntuple] run clang-format on RMiniFile.cxx
  tree/ntuple/v7/src/RMiniFile.cxx
Owners: @jblomer

[tmva] Return only train generator if validation split is 0
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  bindings/pyroot/pythonizations/test/rbatchgenerator_completeness.py
Owners: @dpiparo, @vepadulano

[ntuple] Provide method to estimate memory usage of model
  tree/ntuple/v7/inc/ROOT/RNTupleModel.hxx
  tree/ntuple/v7/src/RNTupleModel.cxx
  tree/ntuple/v7/test/CMakeLists.txt
  tree/ntuple/v7/test/ntuple_model.cxx
  tree/ntuple/v7/test/ntuple_model.py
Owners: @jblomer, @bellenot

[tmva] Fix batch gen Tensorflow tutorial
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  tutorials/tmva/RBatchGenerator_TensorFlow.py
Owners: @dpiparo, @vepadulano, @couet

[ntuple] add fMaxKeySize field to RNTuple
  tree/ntuple/v7/inc/ROOT/RMiniFile.hxx
  tree/ntuple/v7/inc/ROOT/RNTuple.hxx
  tree/ntuple/v7/src/RMiniFile.cxx
  tree/ntuple/v7/src/RNTuple.cxx
  tree/ntuple/v7/test/ntuple_minifile.cxx
Owners: @jblomer

[ntuple] use hash map for entry token lookup
  tree/ntuple/v7/inc/ROOT/REntry.hxx
Owners: @jblomer
