Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[ntuple] minor simplification in RNTupleDescriptor
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
Owners: @jblomer

[ntuple] implement REntry::GetToken() in O(logn)
  tree/ntuple/v7/inc/ROOT/REntry.hxx
  tree/ntuple/v7/test/ntuple_limits.cxx
Owners: @jblomer

[ntuple] Make RNTupleDescriptor::FindLogicalColumnId linear complexity
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/test/ntuple_limits.cxx
Owners: @jblomer

[ntuple] store attached column ids in field descriptor
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/test/ntuple_descriptor.cxx
Owners: @jblomer

[ntuple] minor simplification in RNTupleDescriptor
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
Owners: @jblomer

[ntuple] implement REntry::GetToken() in O(logn)
  tree/ntuple/v7/inc/ROOT/REntry.hxx
  tree/ntuple/v7/test/ntuple_limits.cxx
Owners: @jblomer

[ntuple] use hash map for entry token lookup
  tree/ntuple/v7/inc/ROOT/REntry.hxx
Owners: @jblomer

[ntuple] fix complexity of RNTupleDescriptor::FindFieldId()
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/test/ntuple_limits.cxx
Owners: @jblomer

[ntuple] store attached column ids in field descriptor
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/test/ntuple_descriptor.cxx
Owners: @jblomer

[ntuple] fix complexity of RNTupleDescriptor::FindFieldId()
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/test/ntuple_limits.cxx
Owners: @jblomer

[ntuple] Make RNTupleDescriptor::FindLogicalColumnId linear complexity
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/test/ntuple_limits.cxx
Owners: @jblomer

[tmva] Fix test14 in batchgen
  bindings/pyroot/pythonizations/test/rbatchgenerator_completeness.py
Owners: @dpiparo, @vepadulano

[tmva] Minor typo fix
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
Owners: @lmoneta

Make projected geo shape outlines non-transparent
  ui5/eve7/lib/EveElementsRCore.js
Owners: @linev

Make eve geo shape non-transparent
  tutorials/eve7/geom_cms.C
Owners: @couet

Remove obsolete variable
  tutorials/eve7/event_demo.C
Owners: @couet

Update RenderCore with fix in tonemap fragement shader
  builtins/rendercore/RenderCore-1.3.tar.gz
  builtins/rendercore/RenderCore-1.4.tar.gz
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @dpiparo, @bellenot

Set the viewer background color only in tone map shader. Use black background in all other render passes
  ui5/eve7/lib/GlViewerRCore.js
Owners: @linev

[TMVA] Add missing TMVA python dependencies to requirements.txt
  requirements.txt
Owners: @dpiparo

[TO REVERT] Never run TMVA GNN tests and tutorials as unit tests
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  tutorials/CMakeLists.txt
Owners: @bellenot

[ntuple] Provide default RFieldBase::GenerateColumnsImpl
  tree/ntuple/v7/inc/ROOT/RField.hxx
Owners: @jblomer

[ntuple] Provide default RFieldBase::GenerateColumnsImpl
  tree/ntuple/v7/inc/ROOT/RField.hxx
Owners: @jblomer

[ntuple] Fix warning about hidden virtual function
  tree/ntuple/v7/inc/ROOT/RField.hxx
Owners: @jblomer

[ntuple] Manually read RNTuple fields in Streamer()
  tree/ntuple/v7/src/RNTuple.cxx
Owners: @jblomer

[ntuple] add some checks to RNTuple::Streamer
  tree/ntuple/v7/inc/ROOT/RNTuple.hxx
  tree/ntuple/v7/src/RNTuple.cxx
Owners: @jblomer

[ntuple] Fix warning about hidden virtual function
  tree/ntuple/v7/inc/ROOT/RField.hxx
Owners: @jblomer

[ntuple] Fix warning about hidden virtual function
  tree/ntuple/v7/inc/ROOT/RField.hxx
Owners: @jblomer

[ntuple] Add test for automatic cluster committing
  tree/ntuple/v7/test/ntuple_basics.cxx
Owners: @jblomer

[ntuple] Add test for automatic cluster committing
  tree/ntuple/v7/test/ntuple_basics.cxx
Owners: @jblomer

[ntuple] Add FillNoCommit method and RNTupleFillStatus
  tree/ntuple/CMakeLists.txt
  tree/ntuple/v7/inc/ROOT/RNTupleFillContext.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleFillStatus.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleWriter.hxx
  tree/ntuple/v7/test/ntuple_basics.cxx
  tree/ntuple/v7/test/ntuple_test.hxx
Owners: @bellenot, @jblomer

[ntuple] Fix RNTuple.ClusterEntries test
  tree/ntuple/v7/test/ntuple_basics.cxx
Owners: @jblomer

[ntuple] Add FillNoCommit method and RNTupleFillStatus
  tree/ntuple/CMakeLists.txt
  tree/ntuple/v7/inc/ROOT/RNTupleFillContext.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleFillStatus.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleWriter.hxx
  tree/ntuple/v7/test/ntuple_basics.cxx
  tree/ntuple/v7/test/ntuple_test.hxx
Owners: @bellenot, @jblomer

[ntuple] Fix RNTuple.ClusterEntries test
  tree/ntuple/v7/test/ntuple_basics.cxx
Owners: @jblomer

[ntuple] Document relaxed assumption of FillNoCommit
  tree/ntuple/v7/doc/architecture.md
Owners: @jblomer

[ntuple] Document relaxed assumption of FillNoCommit
  tree/ntuple/v7/doc/architecture.md
Owners: @jblomer

Set the viewer background color only in tone map shader. Use black background in all other render passes
  ui5/eve7/lib/GlViewerRCore.js
Owners: @linev

Remove obsolete variable
  tutorials/eve7/event_demo.C
Owners: @couet

Make eve geo shape non-transparent
  tutorials/eve7/geom_cms.C
Owners: @couet

Make eve geo shape non-transparent
  tutorials/eve7/geom_cms.C
Owners: @couet

Make projected geo shape outlines non-transparent
  ui5/eve7/lib/EveElementsRCore.js
Owners: @linev
