Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

One more fix
  hist/hist/src/TH1.cxx
Owners: @lmoneta

Release notes (#15581)
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

Release notes (#15581)
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[ntuple] Make RNTupleFileWriter::Recreate/Append return unique_ptr
  tree/ntuple/v7/inc/ROOT/RMiniFile.hxx
  tree/ntuple/v7/src/RMiniFile.cxx
  tree/ntuple/v7/src/RPageStorageFile.cxx
  tree/ntuple/v7/test/ntuple_minifile.cxx
Owners: @jblomer

[ntuple] Make RNTupleFileWriter::Recreate/Append return unique_ptr
  tree/ntuple/v7/inc/ROOT/RMiniFile.hxx
  tree/ntuple/v7/src/RMiniFile.cxx
  tree/ntuple/v7/src/RPageStorageFile.cxx
  tree/ntuple/v7/test/ntuple_minifile.cxx
Owners: @jblomer

clang formating
  hist/hist/src/TH1.cxx
Owners: @lmoneta

New Method TH1::SetColors (#15609)
  hist/hist/inc/TH1.h
  hist/hist/src/TH1.cxx
Owners: @lmoneta

New Method TH1::SetColors (#15609)
  hist/hist/inc/TH1.h
  hist/hist/src/TH1.cxx
Owners: @lmoneta

Update release notes
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[io] Update TKey::Sizeof doc comment
  io/io/src/TKey.cxx
Owners: @pcanal

[geom] Fix registered identity matrix removal warning
  geom/geom/src/TGeoMatrix.cxx
Owners: @agheata

[PyROOT] Code-format C++ sources
  bindings/pyroot/pythonizations/src/CPPInstancePyz.cxx
  bindings/pyroot/pythonizations/src/IOHandler.cxx
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTWrapper.cxx
  bindings/pyroot/pythonizations/src/RPyROOTApplication.cxx
  bindings/pyroot/pythonizations/src/TClassPyz.cxx
  bindings/pyroot/pythonizations/src/TTreePyz.cxx
Owners: @dpiparo, @vepadulano

Revert "[TO REVERT] Never run TMVA GNN tests and tutorials as unit tests"
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  tutorials/CMakeLists.txt
Owners: @bellenot

[PyROOT] Replace `sonnet` with `dm-sonnet` in requirements.txt
  requirements.txt
Owners: @dpiparo

[CMake] Fix version detection in `FindCUDNN.cmake`
  cmake/modules/FindCUDNN.cmake
Owners: @bellenot

[PyROOT] Fix memory leak in TTree `__getattr__` pythonization
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_ttree.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/TTreePyz.cxx
Owners: @dpiparo, @vepadulano

[PyROOT] Fix typos
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/Factory.py
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/JPyInterface.py
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/OutputTransformer.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/__init__.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_stl_vector.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_crossvalidation.py
  bindings/pyroot/pythonizations/src/RPyROOTApplication.cxx
  bindings/pyroot/pythonizations/src/RPyROOTApplication.h
  bindings/pyroot/pythonizations/test/roofit/rooabscollection.py
  bindings/pyroot/pythonizations/test/roofit/roodataset_numpy.py
Owners: @dpiparo, @vepadulano

[PyROOT] Code-format C++ sources
  bindings/pyroot/pythonizations/src/CPPInstancePyz.cxx
  bindings/pyroot/pythonizations/src/IOHandler.cxx
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTWrapper.cxx
  bindings/pyroot/pythonizations/src/RPyROOTApplication.cxx
  bindings/pyroot/pythonizations/src/TClassPyz.cxx
  bindings/pyroot/pythonizations/src/TTreePyz.cxx
Owners: @dpiparo, @vepadulano

[PyROOT] Code-format C++ sources
  bindings/pyroot/pythonizations/src/CPPInstancePyz.cxx
  bindings/pyroot/pythonizations/src/IOHandler.cxx
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTWrapper.cxx
  bindings/pyroot/pythonizations/src/RPyROOTApplication.cxx
  bindings/pyroot/pythonizations/src/TClassPyz.cxx
  bindings/pyroot/pythonizations/src/TTreePyz.cxx
Owners: @dpiparo, @vepadulano

[PyROOT] Fix memory leak in TTree `__getattr__` pythonization
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_ttree.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/TTreePyz.cxx
Owners: @dpiparo, @vepadulano

[PyROOT] Fix typos
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/Factory.py
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/JPyInterface.py
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/OutputTransformer.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/__init__.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_stl_vector.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_crossvalidation.py
  bindings/pyroot/pythonizations/src/RPyROOTApplication.cxx
  bindings/pyroot/pythonizations/src/RPyROOTApplication.h
  bindings/pyroot/pythonizations/test/roofit/rooabscollection.py
  bindings/pyroot/pythonizations/test/roofit/roodataset_numpy.py
Owners: @dpiparo, @vepadulano

[PyROOT] Code-format C++ sources
  bindings/pyroot/pythonizations/src/CPPInstancePyz.cxx
  bindings/pyroot/pythonizations/src/IOHandler.cxx
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTWrapper.cxx
  bindings/pyroot/pythonizations/src/RPyROOTApplication.cxx
  bindings/pyroot/pythonizations/src/TClassPyz.cxx
  bindings/pyroot/pythonizations/src/TTreePyz.cxx
Owners: @dpiparo, @vepadulano

[PyROOT] Fix typos
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/Factory.py
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/JPyInterface.py
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/OutputTransformer.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/__init__.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_stl_vector.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_crossvalidation.py
  bindings/pyroot/pythonizations/src/RPyROOTApplication.cxx
  bindings/pyroot/pythonizations/src/RPyROOTApplication.h
  bindings/pyroot/pythonizations/test/roofit/rooabscollection.py
  bindings/pyroot/pythonizations/test/roofit/roodataset_numpy.py
Owners: @dpiparo, @vepadulano

[PyROOT] Fix memory leak in TTree `__getattr__` pythonization
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_ttree.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/TTreePyz.cxx
Owners: @dpiparo, @vepadulano

[geom] Fix registered identity matrix removal warning (#15613)
  geom/geom/src/TGeoMatrix.cxx
Owners: @agheata

[geom] Fix registered identity matrix removal warning (#15613)
  geom/geom/src/TGeoMatrix.cxx
Owners: @agheata

Update release notes
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[jsroot] 7.7.0 with last TF1 fixes
  js/build/jsroot.js
  js/changes.md
  js/modules/base/ObjectPainter.mjs
  js/modules/core.mjs
  js/modules/gpad/RAxisPainter.mjs
  js/modules/gpad/RFramePainter.mjs
  js/modules/gpad/TAxisPainter.mjs
  js/modules/gpad/TFramePainter.mjs
  js/modules/hist/TF1Painter.mjs
  js/modules/hist/TF2Painter.mjs
  js/modules/hist/TF3Painter.mjs
  js/modules/hist2d/RHistPainter.mjs
  js/modules/hist2d/TGraphPainter.mjs
  js/modules/hist2d/THistPainter.mjs
  js/modules/io.mjs
Owners: @linev

[webcanv] more flexible usage of saved points in TF1
  gui/webgui6/inc/TWebCanvas.h
  gui/webgui6/src/TWebCanvas.cxx
Owners: @linev

[io] TKey::Sizeof() doc: more fixed
  io/io/src/TKey.cxx
Owners: @pcanal

in the middle of creation
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
  tmva/tmva/inc/TMVA/RChunkLoader.hxx
Owners: @dpiparo, @vepadulano, @lmoneta

[TGraphErrors] add AddPointError method
  hist/hist/inc/TGraphErrors.h
  hist/hist/src/TGraphErrors.cxx
Owners: @lmoneta

[AddPointError] extend feature for other classes
  hist/hist/inc/TGraph2DAsymmErrors.h
  hist/hist/inc/TGraph2DErrors.h
  hist/hist/inc/TGraphAsymmErrors.h
  hist/hist/inc/TGraphBentErrors.h
  hist/hist/src/TGraph2DAsymmErrors.cxx
  hist/hist/src/TGraph2DErrors.cxx
  hist/hist/src/TGraphAsymmErrors.cxx
  hist/hist/src/TGraphBentErrors.cxx
  hist/hist/src/TGraphErrors.cxx
Owners: @lmoneta

[TGraphError.cxx] use AddPoint instead of SetPoint
  hist/hist/src/TGraphErrors.cxx
Owners: @lmoneta

Move doxygen documentation to TGraph2DErrors.cxx
  hist/hist/src/TGraph2DErrors.cxx
Owners: @lmoneta

Move doxygen docs for all AddPoint methods
  hist/hist/inc/TGraphErrors.h
  hist/hist/src/TGraph2DErrors.cxx
  hist/hist/src/TGraphAsymmErrors.cxx
  hist/hist/src/TGraphBentErrors.cxx
  hist/hist/src/TGraphErrors.cxx
Owners: @lmoneta

[relnotes] Add RNTuple release notes
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[tmva] Add restore chunk loader to 0 after acitvation
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
  tmva/tmva/inc/TMVA/RChunkLoader.hxx
Owners: @lmoneta

[tmva] Fix GPU RNN implementation
  tmva/tmva/inc/TMVA/DNN/Architectures/TCudnn.h
  tmva/tmva/inc/TMVA/DNN/RNN/RNNLayer.h
  tmva/tmva/src/DNN/Architectures/Cpu/RecurrentPropagation.hxx
  tmva/tmva/src/DNN/Architectures/Cuda/CudaTensor.cu
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta

[tutorials][tmva] Fix a dependency issue with TMVA tutorials
  tutorials/CMakeLists.txt
  tutorials/tmva/TMVA_SOFIE_RDataFrame.py
Owners: @bellenot, @couet
