Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[webgui] correctly cleanup temp file in case of error
  gui/webdisplay/src/RWebDisplayHandle.cxx
Owners: @linev

[skip-ci] add deprecation notes to TMinuit
  math/minuit/src/TFitter.cxx
  math/minuit/src/TLinearFitter.cxx
  math/minuit/src/TLinearMinimizer.cxx
  math/minuit/src/TMinuit.cxx
  math/minuit/src/TMinuitMinimizer.cxx
Owners: @lmoneta

[ntuple] Make EClusterCache an enum class
  tree/ntuple/v7/inc/ROOT/RNTupleReadOptions.hxx
Owners: @jblomer

comments added to integrator multi dim tutorial
  tutorials/math/mathmoreIntegrationMultidim.C
Owners: @couet

[tmva][sofie] Add more utiliy functions for dynamic tensors and fix output issue
  tmva/sofie/inc/TMVA/RModel.hxx
  tmva/sofie/inc/TMVA/SOFIE_common.hxx
  tmva/sofie/src/RModel.cxx
  tmva/sofie/src/SOFIE_common.cxx
Owners: @lmoneta

When checking overlaps by sampling, use user limit (#14839)
  geom/geompainter/src/TGeoChecker.cxx
Owners: @agheata

Add integrator multi dim tutorial Fixes https://github.com/root-project/root/issues/7740
  tutorials/math/mathmoreIntegrationMultidim.C
Owners: @couet

[ci-config] Add math and tmva packages in new CI architectures
  .github/workflows/root-ci-config/buildconfig/alma8.txt
  .github/workflows/root-ci-config/buildconfig/alma9.txt
  .github/workflows/root-ci-config/buildconfig/fedora37.txt
  .github/workflows/root-ci-config/buildconfig/fedora38.txt
  .github/workflows/root-ci-config/buildconfig/fedora39.txt
  .github/workflows/root-ci-config/buildconfig/mac12.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu20.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu22.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu2304.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu2310.txt
  .github/workflows/root-ci-config/buildconfig/windows10.txt
Owners: @dpiparo

[DF][NFC] Format
  bindings/experimental/distrdf/python/DistRDF/HeadNode.py
Owners: @dpiparo, @vepadulano

[skip ci][ci] Use correct extension name
  .github/workflows/root-630.yml
Owners: @dpiparo

[skip ci][ci] Correct yaml syntax
  .github/workflows/root-630.yaml
Owners: @dpiparo

typo fixed
  tutorials/math/mathmoreIntegration.C
  tutorials/math/mathmoreIntegrationMultidim.C
Owners: @couet

[skip ci][ci] Specify the branch for the inherited yaml
  .github/workflows/root-630.yaml
Owners: @dpiparo

[tmva][sofie] Add static asserts as suggested by Danilo
  tmva/sofie/inc/TMVA/ROperator_Gemm.hxx
  tmva/sofie/inc/TMVA/ROperator_Range.hxx
Owners: @lmoneta

[rdf] add support for distrdf made from RDatasetSpec
  bindings/experimental/distrdf/python/DistRDF/HeadNode.py
Owners: @dpiparo, @vepadulano

[tmva][sofie] Fix for failing SOFIE tests
  tmva/sofie/inc/TMVA/SOFIEHelpers.hxx
Owners: @lmoneta

Fix the computation of the Confidence band of TRatioPlot
  graf2d/gpad/src/TRatioPlot.cxx
Owners: @couet

[tmva][sofie] Fix a compilation warning in SOFIE
  tmva/sofie/src/RModel.cxx
Owners: @lmoneta

[skip ci][ci] Test 630 build on schedule
  .github/workflows/root-630.yaml
Owners: @dpiparo

[core] note splash screen not seen with root.exe
  core/base/src/TApplication.cxx
Owners: @dpiparo, @pcanal

[tmva][sofie] Support dynamic shapes for GNN
  tmva/sofie/inc/TMVA/RFunction.hxx
  tmva/sofie/inc/TMVA/RModel.hxx
  tmva/sofie/inc/TMVA/RModel_GNN.hxx
  tmva/sofie/inc/TMVA/RModel_GraphIndependent.hxx
  tmva/sofie/inc/TMVA/ROperator_LayerNormalization.hxx
  tmva/sofie/inc/TMVA/ROperator_Range.hxx
  tmva/sofie/inc/TMVA/SOFIE_common.hxx
  tmva/sofie/src/RFunction.cxx
  tmva/sofie/src/RModel.cxx
  tmva/sofie/src/RModel_GNN.cxx
  tmva/sofie/src/RModel_GraphIndependent.cxx
  tmva/sofie/src/SOFIE_common.cxx
Owners: @lmoneta

[tmva][sofie] "Add support for param tensor shapes for Concat and LayerNorm"
  tmva/sofie/inc/TMVA/ROperator_Concat.hxx
  tmva/sofie/inc/TMVA/ROperator_Gemm.hxx
  tmva/sofie/inc/TMVA/ROperator_LayerNormalization.hxx
  tmva/sofie/inc/TMVA/SOFIE_common.hxx
  tmva/sofie/src/SOFIE_common.cxx
  tmva/sofie_parsers/src/ParseConcat.cxx
Owners: @lmoneta

[skip ci][ci] Fix yaml syntax
  .github/workflows/root-630.yaml
Owners: @dpiparo

Bump the llvm tag
  interpreter/llvm-project/llvm-project.tag
Owners: @vgvassilev

[skip ci][ci] Drop manual handle for 630 builds
  .github/workflows/root-630.yaml
Owners: @dpiparo

Remove code related to the `gfal` option
  .github/workflows/root-ci-config/buildconfig/global.txt
  .github/workflows/root-ci-config/buildconfig/windows10.txt
  cmake/modules/FindGFAL.cmake
  cmake/modules/RootConfiguration.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  config/Makefile.in
  config/rootrc.in
  documentation/doxygen/makeinput.sh
  documentation/users-guide/InstallandBuild.md
  etc/plugins/TFile/P050_TGFALFile.C
  io/CMakeLists.txt
  io/gfal/CMakeLists.txt
  io/gfal/inc/LinkDef.h
  io/gfal/inc/TGFALFile.h
  io/gfal/src/TGFALFile.cxx
Owners: @dpiparo, @bellenot, @couet, @pcanal

[skip ci][ci] Change cron for 630
  .github/workflows/root-630.yml
Owners: @dpiparo

[skip ci][ci] Correct yaml syntax
  .github/workflows/root-630.yml
Owners: @dpiparo

[tmva] Add dynamic shape tensors
  tmva/sofie/CMakeLists.txt
  tmva/sofie/inc/TMVA/OperatorList.hxx
  tmva/sofie/inc/TMVA/RModel.hxx
  tmva/sofie/inc/TMVA/ROperator_Range.hxx
  tmva/sofie/inc/TMVA/SOFIE_common.hxx
  tmva/sofie/src/RModel.cxx
  tmva/sofie/src/SOFIE_common.cxx
  tmva/sofie/test/TestCustomModelsFromONNX.cxx
  tmva/sofie/test/TestCustomModelsFromROOT.cxx
  tmva/sofie/test/input_models/RangeFloat.onnx
  tmva/sofie/test/input_models/RangeInt.onnx
  tmva/sofie/test/input_models/references/RangeFloat.ref.hxx
  tmva/sofie/test/input_models/references/RangeInt.ref.hxx
  tmva/sofie_parsers/CMakeLists.txt
  tmva/sofie_parsers/src/ParseRange.cxx
  tmva/sofie_parsers/src/RModelParser_ONNX.cxx
Owners: @bellenot, @lmoneta

[ci] Refine 630 ci configuration
  .github/workflows/root-630.yaml
Owners: @dpiparo

[DF] Test distributed constructor with RDatasetSpec
  bindings/experimental/distrdf/test/test_headnode.py
Owners: @dpiparo, @vepadulano

[skip-ci] mention alternatives for all tspectrum classes
  hist/spectrum/src/TSpectrum.cxx
  hist/spectrum/src/TSpectrum2.cxx
  hist/spectrum/src/TSpectrum2Fit.cxx
  hist/spectrum/src/TSpectrum2Transform.cxx
  hist/spectrum/src/TSpectrum3.cxx
  hist/spectrum/src/TSpectrumFit.cxx
  hist/spectrum/src/TSpectrumTransform.cxx
Owners: @lmoneta

[tmva][sofie] Add support for dynamic (param) input tensors
  tmva/sofie/inc/TMVA/RModel.hxx
  tmva/sofie/inc/TMVA/ROperator.hxx
  tmva/sofie/inc/TMVA/ROperator_Comparision.hxx
  tmva/sofie/inc/TMVA/ROperator_Gemm.hxx
  tmva/sofie/inc/TMVA/ROperator_LayerNormalization.hxx
  tmva/sofie/inc/TMVA/ROperator_Range.hxx
  tmva/sofie/inc/TMVA/ROperator_Relu.hxx
  tmva/sofie/inc/TMVA/SOFIE_common.hxx
  tmva/sofie/src/RModel.cxx
  tmva/sofie/src/SOFIE_common.cxx
Owners: @lmoneta

[skip ci][ci] Add some options to 630 builds
  .github/workflows/root-630.yml
Owners: @dpiparo

[DF] Enable I/O of RCutFlowReport
  tree/dataframe/inc/LinkDef.h
  tree/dataframe/inc/ROOT/RDF/RCutFlowReport.hxx
  tree/dataframe/test/dataframe_report.cxx
Owners: @martamaja10, @vepadulano

[skip ci][ci] Set default branch to v6-30-00-patches
  .github/workflows/root-630.yaml
Owners: @dpiparo

[hist] Add SaveAs method to TH1
  hist/hist/inc/TH1.h
  hist/hist/src/TH1.cxx
  hist/hist/test/CMakeLists.txt
  hist/hist/test/test_TH1_SaveAs.cxx
Owners: @lmoneta, @bellenot

[skip ci][ci] Add simplest dispatch trigger possible
  .github/workflows/root-630.yaml
Owners: @dpiparo

[ntuple] Add options to disable usage of IMT
  tree/ntuple/v7/inc/ROOT/RNTupleReadOptions.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleWriteOptions.hxx
  tree/ntuple/v7/src/RNTupleReader.cxx
  tree/ntuple/v7/src/RNTupleWriter.cxx
Owners: @jblomer

[tmva][tutorial] Improve TMVA_GNN tutorials adding CPU and memory info
  tutorials/tmva/TMVA_SOFIE_GNN_Application.C
  tutorials/tmva/TMVA_SOFIE_GNN_Parser.py
Owners: @couet
