Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

Remove obsolete variable
  tutorials/eve7/event_demo.C
Owners: @couet

Update RenderCore with fix in tonemap fragement shader
  builtins/rendercore/RenderCore-1.3.tar.gz
  builtins/rendercore/RenderCore-1.4.tar.gz
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @dpiparo, @bellenot

Set the viewer background color only in tone map shader. Use black background in all other render passes
  ui5/eve7/lib/GlViewerRCore.js
Owners: @linev

Update RenderCore with fix in tonemap fragement shader
  builtins/rendercore/RenderCore-1.3.tar.gz
  builtins/rendercore/RenderCore-1.4.tar.gz
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @dpiparo, @bellenot

Make projected geo shape outlines non-transparent
  ui5/eve7/lib/EveElementsRCore.js
Owners: @linev

[ntuple] Provide method to estimate memory usage of model
  tree/ntuple/v7/inc/ROOT/RNTupleModel.hxx
  tree/ntuple/v7/src/RNTupleModel.cxx
  tree/ntuple/v7/test/CMakeLists.txt
  tree/ntuple/v7/test/ntuple_model.cxx
  tree/ntuple/v7/test/ntuple_model.py
Owners: @jblomer, @bellenot

[ntuple] Provide method to estimate memory usage of model
  tree/ntuple/v7/inc/ROOT/RNTupleModel.hxx
  tree/ntuple/v7/src/RNTupleModel.cxx
  tree/ntuple/v7/test/CMakeLists.txt
  tree/ntuple/v7/test/ntuple_model.cxx
  tree/ntuple/v7/test/ntuple_model.py
Owners: @jblomer, @bellenot

Builtin CFITSIO: 3.45 -> 4.4.0
  builtins/cfitsio/CMakeLists.txt
  builtins/cfitsio/cfitsio-no-find-zlib.diff
  cmake/modules/FindCFITSIO.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  graf2d/fitsio/CMakeLists.txt
Owners: @bellenot, @dpiparo

fixup
  builtins/cfitsio/CMakeLists.txt
Owners: @bellenot

[gpad] fix TCanvas::SaveSource
  graf2d/gpad/src/TCanvas.cxx
Owners: @couet

[gpad] provide default arg to GetNewCanvasName method
  graf2d/gpad/src/TCanvas.cxx
Owners: @couet

[gpad] directly set canvas name in constructors
  graf2d/gpad/src/TCanvas.cxx
Owners: @couet

[gpad] always call Modified() when canvas name changed
  graf2d/gpad/src/TCanvas.cxx
Owners: @couet

fixup
  builtins/cfitsio/CMakeLists.txt
  builtins/cfitsio/no-fortran-wrapper.diff
Owners: @bellenot, @dpiparo

[ntuple] fail gracefully for MakeField<T> on unsplit type
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/rfield_unsplit.cxx
Owners: @jblomer

[gpad] provide default arg to GetNewCanvasName method
  graf2d/gpad/src/TCanvas.cxx
Owners: @couet

[gpad] provide default arg to GetNewCanvasName method
  graf2d/gpad/src/TCanvas.cxx
Owners: @couet

[gpad] directly set canvas name in constructors
  graf2d/gpad/src/TCanvas.cxx
Owners: @couet

[gpad] always call Modified() when canvas name changed
  graf2d/gpad/src/TCanvas.cxx
Owners: @couet

[gpad] directly set canvas name in constructors
  graf2d/gpad/src/TCanvas.cxx
Owners: @couet

[gpad] fix TCanvas::SaveSource
  graf2d/gpad/src/TCanvas.cxx
Owners: @couet

[gpad] always call Modified() when canvas name changed
  graf2d/gpad/src/TCanvas.cxx
Owners: @couet

[gpad] fix TCanvas::SaveSource
  graf2d/gpad/src/TCanvas.cxx
Owners: @couet

Builtin CFITSIO: 3.45 -> 4.4.0
  builtins/cfitsio/CMakeLists.txt
  builtins/cfitsio/cfitsio-no-find-zlib.diff
  builtins/cfitsio/no-fortran-wrapper.diff
  cmake/modules/FindCFITSIO.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  graf2d/fitsio/CMakeLists.txt
Owners: @bellenot, @dpiparo

Builtin CFITSIO: 3.45 -> 4.4.0
  builtins/cfitsio/CMakeLists.txt
  builtins/cfitsio/cfitsio-no-find-zlib.diff
  builtins/cfitsio/no-fortran-wrapper.diff
  cmake/modules/FindCFITSIO.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  graf2d/fitsio/CMakeLists.txt
Owners: @bellenot, @dpiparo

[webgui] simplify test if file exists in CEF
  gui/cefdisplay/src/gui_handler.cxx
Owners: @linev

[http] remove debug output
  net/http/src/THttpServer.cxx
Owners: @linev

[ntuple] fail gracefully for MakeField<T> on unsplit type
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/rfield_unsplit.cxx
Owners: @jblomer

[ntuple] fail gracefully for MakeField<T> on unsplit type
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/rfield_unsplit.cxx
Owners: @jblomer

[webgui] proper authentication test for CEF and Qt5
  gui/webdisplay/src/RWebWindow.cxx
Owners: @linev

[webgui] reduce debug output
  gui/webgui6/src/TWebCanvas.cxx
Owners: @linev

Update ConstraintHelpers.cxx - ensure common parameters are not stripped when using externalConstraints
  roofit/roofitcore/src/ConstraintHelpers.cxx
Owners: @lmoneta, @guitargeek

[webgui] simplify test if file exists in CEF
  gui/cefdisplay/src/gui_handler.cxx
Owners: @linev

[webgui] proper authentication test for CEF and Qt5
  gui/webdisplay/src/RWebWindow.cxx
Owners: @linev

[http] remove debug output
  net/http/src/THttpServer.cxx
Owners: @linev

[webgui] reduce debug output
  gui/webgui6/src/TWebCanvas.cxx
Owners: @linev

[CMake] Silence warnings when building LLVM and clang
  interpreter/CMakeLists.txt
Owners: @bellenot

[ntuple] Manually read RNTuple fields in Streamer()
  tree/ntuple/v7/src/RNTuple.cxx
Owners: @jblomer

[tmva] Remove pure stupidness in RBatchGenerator
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
Owners: @lmoneta

[RF] MultiProcess: worker to master multipart messages
  roofit/multiprocess/res/RooFit/MultiProcess/Messenger.h
  roofit/multiprocess/res/RooFit/MultiProcess/Messenger_decl.h
  roofit/multiprocess/src/Messenger.cxx
Owners: @lmoneta, @guitargeek

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
