Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[skip ci][ci] Fix GH action syntax
  .github/workflows/root-630.yaml
Owners: @dpiparo

Revert D153003 "[clang] Fix ODR hashing of template template parameters"
  interpreter/llvm-project/clang/lib/AST/ODRHash.cpp
Owners: @vgvassilev

[math][fit] Use enumerations instead of the integer values
  math/mathcore/src/Fitter.cxx
Owners: @lmoneta

[skip-ci] missing deprecation messages on legacy physics classes
  math/physics/src/TFeldmanCousins.cxx
  math/physics/src/TGenPhaseSpace.cxx
  math/physics/src/TLorentzRotation.cxx
  math/physics/src/TQuaternion.cxx
  math/physics/src/TRobustEstimator.cxx
  math/physics/src/TRolke.cxx
  math/physics/src/TRotation.cxx
  math/physics/src/TVector2.cxx
Owners: @lmoneta

[DF] Apply cpp core guideline suggestion
  tree/dataframe/inc/ROOT/RDF/RCutFlowReport.hxx
Owners: @martamaja10, @vepadulano

[tmva][sofie] Specify in gnn parser from graph_nets the missing headers for SOFIE
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_gnn.py
Owners: @dpiparo, @vepadulano

[skip ci][ci] Try to add manual controls to 630 builds
  .github/workflows/root-630.yaml
Owners: @dpiparo

[ci] Reuse root-ci workflow for 630 nightlies
  .github/workflows/root-630.yaml
Owners: @dpiparo

[hist] Add TGraph::SetOption
  hist/hist/inc/TGraph.h
  hist/hist/src/TGraph.cxx
Owners: @lmoneta

[skip-ci] add deprecation of TLimit
  hist/hist/src/TLimit.cxx
Owners: @lmoneta

[NFC][doc][ntuple] clarify MT behavior of views
  tree/ntuple/v7/doc/architecture.md
Owners: @jblomer

[skip ci][ci] Specify head_ref
  .github/workflows/root-630.yml
Owners: @dpiparo

[hist] fix missing default parameters in save-as
  hist/hist/inc/TH1.h
  hist/hist/src/TH1.cxx
Owners: @lmoneta

[gpad] move inline TPad methods to source file
  graf2d/gpad/inc/TPad.h
  graf2d/gpad/src/TPad.cxx
Owners: @couet

[gpad] make proper rounding of the pad coordinates
  graf2d/gpad/inc/TPad.h
  graf2d/gpad/src/TPad.cxx
Owners: @couet

[skip ci][ci] Schedule 630 nightly at 2
  .github/workflows/root-630.yml
Owners: @dpiparo

[windows] disable mtbb201_parallelHistoFill.C
  tutorials/CMakeLists.txt
Owners: @bellenot

More ref files adjustments.
  test/stressGraphics.ref
  test/stressGraphics_builtinzlib.ref
Owners: @dpiparo

[tmva][NFC] Run clang-format on Result* headers
  tmva/tmva/inc/TMVA/Results.h
  tmva/tmva/inc/TMVA/ResultsClassification.h
  tmva/tmva/inc/TMVA/ResultsMulticlass.h
  tmva/tmva/inc/TMVA/ResultsRegression.h
Owners: @lmoneta

One more (final ?) adjustment
  test/stressGraphics.ref
Owners: @dpiparo

Fixing Typo in TClass *TClass::GetClass
  core/meta/src/TClass.cxx
Owners: @dpiparo, @pcanal

[skip-ci][ci] Take into account input branch name
  .github/workflows/root-630.yml
  .github/workflows/root-ci.yml
Owners: @dpiparo

[skip-ci] update tmva results docu
  tmva/tmva/inc/TMVA/Results.h
  tmva/tmva/inc/TMVA/ResultsClassification.h
  tmva/tmva/inc/TMVA/ResultsMulticlass.h
  tmva/tmva/inc/TMVA/ResultsRegression.h
Owners: @lmoneta

Add Tex-Gyre Manifest
  fonts/MANIFEST-TeX-Gyre-Heros.txt
Owners: @bellenot

[skip-CI][NFC][ntuple] describe code architecture (#14505)
  tree/ntuple/v7/doc/architecture.md
Owners: @jblomer

[skip-ci] do not mark tlinearfitter and trobustestimator as legacy
  math/minuit/src/TLinearFitter.cxx
  math/physics/src/TRobustEstimator.cxx
Owners: @lmoneta

[DF] Add RNTupleHeadNode.
  bindings/experimental/distrdf/python/DistRDF/HeadNode.py
Owners: @dpiparo, @vepadulano

Adjust refs sizes for stressGraphics
  test/stressGraphics.ref
  test/stressGraphics_builtinzlib.ref
Owners: @dpiparo

[skip-ci][ci] Restore correct branch name var for mac nightlies
  .github/workflows/root-ci.yml
Owners: @dpiparo

[ntuple] allow RNTupleModel to create field tokens
  tree/ntuple/v7/inc/ROOT/REntry.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleModel.hxx
  tree/ntuple/v7/src/RNTupleModel.cxx
  tree/ntuple/v7/test/ntuple_basics.cxx
Owners: @jblomer

stressGraphics ref files need to be adjusted
  test/stressGraphics.ref
  test/stressGraphics_builtinzlib.ref
Owners: @dpiparo

Connecting RNTupleMerger and TFileMerger
  core/testsupport/src/TestSupport.cxx
  io/io/src/TFileMerger.cxx
  tree/ntuple/v7/src/RNTupleMerger.cxx
  tree/ntuple/v7/test/ntuple_merger.cxx
Owners: @dpiparo, @pcanal, @jblomer

remove ROOT::Experimental::TFuture
  README/ReleaseNotes/v632/index.md
  core/imt/CMakeLists.txt
  core/imt/inc/ROOT/TFuture.hxx
  core/imt/test/CMakeLists.txt
  core/imt/test/testTFuture.cxx
Owners: @dpiparo, @bellenot

Use Tex Gyre fonts for sans serif (similar to Helvetica)
  core/base/src/TAttText.cxx
  fonts/texgyreheros-bold.otf
  fonts/texgyreheros-bolditalic.otf
  fonts/texgyreheros-italic.otf
  fonts/texgyreheros-regular.otf
  graf2d/graf/src/TTF.cxx
Owners: @dpiparo, @pcanal, @bellenot, @couet

[skip-ci] mention Minuit2 in Minuit main page
  math/minuit/doc/index.md
Owners: @lmoneta

[ntuple] Fix size calculation for projected fields
  tree/ntupleutil/v7/inc/ROOT/RNTupleInspector.hxx
  tree/ntupleutil/v7/src/RNTupleInspector.cxx
  tree/ntupleutil/v7/test/ntuple_inspector.cxx
Owners: @jblomer

[tmva] Use proper ClassDef macro in Result* classes
  tmva/tmva/inc/TMVA/Results.h
  tmva/tmva/inc/TMVA/ResultsClassification.h
  tmva/tmva/inc/TMVA/ResultsMulticlass.h
  tmva/tmva/inc/TMVA/ResultsRegression.h
Owners: @lmoneta

[skip-ci] redirect to higher level entry points and do not deprecate minuit, just mention minuit2
  math/minuit/doc/index.md
  math/minuit/src/TFitter.cxx
  math/minuit/src/TLinearFitter.cxx
  math/minuit/src/TLinearMinimizer.cxx
  math/minuit/src/TMinuit.cxx
  math/minuit/src/TMinuitMinimizer.cxx
Owners: @lmoneta

[ntuple] Make `RPageSource::UnsealPage` public
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/src/RPageStorage.cxx
Owners: @jblomer

Allow user-defined safety to be drawn in TGeoManager::CheckPoint (#14851)
  geom/geom/inc/TGeoManager.h
  geom/geom/inc/TVirtualGeoPainter.h
  geom/geom/src/TGeoManager.cxx
  geom/geompainter/inc/TGeoChecker.h
  geom/geompainter/inc/TGeoPainter.h
  geom/geompainter/src/TGeoChecker.cxx
  geom/geompainter/src/TGeoPainter.cxx
  geom/webviewer/inc/ROOT/RGeoPainter.hxx
Owners: @agheata
