Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

[cmake] If not calling thisroot.sh, prevent not finding libs
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

[docu] Add new ROOT build option: docu
  CMakeLists.txt
  cmake/modules/RootBuildOptions.cmake
  documentation/doxygen/CMakeLists.txt
  documentation/doxygen/MakeRCanvasJS.C
  documentation/doxygen/MakeTCanvasJS.C
  documentation/doxygen/Makefile
  documentation/doxygen/converttonotebook.py
  documentation/doxygen/filter.cxx
  documentation/doxygen/makeNotebooks.sh
  documentation/doxygen/makeimage.C
  documentation/doxygen/makeimage.py
  documentation/doxygen/makeinput.sh
  documentation/doxygen/print_roofit_pyz_doctrings.py
Owners: @bellenot, @couet

exit 0 so that there is no error if DOCU_INPUT contains no notebooks
  documentation/doxygen/CMakeLists.txt
  documentation/doxygen/makeNotebooks.sh
Owners: @bellenot, @couet

fix paths
  documentation/doxygen/CMakeLists.txt
  documentation/doxygen/filter.cxx
  documentation/doxygen/makeimage.C
  documentation/doxygen/makeimage.py
Owners: @bellenot, @couet

Fix converttonotebook.py not found
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

Fix preparation target dependencies
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

properly get git-version when builtin_docu=ON
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

do not unset doxygen cache and use cmake cxx standard variable
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

copy missing script
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

Fix empty ROOT_CXX_COMPILER
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

fix infinite loop - tee command
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

Updates from makeinput
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

avoid pollute source tree
  documentation/doxygen/filter.cxx
Owners: @couet

fix notebook conversion
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

minor fixes
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

try to fix library not found path when running macro
  documentation/doxygen/CMakeLists.txt
  documentation/doxygen/filter.cxx
Owners: @bellenot, @couet

fix rm moment
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

fix cxx compiler
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

fix missing ROOTcmd when builtin
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

fix standard
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

default docu output location is now home/rootdoc
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

fix typo
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

fix pythonpath
  documentation/doxygen/CMakeLists.txt
  documentation/doxygen/filter.cxx
Owners: @bellenot, @couet

should remove worklist from previous run!!
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

correct way of getting HOME in cmake
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

fix python variable name
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

additional clean
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

Fix cat 'input file is output file' error
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

fix html image path
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

add pyzdoc
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

cleanup CMakeLists.txt
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

fix cascaded path not found
  documentation/doxygen/modifyClassWebpage.sh
  documentation/doxygen/modifyClassWebpages.sh
Owners: @couet

give more sensful error message
  documentation/doxygen/print_roofit_pyz_doctrings.py
Owners: @couet

modernize headers, prevent int comparison warning
  documentation/doxygen/filter.cxx
Owners: @couet

fix paths
  documentation/doxygen/CMakeLists.txt
  documentation/doxygen/filter.cxx
  documentation/doxygen/makeimage.C
  documentation/doxygen/makeimage.py
Owners: @bellenot, @couet

allow caching options
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

allow default doxygen, no need to specify
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

Update CMakeLists.txt
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

fix python3 path
  documentation/doxygen/CMakeLists.txt
  documentation/doxygen/makeNotebooks.sh
Owners: @bellenot, @couet

rm from previous run if incremental build
  documentation/doxygen/CMakeLists.txt
Owners: @bellenot

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
