Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[ntuple] add ClassDefInline to RKeyBlob
  tree/ntuple/v7/src/RMiniFile.cxx
Owners: @jblomer

[tree] Error out if entry is not found in friend tree
  tree/tree/src/TTree.cxx
Owners: @pcanal

Removing tutorials/pygeom folder.
  tutorials/pygeom/RadioNuclides.py
  tutorials/pygeom/assembly.py
  tutorials/pygeom/building.py
  tutorials/pygeom/cheongwadae.py
  tutorials/pygeom/csgdemo.py
  tutorials/pygeom/files/cms.root
  tutorials/pygeom/files/cms.root.ROOT.cachefile
  tutorials/pygeom/gdml/opticalsurfaces.gdml
  tutorials/pygeom/gdml/testoptical.py
  tutorials/pygeom/gdml/tmp.gdml
  tutorials/pygeom/gdml/tmp.root
  tutorials/pygeom/geodemo.py
  tutorials/pygeom/geomAlice.py
  tutorials/pygeom/geomAlice_itsv.py
  tutorials/pygeom/geomAtlas.py
  tutorials/pygeom/geomBrahms.py
  tutorials/pygeom/geomD0.py
  tutorials/pygeom/geometry.py
  tutorials/pygeom/iterplugin.cxx
  tutorials/pygeom/lego.py
  tutorials/pygeom/mp3player.py
  tutorials/pygeom/na49.py
  tutorials/pygeom/na49geomfile.py
  tutorials/pygeom/na49view.py
  tutorials/pygeom/parallel_world.py
  tutorials/pygeom/robot.py
  tutorials/pygeom/rootgeom.py
  tutorials/pygeom/runplugin.py
  tutorials/pygeom/shapes.py
  tutorials/pygeom/shapesAnim.py
  tutorials/pygeom/south_gate.py
  tutorials/pygeom/station1.py
  tutorials/pygeom/station2.py
  tutorials/pygeom/tank.py
  tutorials/pygeom/teddy.obj
  tutorials/pygeom/tessellatedNav.py
  tutorials/pygeom/visualizeWavefrontObj.py
  tutorials/pygeom/web_cms.py
  tutorials/pygeom/xtruDraw.py
  tutorials/pygeom/xtruSamples.py
Owners: @couet

.py files have been moved to tutorials/geom. Also, the the requests from A.Gheata have been done except the ogl option.
  tutorials/geom/CppPySolid.py
  tutorials/geom/RadioNuclides.py
  tutorials/geom/assembly.py
  tutorials/geom/building.py
  tutorials/geom/cheongwadae.py
  tutorials/geom/csgdemo.py
  tutorials/geom/gdml/testoptical.py
  tutorials/geom/geodemo.py
  tutorials/geom/geomAlice.py
  tutorials/geom/geomAlice_itsv.py
  tutorials/geom/geomAtlas.py
  tutorials/geom/geomBrahms.py
  tutorials/geom/geomD0.py
  tutorials/geom/geometry.py
  tutorials/geom/lego.py
  tutorials/geom/mp3player.py
  tutorials/geom/na49.py
  tutorials/geom/na49geomfile.py
  tutorials/geom/na49view.py
  tutorials/geom/parallel_world.py
  tutorials/geom/robot.py
  tutorials/geom/rootgeom.py
  tutorials/geom/runplugin.py
  tutorials/geom/shapes.py
  tutorials/geom/shapesAnim.py
  tutorials/geom/south_gate.py
  tutorials/geom/station1.py
  tutorials/geom/station2.py
  tutorials/geom/tank.py
  tutorials/geom/tessellatedNav.py
  tutorials/geom/visualizeWavefrontObj.py
  tutorials/geom/web_cms.py
  tutorials/geom/xtruDraw.py
  tutorials/geom/xtruSamples.py
Owners: @couet

[gui] Remove usage of sprintf in tutorial
  tutorials/gui/guitest.C
Owners: @couet

[RN] Further refine text
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[RN] Further refine text
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[RN] Further refine text
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[RN] Further refine text
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[tmva] Add support for filtered dataframe in RBatchGenerator
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
  tmva/tmva/inc/TMVA/RChunkLoader.hxx
Owners: @dpiparo, @vepadulano, @lmoneta

build: Modernize handling of external LLVM library.
  interpreter/cling/CMakeLists.txt
Owners: @bellenot

[tmva] RBatchGenerator with filters last batches
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
  tmva/tmva/inc/TMVA/RChunkLoader.hxx
Owners: @dpiparo, @vepadulano, @lmoneta

[RN] Update affiliation
  README/ReleaseNotes/empty.md
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[tmva] Fix adding too many batches
  tmva/tmva/inc/TMVA/RChunkLoader.hxx
Owners: @lmoneta

build: Modernize handling of external LLVM library.
  interpreter/cling/CMakeLists.txt
Owners: @bellenot

build: Modernize handling of external LLVM library.
  interpreter/cling/CMakeLists.txt
Owners: @bellenot

[gui] Remove usage of sprintf in tutorial
  tutorials/gui/guitest.C
Owners: @couet

[gui] Remove usage of sprintf in tutorial
  tutorials/gui/guitest.C
Owners: @couet

[RN] Update affiliation
  README/ReleaseNotes/empty.md
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[RN] Update affiliation
  README/ReleaseNotes/empty.md
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[gui] Remove usage of sprintf in tutorial
  tutorials/gui/guitest.C
Owners: @couet

[RN] Update affiliation
  README/ReleaseNotes/empty.md
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[ntuple] add ClassDefInline to RKeyBlob
  tree/ntuple/v7/src/RMiniFile.cxx
Owners: @jblomer

[ntuple] add ClassDefInline to RKeyBlob
  tree/ntuple/v7/src/RMiniFile.cxx
Owners: @jblomer

[ntuple] Manually read RNTuple fields in Streamer()
  tree/ntuple/v7/src/RNTuple.cxx
Owners: @jblomer

[ntuple] fix expected byte count for v4: 64 -> 66
  tree/ntuple/v7/src/RNTuple.cxx
Owners: @jblomer

[ntuple] Manually read RNTuple fields in Streamer()
  tree/ntuple/v7/src/RNTuple.cxx
Owners: @jblomer

[ntuple] remove fChecksum from RNTuple anchor
  tree/ntuple/v7/inc/ROOT/RMiniFile.hxx
  tree/ntuple/v7/inc/ROOT/RNTuple.hxx
  tree/ntuple/v7/src/RMiniFile.cxx
  tree/ntuple/v7/src/RNTuple.cxx
  tree/ntuple/v7/test/ntuple_minifile.cxx
Owners: @jblomer

[ntuple] add check on buffer size before reading checksum
  tree/ntuple/v7/src/RNTuple.cxx
Owners: @jblomer

[ntuple] remove fChecksum from RNTuple anchor
  tree/ntuple/v7/inc/ROOT/RMiniFile.hxx
  tree/ntuple/v7/inc/ROOT/RNTuple.hxx
  tree/ntuple/v7/src/RMiniFile.cxx
  tree/ntuple/v7/src/RNTuple.cxx
  tree/ntuple/v7/test/ntuple_minifile.cxx
Owners: @jblomer

[ntuple] fix expected byte count for v4: 64 -> 66
  tree/ntuple/v7/src/RNTuple.cxx
Owners: @jblomer

[ntuple] add check on buffer size before reading checksum
  tree/ntuple/v7/src/RNTuple.cxx
Owners: @jblomer

[RN] Update 632 version with closed items
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[RN] Update 632 version with closed items
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[RN] Update 632 version with closed items
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[RN] Update 632 version with closed items
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[df] Make string caching in RLoopManager thread-safe
  tree/dataframe/inc/ROOT/RDF/RDefineReader.hxx
  tree/dataframe/inc/ROOT/RDF/RLoopManager.hxx
  tree/dataframe/inc/ROOT/RDF/Utils.hxx
  tree/dataframe/src/RDFColumnRegister.cxx
  tree/dataframe/src/RDFUtils.cxx
  tree/dataframe/src/RDefineReader.cxx
Owners: @martamaja10, @vepadulano

[RN] Add webgraphics
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[RN] Add webgraphics
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[RN] Add webgraphics
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo
