Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[skip-ci][windows][cling] Export missing symbols
  interpreter/cling/tools/driver/CMakeLists.txt
Owners: @bellenot

Builtin CFITSIO: 3.45 -> 4.4.0
  builtins/cfitsio/CMakeLists.txt
  builtins/cfitsio/cfitsio-no-find-zlib.diff
  builtins/cfitsio/no-fortran-wrapper.diff
  cmake/modules/FindCFITSIO.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  graf2d/fitsio/CMakeLists.txt
Owners: @bellenot, @dpiparo

[RF] MultiProcess: worker to master multipart messages
  roofit/multiprocess/res/RooFit/MultiProcess/Messenger.h
  roofit/multiprocess/res/RooFit/MultiProcess/Messenger_decl.h
  roofit/multiprocess/src/Messenger.cxx
Owners: @lmoneta, @guitargeek

[RF] implement full TestStatistics::RooAbsL::constOptimizeTestStatistic
  roofit/roofitcore/src/TestStatistics/ConstantTermsOptimizer.cxx
  roofit/roofitcore/src/TestStatistics/ConstantTermsOptimizer.h
  roofit/roofitcore/src/TestStatistics/RooAbsL.cxx
  roofit/roofitcore/test/TestStatistics/testRooAbsL.cxx
Owners: @lmoneta, @guitargeek

[RF] extend testNaNPacker with demonstrations of arithmetic
  roofit/roofitcore/test/testNaNPacker.cxx
Owners: @lmoneta, @guitargeek

[io] Improve warning message
  io/io/src/TFile.cxx
Owners: @pcanal

[core] Change version string to X.Y.Z
  bindings/pyroot/pythonizations/test/root_module.py
  core/base/src/TROOT.cxx
  core/foundation/inc/ROOT/RVersion.hxx
Owners: @dpiparo, @vepadulano, @pcanal

[core] Change version string to X.Y.Z
  bindings/pyroot/pythonizations/test/root_module.py
  core/base/src/TROOT.cxx
  core/foundation/inc/ROOT/RVersion.hxx
Owners: @dpiparo, @vepadulano, @pcanal

[io] Improve warning message
  io/io/src/TFile.cxx
Owners: @pcanal

[core] Change version string to X.Y.Z
  bindings/pyroot/pythonizations/test/root_module.py
  core/base/src/TROOT.cxx
  core/foundation/inc/ROOT/RVersion.hxx
Owners: @dpiparo, @vepadulano, @pcanal

[io] Improve warning message
  io/io/src/TFile.cxx
Owners: @pcanal

[ci] Switch off Fortran on Alma8
  .github/workflows/root-ci-config/buildconfig/alma8.txt
Owners: @dpiparo

[ci] Add Ubuntu 24.04 builds
  .github/workflows/root-ci-config/buildconfig/ubuntu2404.txt
  .github/workflows/root-ci.yml
Owners: @dpiparo

Set the viewer background color only in tone map shader. Use black background in all other render passes
  ui5/eve7/lib/GlViewerRCore.js
Owners: @linev

Update RenderCore with fix in tonemap fragement shader
  builtins/rendercore/RenderCore-1.3.tar.gz
  builtins/rendercore/RenderCore-1.4.tar.gz
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @dpiparo, @bellenot

Make projected geo shape outlines non-transparent
  ui5/eve7/lib/EveElementsRCore.js
Owners: @linev

[df] Improve ownership model of external objects in distributed RDataFrame
  bindings/experimental/distrdf/python/DistRDF/HeadNode.py
  bindings/experimental/distrdf/python/DistRDF/Ranges.py
  bindings/experimental/distrdf/test/test_headnode.py
  tree/tree/inc/ROOT/InternalTreeUtils.hxx
  tree/tree/src/InternalTreeUtils.cxx
Owners: @dpiparo, @vepadulano, @pcanal

[pyroot] Make sure cached objects in TFile are cleaned up
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tfile.py
Owners: @dpiparo, @vepadulano

[RF] Optimize code generated from `PiecewiseInterpolation` for use in AD
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooHistFunc.h
Owners: @lmoneta, @guitargeek

[io] Improve warning message
  io/io/src/TFile.cxx
Owners: @pcanal

[core] Change version string to X.Y.Z
  bindings/pyroot/pythonizations/test/root_module.py
  core/base/src/TROOT.cxx
  core/foundation/inc/ROOT/RVersion.hxx
Owners: @dpiparo, @vepadulano, @pcanal

[ci] Switch off Fortran on Alma8
  .github/workflows/root-ci-config/buildconfig/alma8.txt
Owners: @dpiparo

[ci] Switch off Fortran on Alma8
  .github/workflows/root-ci-config/buildconfig/alma8.txt
Owners: @dpiparo

[clad] Apply patch to avoid empty plugin
  interpreter/cling/tools/plugins/clad/CMakeLists.txt
  interpreter/cling/tools/plugins/clad/patches/ClangPlugin-empty.patch
Owners: @bellenot, @dpiparo

[hist] fix incoherent saveas Title in TH1
  hist/hist/src/TH1.cxx
Owners: @lmoneta

[hist] adapt TH1 SaveAs test output
  hist/hist/test/test_TH1_SaveAs.cxx
Owners: @lmoneta

[skip-ci] fix typo in doxygen groupname
  tree/ntuple/v7/inc/ROOT/RField.hxx
Owners: @jblomer

[eve7] use three_addons.mjs from latest jsroot
  ui5/eve7/eve.mjs
Owners: @linev

[tmva] RBatchGenerator fix std::variant and place while do instead of lambda recursion
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
Owners: @lmoneta

[RF] Optimize code generated from `PiecewiseInterpolation` for use in AD
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooHistFunc.h
Owners: @lmoneta, @guitargeek

[RF] Optimize code generated from `PiecewiseInterpolation` for use in AD
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofitcore/inc/RooHistFunc.h
Owners: @lmoneta, @guitargeek

[doc] Clarify current limitation of TMethodCall
  core/meta/src/TMethodCall.cxx
Owners: @dpiparo, @pcanal

[doc] Clarify current limitation of TMethodCall
  core/meta/src/TMethodCall.cxx
Owners: @dpiparo, @pcanal

[doc] Clarify current limitation of TMethodCall
  core/meta/src/TMethodCall.cxx
Owners: @dpiparo, @pcanal

[doc] Clarify current limitation of TMethodCall
  core/meta/src/TMethodCall.cxx
Owners: @dpiparo, @pcanal

[doc] Clarify current limitation of TMethodCall
  core/meta/src/TMethodCall.cxx
Owners: @dpiparo, @pcanal

[ci] Enable distributed RDataFrame testing on MacOS
  .github/workflows/root-ci-config/buildconfig/mac-beta.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
Owners: @dpiparo

[ci] Enable distributed RDataFrame testing on MacOS
  .github/workflows/root-ci-config/buildconfig/mac-beta.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
Owners: @dpiparo

[ci] Enable distributed RDataFrame testing on MacOS
  .github/workflows/root-ci-config/buildconfig/mac-beta.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
Owners: @dpiparo

[ci] Enable distributed RDataFrame testing on MacOS
  .github/workflows/root-ci-config/buildconfig/mac-beta.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
Owners: @dpiparo
