Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

[GUI] Silence TGFileDialog error messages
  gui/gui/src/TGFSContainer.cxx
Owners: @bellenot

[jsroot] dev 28/02/2024 with TRatioPlot fixes
  js/build/jsroot.js
  js/changes.md
  js/modules/base/BasePainter.mjs
  js/modules/base/ObjectPainter.mjs
  js/modules/base/base3d.mjs
  js/modules/core.mjs
  js/modules/draw/TLinePainter.mjs
  js/modules/draw/TRatioPlotPainter.mjs
  js/modules/draw/TTree.mjs
  js/modules/gpad/RFramePainter.mjs
  js/modules/gpad/TAxisPainter.mjs
  js/modules/gpad/TFramePainter.mjs
  js/modules/gpad/TPadPainter.mjs
  js/modules/gui.mjs
  js/modules/gui/HierarchyPainter.mjs
  js/modules/gui/menu.mjs
  js/modules/hist/TPavePainter.mjs
  js/modules/hist2d/TH1Painter.mjs
  js/modules/hist2d/THistPainter.mjs
  js/modules/io.mjs
Owners: @linev

[DF] Add RNTupleFileRange
  bindings/experimental/distrdf/python/DistRDF/Ranges.py
Owners: @dpiparo, @vepadulano

[ci] Globally disable cudnn
  .github/workflows/root-ci-config/buildconfig/global.txt
  .github/workflows/root-ci-config/buildconfig/mac12.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
  .github/workflows/root-ci-config/buildconfig/windows10.txt
Owners: @dpiparo

[ci] Add build at 13:30 UTC for testing purposes
  .github/workflows/root-630.yml
  .github/workflows/root-master.yml
Owners: @dpiparo

[skip-ci][ci] Use correct base_ref variable name
  .github/workflows/root-ci.yml
Owners: @dpiparo

[tmva] fix nullptr access in public methods of ftraininfo
  tmva/tmva/inc/TMVA/DecisionTreeNode.h
  tmva/tmva/src/DecisionTreeNode.cxx
Owners: @lmoneta

[clad] Bump clad version to v1.4.
  interpreter/cling/tools/plugins/clad/CMakeLists.txt
Owners: @bellenot

[ntuple] Use RRawFileTFile for non-supported protocols
  tree/ntuple/v7/inc/ROOT/RPageStorageFile.hxx
  tree/ntuple/v7/src/RPageStorageFile.cxx
  tree/ntuple/v7/test/ntuple_storage.cxx
Owners: @jblomer

[ci] Remove CMAKE_CXX_STANDARD=17 from windows.txt
  .github/workflows/root-ci-config/buildconfig/windows10.txt
Owners: @dpiparo

[ci] Globally enable unfold
  .github/workflows/root-ci-config/buildconfig/alma8.txt
  .github/workflows/root-ci-config/buildconfig/alma9.txt
  .github/workflows/root-ci-config/buildconfig/fedora38.txt
  .github/workflows/root-ci-config/buildconfig/fedora39.txt
  .github/workflows/root-ci-config/buildconfig/global.txt
  .github/workflows/root-ci-config/buildconfig/mac12.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu20.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu22.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu2304.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu2310.txt
  .github/workflows/root-ci-config/buildconfig/windows10.txt
Owners: @dpiparo

[PyROOT] Remove some more Python 2 specific code branches
  bindings/jupyroot/python/JupyROOT/helpers/handlers.py
  bindings/jupyroot/src/IOHandler.cxx
  bindings/pyroot/pythonizations/python/ROOT/__init__.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
Owners: @dpiparo, @vepadulano

[RF] Refactor RooBatchCompute to simplify Batches classes
  roofit/batchcompute/src/Batches.h
  roofit/batchcompute/src/ComputeFunctions.cxx
  roofit/batchcompute/src/RooBatchCompute.cu
  roofit/batchcompute/src/RooBatchCompute.cxx
Owners: @lmoneta, @guitargeek

[hist] Call TH1::SaveAs with no option in test
  hist/hist/test/test_TH1_SaveAs.cxx
Owners: @lmoneta

fix also in tspline even if unnamed args
  hist/hist/inc/TSpline.h
Owners: @lmoneta

[ci] Fully remove oracle option
  .github/workflows/root-ci-config/buildconfig/global.txt
  .github/workflows/root-ci-config/buildconfig/mac12.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
  .github/workflows/root-ci-config/buildconfig/windows10.txt
Owners: @dpiparo

[cmake] Require TBB 2020
  .github/workflows/root-ci-config/buildconfig/alma8.txt
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @dpiparo, @bellenot

[ci] Remove ubuntu18.txt configuration
  .github/workflows/root-ci-config/buildconfig/ubuntu18.txt
Owners: @dpiparo

[io] prevent infinite loops and add more security for overflows
  io/io/src/TBufferJSON.cxx
  io/sql/inc/TBufferSQL2.h
  io/sql/src/TBufferSQL2.cxx
  io/xml/src/TBufferXML.cxx
  tree/tree/src/TBufferSQL.cxx
Owners: @pcanal, @linev

[PyROOT] Revert patch for versioned PyROOT libraries
  bindings/jupyroot/CMakeLists.txt
  bindings/jupyroot/python/JupyROOT/helpers/handlers.py
  bindings/jupyroot/src/IOHandler.cxx
  bindings/pyroot/cppyy/CPyCppyy/CMakeLists.txt
  bindings/pyroot/cppyy/CPyCppyy/src/CPyCppyyModule.cxx
  bindings/pyroot/cppyy/cppyy-backend/CMakeLists.txt
  bindings/pyroot/cppyy/cppyy/python/cppyy/__init__.py
  bindings/pyroot/cppyy/patches/multi_python_cppyy.patch
  bindings/pyroot/pythonizations/CMakeLists.txt
  bindings/pyroot/pythonizations/python/ROOT/__init__.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/tpython/CMakeLists.txt
  cmake/modules/SearchRootCoreDeps.cmake
Owners: @bellenot, @dpiparo, @vepadulano

[skip-CI][ci] Simplify yml files configuring nightlies
  .github/workflows/root-630.yml
  .github/workflows/root-ci.yml
  .github/workflows/root-master.yml
Owners: @dpiparo

[io] Add RRawFileTFile wrapper
  io/io/CMakeLists.txt
  io/io/inc/ROOT/RRawFileTFile.hxx
  io/io/test/RRawFile.cxx
Owners: @bellenot, @pcanal

[skip-CI][CI] Increase the test retries
  .github/workflows/root-ci-config/build_root.py
Owners: @dpiparo

[RF] Avoid using static `std::vector<double>` buffer in RooBatchCompute
  roofit/batchcompute/res/RooBatchCompute.h
  roofit/batchcompute/src/Batches.h
  roofit/batchcompute/src/RooBatchCompute.cxx
  roofit/roofitcore/inc/RooFit/Detail/DataMap.h
  roofit/roofitcore/src/RooFit/Detail/DataMap.cxx
  roofit/roofitcore/src/RooFit/Evaluator.cxx
  roofit/roofitcore/src/RooPolyVar.cxx
Owners: @lmoneta, @guitargeek

[skip ci][ci] Get base_ref from inputs
  .github/workflows/root-ci.yml
Owners: @dpiparo

[clad] Fix Clad debug build on Windows
  interpreter/cling/tools/plugins/clad/CMakeLists.txt
Owners: @bellenot

[ci] Disable builtin GPL options
  .github/workflows/root-ci-config/build_root.py
Owners: @dpiparo

[skip-ci][ci] Trigger 630 nightlies acting on ref_name variable
  .github/workflows/root-630.yml
  .github/workflows/root-ci.yml
Owners: @dpiparo

[ci] Globally enable builtin_unuran and unuran
  .github/workflows/root-ci-config/buildconfig/alma8.txt
  .github/workflows/root-ci-config/buildconfig/alma9.txt
  .github/workflows/root-ci-config/buildconfig/fedora38.txt
  .github/workflows/root-ci-config/buildconfig/fedora39.txt
  .github/workflows/root-ci-config/buildconfig/global.txt
  .github/workflows/root-ci-config/buildconfig/mac12.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu20.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu22.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu2304.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu2310.txt
  .github/workflows/root-ci-config/buildconfig/windows10.txt
Owners: @dpiparo

[ntuple] Add test for merging via TBufferMerger
  tree/ntuple/v7/test/ntuple_merger.cxx
Owners: @jblomer

[ci] Remove duplicate build options
  .github/workflows/root-ci-config/buildconfig/alma8.txt
  .github/workflows/root-ci-config/buildconfig/alma9.txt
  .github/workflows/root-ci-config/buildconfig/fedora38.txt
  .github/workflows/root-ci-config/buildconfig/fedora39.txt
  .github/workflows/root-ci-config/buildconfig/mac12.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu20.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu22.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu2304.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu2310.txt
  .github/workflows/root-ci-config/buildconfig/windows10.txt
Owners: @dpiparo

[ratioplot] delete confidence intervals graphs which are not drawn
  graf2d/gpad/src/TRatioPlot.cxx
Owners: @couet

[ci] Enable unuran on Macs
  .github/workflows/root-ci-config/buildconfig/mac12.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
Owners: @dpiparo

[main] Pass full compression setting from hadd
  main/src/hadd.cxx
Owners: @pcanal

Revert "[skip-ci][ci] Use correct base_ref variable name"
  .github/workflows/root-ci.yml
Owners: @dpiparo

[cmake] Remove warning for old `pyroot_experimental` flag
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

[ratioplot] delete objects in TRatioPlot which are not drawn
  graf2d/gpad/src/TRatioPlot.cxx
Owners: @couet

[skip-ci] fix typo
  io/io/src/TBufferFile.cxx
Owners: @pcanal

[skip ci][ci] Test 6-28-00 patches nightly with the new CI
  .github/workflows/root-628.yml
Owners: @dpiparo

A shortcut to perform Modified and Update (#14671)
  core/base/inc/TVirtualPad.h
  graf2d/gpad/inc/TPad.h
  graf2d/gpad/src/TPad.cxx
Owners: @dpiparo, @pcanal, @couet

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot
