Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[PyROOT] Code-format C++ sources
  bindings/pyroot/pythonizations/src/CPPInstancePyz.cxx
  bindings/pyroot/pythonizations/src/IOHandler.cxx
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTWrapper.cxx
  bindings/pyroot/pythonizations/src/RPyROOTApplication.cxx
  bindings/pyroot/pythonizations/src/TClassPyz.cxx
  bindings/pyroot/pythonizations/src/TTreePyz.cxx
Owners: @dpiparo, @vepadulano

[PyROOT] Fix typos
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/Factory.py
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/JPyInterface.py
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/OutputTransformer.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/__init__.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_stl_vector.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_crossvalidation.py
  bindings/pyroot/pythonizations/src/RPyROOTApplication.cxx
  bindings/pyroot/pythonizations/src/RPyROOTApplication.h
  bindings/pyroot/pythonizations/test/roofit/rooabscollection.py
  bindings/pyroot/pythonizations/test/roofit/roodataset_numpy.py
Owners: @dpiparo, @vepadulano

[tutorials][tmva] Fix a dependency issue with TMVA tutorials
  tutorials/CMakeLists.txt
  tutorials/tmva/TMVA_SOFIE_RDataFrame.py
Owners: @bellenot, @couet

[tutorials][tmva] Fix a dependency issue with TMVA tutorials
  tutorials/CMakeLists.txt
  tutorials/tmva/TMVA_SOFIE_RDataFrame.py
Owners: @bellenot, @couet

[tutorials][tmva] Fix a dependency issue with TMVA tutorials
  tutorials/CMakeLists.txt
  tutorials/tmva/TMVA_SOFIE_RDataFrame.py
Owners: @bellenot, @couet

[tmva] Changes for Cudnn version > 8
  tmva/tmva/inc/TMVA/DNN/Architectures/Cpu.h
  tmva/tmva/inc/TMVA/DNN/Architectures/Cuda.h
  tmva/tmva/inc/TMVA/DNN/Architectures/TCudnn.h
  tmva/tmva/inc/TMVA/DNN/CNN/ContextHandles.h
  tmva/tmva/inc/TMVA/DNN/RNN/GRULayer.h
  tmva/tmva/inc/TMVA/DNN/RNN/LSTMLayer.h
  tmva/tmva/inc/TMVA/DNN/RNN/RNNLayer.h
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta

[tmva] Fix GPU RNN implementation
  tmva/tmva/inc/TMVA/DNN/Architectures/TCudnn.h
  tmva/tmva/inc/TMVA/DNN/RNN/RNNLayer.h
  tmva/tmva/src/DNN/Architectures/Cpu/RecurrentPropagation.hxx
  tmva/tmva/src/DNN/Architectures/Cuda/CudaTensor.cu
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta

[tmva] Changes for Cudnn version > 8
  tmva/tmva/inc/TMVA/DNN/Architectures/Cpu.h
  tmva/tmva/inc/TMVA/DNN/Architectures/Cuda.h
  tmva/tmva/inc/TMVA/DNN/Architectures/TCudnn.h
  tmva/tmva/inc/TMVA/DNN/CNN/ContextHandles.h
  tmva/tmva/inc/TMVA/DNN/RNN/GRULayer.h
  tmva/tmva/inc/TMVA/DNN/RNN/LSTMLayer.h
  tmva/tmva/inc/TMVA/DNN/RNN/RNNLayer.h
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta

[tmva] Fix GPU RNN implementation
  tmva/tmva/inc/TMVA/DNN/Architectures/TCudnn.h
  tmva/tmva/inc/TMVA/DNN/RNN/RNNLayer.h
  tmva/tmva/src/DNN/Architectures/Cpu/RecurrentPropagation.hxx
  tmva/tmva/src/DNN/Architectures/Cuda/CudaTensor.cu
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta

Misc release notes for 6.32
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

Misc release notes for 6.32
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

Misc release notes for 6.32
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

Misc release notes for 6.32
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[tmva] Remove a printout in Cudnn code left from previous commit
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta

[tmva] Remove a printout in Cudnn code left from previous commit
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta

[tmva] Remove a printout in Cudnn code left from previous commit
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta

Revert "[TO REVERT] Never run TMVA GNN tests and tutorials as unit tests"
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  tutorials/CMakeLists.txt
Owners: @bellenot

Revert "[TO REVERT] Never run TMVA GNN tests and tutorials as unit tests"
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  tutorials/CMakeLists.txt
Owners: @bellenot

[matrix] Fast element setter method (#15606)
  math/matrix/inc/TMatrixT.h
  math/matrix/inc/TMatrixTSym.h
  math/matrix/test/testMatrixT.cxx
Owners: @lmoneta

[matrix] Fast element setter method (#15606)
  math/matrix/inc/TMatrixT.h
  math/matrix/inc/TMatrixTSym.h
  math/matrix/test/testMatrixT.cxx
Owners: @lmoneta

Misc release notes for 6.32
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[cmake] Add ninja support for Windows
  builtins/cfitsio/CMakeLists.txt
  builtins/pcre/CMakeLists.txt
  cmake/modules/RootMacros.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  cmake/modules/SetUpWindows.cmake
  core/metacling/src/CMakeLists.txt
  core/rootcling_stage1/CMakeLists.txt
  graf2d/win32gdk/CMakeLists.txt
  interpreter/CMakeLists.txt
  interpreter/cling/tools/plugins/clad/CMakeLists.txt
  main/CMakeLists.txt
  math/mathcore/test/CMakeLists.txt
  test/CMakeLists.txt
  test/RootShower/CMakeLists.txt
  tree/dataframe/test/CMakeLists.txt
  tree/ntuple/v7/test/CMakeLists.txt
  tree/ntupleutil/v7/test/CMakeLists.txt
  tree/tree/test/CMakeLists.txt
Owners: @bellenot

[tutorials][tmva] Fix a dependency issue with TMVA tutorials
  tutorials/CMakeLists.txt
  tutorials/tmva/TMVA_SOFIE_RDataFrame.py
Owners: @bellenot, @couet

[tmva] Changes for Cudnn version > 8
  tmva/tmva/inc/TMVA/DNN/Architectures/Cpu.h
  tmva/tmva/inc/TMVA/DNN/Architectures/Cuda.h
  tmva/tmva/inc/TMVA/DNN/Architectures/TCudnn.h
  tmva/tmva/inc/TMVA/DNN/CNN/ContextHandles.h
  tmva/tmva/inc/TMVA/DNN/RNN/GRULayer.h
  tmva/tmva/inc/TMVA/DNN/RNN/LSTMLayer.h
  tmva/tmva/inc/TMVA/DNN/RNN/RNNLayer.h
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta

[tmva] Fix GPU RNN implementation
  tmva/tmva/inc/TMVA/DNN/Architectures/TCudnn.h
  tmva/tmva/inc/TMVA/DNN/RNN/RNNLayer.h
  tmva/tmva/src/DNN/Architectures/Cpu/RecurrentPropagation.hxx
  tmva/tmva/src/DNN/Architectures/Cuda/CudaTensor.cu
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta

[tmva] Remove a printout in Cudnn code left from previous commit
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta

[relnotes] Add RNTuple release notes
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[relnotes] Add RNTuple release notes
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[relnotes] Add RNTuple release notes
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[tmva] Remove mutexes from Validation batch loading
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
Owners: @lmoneta

[relnotes] Add RNTuple release notes
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[RDF] Make df106_HiggsToFourLeptons.C run properly when compiled
  tutorials/dataframe/df106_HiggsToFourLeptons.C
Owners: @couet

[RDF] merge Declares in df106 tutorial
  tutorials/dataframe/df106_HiggsToFourLeptons.C
Owners: @couet

io: Avoid infinite recursion in TFile::Open
  io/io/src/TFile.cxx
Owners: @pcanal

[tmva] Add shuffling and drop_remainder
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
  tmva/tmva/inc/TMVA/RBatchLoader.hxx
  tmva/tmva/inc/TMVA/RChunkLoader.hxx
Owners: @lmoneta

[relnotes] Add RNTuple release notes
  README/ReleaseNotes/v632/index.md
Owners: @dpiparo

[cmake] Add a missing condition for ninja
  cmake/modules/SetUpWindows.cmake
Owners: @bellenot

[tmva] Fix GPU RNN implementation
  tmva/tmva/inc/TMVA/DNN/Architectures/TCudnn.h
  tmva/tmva/inc/TMVA/DNN/RNN/RNNLayer.h
  tmva/tmva/src/DNN/Architectures/Cpu/RecurrentPropagation.hxx
  tmva/tmva/src/DNN/Architectures/Cuda/CudaTensor.cu
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta

[tmva] Remove a printout in Cudnn code left from previous commit
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta

[tmva] Changes for Cudnn version > 8
  tmva/tmva/inc/TMVA/DNN/Architectures/Cpu.h
  tmva/tmva/inc/TMVA/DNN/Architectures/Cuda.h
  tmva/tmva/inc/TMVA/DNN/Architectures/TCudnn.h
  tmva/tmva/inc/TMVA/DNN/CNN/ContextHandles.h
  tmva/tmva/inc/TMVA/DNN/RNN/GRULayer.h
  tmva/tmva/inc/TMVA/DNN/RNN/LSTMLayer.h
  tmva/tmva/inc/TMVA/DNN/RNN/RNNLayer.h
  tmva/tmva/src/DNN/Architectures/Cudnn/RecurrentPropagation.cu
Owners: @lmoneta
