Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

[RF] Asymptotically correct uncertainties in extended unbinned NLL fits
  roofit/roofitcore/src/FitHelpers.cxx
Owners: @lmoneta, @guitargeek

[RF] Use absolute epsilon in RooDerivative
  roofit/roofitcore/src/RooDerivative.cxx
Owners: @lmoneta, @guitargeek

[RF] Document asymptotically correct error correction for extended fits
  README/ReleaseNotes/v632/index.md
  roofit/roofitcore/src/RooAbsPdf.cxx
Owners: @dpiparo, @lmoneta, @guitargeek

[RF] Update `rf611_weightedfits.C` example to show extended fit
  tutorials/roofit/rf611_weightedfits.C
Owners: @couet

[RF] Fix typos in RooFit
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofit/test/testFitPerf.cxx
  tutorials/roofit/rf514_RooCustomizer.C
  tutorials/roofit/rf514_RooCustomizer.py
Owners: @lmoneta, @guitargeek, @couet

[RF] Use absolute epsilon in RooDerivative
  roofit/roofitcore/src/RooDerivative.cxx
Owners: @lmoneta, @guitargeek

[RF] Asymptotically correct uncertainties in extended unbinned NLL fits
  roofit/roofitcore/src/FitHelpers.cxx
Owners: @lmoneta, @guitargeek

[RF] Update `rf611_weightedfits.C` example to show extended fit
  tutorials/roofit/rf611_weightedfits.C
Owners: @couet

[RF] Document asymptotically correct error correction for extended fits
  README/ReleaseNotes/v632/index.md
  roofit/roofitcore/src/RooAbsPdf.cxx
Owners: @dpiparo, @lmoneta, @guitargeek

[RF] Fix typos in RooFit
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofit/test/testFitPerf.cxx
  tutorials/roofit/rf514_RooCustomizer.C
  tutorials/roofit/rf514_RooCustomizer.py
Owners: @lmoneta, @guitargeek, @couet

[jsmva] Correct import statement
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/JsMVAMagic.py
Owners: @dpiparo, @vepadulano

[jsmva] upgrade JSROOT to latest 7.3.0
  etc/notebook/JsMVA/js/JsMVA.js
Owners: @dpiparo

[jsmva] switch to use /static path
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/Factory.py
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/JPyInterface.py
  etc/notebook/JsMVA/js/JsMVA.js
  etc/notebook/JsMVA/js/NetworkDesigner.js
Owners: @dpiparo, @vepadulano

[jsmva] move sources into js/mva/ folder
  etc/notebook/JsMVA/css/NetworkDesigner.min.css
  etc/notebook/JsMVA/css/TMVAHTMLOutput.min.css
  etc/notebook/JsMVA/js/DecisionTree.min.js
  etc/notebook/JsMVA/js/JsMVA.min.js
  etc/notebook/JsMVA/js/NetworkDesigner.min.js
  etc/notebook/JsMVA/js/NeuralNetwork.min.js
  js/mva/css/NetworkDesigner.css
  js/mva/css/TMVAHTMLOutput.css
  js/mva/js/DecisionTree.js
  js/mva/js/JsMVA.js
  js/mva/js/NetworkDesigner.js
  js/mva/js/NeuralNetwork.js
  js/mva/js/jquery-timing.min.js
  js/mva/js/jquery.connections.min.js
Owners: @dpiparo, @linev

[jsmva] use build-in next() function for let it run with python3
  bindings/pyroot/pythonizations/python/ROOT/JsMVA/OutputTransformer.py
Owners: @dpiparo, @vepadulano

[RF] Update `rf611_weightedfits.C` example to show extended fit
  tutorials/roofit/rf611_weightedfits.C
Owners: @couet

[RF] Fix typos in RooFit
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofit/test/testFitPerf.cxx
  tutorials/roofit/rf514_RooCustomizer.C
  tutorials/roofit/rf514_RooCustomizer.py
Owners: @lmoneta, @guitargeek, @couet

[RF] Document asymptotically correct error correction for extended fits
  README/ReleaseNotes/v632/index.md
  roofit/roofitcore/src/RooAbsPdf.cxx
Owners: @dpiparo, @lmoneta, @guitargeek

[RF] Update `rf611_weightedfits.C` example to show extended fit
  tutorials/roofit/rf611_weightedfits.C
Owners: @couet

[RF] Document asymptotically correct error correction for extended fits
  README/ReleaseNotes/v632/index.md
  roofit/roofitcore/src/RooAbsPdf.cxx
Owners: @dpiparo, @lmoneta, @guitargeek

[RF] Use absolute epsilon in RooDerivative
  roofit/roofitcore/src/RooDerivative.cxx
Owners: @lmoneta, @guitargeek

[RF] Asymptotically correct uncertainties in extended unbinned NLL fits
  roofit/roofitcore/src/FitHelpers.cxx
Owners: @lmoneta, @guitargeek

[RF] Use absolute epsilon in RooDerivative
  roofit/roofitcore/src/RooDerivative.cxx
Owners: @lmoneta, @guitargeek

[RF] Fix typos in RooFit
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofit/test/testFitPerf.cxx
  tutorials/roofit/rf514_RooCustomizer.C
  tutorials/roofit/rf514_RooCustomizer.py
Owners: @lmoneta, @guitargeek, @couet

[RF] Asymptotically correct uncertainties in extended unbinned NLL fits
  roofit/roofitcore/src/FitHelpers.cxx
Owners: @lmoneta, @guitargeek

Don't use system giflib on macOS
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

Don't use system giflib on macOS
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

Don't use system giflib on macOS
  cmake/modules/SearchInstalledSoftware.cmake
Owners: @bellenot

[core] change !R__likely(e) to R__unlikely(!e) for readability
  core/foundation/inc/TError.h
Owners: @dpiparo, @pcanal

[core] backtick-quote `assert()` in R__ASSERT comment
  core/foundation/inc/TError.h
Owners: @dpiparo, @pcanal

[core] document R__ASSERT/CHECK and add R__likely
  core/foundation/inc/TError.h
Owners: @dpiparo, @pcanal

[core] backtick-quote `assert()` in R__ASSERT comment
  core/foundation/inc/TError.h
Owners: @dpiparo, @pcanal

[core] change !R__likely(e) to R__unlikely(!e) for readability
  core/foundation/inc/TError.h
Owners: @dpiparo, @pcanal

[core] apply clang-format to R__ASSERT and R__CHECK
  core/foundation/inc/TError.h
Owners: @dpiparo, @pcanal

[core] document R__ASSERT/CHECK and add R__likely
  core/foundation/inc/TError.h
Owners: @dpiparo, @pcanal

[core] apply clang-format to R__ASSERT and R__CHECK
  core/foundation/inc/TError.h
Owners: @dpiparo, @pcanal

Simplify the platform-dependent part of a couple of add_custom_command
  CMakeLists.txt
Owners: @bellenot

User proper $<TARGET_FILE:root.exe>
  CMakeLists.txt
Owners: @bellenot

User proper $<TARGET_FILE:root.exe>
  CMakeLists.txt
Owners: @bellenot

Fix the syntax on Windows
  CMakeLists.txt
Owners: @bellenot
