Repository root-project/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dpiparo, @vepadulano, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @linev, @gganis, @guitargeek, @martamaja10, @jblomer, @omazapa, @osschar

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
#
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @dpiparo
/bindings/ @dpiparo @vepadulano
/core/ @dpiparo @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @dpiparo
/icons/ @bellenot
/interpreter/ @dpiparo
/interpreter/llvm-project/ @vgvassilev
interpreter/cling/tools/packaging @vgvassilev
/io/ @pcanal
/io/xml/ @pcanal @linev
/main/ @pcanal
/math/ @lmoneta
/math/vecops @dpiparo
/misc/ @dpiparo
/montecarlo/ @dpiparo
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @guitargeek
/rootx/ @dpiparo
/sql/ @pcanal @linev
/tmva/ @lmoneta
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe/ @martamaja10 @vepadulano
/tree/readspeed/ @martamaja10
/tree/ntuple/v7/ @jblomer
/tree/ntupleutil/v7/ @jblomer

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/imt/ @dpiparo
/core/multiproc/ @dpiparo
/graf2d/cocoa/ @couet
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar @linev

#different http/webgui components
/net/http/ @linev
/net/httpsniff/ @linev
/tutorials/http/ @linev
/js/ @linev
/gui/webdisplay/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webgui6/ @linev
/gui/fitpanelv7/ @linev
/gui/browserv7/ @bellenot @linev
/gui/canvaspainter/ @dpiparo @linev
/ui5/ @linev

/cmake/ @bellenot
*.cmake @bellenot
*/CMakeLists.txt @bellenot
CMakeLists.txt @bellenot

Add basic tests for InvariantMass functionality
  math/vecops/test/vecops_rvec.cxx
Owners: @dpiparo

[hist] Add test for TSpline precision
  hist/hist/test/CMakeLists.txt
  hist/hist/test/test_spline.cxx
Owners: @bellenot, @lmoneta

[hist] add bounds and overflow checking
  hist/hist/inc/TPrincipal.h
  hist/hist/src/TPrincipal.cxx
Owners: @lmoneta

[hist] Improve precision of TSpline SaveAs
  hist/hist/src/TSpline.cxx
Owners: @lmoneta

[core] Silence 6.34 deprecation warnings for now
  core/foundation/inc/ROOT/RConfig.hxx
Owners: @dpiparo, @pcanal

[ntuple] Fix typo in error message
  tree/ntuple/v7/src/RField.cxx
Owners: @jblomer

Add basic tests for DeltaPhi
  math/vecops/test/vecops_rvec.cxx
Owners: @dpiparo

[ntuple] more efficient RField<TObject>::GetClass()
  tree/ntuple/v7/src/RField.cxx
Owners: @jblomer

[ntuple] specialize RField for TObject
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/inc/ROOT/RFieldVisitor.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RFieldVisitor.cxx
  tree/ntuple/v7/test/rfield_class.cxx
Owners: @jblomer

[io] do not use single-file-merge shortcut if filters are specified
  io/io/src/TFileMerger.cxx
  io/io/test/CMakeLists.txt
  io/io/test/TFileMergerTests.cxx
Owners: @pcanal, @bellenot

[hist] Use virtual THnBase::CreateIter to generalize
  hist/hist/inc/THnSparse.h
  hist/hist/src/THnBase.cxx
Owners: @lmoneta

Require only one template argument for usage
  math/vecops/inc/ROOT/RVec.hxx
Owners: @dpiparo

[CMake] Fix ordering problem when checking and setting `cuda` flag
  cmake/modules/CheckCompiler.cmake
  cmake/modules/RootBuildOptions.cmake
Owners: @bellenot

[skip-ci,hist] improve doc wrt covariance matrix format
  hist/hist/inc/TPrincipal.h
Owners: @lmoneta

[ntuple] remove unnecessary RTObjectField intermediate class
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/inc/ROOT/RFieldVisitor.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RFieldVisitor.cxx
Owners: @jblomer

[hist] fix similar bug in TSpline5_saveas
  hist/hist/src/TSpline.cxx
Owners: @lmoneta

[pyroot] Use raw string to allow escaped character in docstring
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rvec.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_rtensor.py
Owners: @dpiparo, @vepadulano

[cling] Allow running named macro from shared library
  core/base/src/TApplication.cxx
  core/base/src/root-argparse.py
  core/metacling/src/TCling.cxx
Owners: @dpiparo, @pcanal

[hist] prevent nullptr access
  hist/hist/src/TF1NormSum.cxx
Owners: @lmoneta

[ntuple] add unit test for TObject derived class
  tree/ntuple/v7/test/CMakeLists.txt
  tree/ntuple/v7/test/rfield_class.cxx
Owners: @bellenot, @jblomer

Add basic tests for DeltaR
  math/vecops/test/vecops_rvec.cxx
Owners: @dpiparo

[core] Do not skip libCore when finding what library the class belongs
  core/metacling/src/TCling.cxx
Owners: @dpiparo, @pcanal

[math] Clarify meaning of TFoam::GetIntNorm parameters
  math/foam/src/TFoam.cxx
Owners: @lmoneta

Replace static_asserts with gtest macros
  math/vecops/test/vecops_rvec.cxx
Owners: @dpiparo

Remove the deprecated Pythia 6 interface
  .github/workflows/root-ci-config/build_root.py
  .github/workflows/root-ci-config/buildconfig/global.txt
  cmake/modules/FindPythia6.cmake
  cmake/modules/RootBuildOptions.cmake
  cmake/modules/RootConfiguration.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  config/Makefile.in
  documentation/users-guide/Introduction.md
  montecarlo/CMakeLists.txt
  montecarlo/pythia6/CMakeLists.txt
  montecarlo/pythia6/doc/index.md
  montecarlo/pythia6/inc/LinkDef.h
  montecarlo/pythia6/inc/TMCParticle.h
  montecarlo/pythia6/inc/TPythia6.h
  montecarlo/pythia6/inc/TPythia6Calls.h
  montecarlo/pythia6/inc/TPythia6Decayer.h
  montecarlo/pythia6/src/TMCParticle.cxx
  montecarlo/pythia6/src/TPythia6.cxx
  montecarlo/pythia6/src/TPythia6Decayer.cxx
  tutorials/CMakeLists.txt
  tutorials/pythia/pythiaExample.C
Owners: @dpiparo, @bellenot, @couet

[ci] Add scheduled builds for 6.32
  .github/workflows/root-632.yml
Owners: @dpiparo

Update ROOT version file
  core/foundation/inc/ROOT/RVersion.hxx
Owners: @dpiparo, @pcanal

[CMake] Check Python 3.8 requirement already in `find_package(Python3)`
  cmake/modules/SearchInstalledSoftware.cmake
  cmake/modules/SearchRootCoreDeps.cmake
Owners: @bellenot

[ntuple] improve RField<TObject>::GetOffsetOfMember()
  tree/ntuple/v7/src/RField.cxx
Owners: @jblomer

[core] allow also normal shared libraries without the ACLiC suffix
  core/base/src/root-argparse.py
  core/metacling/src/TCling.cxx
Owners: @dpiparo, @pcanal

[tmva][sofie] Fix issues with RModel streamer
  tmva/sofie/inc/TMVA/SOFIE_common.hxx
  tmva/sofie/src/RModel.cxx
Owners: @lmoneta

Allow to use DeltaR with different floating point types
  math/vecops/inc/ROOT/RVec.hxx
Owners: @dpiparo

[CMake] CMake dependency on Python: use targets
  bindings/jupyroot/CMakeLists.txt
  bindings/pyroot/cppyy/CPyCppyy/CMakeLists.txt
  bindings/tpython/CMakeLists.txt
  tmva/pymva/CMakeLists.txt
  tmva/pymva/test/CMakeLists.txt
Owners: @bellenot

[core] only return core as shared lib for doxygen documentation purposes
  core/meta/inc/TInterpreter.h
  core/metacling/src/TCling.cxx
  core/metacling/src/TCling.h
  core/metacling/test/TClingTests.cxx
  documentation/doxygen/libs.C
Owners: @dpiparo, @pcanal, @couet

[core] Replace sprintf with snprintf
  rootx/src/rootx.cxx
Owners: @dpiparo

[ntuple] prevent handling of TObject through RClassField
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/rfield_class.cxx
Owners: @jblomer

[tmva] Cleanup RModel classes layout
  tmva/sofie/inc/TMVA/RModel.hxx
  tmva/sofie/inc/TMVA/RModel_Base.hxx
  tmva/sofie/inc/TMVA/RModel_GNN.hxx
  tmva/sofie/inc/TMVA/RModel_GraphIndependent.hxx
Owners: @lmoneta

[PyROOT][RDF] Support conversion of `bool` columns to NumPy arrays
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rvec.py
  bindings/pyroot/pythonizations/test/rdataframe_asnumpy.py
  tree/dataframe/src/RDFUtils.cxx
Owners: @dpiparo, @vepadulano, @martamaja10

[tmva] Adapt test to class layout changes
  tmva/sofie/test/EmitFromRoot.cxx.in
Owners: @lmoneta

[ntuple] optimizations to RField<TObject> implementation
  tree/ntuple/v7/src/RField.cxx
Owners: @jblomer
