Repository root-project/root, pull requests merged in 2020-11, with the labels that each got.

#6742 Fix Jira issue #ROOT-7968
  tmva/tmva/inc/TMVA/MsgLogger.h
  tmva/tmva/src/MsgLogger.cxx
Labels: in:TMVA

#6738 Fix for copying title to cloned volumes and nodes [6-22]
  geom/geom/src/TGeoNode.cxx
  geom/geom/src/TGeoVolume.cxx
Labels: improvement, in:Graphics

#6752 Fix issue #6743 ROOT crashes if a TApplication is not present and tree->StartViewer() is called
  core/gui/inc/TBrowser.h
  core/gui/src/TBrowser.cxx
  gui/gui/src/TGWindow.cxx
  tree/treeplayer/src/TTreePlayer.cxx
Labels: improvement, in:GUI

#6570 Avoid calling TTree::ChangeFile if file is TMemFile
  io/io/test/TBufferMerger.cxx
  tree/dataframe/src/RLoopManager.cxx
  tree/dataframe/test/dataframe_snapshot.cxx
  tree/tree/src/TTree.cxx
Labels: in:TTree

#6571 [cling] DefinitionShadower: allow shadowing of non-user-defined declarations
  interpreter/cling/lib/Interpreter/DefinitionShadower.cpp
Labels: improvement, in:Cling

#6790 Add missing include to RError.hxx
  core/base/v7/inc/ROOT/RError.hxx
Labels: affects:6.22, pr:backport

#6798 Never trigger TTree::ChangeFile from RDF::Snapshot (#6570)
  io/io/test/TBufferMerger.cxx
  tree/dataframe/src/RLoopManager.cxx
  tree/dataframe/test/dataframe_snapshot.cxx
  tree/tree/src/TTree.cxx
Labels: pr:backport

#6716 [bug] Use type cast in TGProgressBar.cxx instead of initialization
  gui/gui/src/TGProgressBar.cxx
Labels: in:GUI

#6876 [jsroot] dev 25/11/2020 [skip-ci]
  js/scripts/JSRoot.base3d.js
  js/scripts/JSRoot.geom.js
  js/scripts/JSRoot.geoworker.js
  js/scripts/JSRoot.gpad.js
  js/scripts/JSRoot.hist.js
  js/scripts/JSRoot.io.js
  js/scripts/JSRoot.more.js
  js/scripts/JSRoot.openui5.js
  js/scripts/JSRoot.tree.js
  js/scripts/JSRoot.v7gpad.js
  js/scripts/JSRoot.v7hist.js
  js/scripts/JSRootCore.js
Labels: affects:master, improvement
