Repository root-project/root, pull requests merged in 2021-07, with the labels that each got.

#8579 [v624][RF] Store a copy of last-used normalization set in RooAddPdf
  roofit/roofitcore/inc/RooAddPdf.h
  roofit/roofitcore/src/RooAddPdf.cxx
Labels: bug, in:RooFit/RooStats, pr:backport

#8584 [RF] Translated RooFit tutorial files
  tutorials/roofit/rf212_plottingInRanges_blinding.py
  tutorials/roofit/rf303_conditional.py
  tutorials/roofit/rf514_RooCustomizer.py
  tutorials/roofit/rf612_recoverFromInvalidParameters.py
  tutorials/roofit/rf709_BarlowBeeston.py
Labels: in:RooFit/RooStats

#8585 prevent gGlobalMutex memory leak
  core/base/src/TROOT.cxx
Labels: in:Core Libraries

#8586 [webgui] disbale gpu and audio in headless chrome
  gui/webdisplay/src/RWebDisplayHandle.cxx
Labels: in:WebGui

#8004 [RF] Check that no two distinct input pdfs have same name in RooAddPdf and general RooAddPdf modernization
  roofit/roofitcore/inc/RooAddPdf.h
  roofit/roofitcore/src/RooAddPdf.cxx
Labels: in:RooFit/RooStats

#8236 [DF] [skip-ci] Add docs for distributed Snapshot
  tree/dataframe/src/RDataFrame.cxx
Labels: in:Documentation, in:RDataFrame

#8588 Document the TH2 and TH3 constructors
  hist/hist/src/TH1.cxx
  hist/hist/src/TH2.cxx
  hist/hist/src/TH3.cxx
Labels: improvement, in:Documentation

#7200 Add function to know if TTimer is running (within gSystem)
  core/base/inc/TTimer.h
  core/base/src/TTimer.cxx
Labels: improvement, in:Core Libraries

#8572 Fix thread safety data races
  core/base/inc/TSystem.h
  core/thread/inc/TThread.h
  core/thread/src/TThread.cxx
  etc/helgrind-root.supp
  gui/gui/inc/TGClient.h
Labels: in:Core Libraries

#8621 TGLAxisPainter silently modified the histogram's Z axis parameters
  graf3d/gl/src/TGLAxisPainter.cxx
Labels: bug

#8614 [RF] Use std::string_view for name and title in RooFit data classes constructors
  roofit/roofit/src/RooLagrangianMorphFunc.cxx
  roofit/roofitcore/inc/RooAbsData.h
  roofit/roofitcore/inc/RooAbsDataStore.h
  roofit/roofitcore/inc/RooCompositeDataStore.h
  roofit/roofitcore/inc/RooDataHist.h
  roofit/roofitcore/inc/RooDataSet.h
  roofit/roofitcore/inc/RooTreeDataStore.h
  roofit/roofitcore/inc/RooVectorDataStore.h
  roofit/roofitcore/src/RooAbsCachedPdf.cxx
  roofit/roofitcore/src/RooAbsCachedReal.cxx
  roofit/roofitcore/src/RooAbsData.cxx
  roofit/roofitcore/src/RooAbsDataStore.cxx
  roofit/roofitcore/src/RooCompositeDataStore.cxx
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooDataSet.cxx
  roofit/roofitcore/src/RooTreeDataStore.cxx
  roofit/roofitcore/src/RooVectorDataStore.cxx
  roofit/roostats/src/AsymptoticCalculator.cxx
  roofit/roostats/src/HybridCalculatorOriginal.cxx
  roofit/roostats/src/HypoTestCalculatorGeneric.cxx
Labels: in:RooFit/RooStats

#8369 RooFit::MultiProcess & TestStatistics part 1: mathcore & Minuit2 changes
  math/mathcore/inc/Math/IFunction.h
  math/minuit2/CMakeLists.txt
  math/minuit2/inc/Minuit2/AnalyticalGradientCalculator.h
  math/minuit2/inc/Minuit2/ExternalInternalGradientCalculator.h
  math/minuit2/inc/Minuit2/FCNGradAdapter.h
  math/minuit2/inc/Minuit2/FCNGradientBase.h
  math/minuit2/inc/Minuit2/SinParameterTransformation.h
  math/minuit2/inc/Minuit2/SqrtLowParameterTransformation.h
  math/minuit2/inc/Minuit2/SqrtUpParameterTransformation.h
  math/minuit2/src/CMakeLists.txt
  math/minuit2/src/ExternalInternalGradientCalculator.cxx
  math/minuit2/src/ModularFunctionMinimizer.cxx
  math/minuit2/src/SinParameterTransformation.cxx
  math/minuit2/src/SqrtLowParameterTransformation.cxx
  math/minuit2/src/SqrtUpParameterTransformation.cxx
Labels: in:RooFit/RooStats

#8613 Added Histogram Normalization Tutorial
  tutorials/hist/NormalizeHistogram.C
Labels: improvement, in:Documentation, in:Graphics

#8653 Remove accidentally introduced I/O capabilities of RooMinimizer
  roofit/roofitcore/inc/RooMinimizer.h
Labels: affects:master, bug, in:RooFit/RooStats

#8664 [gui][skip-ci] Fix typo in `TRootGuiBuilder::BindKeys()` documentation
  gui/guibuilder/src/TRootGuiBuilder.cxx
Labels: improvement, in:Documentation

#8625 Added Histogram X-Axis Range Change tutorial
  tutorials/hist/ZoomHistogram.C
Labels: improvement, in:Documentation, in:Graphics

#8520 [cmake] check for internet connection. Fixes #8292
  CMakeLists.txt
  cmake/modules/SearchInstalledSoftware.cmake
  interpreter/cling/tools/plugins/CMakeLists.txt
Labels: affects:master, in:Build System

#8676 Eve-7: Add XZ,YZ, ZX, and ZY projection types. Zeroth version of Lego view type
  graf3d/eve/inc/LinkDef1.h
  graf3d/eve/inc/TEveProjections.h
  graf3d/eve/src/TEveProjectionManager.cxx
  graf3d/eve/src/TEveProjectionManagerEditor.cxx
  graf3d/eve/src/TEveProjections.cxx
  graf3d/eve7/inc/LinkDef.h
  graf3d/eve7/inc/ROOT/REveDataCollection.hxx
  graf3d/eve7/inc/ROOT/REveDataProxyBuilderBase.hxx
  graf3d/eve7/inc/ROOT/REveDataSimpleProxyBuilder.hxx
  graf3d/eve7/inc/ROOT/REveProjections.hxx
  graf3d/eve7/inc/ROOT/REveViewer.hxx
  graf3d/eve7/src/REveDataCollection.cxx
  graf3d/eve7/src/REveDataProxyBuilderBase.cxx
  graf3d/eve7/src/REveDataSimpleProxyBuilder.cxx
  graf3d/eve7/src/REveProjectionManager.cxx
  graf3d/eve7/src/REveProjections.cxx
  graf3d/eve7/src/REveTypes.cxx
  graf3d/eve7/src/REveViewer.cxx
  tutorials/eve7/calorimeters.C
  tutorials/eve7/collection_proxies.C
  tutorials/eve7/error_ellipse.C
  tutorials/eve7/event_demo.C
  tutorials/eve7/lego.C
  tutorials/eve7/projection_prescale.C
  ui5/eve7/controller/EveTable.controller.js
  ui5/eve7/controller/GL.controller.js
  ui5/eve7/controller/Lego.controller.js
  ui5/eve7/controller/Main.controller.js
  ui5/eve7/lib/GlViewerJSRoot.js
  ui5/eve7/lib/GlViewerRCore.js
  ui5/eve7/lib/GlViewerThree.js
  ui5/eve7/view/Lego.view.xml
Labels: improvement, in:Graphics

#8645 [RF] Fix `if` statement in HypoTestInverterResult::FindIndex()
  roofit/roostats/src/HypoTestInverterResult.cxx
Labels: bug, in:RooFit/RooStats

#8648 [v624][RF] Fix `if` statement in HypoTestInverterResult::FindIndex()
  roofit/roostats/src/HypoTestInverterResult.cxx
Labels: bug, in:RooFit/RooStats, pr:backport

#8649 [v6.22][RF] Fix `if` statement in HypoTestInverterResult::FindIndex()
  roofit/roostats/src/HypoTestInverterResult.cxx
Labels: bug, in:RooFit/RooStats, pr:backport

#8692 [tmva] Remove functor objects that are not anymore used
  tmva/tmva/inc/TMVA/DataSetFactory.h
Labels: improvement, in:TMVA

#8689 Add Minuit2 On by default
  cmake/modules/RootBuildOptions.cmake
Labels: in:Build System, in:RooFit/RooStats

#8667 [TGMainFrame] grabbed keys stop working if TGTextButton with Alt hotkey
  gui/gui/src/TGButton.cxx
Labels: bug, in:GUI

#8496 MathMore: Add Lambert W functions
  math/mathmore/inc/Math/SpecFuncMathMore.h
  math/mathmore/src/SpecFuncMathMore.cxx
  math/mathmore/test/testSpecFunc.cxx
Labels: improvement, in:Math Libraries

#8727 [RF] Deprecate RooSetPair class by moving it to RooFitLegacy
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/inc/RooFitLegacy/RooSetPair.h
  roofit/roofitcore/src/RooFitLegacy/RooHashTable.cxx
  roofit/roofitcore/src/RooFitLegacy/RooMinuit.cxx
  roofit/roofitcore/src/RooFitLegacy/RooSetPair.cxx
Labels: in:RooFit/RooStats

#8726 [skip-ci] More descriptive descriptions in TH1
  hist/hist/src/TH1.cxx
Labels: improvement, in:Documentation

#8722 add fixture support to ROOT_ADD_TEST
  cmake/modules/RootMacros.cmake
Labels: improvement, in:Build System

#8733 [RF] Fix size of output span from `RooUniform::evaluateSpan()`
  roofit/roofit/src/RooUniform.cxx
Labels: bug, in:RooFit/RooStats

#8734 [v624][RF] Fix size of output span from `RooUniform::evaluateSpan()`
  roofit/roofit/src/RooUniform.cxx
Labels: affects:6.24, bug, in:RooFit/RooStats, pr:backport

#8757 [RF] Add missing overloads to WRITE_TSTRING_COMPATIBLE_CONSTRUCTOR
  roofit/roofitcore/inc/RooAbsData.h
  roofit/roofitcore/src/RooDataSet.cxx
Labels: bug, in:RooFit/RooStats

#8768 [RF] Fix rf408_RDataFrameToRooFit.py crash by adding missing std::move
  tutorials/roofit/rf408_RDataFrameToRooFit.py
Labels: bug, in:PyROOT, in:RooFit/RooStats
