Repository root-project/root, pull requests merged in 2021-06, with the labels that each got.

#8181 [json] provide workaround for TStyle::fLineStyle member
  io/io/src/TBufferJSON.cxx
Labels: affects:master, in:Core Libraries

#8078 [RF] Deprecate RooHashTable
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/inc/RooFitLegacy/RooHashTable.h
  roofit/roofitcore/src/RooFitLegacy/RooHashTable.cxx
  roofit/roofitcore/src/RooLinkedList.cxx
Labels: in:RooFit/RooStats

#8312 Resolve #8127 TGCommandLinePlugin autocomplete when single entry
  gui/gui/src/TGCommandPlugin.cxx
Labels: improvement, in:GUI

#8319 Fix bug in TText::Copy method
  graf2d/graf/src/TText.cxx
Labels: affects:master, bug, in:Graphics

#8320 Fix bug in TText::Copy, v6.24
  graf2d/graf/src/TText.cxx
Labels: affects:6.24, bug, in:Graphics, pr:backport

#8321 Fix gcc11 warnings in TASImage
  graf2d/asimage/src/TASImage.cxx
Labels: affects:master, improvement, in:Graphics

#8330 [DF] Fix compilation of Foreach with mutable lambdas (v6.24)
  tree/dataframe/inc/ROOT/RDF/InterfaceUtils.hxx
Labels: pr:backport

#8341 Remove not needed fatal message (fixing #8280)
  CMakeLists.txt
Labels: affects:6.24

#8349 [DF] Use a RAII object to make sure to always run CleanUpTask (v6.24)
  tree/dataframe/inc/ROOT/RDF/RLoopManager.hxx
  tree/dataframe/src/RLoopManager.cxx
Labels: pr:backport

#8350 [tree] Print error in case of branch kind mismatch in CopyAddresses (v6.24)
  tree/tree/src/TTree.cxx
Labels: pr:backport

#8352 [DF] Add RJittedAction to LinkDef file (v6.24)
  tree/dataframe/inc/LinkDef.h
Labels: pr:backport

#8345 Test if json_fwd.hpp exists
  graf3d/eve7/CMakeLists.txt
  graf3d/eve7/inc/ROOT/REveElement.hxx
Labels: affects:master, improvement

#8362 [RF] Set plot norm variables in RooAbsPdf::plotOn before using them
  roofit/roofitcore/src/RooAbsPdf.cxx
Labels: bug, in:RooFit/RooStats

#8384 [TClass] Clarify ctor vs GetClass() (#8250) (NFC). [skip-ci]
  core/meta/src/TClass.cxx
Labels: pr:squash on merge

#8400 [json] cast UTF8 string to const char *
  io/io/test/TBufferJSONTests.cxx
Labels: affects:master, in:I/O

#7544 TMVA SOFIE - Fast Inference Code Generation Initial Commit
  CMakeLists.txt
  cmake/modules/RootBuildOptions.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  tmva/CMakeLists.txt
  tmva/rmva/CMakeLists.txt
  tmva/sofie/CMakeLists.txt
  tmva/sofie/README.md
  tmva/sofie/inc/LinkDef.h
  tmva/sofie/inc/TMVA/OperatorList.hxx
  tmva/sofie/inc/TMVA/RModel.hxx
  tmva/sofie/inc/TMVA/RModelParser_ONNX.hxx
  tmva/sofie/inc/TMVA/ROperator.hxx
  tmva/sofie/inc/TMVA/ROperator_Gemm.hxx
  tmva/sofie/inc/TMVA/ROperator_Relu.hxx
  tmva/sofie/inc/TMVA/ROperator_Transpose.hxx
  tmva/sofie/inc/TMVA/SOFIE_common.hxx
  tmva/sofie/onnx_proto3
  tmva/sofie/src/Prototype.cxx
  tmva/sofie/src/RModel.cxx
  tmva/sofie/src/RModelParser_ONNX.cxx
  tmva/sofie/src/SOFIE_common.cxx
Labels: affects:master

#8414 [ntuple,c++20] Add explicit constructor in `RSealedPage`; fixes -std=c++20 compilation error
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
Labels: affects:master, bug, in:RNTuple

#8416 [RF] Make ConditionalObservables accept RooRealVars directly
  roofit/roofitcore/inc/RooGlobalFunc.h
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooAbsReal.cxx
  roofit/roofitcore/src/RooGlobalFunc.cxx
Labels: bug, in:RooFit/RooStats

#8358 [asimage] Port to Win64 (replace Long_t by Longptr_t + pointer format…
  graf2d/asimage/inc/TASPaletteEditor.h
  graf2d/asimage/src/TASImage.cxx
  graf2d/asimage/src/TASPaletteEditor.cxx
  graf2d/asimage/src/libAfterImage/asim_afterbase.h
  graf2d/asimage/src/libAfterImage/asvisual.c
  graf2d/asimage/src/libAfterImage/scanline.c
  graf2d/asimage/src/libAfterImage/xpm.c
Labels: in:Graphics

#8381 [graf] Port to Win64 (replace Long_t by Longptr_t + pointer formatting)
  graf2d/graf/src/TLink.cxx
  graf2d/graf/src/TPaveText.cxx
Labels: in:Graphics

#8380 [gpad] Port to Win64 (replace Long_t by Longptr_t + pointer formatting)
  graf2d/gpad/src/TCanvas.cxx
  graf2d/gpad/src/TInspectCanvas.cxx
  graf2d/gpad/src/TPad.cxx
Labels: in:Graphics

#8410 [math] Port to Win64 (replace Long_t by Longptr_t + pointer formatting
  math/foam/src/TFoam.cxx
  math/mathcore/src/triangle.c
  math/matrix/src/TMatrixTBase.cxx
  math/matrix/src/TVectorT.cxx
  math/minuit/src/TMinuit.cxx
  math/mlp/src/TMLPAnalyzer.cxx
  math/mlp/src/TMultiLayerPerceptron.cxx
  math/mlp/src/TNeuron.cxx
Labels: in:Math Libraries

#8437 [RF] Avoid using RooCmdArg::_nextSharedData directly in header file
  roofit/roofitcore/inc/RooCmdArg.h
  roofit/roofitcore/src/RooCmdArg.cxx
Labels: bug, in:RooFit/RooStats

#8439 Fix drawing in df104 tutorial
  tutorials/dataframe/df104_HiggsToTwoPhotons.py
Labels: affects:master, improvement, in:RDataFrame

#8434 [RF] Fix copy-paste error in RooAddModel constructor and modernization
  roofit/roofitcore/src/RooAddModel.cxx
Labels: bug, in:RooFit/RooStats

#8442 [cling] Prevent memory leak of TClingDataMemberInfo::fClassInfo. (#7915)
  core/metacling/src/TClingClassInfo.h
  core/metacling/src/TClingDataMemberInfo.cxx
  core/metacling/src/TClingDataMemberInfo.h
  core/metacling/src/TClingDeclInfo.h
Labels: pr:backport

#8445 [RF] Fix warning: ‘arg’ shadows member of RooTemplateProxy
  roofit/roofitcore/inc/RooTemplateProxy.h
Labels: in:RooFit/RooStats

#8443 [v622][RF] Fix missing initializer warnings in MemPoolForRooSets.h
  roofit/roofitcore/src/MemPoolForRooSets.h
Labels: in:RooFit/RooStats

#8456 [v624][RF] Fix warning: ‘arg’ shadows member of RooTemplateProxy
  roofit/roofitcore/inc/RooTemplateProxy.h
Labels: in:RooFit/RooStats, pr:backport

#8454 [rbrowsable] fix potential ownership problem
  gui/browsable/inc/ROOT/Browsable/TObjectHolder.hxx
  gui/browsable/src/TObjectHolder.cxx
Labels: affects:master, in:WebGui

#8472 [RF] Fix missing initializer warnings in MemPoolForRooSets.h
  roofit/roofitcore/src/MemPoolForRooSets.h
Labels: in:RooFit/RooStats

#8473 [v624][RF] Fix missing initializer warnings in MemPoolForRooSets.h
  roofit/roofitcore/src/MemPoolForRooSets.h
Labels: in:RooFit/RooStats

#8486 [RF] Add missing nullptr check to removeCommon helper in RooProdPdf
  roofit/roofitcore/src/RooProdPdf.cxx
Labels: bug, in:RooFit/RooStats

#8489 [RF] Fix missing initializer warnings in MemPoolForRooSets.h (2nd try)
  roofit/roofitcore/src/MemPoolForRooSets.h
Labels: in:RooFit/RooStats

#8500 [RF] Fix missing initializer warnings in MemPoolForRooSets.h (2nd try)
  roofit/roofitcore/src/MemPoolForRooSets.h
Labels: in:RooFit/RooStats, pr:backport

#8501 [RF] Fix missing initializer warnings in MemPoolForRooSets.h (2nd try)
  roofit/roofitcore/src/MemPoolForRooSets.h
Labels: in:RooFit/RooStats, pr:backport

#8502 [RF] Fix missing initializer warnings in MemPoolForRooSets.h (2nd try)
  roofit/roofitcore/src/MemPoolForRooSets.h
Labels: in:RooFit/RooStats, pr:backport

#8506 [cmake] update urls in windows installer [skip-ci]
  cmake/modules/CMakeCPackOptions.cmake.in
Labels: affects:master, improvement, in:Build System

#8383 RANLUX++: Add compatibility engines
  math/mathcore/inc/Math/RanluxppEngine.h
  math/mathcore/src/RanluxppEngineImpl.cxx
  math/mathcore/test/RanluxppEngine.cxx
Labels: in:Math Libraries

#8514 [RF] Fix warning about sigma parameter shadowing RooCrystalBall member
  roofit/roofit/inc/RooCrystalBall.h
  roofit/roofit/src/RooCrystalBall.cxx
Labels: in:RooFit/RooStats, pr:backport

#8522 Avoid undefined behavior in RANLUX++
  math/mathcore/src/ranluxpp/mulmod.h
Labels: bug, in:Math Libraries

#8528 [jupyter] let use created notebooks with nbviewer
  bindings/jupyroot/python/JupyROOT/helpers/utils.py
Labels: affects:master, in:Notebooks

#8543 [skip-ci] The anchor to doxyref was wrong
  math/vecops/inc/ROOT/RVec.hxx
Labels: in:Documentation

#8556 Fix for assembling mixtures made of isomere elements.
  geom/geom/src/TGeoMaterial.cxx
Labels: bug

#8560 [RF] New RooArgList/Set constructors for use in pyROOT
  roofit/roofitcore/inc/RooArgList.h
  roofit/roofitcore/inc/RooArgSet.h
Labels: in:RooFit/RooStats

#8559 [RF] Replace RooMinuit with RooMinimizer in rf801_mcstudy.py tutorial
  tutorials/roofit/rf403_weightedevts.py
Labels: in:RooFit/RooStats

#8563 Fix Mac compilation error
  core/thread/src/TPosixThread.cxx
Labels: in:Core Libraries

#8562 thread-safe gSystem list of timers
  core/base/inc/TSystem.h
  core/base/src/TSystem.cxx
  core/unix/src/TUnixSystem.cxx
  core/winnt/src/TWinNTSystem.cxx
Labels: in:Core Libraries

#8568 Avoid undefined behavior in RANLUX++ [v6.24]
  math/mathcore/src/ranluxpp/mulmod.h
Labels: bug, in:Math Libraries, pr:backport

#8571 Eve7 Correction in handling of removed elements ids on the client
  ui5/eve7/lib/EveManager.js
Labels: affects:master, in:WebGui

#8561 stop tgcommandplugin timer when remote check not needed
  gui/gui/inc/TGCommandPlugin.h
  gui/gui/src/TGCommandPlugin.cxx
Labels: in:GUI

#8575 [webgui] provide `--web=server` mode #8554
  README/ReleaseNotes/v626/index.md
  gui/webdisplay/src/RWebWindowsManager.cxx
Labels: in:WebGui
