Repository root-project/root, pull requests merged in 2021-12, with the labels that each got.

#9373 [RF] Tell CMake that `rf409_NumPyPandasToRooFit.py` depends on NumPy/Pandas
  tutorials/CMakeLists.txt
Labels: bug, in:RooFit/RooStats

#9313 Added description field to RNTupleDescriptor::PrintInfo output
  tree/ntuple/v7/src/RNTupleDescriptorFmt.cxx
Labels: improvement, in:RNTuple

#9382 [RF] Declare dependency of RooFitHS3 on nlohmann-json in CMakeLists.txt
  roofit/hs3/CMakeLists.txt
Labels: bug, in:RooFit/RooStats

#9361 [DF][NFC] Move Spark unittests to roottest
  bindings/experimental/distrdf/test/backend/CMakeLists.txt
  bindings/experimental/distrdf/test/backend/emptytree.root
  bindings/experimental/distrdf/test/backend/test_spark.py
Labels: in:RDataFrame

#9394 [RF] Move RooFit headers not starting with `Roo` in RooFit directory
  roofit/roofit/inc/RooLagrangianMorphFunc.h
  roofit/roofit/src/RooLagrangianMorphFunc.cxx
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/inc/Floats.h
  roofit/roofitcore/inc/RooAddPdf.h
  roofit/roofitcore/inc/RooArgSet.h
  roofit/roofitcore/inc/RooFit/Floats.h
  roofit/roofitcore/inc/RooFit/TestStatistics/ConstantTermsOptimizer.h
  roofit/roofitcore/inc/RooFit/TestStatistics/LikelihoodGradientWrapper.h
  roofit/roofitcore/inc/RooFit/TestStatistics/LikelihoodSerial.h
  roofit/roofitcore/inc/RooFit/TestStatistics/LikelihoodWrapper.h
  roofit/roofitcore/inc/RooFit/TestStatistics/MinuitFcnGrad.h
  roofit/roofitcore/inc/RooFit/TestStatistics/RooAbsL.h
  roofit/roofitcore/inc/RooFit/TestStatistics/RooBinnedL.h
  roofit/roofitcore/inc/RooFit/TestStatistics/RooRealL.h
  roofit/roofitcore/inc/RooFit/TestStatistics/RooSubsidiaryL.h
  roofit/roofitcore/inc/RooFit/TestStatistics/RooSumL.h
  roofit/roofitcore/inc/RooFit/TestStatistics/RooUnbinnedL.h
  roofit/roofitcore/inc/RooFit/TestStatistics/buildLikelihood.h
  roofit/roofitcore/inc/RooFit/TestStatistics/optional_parameter_types.h
  roofit/roofitcore/inc/RooFit/UniqueId.h
  roofit/roofitcore/inc/RooLinearCombination.h
  roofit/roofitcore/inc/RooMinimizer.h
  roofit/roofitcore/inc/UniqueId.h
  roofit/roofitcore/res/TestStatistics/LikelihoodGradientJob.h
  roofit/roofitcore/res/TestStatistics/LikelihoodJob.h
  roofit/roofitcore/src/RooLinearCombination.cxx
  roofit/roofitcore/src/TestStatistics/ConstantTermsOptimizer.cxx
  roofit/roofitcore/src/TestStatistics/LikelihoodGradientWrapper.cxx
  roofit/roofitcore/src/TestStatistics/LikelihoodJob.cxx
  roofit/roofitcore/src/TestStatistics/LikelihoodSerial.cxx
  roofit/roofitcore/src/TestStatistics/LikelihoodWrapper.cxx
  roofit/roofitcore/src/TestStatistics/MinuitFcnGrad.cxx
  roofit/roofitcore/src/TestStatistics/RooAbsL.cxx
  roofit/roofitcore/src/TestStatistics/RooBinnedL.cxx
  roofit/roofitcore/src/TestStatistics/RooRealL.cxx
  roofit/roofitcore/src/TestStatistics/RooSubsidiaryL.cxx
  roofit/roofitcore/src/TestStatistics/RooSumL.cxx
  roofit/roofitcore/src/TestStatistics/RooUnbinnedL.cxx
  roofit/roofitcore/src/TestStatistics/buildLikelihood.cxx
  roofit/roofitcore/src/TestStatistics/optional_parameter_types.cxx
  roofit/roofitcore/test/TestStatistics/RooRealL.cpp
  roofit/roofitcore/test/TestStatistics/testLikelihoodGradientJob.cpp
  roofit/roofitcore/test/TestStatistics/testLikelihoodSerial.cxx
Labels: in:RooFit/RooStats

#9407 Actually request the use of the large code model for ppc64/ppc64le [v6.24]
  interpreter/cling/lib/Interpreter/IncrementalExecutor.cpp
Labels: pr:backport

#9413 [ntuple] RNTupleSerialize: do not use `abs()` in feature flags deserialization
  tree/ntuple/v7/src/RNTupleSerialize.cxx
Labels: bug, in:RNTuple

#9416 [RF] Use RooFormula copy constructor in RooFormulaVar copy constructor
  roofit/roofitcore/src/RooFormulaVar.cxx
Labels: in:RooFit/RooStats

#9409 [RF] add MultiProcess::Config for setting number of workers
  roofit/multiprocess/CMakeLists.txt
  roofit/multiprocess/inc/RooFit/MultiProcess/Config.h
  roofit/multiprocess/res/RooFit/MultiProcess/JobManager.h
  roofit/multiprocess/src/Config.cxx
  roofit/multiprocess/src/JobManager.cxx
  roofit/multiprocess/test/test_Job.cxx
  roofit/roofitcore/src/TestStatistics/README.md
  roofit/roofitcore/test/TestStatistics/testLikelihoodGradientJob.cpp
Labels: improvement, in:RooFit/RooStats

#9399 [RF] MultiProcess bugfix: close ZeroMQ context correctly
  roofit/multiprocess/src/JobManager.cxx
  roofit/multiprocess/src/Messenger.cxx
  roofit/multiprocess/src/ProcessManager.cxx
  roofit/roofitcore/test/TestStatistics/RooRealL.cpp
  roofit/roofitcore/test/TestStatistics/testLikelihoodGradientJob.cpp
Labels: bug, in:RooFit/RooStats

#9415 Give more unique filenames in entrylist tests
  tree/tree/test/chain_setentrylist.cxx
  tree/tree/test/entrylist_addsublist.cxx
Labels: in:TTree

#9426 Fix ppc64le compilation with gcc 10 [v6.24]
  interpreter/llvm/src/tools/clang/lib/Lex/Lexer.cpp
Labels: pr:backport

#9433 [jsroot] bugfix version 6.3.2 [skip-ci]
  js/changes.md
  js/scripts/JSRoot.core.js
  js/scripts/JSRoot.hist.js
Labels: affects:master, in:WebGui

#9418 [ntuple] RNTupleSerialize: do not use two's complement to encode feature flags
  tree/ntuple/v7/src/RNTupleSerialize.cxx
Labels: bug, in:RNTuple

#9431 [DF] Make sure the Dask scheduler has information about the workers
  bindings/experimental/distrdf/python/DistRDF/Backends/Dask/Backend.py
Labels: in:RDataFrame

#9432 [RF] Catch general plotting exception in rf409_NumPyPandasToRooFit.py
  tutorials/roofit/rf409_NumPyPandasToRooFit.py
Labels: bug, in:PyROOT, in:RooFit/RooStats

#9184 [RF] add code for RooPolyFunc
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/inc/LinkDef.h
  roofit/roofitcore/inc/RooPolyFunc.h
  roofit/roofitcore/src/RooFactoryWSTool.cxx
  roofit/roofitcore/src/RooPolyFunc.cxx
  roofit/roofitcore/test/CMakeLists.txt
  roofit/roofitcore/test/testRooPolyFunc.cxx
  tutorials/roofit/rf710_roopoly.C
  tutorials/roofit/rf710_roopoly.py
Labels: in:RooFit/RooStats

#9446 [RF] Make `roobatchcompute` header files safer
  roofit/batchcompute/inc/RooBatchCompute.h
  roofit/batchcompute/inc/RooBatchComputeTypes.h
  roofit/batchcompute/inc/RooMath.h
  roofit/batchcompute/inc/RooVDTHeaders.h
  roofit/batchcompute/src/Batches.h
  roofit/batchcompute/src/ComputeFunctions.cxx
  roofit/batchcompute/src/RooBatchCompute.cxx
  roofit/batchcompute/src/RooMath.cxx
  roofit/roofitcore/inc/RooAbsReal.h
  roofit/roofitcore/inc/RooFormula.h
  roofit/roofitcore/res/RooFit/Detail/Buffers.h
  roofit/roofitcore/res/RooNLLVarNew.h
  roofit/roofitcore/src/Buffers.cxx
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooNLLVarNew.cxx
Labels: improvement, in:RooFit/RooStats

#9450 [RF] New `RooBatchCompute::DataKey` to easily change data map keys
  roofit/batchcompute/inc/RooBatchCompute/DataKey.h
  roofit/batchcompute/inc/RooBatchComputeTypes.h
  roofit/roofitcore/inc/RooAbsArg.h
Labels: in:RooFit/RooStats

#9452 [roofit] add missing include in multiprocess/src/Config.cxx
  roofit/multiprocess/src/Config.cxx
Labels: affects:master, in:RooFit/RooStats

#9454 Provide colz as default draw option for 2D TEfficiency
  hist/hist/src/TEfficiency.cxx
Labels: affects:master, in:Graphics

#9396 [TMVA] Fix compilation warnings on Win64
  tmva/tmva/src/BinarySearchTreeNode.cxx
  tmva/tmva/src/DecisionTreeNode.cxx
Labels: in:TMVA

#9463 [jsroot] Several fixes in 6.3.2 version [skip-ci]
  js/changes.md
  js/scripts/JSRoot.core.js
  js/scripts/JSRoot.gpad.js
  js/scripts/JSRoot.more.js
Labels: affects:master, in:WebGui

#9206 [RF] Some code modernization of RooNLLVar
  roofit/roofitcore/src/RooNLLVar.cxx
Labels: in:RooFit/RooStats

#9475 [RF] Use `ULong64_t` for persistent data member `RooDataHist::_curIndex`
  roofit/roofitcore/inc/RooDataHist.h
Labels: bug, in:RooFit/RooStats

#9477 [RF] Fix memory leaks in `testRooParamHistFunc` and silence test output
  roofit/roofit/test/testRooParamHistFunc.cxx
Labels: bug, in:RooFit/RooStats

#9419 [RF] Better implementation of RooAbsCollection::remove(RooAbsCollection)
  roofit/roofitcore/src/RooAbsCollection.cxx
Labels: pr:squash on merge, in:RooFit/RooStats
