Repository root-project/root, pull requests merged in 2021-08, with the labels that each got.

#8738 improve documentation of VisualizeError plotting command
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooAbsReal.cxx
Labels: in:RooFit/RooStats

#8790 [RF] Update reference files for testProxiesAndCategories
  roofit/roofitcore/test/CMakeLists.txt
  roofit/roofitcore/test/categories_v622.root
  roofit/roofitcore/test/categories_v624.root
  roofit/roofitcore/test/testProxiesAndCategories.cxx
Labels: in:RooFit/RooStats

#8677 grab CTRL+s in TGMainFrame also if NumLock active
  gui/gui/src/TGFrame.cxx
  gui/guibuilder/src/TRootGuiBuilder.cxx
Labels: in:GUI

#8691 Fix in tmva-sofie some warnings and compilation errors found with g++ 11
  tmva/sofie/inc/TMVA/ROperator_Gemm.hxx
  tmva/sofie/inc/TMVA/ROperator_Transpose.hxx
  tmva/sofie/src/RModel.cxx
  tmva/sofie/src/SOFIE_common.cxx
  tmva/sofie_parsers/src/RModelParser_ONNX.cxx
Labels: improvement, in:TMVA

#8792 [RF] Avoid RooFit depenency in some RooFitCore unit tests
  roofit/roofitcore/test/CMakeLists.txt
  roofit/roofitcore/test/testRooAbsPdf.cxx
  roofit/roofitcore/test/testRooProdPdf.cxx
  roofit/roofitcore/test/testRooSimPdfBuilder.cxx
  roofit/roofitcore/test/testRooSimultaneous.cxx
Labels: in:RooFit/RooStats

#8793 [RF] More documentation for VisualizeError() parameter for plotOn()
  roofit/roofitcore/src/RooAbsPdf.cxx
Labels: in:RooFit/RooStats

#8802 [netxng] Delete XrdFile already at Close():
  net/netxng/src/TNetXNGFile.cxx
Labels: pr:backport

#8656 Pass emit argument to TGNumberEntry::SetNumber
  gui/gui/inc/TGNumberEntry.h
  gui/gui/src/TGNumberEntry.cxx
Labels: improvement, in:GUI

#8799 Fix some dependency issues in the tests of TMVA-sofie
  tmva/sofie/test/CMakeLists.txt
Labels: in:TMVA

#8820 [TTreeProcessorMT] Use unambiguous syntax when building chains (6.24)
  tree/treeplayer/src/TTreeProcessorMT.cxx
Labels: pr:backport

#8666 [GSoC][TMVA][SOFIE] Serialisation of RModel
  tmva/sofie/inc/LinkDef.h
  tmva/sofie/inc/TMVA/RModel.hxx
  tmva/sofie/inc/TMVA/ROperator_Gemm.hxx
  tmva/sofie/inc/TMVA/ROperator_Relu.hxx
  tmva/sofie/inc/TMVA/ROperator_Transpose.hxx
  tmva/sofie/inc/TMVA/SOFIE_common.hxx
  tmva/sofie/src/RModel.cxx
  tmva/sofie/test/CMakeLists.txt
  tmva/sofie/test/EmitFromONNX.cxx
  tmva/sofie/test/EmitFromRoot.cxx
  tmva/sofie/test/TestCustomModelsFromONNX.cxx
  tmva/sofie/test/TestCustomModelsFromROOT.cxx
Labels: improvement, in:TMVA

#8832 Silent a couple of potential CMake Warnings
  cmake/modules/SearchInstalledSoftware.cmake
Labels: in:Build System

#8835 [RF] Code modernization of RooAbsCachedPdf
  roofit/roofitcore/inc/RooAbsCachedPdf.h
  roofit/roofitcore/src/RooAbsCachedPdf.cxx
Labels: in:RooFit/RooStats

#8842 [RF] Implement `RooLinkedList::begin()`, `end()`, `rbegin()`, `rend()`
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  bindings/pyroot/pythonizations/test/roofit/roolinkedlist.py
  roofit/roofitcore/inc/RooLinkedList.h
  roofit/roofitcore/inc/RooLinkedListIter.h
  roofit/roofitcore/src/RooCmdConfig.cxx
  roofit/roofitcore/src/RooGenFitStudy.cxx
  roofit/roofitcore/src/RooLinkedList.cxx
  roofit/roofitcore/src/RooWorkspace.cxx
Labels: in:RooFit/RooStats

#8766 [cmake] Fix building ROOT with external llvm.
  interpreter/CMakeLists.txt
  interpreter/cling/lib/Interpreter/CMakeLists.txt
  interpreter/cling/tools/plugins/clad/CMakeLists.txt
  interpreter/llvm/src/tools/clang/lib/Basic/CMakeLists.txt
Labels: in:Cling

#8800 [TMVA][SOFIE] Add Conv operator
  tmva/sofie/inc/TMVA/OperatorList.hxx
  tmva/sofie/inc/TMVA/RModel.hxx
  tmva/sofie/inc/TMVA/ROperator_Conv.hxx
  tmva/sofie/src/RModel.cxx
  tmva/sofie/test/TestCustomModelsFromONNX.cxx
  tmva/sofie/test/TestCustomModelsFromROOT.cxx
  tmva/sofie/test/input_models/ConvWithAsymmetricPadding.onnx
  tmva/sofie/test/input_models/ConvWithAutopadSameLower.onnx
  tmva/sofie/test/input_models/ConvWithPadding.onnx
  tmva/sofie/test/input_models/ConvWithStridesNoPadding.onnx
  tmva/sofie/test/input_models/ConvWithStridesPadding.onnx
  tmva/sofie/test/input_models/ConvWithoutPadding.onnx
  tmva/sofie/test/input_models/references/ConvWithAsymmetricPadding.ref.hxx
  tmva/sofie/test/input_models/references/ConvWithAutopadSameLower.ref.hxx
  tmva/sofie/test/input_models/references/ConvWithPadding.ref.hxx
  tmva/sofie/test/input_models/references/ConvWithStridesNoPadding.ref.hxx
  tmva/sofie/test/input_models/references/ConvWithStridesPadding.ref.hxx
  tmva/sofie/test/input_models/references/ConvWithoutPadding.ref.hxx
  tmva/sofie_parsers/inc/TMVA/RModelParser_ONNX.hxx
  tmva/sofie_parsers/src/RModelParser_ONNX.cxx
Labels: in:TMVA

#8862 Remove some remaining underscores in friend_info attributes
  bindings/experimental/distrdf/python/DistRDF/Backends/Base.py
  bindings/experimental/distrdf/python/DistRDF/Ranges.py
  bindings/experimental/distrdf/test/test_friendinfo.py
Labels: in:RDataFrame

#8872 Fix colour issue for TRatioPlot
  graf2d/gpad/inc/TRatioPlot.h
  graf2d/gpad/src/TRatioPlot.cxx
Labels: bug

#8884 [PyROOT] Update `print_roofit_pyz_doctrings.py` to work with Python 2
  documentation/doxygen/print_roofit_pyz_doctrings.py
Labels: in:PyROOT

#8894 [skip-ci] Update TChain::Add(name, nentries) doc
  tree/tree/src/TChain.cxx
Labels: in:TTree

#8699 Added Histogram ROOT File Tutorial
  tutorials/CMakeLists.txt
  tutorials/demos.C
  tutorials/hist/h1ReadAndDraw.C
  tutorials/legacy/benchmarks.C
  tutorials/legacy/pyroot/benchmarks.py
  tutorials/pyroot/demo.py
  tutorials/pyroot/h1ReadAndDraw.py
Labels: improvement, in:Documentation, in:Graphics

#8929 6-24: [core] TDirectory::RegisterGDirectory must not update other TDirectory without lock:
  core/base/src/TDirectory.cxx
Labels: pr:backport

#8684 [GSoC][TMVA][SOFIE] PyTorch Parser TMVA
  tmva/pymva/CMakeLists.txt
  tmva/pymva/inc/LinkDef.h
  tmva/pymva/inc/TMVA/RModelParser_PyTorch.h
  tmva/pymva/src/RModelParser_PyTorch.cxx
  tmva/pymva/test/CMakeLists.txt
  tmva/pymva/test/EmitFromPyTorch.cxx
  tmva/pymva/test/TestRModelParserPyTorch.C
  tmva/pymva/test/generatePyTorchModelModule.py
  tmva/pymva/test/generatePyTorchModelSequential.py
Labels: improvement, in:TMVA
