Repository root-project/root, pull requests merged in 2022-08, with the labels that each got.

#11092 [RF] Fix various memory leaks in RooFit from opened TFile objects
  roofit/histfactory/src/MakeModelAndMeasurementsFast.cxx
  roofit/roofit/src/Roo2DKeysPdf.cxx
  roofit/roofitcore/src/RooDataSet.cxx
  roofit/roofitcore/src/RooStudyManager.cxx
  roofit/roofitcore/src/RooWorkspace.cxx
  roofit/roostats/src/HLFactory.cxx
  roofit/roostats/src/HypoTestInverter.cxx
  roofit/roostats/src/HypoTestInverterResult.cxx
Labels: bug, in:RooFit/RooStats

#11090 [RF] Speed up `RooAbsRealLValue::setBin` by removing `inRange` check
  roofit/roofitcore/inc/RooAbsRealLValue.h
  roofit/roofitcore/src/RooAbsRealLValue.cxx
Labels: improvement, in:RooFit/RooStats

#11095 [DF] Remove false sharing from BufferedFillHelper (v6.26)
  tree/dataframe/src/RDFActionHelpers.cxx
Labels: pr:backport

#11079 [RF] Disable copy assignment for RooAbsArg and derived types
  README/ReleaseNotes/v628/index.md
  roofit/roofitcore/inc/RooAbsArg.h
  roofit/roofitcore/inc/RooAbsReal.h
  roofit/roofitcore/inc/RooAbsRealLValue.h
  roofit/roofitcore/inc/RooRealVar.h
  roofit/roofitcore/src/RooAbsArg.cxx
  roofit/roofitcore/src/RooAbsReal.cxx
  roofit/roofitcore/src/RooAbsRealLValue.cxx
  roofit/roofitcore/src/RooRealVar.cxx
Labels: improvement, in:RooFit/RooStats

#11010 [cling-cpt] Split long lines to get rid of E501 error [skip-ci]
  interpreter/cling/tools/packaging/cpt.py
Labels: improvement, in:Cling

#11111 [cmake] Protect against empty `COMPILE_DEFINITIONS` in rootcint command
  cmake/modules/RootMacros.cmake
Labels: bug, in:Build System

#11114 [RF] Replace some manually-allocated C-style arrays with `std::vector`
  roofit/roofitcore/inc/RooAbsGenContext.h
  roofit/roofitcore/inc/RooAdaptiveIntegratorND.h
  roofit/roofitcore/inc/RooBinIntegrator.h
  roofit/roofitcore/inc/RooGrid.h
  roofit/roofitcore/inc/RooIntegrator1D.h
  roofit/roofitcore/inc/RooNumRunningInt.h
  roofit/roofitcore/src/BidirMMapPipe.cxx
  roofit/roofitcore/src/RooAbsGenContext.cxx
  roofit/roofitcore/src/RooAdaptiveIntegratorND.cxx
  roofit/roofitcore/src/RooBinIntegrator.cxx
  roofit/roofitcore/src/RooClassFactory.cxx
  roofit/roofitcore/src/RooFactoryWSTool.cxx
  roofit/roofitcore/src/RooGrid.cxx
  roofit/roofitcore/src/RooIntegrator1D.cxx
  roofit/roofitcore/src/RooMCIntegrator.cxx
  roofit/roofitcore/src/RooNumRunningInt.cxx
  roofit/roofitcore/src/RooProdPdf.cxx
  roofit/roofitmore/inc/RooAdaptiveGaussKronrodIntegrator1D.h
  roofit/roofitmore/inc/RooGaussKronrodIntegrator1D.h
  roofit/roofitmore/src/RooAdaptiveGaussKronrodIntegrator1D.cxx
  roofit/roofitmore/src/RooGaussKronrodIntegrator1D.cxx
  roofit/roostats/src/MCMCInterval.cxx
  roofit/roostats/src/MarkovChain.cxx
Labels: in:RooFit/RooStats

#11132 [v6-26][cmake] Protect against empty `COMPILE_DEFINITIONS` in rootcint command
  cmake/modules/RootMacros.cmake
Labels: pr:backport, bug, in:Build System

#11126 [DF] Preserve ordering of snapshotted columns (v6.26)
  tree/dataframe/inc/ROOT/RDF/InterfaceUtils.hxx
  tree/dataframe/inc/ROOT/RDF/RInterface.hxx
  tree/dataframe/src/RDFInterfaceUtils.cxx
Labels: pr:backport

#11115 Fix to compute radiation length on call TGeoMixture::ComputeDerivedQu…
  geom/geom/src/TGeoMaterial.cxx
  geom/test/test_material_units.cxx
Labels: bug, in:Geometry

#11145 [RF] Remove CINT export code from RooWorkspace
  roofit/roofitcore/inc/RooWorkspace.h
  roofit/roofitcore/src/RooWorkspace.cxx
Labels: in:RooFit/RooStats

#11151 [RF] Vectorize `RooAbsBinning` interface for bin index lookups
  README/ReleaseNotes/v628/index.md
  roofit/roofitcore/inc/RooAbsBinning.h
  roofit/roofitcore/inc/RooBinning.h
  roofit/roofitcore/inc/RooLinTransBinning.h
  roofit/roofitcore/inc/RooParamBinning.h
  roofit/roofitcore/inc/RooRangeBinning.h
  roofit/roofitcore/inc/RooUniformBinning.h
  roofit/roofitcore/src/RooAbsBinning.cxx
  roofit/roofitcore/src/RooBinning.cxx
  roofit/roofitcore/src/RooLinTransBinning.cxx
  roofit/roofitcore/src/RooParamBinning.cxx
  roofit/roofitcore/src/RooUniformBinning.cxx
Labels: improvement, in:RooFit/RooStats

#11156 [VecOps] Add missing #include <limits> to RVec.hxx [v6.26]
  math/vecops/inc/ROOT/RVec.hxx
Labels: pr:backport

#11163 [RF] Qualify calls to std::move in RooPolyFunc
  roofit/roofitcore/src/RooPolyFunc.cxx
Labels: in:RooFit/RooStats

#11170 [RF] Better ParamHistFunc::computeBatch with RooAbsBinning::binNumbers
  roofit/histfactory/inc/RooStats/HistFactory/ParamHistFunc.h
  roofit/histfactory/src/ParamHistFunc.cxx
  roofit/histfactory/test/CMakeLists.txt
  roofit/histfactory/test/testParamHistFunc.cxx
Labels: improvement, in:RooFit/RooStats

#11162 [RF] Explicitly forbid integration of a `RooAbsRealLValue`
  roofit/roofitcore/inc/RooAbsRealLValue.h
  roofit/roofitcore/src/RooAbsRealLValue.cxx
  roofit/roofitcore/test/testRooWrapperPdf.cxx
Labels: bug, in:RooFit/RooStats

#11167 core/clib: Remove K&R function definitions
  core/clib/src/Demangle.c
  core/clib/src/attach.c
  core/clib/src/detach.c
  core/clib/src/keys.c
  core/clib/src/mcalloc.c
  core/clib/src/mfree.c
  core/clib/src/mmalloc.c
  core/clib/src/mmapsup.c
  core/clib/src/mmcheck.c
  core/clib/src/mmemalign.c
  core/clib/src/mmstats.c
  core/clib/src/mrealloc.c
  core/clib/src/mvalloc.c
Labels: in:Core Libraries

#11169 graf2d/x11, graf3d/x3d: Remove K&R function definitions
  graf2d/x11/src/gifencode.c
  graf3d/x3d/src/x3d.c
Labels: in:Graphics

#11178 [io] Make case values constant expressions [v6.26]
  io/io/src/TGenCollectionStreamer.cxx
Labels: pr:backport

#11174 [cling] Try to avoid crashes in llvm::identify_magic
  interpreter/cling/lib/Interpreter/DynamicLibraryManager.cpp
Labels: in:Cling

#11019 [cling-cpt] Made a new build option for last-stable and current-dev [skip-ci]
  interpreter/cling/tools/packaging/cpt.py
Labels: improvement, in:Cling

#11176 [RF] New mechanism to detect if `_normSet` in RooAbsPdf is invalid
  roofit/roofitcore/inc/RooAbsPdf.h
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooAddPdf.cxx
Labels: bug, in:RooFit/RooStats

#10201 [RF] Remove evaluation of pdf in RooRealIntegral constructor if the normalisation set is not defined
  roofit/roofitcore/src/RooAddPdf.cxx
  roofit/roofitcore/src/RooRealIntegral.cxx
Labels: in:RooFit/RooStats

#11201 [tmva][sofie] Add missing cassert includes
  tmva/sofie/inc/TMVA/ROperator_Reshape.hxx
  tmva/sofie/inc/TMVA/ROperator_Slice.hxx
Labels: in:TMVA

#11220 [v6-26] [skip-ci] Fix potential crash with RBrowser on Windows
  core/winnt/src/TWinNTSystem.cxx
Labels: pr:backport

#11211 [RF] Enable vectorized first order interpolation for weight evaluation
  roofit/roofitcore/inc/RooDataHist.h
  roofit/roofitcore/inc/RooHistPdf.h
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooHistFunc.cxx
  roofit/roofitcore/src/RooHistPdf.cxx
  roofit/roofitcore/test/testRooDataHist.cxx
Labels: in:RooFit/RooStats

#10971 [GSOC][TMVA][SOFIE] Pow ONNX Operator added to SOFIE with the corresponding unit tests.
  tmva/sofie/inc/TMVA/ROperator_BasicBinary.hxx
  tmva/sofie/test/TestCustomModelsFromONNX.cxx
  tmva/sofie/test/input_models/Pow.onnx
  tmva/sofie/test/input_models/Pow_broadcast.onnx
  tmva/sofie/test/input_models/references/Pow.ref.hxx
  tmva/sofie/test/input_models/references/Pow_broadcast.ref.hxx
  tmva/sofie_parsers/inc/TMVA/RModelParser_ONNX.hxx
  tmva/sofie_parsers/src/RModelParser_ONNX.cxx
Labels: in:TMVA

#11246 [v6-26][cmake] Add POLICY CMP0135 and set it to NEW
  CMakeLists.txt
Labels: pr:backport

#11247 [v6-26] Disable brotli support feature in Freetype (not only on Apple) (#11242)
  cmake/modules/SearchInstalledSoftware.cmake
Labels: pr:backport

#9761 [clingutils] Modernize C++ casting in generated dictionaries to avoid potential warnings in derived applications
  core/clingutils/src/TClingUtils.cxx
Labels: improvement, in:Dictionaries

#11047 [DF] Catch and propagate C++ exceptions in the distributed tasks
  bindings/experimental/distrdf/python/DistRDF/Backends/Base.py
Labels: in:RDataFrame

#11275 Mark TObjOptLink methods as override
  core/cont/inc/TList.h
Labels: affects:master, in:Core Libraries

#11284 [DF][NFC] Add modules to py_compile sources
  bindings/experimental/distrdf/CMakeLists.txt
Labels: pr:backport

#11283 Add override qualifier to cling class
  interpreter/cling/lib/Utils/Output.cpp
Labels: affects:master, in:Build System, in:Cling

#11293 [geom] Fix for mixture creation based on repeating elements.
  geom/geom/src/TGeoMaterial.cxx
Labels: affects:master, affects:6.24, affects:6.26
