Repository root-project/root, pull requests merged in 2022-07, with the labels that each got.

#10878 Improve http-related docu [skip-ci]
  net/http/src/TCivetweb.cxx
  net/http/src/TFastCgi.cxx
  net/http/src/THttpLongPollEngine.cxx
  net/http/src/THttpServer.cxx
  net/http/src/THttpWSHandler.cxx
  net/http/src/TRootSniffer.cxx
  tutorials/http/ws.C
Labels: affects:master

#10865 Do not use `strlen()` with TString in gui classes
  gui/gui/src/TGButton.cxx
  gui/gui/src/TGFrame.cxx
Labels: affects:master, in:GUI

#10876 [v6-26] Update the freetype library from 2.6.1 to 2.12.1
  cmake/modules/SearchInstalledSoftware.cmake
  graf2d/freetype/src/freetype-2.12.1.tar.gz
  graf2d/freetype/src/freetype-2.6.1.tar.gz
Labels: pr:backport, in:Graphics

#10880 [tmva] add missing include
  tmva/sofie/inc/TMVA/ROperator_Transpose.hxx
Labels: affects:master, in:Math Libraries

#10874 [RF] Correcly pythonize RooAbsCollection::addClone() for all overloads
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_roofit/_rooabscollection.py
  bindings/pyroot/pythonizations/test/roofit/rooabscollection.py
Labels: bug, in:PyROOT, in:RooFit/RooStats

#10881 Protect TGraph::Fit against nullptr in strstr function call
  hist/hist/src/TGraph.cxx
Labels: affects:master

#9912 [RF] Cleanup RooLagrangianMorphFunc
  roofit/roofit/inc/RooLagrangianMorphFunc.h
  roofit/roofit/src/RooLagrangianMorphFunc.cxx
Labels: in:RooFit/RooStats

#10867 [RF] Code modernization in RooFit tutorials
  tutorials/roofit/rf102_dataimport.C
  tutorials/roofit/rf104_classfactory.C
  tutorials/roofit/rf201_composite.C
  tutorials/roofit/rf203_ranges.C
  tutorials/roofit/rf207_comptools.C
  tutorials/roofit/rf303_conditional.C
  tutorials/roofit/rf306_condpereventerrors.C
  tutorials/roofit/rf401_importttreethx.C
  tutorials/roofit/rf402_datahandling.C
  tutorials/roofit/rf403_weightedevts.C
  tutorials/roofit/rf404_categories.C
  tutorials/roofit/rf505_asciicfg.C
  tutorials/roofit/rf506_msgservice.C
  tutorials/roofit/rf507_debugtools.C
  tutorials/roofit/rf508_listsetmanip.C
  tutorials/roofit/rf509_wsinteractive.C
  tutorials/roofit/rf510_wsnamedsets.C
  tutorials/roofit/rf511_wsfactory_basic.C
  tutorials/roofit/rf601_intminuit.C
  tutorials/roofit/rf603_multicpu.C
  tutorials/roofit/rf606_nllerrorhandling.C
  tutorials/roofit/rf609_xychi2fit.C
  tutorials/roofit/rf610_visualerror.C
  tutorials/roofit/rf702_efficiencyfit_2D.C
  tutorials/roofit/rf705_linearmorph.C
  tutorials/roofit/rf801_mcstudy.C
  tutorials/roofit/rf803_mcstudy_addons2.C
  tutorials/roofit/rf901_numintconfig.C
  tutorials/roofit/rf902_numgenconfig.C
  tutorials/roofit/rf903_numintcache.C
Labels: in:RooFit/RooStats

#10884 [RF] Improve RooStats::HistFactory::PreprocessFunction class
  roofit/histfactory/inc/RooStats/HistFactory/PreprocessFunction.h
  roofit/histfactory/src/PreprocessFunction.cxx
Labels: improvement, bug, in:RooFit/RooStats

#10893 [RF] Update Python version of rf408_RDataFrameToRooFit tutorial
  tutorials/roofit/rf408_RDataFrameToRooFit.py
Labels: in:RooFit/RooStats

#10903 Fix generation of G__NetxNG.cxx in paths with special characters (#10…
  cmake/modules/RootMacros.cmake
Labels: pr:backport

#10860 [ntuple,daos] Support RW operations with multiple attribute keys
  tree/ntuple/v7/inc/ROOT/RDaos.hxx
  tree/ntuple/v7/src/RDaos.cxx
  tree/ntuple/v7/src/RPageStorageDaos.cxx
Labels: improvement, in:RNTuple

#10929 [skip-ci][win] Fix thisroot.bat
  config/thisroot.bat
Labels: pr:backport

#10914 [RF] Improve documentation for RooChi2Var
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooAbsReal.cxx
  roofit/roofitcore/src/RooChi2Var.cxx
Labels: in:RooFit/RooStats

#10916 Fix bug in TLatex::Copy method [6.26]
  graf2d/graf/src/TLatex.cxx
Labels: bug, in:Graphics, affects:6.26

#10917 Fix bug in TLatex::Copy method [6.24]
  graf2d/graf/src/TLatex.cxx
Labels: bug, in:Graphics, affects:6.24

#10918 Fix bug in TLatex::Copy method [6.22]
  graf2d/graf/src/TLatex.cxx
Labels: bug, affects:6.22, in:Graphics

#10921 [RF] RooBarlowBeestonLL: Avoid removing elements of RooArgSet while looping over them
  roofit/histfactory/src/RooBarlowBeestonLL.cxx
Labels: new contributor, bug, in:RooFit/RooStats

#10927 [ntuple,daos] Generalize and introduce page-object mapping
  tree/ntuple/v7/inc/ROOT/RPageStorageDaos.hxx
  tree/ntuple/v7/src/RPageStorageDaos.cxx
Labels: improvement, in:RNTuple

#10943 [Doxygen,skipci] `modifyClassWebpage.sh`: remove trailing whitespace after library name
  documentation/doxygen/libs.C
  documentation/doxygen/modifyClassWebpage.sh
Labels: bug, in:Documentation

#10938 [RF] Improve content and position of the RooMCStudy pull plot legend
  roofit/roofitcore/src/RooMCStudy.cxx
Labels: improvement, in:RooFit/RooStats

#10947 [RF] Replaced legacy iterators with range-based loops
  roofit/roofitcore/src/RooAbsAnaConvPdf.cxx
  roofit/roofitcore/src/RooAbsCachedReal.cxx
  roofit/roofitcore/src/RooAbsCollection.cxx
  roofit/roofitcore/src/RooAbsReal.cxx
  roofit/roofitcore/src/RooAbsTestStatistic.cxx
  roofit/roofitcore/src/RooAddModel.cxx
  roofit/roofitcore/src/RooBinnedGenContext.cxx
  roofit/roofitcore/src/RooErrorVar.cxx
  roofit/roofitcore/src/RooFitLegacy/RooMinuit.cxx
  roofit/roofitcore/src/RooGenContext.cxx
  roofit/roofitcore/src/RooLinearVar.cxx
  roofit/roofitcore/src/RooProdPdf.cxx
  roofit/roofitcore/src/RooProduct.cxx
  roofit/roofitcore/src/RooRealBinding.cxx
  roofit/roofitcore/src/RooRealMPFE.cxx
Labels: in:RooFit/RooStats

#10955 [RF] Fix wrong fit and improve rf212_plottingInRanges_blinding tutorial
  tutorials/roofit/rf212_plottingInRanges_blinding.C
  tutorials/roofit/rf212_plottingInRanges_blinding.py
Labels: bug, in:RooFit/RooStats

#10961 [core] Replace `sprintnf` calls with `snprintf` in ROOT core
  core/base/src/TTimeStamp.cxx
  core/base/src/TUri.cxx
  core/base/src/TUrl.cxx
  core/thread/src/TThread.cxx
Labels: in:Core Libraries

#10950 [RF] Avoid manual memory allocation in RooConvGenContext
  roofit/roofitcore/inc/RooConvGenContext.h
  roofit/roofitcore/src/RooConvGenContext.cxx
Labels: in:RooFit/RooStats

#10944 [ntuple,daos] Parallelizable page vector writes
  tree/ntuple/v7/inc/ROOT/RPageStorageDaos.hxx
  tree/ntuple/v7/src/RPageStorageDaos.cxx
Labels: improvement, in:RNTuple

#10956 [RF] Support weighted datasets in RooKeysPdf
  roofit/roofit/src/RooKeysPdf.cxx
  roofit/roofit/test/CMakeLists.txt
  roofit/roofit/test/testRooKeysPdf.cxx
Labels: bug, in:RooFit/RooStats

#10945 [cling-cpt] Added new dependent arguments [skip-ci]
  interpreter/cling/tools/packaging/cpt.py
Labels: in:Cling

#10960 [cling-cpt] Added skip-cleanup flags for check-requirements and create-dev-env [skip-ci]
  interpreter/cling/tools/packaging/cpt.py
Labels: in:Cling

#10975 [TMVA] Replace `sprintnf` calls with `snprintf` in TMVA
  tmva/tmvagui/src/BDT.cxx
  tmva/tmvagui/src/BDTControlPlots.cxx
  tmva/tmvagui/src/BDT_Reg.cxx
  tmva/tmvagui/src/BoostControlPlots.cxx
  tmva/tmvagui/src/likelihoodrefs.cxx
  tmva/tmvagui/src/probas.cxx
  tmva/tmvagui/src/rulevisCorr.cxx
  tmva/tmvagui/src/rulevisHists.cxx
Labels: in:TMVA

#10957 [RF] New `RooAbsArg::removeStringAttribute(const char* key)` method
  roofit/roofitcore/inc/RooAbsArg.h
  roofit/roofitcore/src/NormalizationHelpers.cxx
  roofit/roofitcore/src/RooAbsArg.cxx
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooCustomizer.cxx
  tutorials/roofit/rf212_plottingInRanges_blinding.C
  tutorials/roofit/rf212_plottingInRanges_blinding.py
Labels: improvement, in:RooFit/RooStats

#10976 [cling-cpt] Added extra spacing between functions to get rid of E302 error code. [skip-ci]
  interpreter/cling/tools/packaging/cpt.py
Labels: in:Cling

#10982 [ntuple,daos] Coalesce fetch requests for pages in cluster bunch
  tree/ntuple/v7/src/RPageStorageDaos.cxx
Labels: improvement, in:RNTuple

#10989 [RF] Fixup to parameter index calculation in ParamHistFunc
  roofit/histfactory/src/ParamHistFunc.cxx
Labels: bug, in:RooFit/RooStats

#10998 Require nlohmann_json 3.9 version also for fail-on-missing build
  cmake/modules/SearchInstalledSoftware.cmake
Labels: affects:master, in:Build System

#11000 Require nlohmann_json 3.9 version also for fail-on-missing build [6.26]
  cmake/modules/SearchInstalledSoftware.cmake
Labels: pr:backport, in:Build System, affects:6.26

#11015 [RF] Speed up RooProdPdf::getConstraints() for large computation graphs
  roofit/roofitcore/src/RooProdPdf.cxx
Labels: in:RooFit/RooStats

#11018 [RF] Skip out-of-range events in RDataFrame to RooDataSet Helper
  roofit/RDataFrameHelpers/inc/RooAbsDataHelper.h
  roofit/RDataFrameHelpers/test/testActionHelpers.cxx
Labels: bug, in:RooFit/RooStats

#10946 [GSOC][TMVA][SOFIE]Neg ONNX Operator implemented in SOFIE with the corresponding unit tests
  tmva/sofie/CMakeLists.txt
  tmva/sofie/inc/TMVA/OperatorList.hxx
  tmva/sofie/inc/TMVA/ROperator_Neg.hxx
  tmva/sofie/test/TestCustomModelsFromONNX.cxx
  tmva/sofie/test/input_models/Neg.onnx
  tmva/sofie/test/input_models/references/Neg.ref.hxx
  tmva/sofie_parsers/inc/TMVA/RModelParser_ONNX.hxx
  tmva/sofie_parsers/src/RModelParser_ONNX.cxx
Labels: in:TMVA

#10953 [RF] Convert RooStats tutorials to Python
  tutorials/roostats/FourBinInstructional.py
  tutorials/roostats/MultivariateGaussianTest.C
  tutorials/roostats/MultivariateGaussianTest.py
  tutorials/roostats/Zbi_Zgamma.C
  tutorials/roostats/Zbi_Zgamma.py
  tutorials/roostats/rs601_HLFactoryexample.py
  tutorials/roostats/rs701_BayesianCalculator.C
  tutorials/roostats/rs701_BayesianCalculator.py
  tutorials/roostats/rs_bernsteinCorrection.C
  tutorials/roostats/rs_bernsteinCorrection.py
Labels: in:RooFit/RooStats

#11006 [skip-ci][DF] Fix typos and grammar mistakes in df002 tutorials
  tutorials/dataframe/df002_dataModel.C
  tutorials/dataframe/df002_dataModel.py
Labels: improvement, in:Documentation, in:RDataFrame

#11003 [docu] Clarify window size vs canvas size
  graf2d/gpad/src/TCanvas.cxx
Labels: improvement, in:Documentation, in:Graphics

#11054 [core] Fix typo in `CompressionSettings()` declaration
  core/zip/inc/Compression.h
  tree/ntuple/v7/inc/ROOT/RNTupleOptions.hxx
Labels: bug, in:Core Libraries

#11066 [core][skip-ci] Clarify documentation of `TClass::CopyCollectionProxy()`
  core/meta/src/TClass.cxx
Labels: improvement, in:Documentation

#11022 [cling-cpt] Created new extract_tar function to extract tar files [skip-ci]
  interpreter/cling/tools/packaging/cpt.py
Labels: improvement, in:Cling

#11020 [cling-cpt] Added build option for the platform tags to the argument parser [skip-ci]
  interpreter/cling/tools/packaging/cpt.py
Labels: improvement, in:Cling

#10997 [cling-cpt] Allows for user to specify the number of cores used during make [skip-ci]
  interpreter/cling/tools/packaging/cpt.py
Labels: improvement, in:Cling
