Repository root-project/root, pull requests merged in 2022-03, with the labels that each got.

#9998 [cling] DeclUnloader: reset the anonymous namespace for the parent DC where appropriate
  interpreter/cling/lib/Interpreter/DeclUnloader.cpp
  interpreter/cling/test/CodeUnloading/RereadFile.C
  interpreter/cling/test/CodeUnloading/unnamedns.h
Labels: bug, in:Cling

#10002 [DF] Disable df107_SingleTopAnalysis on Mac+M1 (v6.26)
  tutorials/CMakeLists.txt
Labels: pr:backport

#9995 [DF] Respect lazyness of instant actions in distributed mode
  bindings/experimental/distrdf/python/DistRDF/Proxy.py
Labels: in:RDataFrame

#10032 Apply rule of 5 to RMergeableValue.hxx
  tree/dataframe/inc/ROOT/RDF/RMergeableValue.hxx
Labels: in:RDataFrame

#10037 [cling] TransactionUnloader: ensure function instantiations are processed only once
  interpreter/cling/lib/Interpreter/TransactionUnloader.cpp
  interpreter/cling/test/CodeUnloading/RereadFile.C
  interpreter/cling/test/CodeUnloading/templatedfunc.h
Labels: bug, affects:master, in:Cling

#9962 [RF] Remove unused RooList class rule
  roofit/roofitcore/inc/LinkDef.h
Labels: in:RooFit/RooStats

#10001 [hist] Fix memory leak (v6.26)
  hist/hist/src/THnBase.cxx
Labels: pr:backport

#10031 TreePlayer-test: avoid use after delete of TEntryList by TTree
  tree/treeplayer/test/basic.cxx
Labels: in:TTree

#10030 BulkApi test: TFile used by TTreeReader needs to be delete last.
  tree/tree/test/BulkApiMultiple.cxx
Labels: in:TTree

#10022 [RF] Migrate HistFactory from legacy iterators to range-based loops
  roofit/histfactory/inc/RooStats/HistFactory/LinInterpVar.h
  roofit/histfactory/src/FlexibleInterpVar.cxx
  roofit/histfactory/src/HistFactoryModelUtils.cxx
  roofit/histfactory/src/HistFactoryNavigation.cxx
  roofit/histfactory/src/HistoToWorkspaceFactory.cxx
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
  roofit/histfactory/src/LinInterpVar.cxx
  roofit/histfactory/src/MakeModelAndMeasurementsFast.cxx
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/histfactory/src/RooBarlowBeestonLL.cxx
Labels: new contributor, improvement, in:RooFit/RooStats

#10053 [RF] Some small roofit improvements:
  roofit/roofitcore/inc/RooAbsProxy.h
  roofit/roofitcore/src/RooAbsPdf.cxx
Labels: improvement, in:RooFit/RooStats

#10051 [RF] CUDA API backwards compatible call to `cudaStreamWaitEvent`
  roofit/batchcompute/src/RooBatchCompute.cu
Labels: bug, in:RooFit/RooStats

#10064 [DF] Always delete heap-allocated arrays passed to jitted code (v6.26)
  tree/dataframe/inc/ROOT/RDF/InterfaceUtils.hxx
Labels: pr:backport

#10043 Added methods GetInfo and GetClassName to TestStatistics likelihood classes
  roofit/roofitcore/inc/RooFit/TestStatistics/RooAbsL.h
  roofit/roofitcore/inc/RooFit/TestStatistics/RooBinnedL.h
  roofit/roofitcore/inc/RooFit/TestStatistics/RooSubsidiaryL.h
  roofit/roofitcore/inc/RooFit/TestStatistics/RooSumL.h
  roofit/roofitcore/inc/RooFit/TestStatistics/RooUnbinnedL.h
  roofit/roofitcore/src/TestStatistics/RooAbsL.cxx
  roofit/roofitcore/test/TestStatistics/testLikelihoodSerial.cxx
Labels: in:RooFit/RooStats

#10071 [ntuple] Fix ASAN detected buffer overflow
  tree/ntuple/v7/inc/ROOT/RField.hxx
Labels: bug, affects:master, in:RNTuple

#10048 [v6.26] Disable the tests failing on Windows x64
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  tutorials/CMakeLists.txt
Labels: pr:backport

#10069 [DF] Avoid ROOT attribute lookup at module level
  bindings/experimental/distrdf/python/DistRDF/CppWorkflow.py
Labels: in:RDataFrame

#10070 [RF] Consistently do bin width correction when creating a RooHist from a TH1
  roofit/roofitcore/inc/RooHist.h
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooHist.cxx
Labels: bug, in:RooFit/RooStats

#10079 [RF] Remove dead code from HistFactory
  roofit/histfactory/CMakeLists.txt
  roofit/histfactory/inc/LinkDef.h
  roofit/histfactory/inc/RooStats/HistFactory/HistFactorySimultaneous.h
  roofit/histfactory/src/ConfigParser.cxx
  roofit/histfactory/src/Helper.cxx
  roofit/histfactory/src/Helper.h
  roofit/histfactory/src/HistFactoryModelUtils.cxx
  roofit/histfactory/src/HistFactorySimultaneous.cxx
  roofit/histfactory/src/HistoToWorkspaceFactory.cxx
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
  roofit/histfactory/src/MakeModelAndMeasurements.cxx
  roofit/histfactory/src/MakeModelAndMeasurementsFast.cxx
  roofit/histfactory/src/hist2workspace.cxx
Labels: in:RooFit/RooStats

#10084 [cling] Skip relocations to unknown functions [v6.26]
  interpreter/llvm/src/lib/ExecutionEngine/RuntimeDyld/Targets/RuntimeDyldMachOAArch64.h
Labels: pr:backport, in:Cling

#10086 [RF][RelNotes] Mention new BatchMode with CUDA support in 6.26 RelNotes
  README/ReleaseNotes/v626/index.md
  roofit/batchcompute/README.md
Labels: in:RooFit/RooStats

#10087 [RF][RelNotes] Mention new BatchMode with CUDA support in 6.26 RelNotes
  README/ReleaseNotes/v626/index.md
  roofit/batchcompute/README.md
Labels: pr:backport, in:RooFit/RooStats

#10085 [RF] RooFit banner code returns and can be enabled by preprocessor flag
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/src/Initialisation.cxx
Labels: in:RooFit/RooStats

#10027 [6.26] Respect lazyness of instant actions in distributed mode
  bindings/experimental/distrdf/python/DistRDF/Proxy.py
Labels: pr:backport, in:RDataFrame

#10093 [rootfit] add missing include in RooFitDriver.cxx
  roofit/roofitcore/src/RooFitDriver.cxx
Labels: affects:master, in:RooFit/RooStats

#10091 [textinput] Bind Ctrl+Del to `Editor::kCmdCutNextWord` (kill next word)
  core/textinput/src/textinput/KeyBinding.cpp
  core/textinput/src/textinput/StreamReaderUnix.cpp
Labels: improvement, in:Core Libraries

#10088 hadd: Remove inadvertent deletion (and subsequent re-reading) of TDirectory
  io/io/src/TFileMerger.cxx
Labels: in:I/O

#10105 [RF] Correctly treat variables with integer names in RooFormula
  roofit/roofitcore/src/RooFormula.cxx
  roofit/roofitcore/test/testRooFormula.cxx
Labels: bug, in:RooFit/RooStats

#10111 [cmake] Don't use ZMQ C++ headers from the system if ZMQ is too old
  cmake/modules/SearchInstalledSoftware.cmake
  roofit/roofitZMQ/res/RooFit_ZMQ/ZeroMQSvc.h
Labels: in:Build System

#10055 add short version of help, as in quit
  core/base/src/TApplication.cxx
  core/rint/src/TRint.cxx
  documentation/primer/ROOT_as_calculator.md
  interpreter/cling/lib/MetaProcessor/MetaSema.cpp
Labels: improvement, in:Documentation

#10126 Add RMergeableValue<THnD> to LinkDef.h
  tree/dataframe/inc/LinkDef.h
Labels: in:RDataFrame

#10128 [6.26] Add RMergeableValue<THnD> to LinkDef.h
  tree/dataframe/inc/LinkDef.h
Labels: pr:backport, in:RDataFrame

#9888 [skip-ci][cling][win] Fix compilation on Windows (32 and 64 bit)
  interpreter/cling/tools/demo/CMakeLists.txt
  interpreter/cling/tools/driver/CMakeLists.txt
Labels: in:Cling

#10142 [textinput] Fix implementation of `kCmdSwapThisAndLeftThenMoveRight`
  core/textinput/src/textinput/Editor.cpp
Labels: bug, affects:master, in:Core Libraries

#10143 [textinput] Add a missing new-line after `.q` if quitting a ROOT session via Ctrl+D (EOF)
  core/textinput/src/textinput/TextInput.cpp
Labels: improvement, in:Core Libraries

#10144 [textinput] Fix implementation of the `kCmdWordTo{Lower,Upper}` editor commands
  core/textinput/src/textinput/Editor.cpp
Labels: bug, affects:master, in:Core Libraries

#10152 [RF] RooStringView now takes ownership of `string` if it's a temporary
  roofit/roofitcore/inc/RooStringView.h
Labels: bug, in:RooFit/RooStats

#10151 [RF] Use `TUUID` directly as the key for shared property maps
  roofit/roofitcore/inc/RooCategory.h
  roofit/roofitcore/inc/RooRealVar.h
  roofit/roofitcore/inc/RooSharedProperties.h
  roofit/roofitcore/src/RooCategory.cxx
  roofit/roofitcore/src/RooRealVar.cxx
Labels: improvement, in:RooFit/RooStats

#10115 [RF] Avoid using RooTObjWrap, RooDouble, and RooInt in RooCmdConfig
  roofit/roofitcore/inc/RooBinning.h
  roofit/roofitcore/inc/RooCmdConfig.h
  roofit/roofitcore/src/RooCmdConfig.cxx
  test/stressRooFit.cxx
  test/stressRooStats.cxx
Labels: in:RooFit/RooStats

#10161 tree: Always register FriendElement in external list.
  tree/tree/inc/TFriendElement.h
  tree/tree/src/TChain.cxx
  tree/tree/src/TFriendElement.cxx
  tree/tree/src/TTree.cxx
Labels: in:TTree

#10168 v626: tree: Always register FriendElement in external list.
  tree/tree/inc/TFriendElement.h
  tree/tree/src/TChain.cxx
  tree/tree/src/TFriendElement.cxx
  tree/tree/src/TTree.cxx
Labels: pr:backport, in:TTree, affects:6.26

#10169 v624: tree: Always register FriendElement in external list.
  tree/tree/inc/TFriendElement.h
  tree/tree/src/TChain.cxx
  tree/tree/src/TFriendElement.cxx
  tree/tree/src/TTree.cxx
Labels: pr:backport, in:TTree, affects:6.26

#10177 Fix distrdf002 tutorial when launched as Python script
  tutorials/dataframe/distrdf002_dask_connection.py
Labels: in:RDataFrame

#10179 [6.26] Fix distrdf002 tutorial when launched as Python script
  tutorials/dataframe/distrdf002_dask_connection.py
Labels: pr:backport, in:RDataFrame

#10194 [cmake] Enable passing PROPERTIES in ROOT_ADD_TEST
  cmake/modules/RootMacros.cmake
Labels: in:Build System

#10192 [textinput] Clear undo buffer after taking an input line
  core/textinput/src/textinput/Editor.cpp
Labels: bug, affects:master, in:Core Libraries

#10190 Typo in RNTuple.hxx
  tree/ntuple/v7/inc/ROOT/RNTuple.hxx
Labels: improvement, in:Documentation

#10204 [PyROOT] Find rootlogon in home or current working directory
  bindings/pyroot/pythonizations/python/ROOT/_facade.py
Labels: in:PyROOT

#10199 [cmake] Do not operate on install directory at build time (v6.26)
  CMakeLists.txt
Labels: pr:backport

#10193 Make the dyld-based library search behavior default for non-modules.
  core/metacling/src/TCling.cxx
Labels: improvement, in:Cling, in:Core Libraries

#10205 [RF] Don't use non-static `std::regex` in `RooFormula::processFormula`
  roofit/roofitcore/src/RooFormula.cxx
Labels: improvement, in:RooFit/RooStats

#10100 [RF] Remove integration code from RooEffProd
  roofit/roofitcore/inc/RooEffProd.h
  roofit/roofitcore/src/RooEffProd.cxx
Labels: in:RooFit/RooStats

#10218 [tree] Fix GetTreeFullPaths in case of `protocol://` (v6.26)
  tree/tree/src/InternalTreeUtils.cxx
Labels: pr:backport

#10228 [DF] Disable Cling pointer checking for action helpers
  tree/dataframe/inc/ROOT/RDF/ActionHelpers.hxx
  tree/dataframe/inc/ROOT/RDF/RActionImpl.hxx
Labels: in:RDataFrame

#10220 [RF] Remove HistoToWorkspaceFactory (non-Fast)
  README/ReleaseNotes/v628/index.md
  roofit/histfactory/CMakeLists.txt
  roofit/histfactory/inc/LinkDef.h
  roofit/histfactory/inc/RooStats/HistFactory/HistoToWorkspaceFactory.h
  roofit/histfactory/src/HistoToWorkspaceFactory.cxx
Labels: in:RooFit/RooStats

#10237 [DF] Disable Cling pointer checking for action helpers [v6.26]
  tree/dataframe/inc/ROOT/RDF/ActionHelpers.hxx
Labels: pr:backport

#10235 [RF] Backport in 6.26 a fix suppressing a RooFit Warning message
  roofit/roofitcore/src/RooRealIntegral.cxx
Labels: in:RooFit/RooStats

#10171 [RF] Legacy iterators to range loops in `roofit/roofit` and `roostats`
  roofit/roofit/inc/RooBernstein.h
  roofit/roofit/inc/RooParametricStepFunction.h
  roofit/roofit/inc/RooStepFunction.h
  roofit/roofit/src/RooBernstein.cxx
  roofit/roofit/src/RooMomentMorph.cxx
  roofit/roofit/src/RooMomentMorphFunc.cxx
  roofit/roofit/src/RooMomentMorphFuncND.cxx
  roofit/roofit/src/RooMomentMorphND.cxx
  roofit/roofit/src/RooParametricStepFunction.cxx
  roofit/roofit/src/RooPolynomial.cxx
  roofit/roofit/src/RooStepFunction.cxx
  roofit/roostats/inc/RooStats/MCMCCalculator.h
  roofit/roostats/inc/RooStats/ModelConfig.h
  roofit/roostats/inc/RooStats/NumEventsTestStat.h
  roofit/roostats/inc/RooStats/ProposalFunction.h
  roofit/roostats/inc/RooStats/RooStatsUtils.h
  roofit/roostats/inc/RooStats/SimpleLikelihoodRatioTestStat.h
  roofit/roostats/src/AsymptoticCalculator.cxx
  roofit/roostats/src/ConfidenceBelt.cxx
  roofit/roostats/src/FeldmanCousins.cxx
  roofit/roostats/src/LikelihoodIntervalPlot.cxx
  roofit/roostats/src/MCMCInterval.cxx
  roofit/roostats/src/MarkovChain.cxx
  roofit/roostats/src/ModelConfig.cxx
  roofit/roostats/src/NeymanConstruction.cxx
  roofit/roostats/src/PdfProposal.cxx
  roofit/roostats/src/PointSetInterval.cxx
  roofit/roostats/src/ProfileInspector.cxx
  roofit/roostats/src/ProfileLikelihoodCalculator.cxx
  roofit/roostats/src/ProfileLikelihoodTestStat.cxx
  roofit/roostats/src/ProposalHelper.cxx
  roofit/roostats/src/RatioOfProfiledLikelihoodsTestStat.cxx
  roofit/roostats/src/RooStatsUtils.cxx
  roofit/roostats/src/SequentialProposal.cxx
  roofit/roostats/src/ToyMCSampler.cxx
  roofit/roostats/src/UniformProposal.cxx
Labels: improvement, in:RooFit/RooStats

#10251 [6.26][cmake] Enable passing PROPERTIES in ROOT_ADD_TEST
  cmake/modules/RootMacros.cmake
Labels: pr:backport

#10253 [tmva] Avoid calling TMVA::Python_Executable() when Pymva is not available
  tutorials/tmva/TMVA_CNN_Classification.C
  tutorials/tmva/TMVA_RNN_Classification.C
Labels: in:TMVA

#10256 [RF] Exclude categories from overlap checks in multi-range fits
  roofit/roofitcore/src/RooHelpers.cxx
  roofit/roofitcore/test/testRooSimultaneous.cxx
Labels: bug, in:RooFit/RooStats

#10213 [RF] Add flag to globally enable or disable all RooBinWidthFunctions
  roofit/roofitcore/inc/RooBinWidthFunction.h
  roofit/roofitcore/src/RooBinWidthFunction.cxx
Labels: in:RooFit/RooStats

#10270 [RF] Fixup to ignoring categories in overlap check in RooFitHelpers
  roofit/roofitcore/src/RooHelpers.cxx
  roofit/roofitcore/test/testRooSimultaneous.cxx
Labels: bug, in:RooFit/RooStats

#10263 [RF] Fix debug build with C++14
  roofit/roofitcore/res/RooNLLVarNew.h
  roofit/roofitcore/src/RooNLLVarNew.cxx
Labels: in:RooFit/RooStats

#10273 [rbrowser] fix handling of multiple cycles in ROOT file
  gui/browsable/src/TDirectoryElement.cxx
Labels: affects:master, in:WebGui

#10274 [rbrowser] fix handling of multiple cycles in RBrowser (6.26)
  gui/browsable/src/TDirectoryElement.cxx
Labels: pr:backport, in:WebGui, affects:6.26

#10208 [textinput] implement forward history search
  core/textinput/src/textinput/Editor.cpp
  core/textinput/src/textinput/Editor.h
  core/textinput/src/textinput/KeyBinding.cpp
Labels: improvement, in:Core Libraries

#10281 [textinput] Do not assign ESC a special meaning on history search mode
  core/textinput/src/textinput/Editor.cpp
Labels: bug, in:Core Libraries
