Repository root-project/root, pull requests merged in 2022-09, with the labels that each got.

#11296 [DF] Fix jitted expressions with sub-branches of aliases (v6.26)
  tree/dataframe/src/RDFInterfaceUtils.cxx
Labels: pr:backport

#11289 [tree] Add missing override specifiers in tree/ntuple
  tree/ntuple/v7/inc/ROOT/RCluster.hxx
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/inc/ROOT/RNTuple.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleOptions.hxx
  tree/ntuple/v7/inc/ROOT/RPageSinkBuf.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageDaos.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageFile.hxx
  tree/ntuple/v7/test/ntuple_storage.cxx
Labels: in:RNTuple

#11313 fix verbose printing of proxies in 6.26
  roofit/roofitcore/src/RooAbsArg.cxx
Labels: pr:squash on merge

#11331 [IO] Honor READ_WITHOUT_GLOBALREGISTRATION in TNetXNGFile (v6.26)
  io/io/src/TFile.cxx
  net/davix/src/TDavixFile.cxx
  net/net/src/TNetFile.cxx
  net/net/src/TWebFile.cxx
  net/netxng/src/TNetXNGFile.cxx
Labels: pr:backport

#11359 PR44540: Prefer an inherited default constructor over an initializer list constructor when initializing from {}.
  interpreter/llvm/src/tools/clang/lib/AST/DeclCXX.cpp
  interpreter/llvm/src/tools/clang/lib/Sema/SemaInit.cpp
Labels: in:Cling

#11371 Bump minimum Dask version to 2022.2
  requirements.txt
Labels: in:RDataFrame

#11373 Bump minimum Dask version to 2022.2
  requirements.txt
Labels: pr:backport

#11374 Remove dependency from dask_jobqueue
  bindings/experimental/distrdf/python/DistRDF/Backends/Dask/Backend.py
  requirements.txt
Labels: in:RDataFrame

#9218 [RF] Remove Python version of outdated `rf204_extrangefit` tutorial
  tutorials/roofit/rf204_extrangefit.py
Labels: in:RooFit/RooStats

#11358 [cmake] Update XRootD to v5.5.0
  builtins/xrootd/CMakeLists.txt
Labels: pr:backport

#11346 [RF] Bring back accidentally removed RooEffProd default constructor
  roofit/roofitcore/inc/RooEffProd.h
  roofit/roofitcore/src/RooEffProd.cxx
Labels: bug, in:RooFit/RooStats

#11386 [geom] Putting in sync the materials implementation file with the master
  geom/geom/src/TGeoMaterial.cxx
Labels: affects:6.26

#11378 [RF] Update RooFit `rf204b_extendedLikelihood_rangedFit` tutorial
  tutorials/roofit/rf204b_extendedLikelihood_rangedFit.C
  tutorials/roofit/rf204b_extendedLikelihood_rangedFit.py
  tutorials/roofit/rf212_plottingInRanges_blinding.py
Labels: in:RooFit/RooStats

#11323 [RF] Error out for non-extendible PDFs in no-coef RooAddPdf constructor
  roofit/roofitcore/src/RooAddPdf.cxx
Labels: in:RooFit/RooStats

#11345 [RF] Use less manual memory allocation in HistFactory
  roofit/histfactory/inc/RooStats/HistFactory/RooBarlowBeestonLL.h
  roofit/histfactory/inc/RooStats/HistFactory/Sample.h
  roofit/histfactory/src/HistFactoryModelUtils.cxx
  roofit/histfactory/src/HistFactoryNavigation.cxx
  roofit/histfactory/src/MakeModelAndMeasurementsFast.cxx
  roofit/histfactory/src/RooBarlowBeestonLL.cxx
  roofit/histfactory/src/Sample.cxx
Labels: in:RooFit/RooStats

#11361 [RF] Remove tutorials from `root/roofitcore/test`
  roofit/roofitcore/test/build.sh
  roofit/roofitcore/test/rf101_basics.cxx
  roofit/roofitcore/test/rf102_dataimport.cxx
  roofit/roofitcore/test/rf103_interprfuncs.cxx
  roofit/roofitcore/test/rf105_funcbinding.cxx
  roofit/roofitcore/test/rf108_plotbinning.cxx
  roofit/roofitcore/test/rf109_chi2residpull.cxx
  roofit/roofitcore/test/rf110_normintegration.cxx
  roofit/roofitcore/test/rf111_numintconfig.cxx
  roofit/roofitcore/test/rf201_composite.cxx
  roofit/roofitcore/test/rf202_extendedmlfit.cxx
  roofit/roofitcore/test/rf203_ranges.cxx
  roofit/roofitcore/test/rf204_extrangefit.cxx
  roofit/roofitcore/test/rf205_compplot.cxx
  roofit/roofitcore/test/rf208_convolution.cxx
  roofit/roofitcore/test/rf209_anaconv.cxx
  roofit/roofitcore/test/rf301_composition.cxx
  roofit/roofitcore/test/rf302_utilfuncs.cxx
  roofit/roofitcore/test/rf303_conditional.cxx
  roofit/roofitcore/test/rf304_uncorrprod.cxx
  roofit/roofitcore/test/rf305_condcorrprod.cxx
  roofit/roofitcore/test/rf306_condpereventerrors.cxx
  roofit/roofitcore/test/rf307_fullpereventerrors.cxx
  roofit/roofitcore/test/rf308_normintegration2d.cxx
  roofit/roofitcore/test/rf310_sliceplot.cxx
  roofit/roofitcore/test/rf311_rangeplot.cxx
  roofit/roofitcore/test/rf312_multirangefit.cxx
  roofit/roofitcore/test/rf313_paramranges.cxx
  roofit/roofitcore/test/rf314_paramfitrange.cxx
  roofit/roofitcore/test/rf316_llratioplot.cxx
  roofit/roofitcore/test/rf402_datahandling.cxx
  roofit/roofitcore/test/rf403_weightedevts.cxx
  roofit/roofitcore/test/rf404_categories.cxx
  roofit/roofitcore/test/rf405_realtocatfuncs.cxx
  roofit/roofitcore/test/rf406_cattocatfuncs.cxx
  roofit/roofitcore/test/rf501_simultaneouspdf.cxx
  roofit/roofitcore/test/rf599_wspacepersist.cxx
  roofit/roofitcore/test/rf601_intminuit.cxx
  roofit/roofitcore/test/rf602_chi2fit.cxx
  roofit/roofitcore/test/rf604_constraints.cxx
  roofit/roofitcore/test/rf605_profilell.cxx
  roofit/roofitcore/test/rf606_nllerrorhandling.cxx
  roofit/roofitcore/test/rf607_fitresult.cxx
  roofit/roofitcore/test/rf701_efficiencyfit.cxx
  roofit/roofitcore/test/rf702_efficiencyfit_2D.cxx
  roofit/roofitcore/test/rf703_effpdfprod.cxx
  roofit/roofitcore/test/rf704_amplitudefit.cxx
  roofit/roofitcore/test/rf705_linearmorph.cxx
  roofit/roofitcore/test/rf706_histpdf.cxx
  roofit/roofitcore/test/rf707_kernelestimation.cxx
  roofit/roofitcore/test/rf708_bphysics.cxx
  roofit/roofitcore/test/rf801_mcstudy.cxx
  roofit/roofitcore/test/rf802_mcstudy_addons.cxx
  roofit/roofitcore/test/rf803_mcstudy_addons2.cxx
  roofit/roofitcore/test/rf804_mcstudy_constr.cxx
Labels: in:RooFit/RooStats

#11401 [RF] Consider the `SplitRange` in overlap checks for simultaneous PDFs
  roofit/roofitcore/inc/RooHelpers.h
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooHelpers.cxx
  roofit/roofitcore/test/testRooSimultaneous.cxx
Labels: bug, in:RooFit/RooStats

#11420 [RF] Some RooFit documentation updates
  roofit/roofitcore/src/RooAbsCategory.cxx
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooChi2Var.cxx
  roofit/roofitcore/src/RooDataHist.cxx
Labels: improvement, in:RooFit/RooStats

#11419 [RF] Consider all curves for `RooPlot::pullHist` in multi-range fits
  roofit/roofitcore/inc/RooHist.h
  roofit/roofitcore/src/RooHist.cxx
  roofit/roofitcore/src/RooPlot.cxx
Labels: bug, in:RooFit/RooStats

#11417 [RF] Correctly override `SetName` in RooDataHist and RooDataSet
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooDataSet.cxx
Labels: bug, in:RooFit/RooStats

#10842 [RF] [HS3] Solve HistFactory exporter crashes
  roofit/hs3/src/JSONFactories_HistFactory.cxx
Labels: in:RooFit/RooStats

#11425 [RF] Always pass RooArgSets to RooCmdArgs by value
  roofit/roofitcore/inc/RooCmdArg.h
  roofit/roofitcore/inc/RooCmdConfig.h
  roofit/roofitcore/inc/RooGlobalFunc.h
  roofit/roofitcore/src/RooAbsData.cxx
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooAbsReal.cxx
  roofit/roofitcore/src/RooChi2Var.cxx
  roofit/roofitcore/src/RooCmdArg.cxx
  roofit/roofitcore/src/RooGlobalFunc.cxx
  roofit/roofitcore/src/RooMCStudy.cxx
  roofit/roofitcore/src/RooNLLVar.cxx
  roofit/roofitcore/src/RooSimultaneous.cxx
Labels: bug, in:RooFit/RooStats

#11011 [cling-cpt] More splitting lines for getting rid of E501 error cont. [skip-ci]
  interpreter/cling/tools/packaging/cpt.py
Labels: improvement, in:Cling

#11408 [cmake] Protect against empty COMPILE_DEFINITIONS in genreflex command
  cmake/modules/RootMacros.cmake
Labels: bug, in:Build System

#11433 [proof] use proper string type to store object name in TProofDraw
  proof/proofplayer/src/TProofDraw.cxx
Labels: affects:master

#11405 v626 core: Disable test for already deleted object.
  bindings/jupyroot/python/JupyROOT/helpers/cppcompleter.py
  bindings/pyroot_legacy/JupyROOT/helpers/cppcompleter.py
  core/base/inc/TObject.h
  core/base/src/TObject.cxx
  core/base/src/TQConnection.cxx
  core/base/src/TROOT.cxx
  core/cont/src/TClonesArray.cxx
  core/cont/src/TCollection.cxx
  core/cont/src/THashList.cxx
  core/cont/src/TList.cxx
  core/cont/src/TObjArray.cxx
  core/cont/src/TObjectTable.cxx
  core/gui/src/TContextMenu.cxx
  etc/valgrind-root.supp
  graf2d/gpad/src/TButton.cxx
  graf2d/gpad/src/TCanvas.cxx
  graf2d/gpad/src/TPad.cxx
  graf2d/gpad/src/TRatioPlot.cxx
  graf2d/graf/src/TPaveText.cxx
  graf3d/g3d/src/TGeometry.cxx
  graf3d/g3d/src/TNode.cxx
  gui/gui/src/TGFileBrowser.cxx
  gui/gui/src/TGFrame.cxx
  gui/gui/src/TGMdiMainFrame.cxx
  gui/gui/src/TGTextEntry.cxx
  hist/hist/src/TEfficiency.cxx
  hist/hist/src/TH1.cxx
  net/net/src/TApplicationServer.cxx
  tutorials/net/spyserv.C
Labels: bug, in:Core Libraries, affects:6.26

#11435 [cmake][PyROOT] Properly deal with PyROOT pythonization sources
  bindings/pyroot/pythonizations/CMakeLists.txt
Labels: in:Build System, in:PyROOT

#11453 Update minimum dask version found with cmake
  cmake/modules/SearchInstalledSoftware.cmake
Labels: pr:backport, in:RDataFrame
