Repository root-project/root, pull requests merged in 2022-05, with the labels that each got.

#10485 [RF] Continue RooFitDriver refactoring and improvements
  roofit/roofitcore/inc/RooHelpers.h
  roofit/roofitcore/res/RooFit/BatchModeHelpers.h
  roofit/roofitcore/res/RooFitDriver.h
  roofit/roofitcore/src/BatchModeHelpers.cxx
  roofit/roofitcore/src/RooAbsReal.cxx
  roofit/roofitcore/src/RooFitDriver.cxx
  roofit/roofitcore/test/testRooFitDriver.cxx
Labels: in:RooFit/RooStats

#9271 Address -Wnonnull issues and further improvements
  roofit/histfactory/src/ConfigParser.cxx
  roofit/roofitcore/inc/RooAbsCollection.h
  roofit/roofitcore/src/RooAddModel.cxx
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooRealSumFunc.cxx
  tmva/tmva/src/DNN/Architectures/Reference/DataLoader.cxx
Labels: improvement, in:RooFit/RooStats

#10495 [RF] Ignore categories with no PDF in RooSimultaneous helper code
  roofit/roofitcore/src/BatchModeHelpers.cxx
  roofit/roofitcore/src/RooAbsData.cxx
  roofit/roofitcore/src/RooNLLVarNew.cxx
  roofit/roofitcore/test/testRooSimultaneous.cxx
Labels: bug, in:RooFit/RooStats

#10499 [RF] Add `RooAbsCollection::sortTopologically()` member function
  roofit/roofitcore/inc/RooAbsCollection.h
  roofit/roofitcore/src/RooAbsCollection.cxx
Labels: in:RooFit/RooStats

#10506 [RF] Less code duplication in RooDataSet subset constructors
  roofit/roofitcore/inc/RooTreeDataStore.h
  roofit/roofitcore/src/RooDataSet.cxx
  roofit/roofitcore/src/RooTreeDataStore.cxx
Labels: improvement, in:RooFit/RooStats

#10494 [skip-ci][PyROOT] Fix pyroot00[45] tutorials preamble
  tutorials/pyroot/pyroot005_tfile_context_manager.py
  tutorials/pyroot/pyroot006_tcontext_context_manager.py
Labels: in:PyROOT

#10504 [RF] Implement `RooDataSet::addColumns` in terms of `addColumn`
  roofit/roofitcore/inc/RooAbsDataStore.h
  roofit/roofitcore/inc/RooCompositeDataStore.h
  roofit/roofitcore/inc/RooTreeDataStore.h
  roofit/roofitcore/inc/RooVectorDataStore.h
  roofit/roofitcore/src/RooAbsDataStore.cxx
  roofit/roofitcore/src/RooCompositeDataStore.cxx
  roofit/roofitcore/src/RooDataSet.cxx
  roofit/roofitcore/src/RooTreeDataStore.cxx
  roofit/roofitcore/src/RooVectorDataStore.cxx
Labels: bug, in:RooFit/RooStats

#10511 Update the checksum for xrootd-5.4.2.tar.gz (fixes #10503)
  builtins/xrootd/CMakeLists.txt
Labels: pr:backport

#10481 [ntuple] Add test for classes using empty base optimization
  tree/ntuple/v7/test/CustomStruct.hxx
  tree/ntuple/v7/test/CustomStructLinkDef.h
  tree/ntuple/v7/test/ntuple_types.cxx
Labels: improvement, in:RNTuple

#10517 [cmake,config] Warn if the C++ standard does not match ROOT's
  cmake/modules/RootConfiguration.cmake
  config/RConfigure.in
  config/__cplusplus.cxx
Labels: improvement, in:Build System

#10525 [RF] Consistent behavior for uniform constraint terms in HistFactory
  roofit/histfactory/inc/RooStats/HistFactory/HistoToWorkspaceFactoryFast.h
  roofit/histfactory/inc/RooStats/HistFactory/Measurement.h
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
Labels: bug, in:RooFit/RooStats

#10524 [rcanvas] prevent that cleanup directory append to gDirectory
  graf2d/gpadv7/src/RCanvas.cxx
Labels: pr:backport, in:WebGui, affects:6.26

#10537 Use override syntax in cling classes
  interpreter/cling/include/cling/Interpreter/AutoloadCallback.h
  interpreter/cling/include/cling/Interpreter/InterpreterCallbacks.h
  interpreter/cling/lib/Interpreter/DynamicLookup.cpp
  interpreter/cling/lib/Interpreter/InterpreterCallbacks.cpp
Labels: affects:master, in:Cling

#10550 [RF] Avoid using `_normSet` member in RooAddPdf
  roofit/roofitcore/inc/RooAddPdf.h
  roofit/roofitcore/src/RooAddPdf.cxx
Labels: bug, in:RooFit/RooStats

#10552 [RF] Add class rules for `RooCollectionProxy` for forward compatibility
  roofit/roofitcore/inc/LinkDef.h
Labels: in:RooFit/RooStats

#10547 [RF] Removing unused `RooMinimizerFcn` class rule
  roofit/roofitcore/inc/LinkDef.h
Labels: bug, in:RooFit/RooStats

#10542 [cling] Fix test/DynamicLibraryManager/callable_lib_L_AB_abs.C
  interpreter/cling/test/DynamicLibraryManager/callable_lib_L_AB_abs.C
Labels: in:Cling

#10561 [cling] Do not throw CompilationExceptions on Apple M1
  interpreter/cling/lib/Interpreter/Exception.cpp
Labels: in:Cling

#10563 [cling] Do not throw CompilationExceptions on Apple M1 [v6.26]
  interpreter/cling/lib/Interpreter/Exception.cpp
Labels: pr:backport, in:Cling

#10564 [cling] Do not throw CompilationExceptions on Apple M1 [v6.24]
  interpreter/cling/lib/Interpreter/Exception.cpp
Labels: pr:backport, in:Cling

#10555 Fix running with macOS 12.0+ SDK after building with an older SDK
  interpreter/llvm/src/tools/clang/lib/Serialization/ASTReader.cpp
Labels: bug, affects:master, in:Cling, affects:6.24, affects:6.26

#10582 [math] Avoid warnings about deleting unallocated objects in `TDecompLU`
  math/matrix/src/TDecompLU.cxx
Labels: in:Math Libraries

#10584 Implement the option "File"
  graf2d/gpad/src/TPad.cxx
Labels: improvement, in:Graphics

#10562 [RF] Introducing binned likelihood fit optimization in HistFactory
  README/ReleaseNotes/v628/index.md
  roofit/histfactory/inc/RooStats/HistFactory/HistoToWorkspaceFactoryFast.h
  roofit/histfactory/inc/RooStats/HistFactory/MakeModelAndMeasurementsFast.h
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
  roofit/histfactory/src/MakeModelAndMeasurementsFast.cxx
  roofit/histfactory/src/hist2workspace-argparse.py
  roofit/histfactory/src/hist2workspace.cxx
Labels: improvement, in:RooFit/RooStats

#10594 Add #include <cstring> for std::memcpy [v6.26]
  tmva/sofie/inc/TMVA/SOFIE_common.hxx
Labels: pr:backport

#10596 [cxxmodules] Reduce the amount of header duplications in the modules. [v6.24]
  interpreter/cling/include/cling/std.modulemap
Labels: pr:backport

#10566 [RF] Make non-command arg constructors of `RooChi2Var` private
  roofit/roofitcore/inc/RooChi2Var.h
  roofit/roofitcore/src/RooChi2Var.cxx
  test/stressRooFit_tests.h
Labels: bug, in:RooFit/RooStats

#9168 [RF] Remove entry masking feature from RooDataHist
  README/ReleaseNotes/v628/index.md
  roofit/roofitcore/inc/RooAbsData.h
  roofit/roofitcore/inc/RooDataHist.h
  roofit/roofitcore/src/RooAbsOptTestStatistic.cxx
  roofit/roofitcore/src/RooChi2Var.cxx
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooNLLVar.cxx
  roofit/roofitcore/src/RooXYChi2Var.cxx
  roofit/roofitcore/src/TestStatistics/RooAbsL.cxx
  roofit/roofitcore/src/TestStatistics/RooBinnedL.cxx
  roofit/roofitcore/test/testRooDataHist.cxx
Labels: in:RooFit/RooStats

#10576 Minor Geometry optimization
  geom/geom/inc/TGeoVolume.h
  geom/geom/src/TGeoManager.cxx
  geom/geom/src/TGeoVolume.cxx
Labels: improvement, in:Geometry

#10609 [RF] Add logging to dataset feature in RooMinimizer
  roofit/roofitcore/inc/RooMinimizer.h
  roofit/roofitcore/src/RooAbsMinimizerFcn.cxx
  roofit/roofitcore/src/RooAbsMinimizerFcn.h
  roofit/roofitcore/src/RooGradMinimizerFcn.cxx
  roofit/roofitcore/src/RooMinimizer.cxx
  roofit/roofitcore/src/RooMinimizerFcn.cxx
  roofit/roofitcore/src/TestStatistics/MinuitFcnGrad.cxx
Labels: in:RooFit/RooStats

#10610 [RF] Avoid using test statistics constructors directly in user code
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
  roofit/histfactory/src/RooBarlowBeestonLL.cxx
  roofit/roofit/src/RooChi2MCSModule.cxx
  roofit/roofitcore/test/testRooFitDriver.cxx
  roofit/roostats/inc/RooStats/MaxLikelihoodEstimateTestStat.h
  roofit/roostats/inc/RooStats/MinNLLTestStat.h
  roofit/roostats/inc/RooStats/ProfileLikelihoodTestStat.h
  roofit/roostats/inc/RooStats/RatioOfProfiledLikelihoodsTestStat.h
  roofit/roostats/inc/RooStats/SimpleLikelihoodRatioTestStat.h
  roofit/roostats/src/AsymptoticCalculator.cxx
  roofit/roostats/src/BernsteinCorrection.cxx
  roofit/roostats/src/HybridResult.cxx
  roofit/roostats/src/LikelihoodInterval.cxx
  roofit/roostats/src/MetropolisHastings.cxx
  roofit/roostats/src/ProfileLikelihoodCalculator.cxx
  roofit/roostats/src/ProfileLikelihoodTestStat.cxx
  roofit/roostats/src/UpperLimitMCSModule.cxx
  test/fit/testFitPerf.cxx
  test/stressRooFit_tests.h
  tutorials/roofit/rf403_weightedevts.C
  tutorials/roofit/rf403_weightedevts.py
  tutorials/roofit/rf602_chi2fit.C
  tutorials/roofit/rf602_chi2fit.py
  tutorials/roofit/rf606_nllerrorhandling.C
  tutorials/roofit/rf606_nllerrorhandling.py
  tutorials/roofit/rf609_xychi2fit.C
  tutorials/roofit/rf705_linearmorph.C
  tutorials/roofit/rf705_linearmorph.py
  tutorials/roostats/rs401d_FeldmanCousins.C
  tutorials/roostats/rs_bernsteinCorrection.C
Labels: in:RooFit/RooStats

#10565 Remove VariationsNode and simplify node creation
  bindings/experimental/distrdf/python/DistRDF/Node.py
  bindings/experimental/distrdf/python/DistRDF/Operation.py
  bindings/experimental/distrdf/python/DistRDF/Proxy.py
Labels: in:RDataFrame

#10631 [ntuple] Requirements in `RRecordField` for supporting `std::pair` and `std::tuple` fields
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/src/RField.cxx
Labels: improvement, in:RNTuple

#10637 [jsroot] correctly cleanup canvas painter 6.26 [skip-ci]
  js/changes.md
  js/scripts/JSRoot.core.js
  js/scripts/JSRoot.gpad.js
  js/scripts/JSRoot.more.js
  js/scripts/JSRoot.v7gpad.js
Labels: in:WebGui, affects:6.26

#10638 Add missing TClass.h include in NormalizationHelpers.cxx [6.26]
  roofit/roofitcore/src/NormalizationHelpers.cxx
Labels: in:RooFit/RooStats, affects:6.26

#10639 Add missing TClass.h include in NormalizationHelpers.cxx
  roofit/roofitcore/src/NormalizationHelpers.cxx
Labels: affects:master, in:RooFit/RooStats

#10649 Add missing TBuffer.h include in RNTuple.cxx
  tree/ntuple/v7/src/RNTuple.cxx
Labels: affects:master

#10663 [RF] RooAbsData code modernization and docmumentation update
  roofit/roofitcore/inc/RooAbsData.h
  roofit/roofitcore/src/RooAbsData.cxx
Labels: in:RooFit/RooStats

#10662 [DF] Do not duplicate work for nominal case when variations are present (v6.26)
  tree/dataframe/inc/ROOT/RDF/RAction.hxx
  tree/dataframe/inc/ROOT/RDF/RMergeableValue.hxx
  tree/dataframe/inc/ROOT/RDF/RResultMap.hxx
  tree/dataframe/inc/ROOT/RDF/RVariedAction.hxx
  tree/dataframe/inc/ROOT/RDFHelpers.hxx
Labels: pr:backport

#10669 Fix running with macOS 12.0+ SDK after building with an older SDK [v6.26]
  interpreter/llvm/src/tools/clang/lib/Serialization/ASTReader.cpp
Labels: pr:backport, in:Cling

#9925 [RF] Speed up RooDecay by at least a factor two by optimizing `evalCerf` in RooGaussModel
  roofit/roofit/src/RooGaussModel.cxx
Labels: improvement, in:RooFit/RooStats
