Repository root-project/root, pull requests merged in 2022-06, with the labels that each got.

#10668 [math] Define TDataPointN::kDimension in template
  math/mathcore/inc/Math/TDataPointN.h
Labels: in:Math Libraries

#10688 fix attribute nonstring warning in TUnixSystem.cxx
  core/unix/src/TUnixSystem.cxx
Labels: affects:master, in:Core Libraries

#10675 [cmake] Bump Vc to 1.4.3; fixes macOS warnings:
  cmake/modules/SearchInstalledSoftware.cmake
  cmake/patches/vc-deprecated-and-bit-scan-forward.patch
Labels: pr:backport

#10674 [v626][cmake] Use lcgpackages@cern, rather than unstable github:
  builtins/xrootd/CMakeLists.txt
  builtins/zeromq/cppzmq/CMakeLists.txt
Labels: pr:backport

#10682 [cmake] Reset variable in ROOT_FIND_DIRS_WITH_HEADERS
  cmake/modules/RootMacros.cmake
Labels: in:Build System

#10731 [RF] Adapt `RooWorkspace::factory` to take std::string directly
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
  roofit/hs3/src/JSONFactories_HistFactory.cxx
  roofit/hs3/src/RooJSONFactoryWSTool.cxx
  roofit/multiprocess/test/utils.h
  roofit/roofitcore/inc/RooWorkspace.h
  roofit/roofitcore/src/RooWorkspace.cxx
  roofit/roofitcore/test/test_lib.h
Labels: improvement, in:RooFit/RooStats

#10730 [RF] Some code modernization by using more range-based loops
  roofit/roofitcore/inc/RooAcceptReject.h
  roofit/roofitcore/inc/RooFitResult.h
  roofit/roofitcore/inc/RooFracRemainder.h
  roofit/roofitcore/src/RooAbsData.cxx
  roofit/roofitcore/src/RooAbsReal.cxx
  roofit/roofitcore/src/RooAcceptReject.cxx
  roofit/roofitcore/src/RooAddition.cxx
  roofit/roofitcore/src/RooDataProjBinding.cxx
  roofit/roofitcore/src/RooFracRemainder.cxx
Labels: improvement, in:RooFit/RooStats

#10752 [tree] Add missing include in InternalTreeUtils.cxx
  tree/tree/src/InternalTreeUtils.cxx
Labels: in:TTree

#10745 [cling-cpt] Fixed llvm_flags undefined error that occurred when --last-stable option used [skip-ci]
  interpreter/cling/tools/packaging/cpt.py
Labels: in:Cling

#10762 [RF] Don't deep clone the RooAbsArg in `RooAbsReal::getPropagatedError`
  roofit/roofitcore/src/RooAbsReal.cxx
Labels: improvement, in:RooFit/RooStats

#10761 [RF] Don't ignore ParamSetting values in HistFactory Asimov dataset
  roofit/histfactory/inc/RooStats/HistFactory/HistoToWorkspaceFactoryFast.h
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
Labels: bug, in:RooFit/RooStats

#10746 [RF] Replace more `createIterator` occurences by range-based loops
  roofit/histfactory/src/RooBarlowBeestonLL.cxx
  roofit/roofit/src/RooMomentMorphFuncND.cxx
  roofit/roofit/src/RooMomentMorphND.cxx
  roofit/roofitcore/inc/RooExpensiveObjectCache.h
  roofit/roofitcore/src/RooDataSet.cxx
  roofit/roofitcore/src/RooExpensiveObjectCache.cxx
  roofit/roofitcore/src/RooFitResult.cxx
  roofit/roofitcore/src/RooGradMinimizerFcn.cxx
  roofit/roofitcore/src/RooLinearVar.cxx
  roofit/roofitcore/src/RooMCStudy.cxx
  roofit/roofitcore/src/RooProdGenContext.cxx
  roofit/roofitcore/src/RooWorkspace.cxx
Labels: improvement, in:RooFit/RooStats

#10772 [RF] Improve the constructor matching in `RooFactoryWSTool`
  roofit/roofitcore/src/RooFactoryWSTool.cxx
  roofit/roofitcore/test/testWorkspace.cxx
Labels: bug, in:RooFit/RooStats

#10755 [cmake] Update XRootD to v5.4.3
  builtins/xrootd/CMakeLists.txt
Labels: pr:backport

#10786 [tutorials] file sqllite file location in tutorials [skip-ci]
  tutorials/sql/SQLiteIPLocation.C
  tutorials/sql/SQLitePlatformDistribution.C
  tutorials/sql/SQLiteTimeVersionOfRoot.C
  tutorials/sql/SQLiteVersionsOfRoot.C
Labels: affects:master

#10788 Disable brotli support feature in Freetype for macOS. (#10770)
  cmake/modules/SearchInstalledSoftware.cmake
Labels: pr:backport

#10773 [RF] Replace remaining `createIterator` occurences by range-based loops
  roofit/histfactory/inc/RooStats/HistFactory/HistFactoryModelUtils.h
  roofit/histfactory/src/HistFactoryModelUtils.cxx
  roofit/histfactory/src/RooBarlowBeestonLL.cxx
  roofit/roofitcore/inc/RooExpensiveObjectCache.h
  roofit/roofitcore/inc/RooGenContext.h
  roofit/roofitcore/inc/RooRealSumFunc.h
  roofit/roofitcore/inc/RooWorkspace.h
  roofit/roofitcore/inc/RooXYChi2Var.h
  roofit/roofitcore/src/RooAbsArg.cxx
  roofit/roofitcore/src/RooAddition.cxx
  roofit/roofitcore/src/RooCachedReal.cxx
  roofit/roofitcore/src/RooExpensiveObjectCache.cxx
  roofit/roofitcore/src/RooFitLegacy/RooMinuit.cxx
  roofit/roofitcore/src/RooFitLegacy/RooMultiCatIter.cxx
  roofit/roofitcore/src/RooGenContext.cxx
  roofit/roofitcore/src/RooGenProdProj.cxx
  roofit/roofitcore/src/RooPolyVar.cxx
  roofit/roofitcore/src/RooRandomizeParamMCSModule.cxx
  roofit/roofitcore/src/RooRealSumFunc.cxx
  roofit/roofitcore/src/RooSTLRefCountList.cxx
  roofit/roofitcore/src/RooSimWSTool.cxx
  roofit/roofitcore/src/RooTreeDataStore.cxx
  roofit/roofitcore/src/RooXYChi2Var.cxx
  roofit/roofitcore/test/testRooGradMinimizerFcn.cxx
Labels: in:RooFit/RooStats

#10796 [RF] Fix schema evolution rule for old RooProduct versions
  roofit/roofitcore/inc/LinkDef.h
  roofit/roofitcore/inc/RooCollectionProxy.h
Labels: bug, in:RooFit/RooStats

#10798 [RF] Clarify usage of RooParametricStepFunction
  roofit/roofit/inc/RooParametricStepFunction.h
  roofit/roofit/src/RooParametricStepFunction.cxx
Labels: improvement, in:RooFit/RooStats

#10790 [ntuple] RRecordField: accout for trailing padding
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/ntuple_types.cxx
Labels: bug, in:RNTuple

#10801 [webgui] increase startup time of ping test [6.26]
  tutorials/webgui/ping/ping.cxx
Labels: pr:backport, in:Testing, in:WebGui, affects:6.26

#10797 [RF] Fix problem of RooProduct and RooProdPdf with RooWorkspace factory
  roofit/roofitcore/inc/RooProdPdf.h
  roofit/roofitcore/inc/RooProduct.h
  roofit/roofitcore/src/RooProdPdf.cxx
  roofit/roofitcore/src/RooProduct.cxx
  roofit/roofitcore/test/testWorkspace.cxx
Labels: bug, in:RooFit/RooStats

#10811 [RF] Fix corruption of input pdf after using RooStats::SPlot
  roofit/roostats/src/SPlot.cxx
Labels: bug, in:RooFit/RooStats

#10771 [RF] Fix crash when using RooXYChi2Var with RooSimultaneous
  roofit/roofitcore/inc/RooXYChi2Var.h
  roofit/roofitcore/src/RooXYChi2Var.cxx
Labels: bug, in:RooFit/RooStats

#10816 [RF] Bring back missing IO constructor to RooBernstein
  roofit/roofit/inc/RooBernstein.h
Labels: bug, in:RooFit/RooStats

#10817 [cmake] set minimal nlohmann/json version to 3.9
  cmake/modules/SearchInstalledSoftware.cmake
Labels: affects:master, in:Build System

#10838 [cmake] set minimal nlohmann/json version to 3.9
  cmake/modules/SearchInstalledSoftware.cmake
Labels: pr:backport, in:Build System, affects:6.26

#10837 [RF] Remove more dead HistFactory code in HistoToWorkspaceFactoryFast
  roofit/histfactory/inc/RooStats/HistFactory/HistoToWorkspaceFactoryFast.h
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
Labels: in:RooFit/RooStats

#10825 [RF] Avoid code duplication in RooRealSumFunc/RooRealSumPdf
  roofit/roofitcore/inc/RooRealSumFunc.h
  roofit/roofitcore/inc/RooRealSumPdf.h
  roofit/roofitcore/src/RooRealSumFunc.cxx
  roofit/roofitcore/src/RooRealSumPdf.cxx
Labels: in:RooFit/RooStats

#10380 Using higher-level wrapper of OpenSSL SHA1 hash function in civetweb
  net/http/civetweb/civetweb.c
Labels: affects:master

#10857 [RF] Fix dirty flag resetting when the normalization set is changed
  roofit/roofitcore/src/RooAbsArg.cxx
  roofit/roofitcore/test/testRooAbsPdf.cxx
Labels: bug, in:RooFit/RooStats

#10859 [civetweb] use proper methods with openssl 3.0 [6-26]
  net/http/civetweb/civetweb.c
Labels: pr:backport, affects:6.26

#10435 Some error messages and spelling mistakes fixed related to operators
  tmva/sofie/inc/TMVA/ROperator_Add.hxx
  tmva/sofie/inc/TMVA/ROperator_BatchNormalization.hxx
  tmva/sofie/inc/TMVA/ROperator_Conv.hxx
  tmva/sofie/inc/TMVA/ROperator_Gemm.hxx
  tmva/sofie/inc/TMVA/ROperator_Reshape.hxx
  tmva/sofie/inc/TMVA/ROperator_Slice.hxx
Labels: in:Documentation, in:TMVA

#10853 [RF] Translate RooStats tutorial rs101_limitexample.C to Python
  tutorials/roostats/rs101_limitexample.py
Labels: in:RooFit/RooStats
