Repository root-project/root, pull requests merged in 2022-04, with the labels that each got.

#10287 [RF] Also read other types than `int` into RooAbsCategory from TTree
  roofit/roofitcore/inc/RooAbsCategory.h
  roofit/roofitcore/src/RooAbsCategory.cxx
  roofit/roofitcore/src/RooAbsReal.cxx
  roofit/roofitcore/src/TreeReadBuffer.h
  roofit/roofitcore/test/CMakeLists.txt
  roofit/roofitcore/test/testRooCategory.cxx
Labels: improvement, in:RooFit/RooStats

#10332 make thisroot.sh compatible with dash and ksh shell
  config/thisroot.sh
Labels: improvement, affects:master, in:Build System

#10345 [rbrowser] escape characters in terminal output (6.26) [skip-ci]
  ui5/browser/controller/Browser.controller.js
Labels: pr:backport, in:WebGui, affects:6.26

#10349 [RF] Change int types in UniqueId and RooNormSetCache
  roofit/roofitcore/inc/RooFit/UniqueId.h
  roofit/roofitcore/inc/RooNormSetCache.h
  roofit/roofitcore/src/RooNormSetCache.cxx
Labels: bug, in:RooFit/RooStats

#10352 [RF] Fix architecture logging RooFitDriver
  roofit/batchcompute/src/RooBatchCompute.cxx
  roofit/roofitcore/src/RooFitDriver.cxx
Labels: improvement, bug, in:RooFit/RooStats

#10356 [DF] Disable also distributed tutorials on Mac ARM
  tutorials/CMakeLists.txt
Labels: in:RDataFrame

#10358 [6.26][DF] Disable also distributed tutorials on Mac ARM
  tutorials/CMakeLists.txt
Labels: pr:backport

#10359 [RF] Move `RooMath` from RooBatchCompute back into RooFitCore
  roofit/batchcompute/CMakeLists.txt
  roofit/batchcompute/inc/RooMath.h
  roofit/batchcompute/res/faddeeva_impl.h
  roofit/batchcompute/src/ComputeFunctions.cxx
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/inc/RooMath.h
  roofit/roofitcore/src/RooMath.cxx
Labels: bug, in:RooFit/RooStats

#10362 [RF] Don't used fixed-size stack arrays in RooBatchCompute in CPU case
  roofit/batchcompute/src/Batches.h
  roofit/batchcompute/src/ComputeFunctions.cxx
  roofit/batchcompute/src/RooBatchCompute.cu
  roofit/batchcompute/src/RooBatchCompute.cxx
Labels: improvement, in:RooFit/RooStats

#10373 [I/O] Use thread-local collection proxy in TClass::Destructor (v6.26)
  core/meta/src/TClass.cxx
Labels: pr:backport

#10375 [cmake] Bump davix to 0.8.1 (v6.26)
  builtins/davix/CMakeLists.txt
Labels: pr:backport

#10374 [cmake] Enable openssl3 for xrootd (v626)
  builtins/xrootd/CMakeLists.txt
Labels: pr:backport

#10376 [v626][RF] Backports of RooFit PRs to `v6-26-00-patches`: Part 11
  roofit/hs3/src/RooJSONFactoryWSTool.cxx
Labels: pr:backport, in:RooFit/RooStats

#10378 Close files before deleting them in TContext tutorial
  tutorials/pyroot/pyroot006_tcontext_context_manager.py
Labels: in:PyROOT

#10379 Fix `TMVA_Higgs_Classification.C` tutorial on Windows
  tutorials/tmva/TMVA_Higgs_Classification.C
Labels: in:TMVA

#10369 TClassEdit: make usage of static cache container thread safe.
  core/foundation/src/TClassEdit.cxx
Labels: bug, priority:default, in:Core Libraries

#10396 [core] Improve implementation of `Rbswap_{16,32,64}()`
  core/base/inc/Byteswap.h
Labels: improvement, in:Core Libraries

#10412 [RF] Take binning from input RooDataHists when combining them
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/test/testRooDataHist.cxx
Labels: bug, in:RooFit/RooStats

#10411 [RF] Deprecate `RooAbsData::createHistogram` overload with `int` params
  README/ReleaseNotes/v628/index.md
  roofit/roofitcore/inc/RooAbsData.h
  roofit/roofitcore/src/RooAbsData.cxx
Labels: in:RooFit/RooStats

#10387 TClingUtils: Avoid growing paths in GetFileName
  core/clingutils/res/TClingUtils.h
  core/clingutils/src/TClingUtils.cxx
Labels: in:Cling

#10426 Adjust TGraph2DAsymmErrors
  hist/hist/inc/TGraph2DAsymmErrors.h
  hist/hist/inc/TGraph2DErrors.h
  hist/hist/inc/TGraphAsymmErrors.h
  hist/hist/inc/TGraphErrors.h
  hist/hist/src/TGraph2DAsymmErrors.cxx
  hist/hist/src/TGraph2DErrors.cxx
  hist/hist/src/TGraphAsymmErrors.cxx
  hist/hist/src/TGraphErrors.cxx
  hist/histpainter/inc/TGraph2DPainter.h
  hist/histpainter/src/TGraph2DPainter.cxx
Labels: affects:master

#10391 Copy Snapshot operation arguments in a distributed task
  bindings/experimental/distrdf/python/DistRDF/ComputationGraphGenerator.py
Labels: in:RDataFrame

#10429 [6.26] Copy Snapshot operation arguments in a distributed task
  bindings/experimental/distrdf/python/DistRDF/ComputationGraphGenerator.py
Labels: in:RDataFrame

#10438 [hist] Clarify DoProject2D return pointer ownership
  hist/hist/src/TH3.cxx
Labels: improvement, in:Documentation

#10125 [cling] add missing newline and separating space
  interpreter/cling/lib/MetaProcessor/Display.cpp
Labels: improvement, affects:master, in:Cling

#10124 specify that multiple ROOT files can be opened
  core/base/src/root-argparse.py
Labels: improvement, in:Documentation

#10354 Improve startup by 15% (avoid redundant work).
  core/unix/src/TUnixSystem.cxx
Labels: improvement, priority:high, in:Core Libraries

#10457 [core] TViewPubDataMembersIter: avoid using deprecated `std::iterator`
  core/meta/src/TViewPubDataMembers.h
Labels: affects:master, in:Core Libraries

#10477 [RF] Refactor RooFitDriver and move some functionality to other files
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/res/RooFit/BatchModeDataHelpers.h
  roofit/roofitcore/res/RooFit/BatchModeHelpers.h
  roofit/roofitcore/res/RooFit/CUDAHelpers.h
  roofit/roofitcore/res/RooFitDriver.h
  roofit/roofitcore/src/BatchModeDataHelpers.cxx
  roofit/roofitcore/src/BatchModeHelpers.cxx
  roofit/roofitcore/src/CUDAHelpers.cxx
  roofit/roofitcore/src/RooFitDriver.cxx
Labels: in:RooFit/RooStats

#10465 [RF] Also compare parameter errors in RooFitResult::isIdentical(NoCov)
  roofit/roofitcore/inc/RooFitResult.h
  roofit/roofitcore/src/RooFitResult.cxx
  roofit/roofitcore/test/testRooAbsPdf.cxx
Labels: in:RooFit/RooStats

#10468 [core,v6-26] TViewPubDataMembersIter: avoid using deprecated `std::iterator`
  core/meta/src/TViewPubDataMembers.h
Labels: pr:backport, affects:master, in:Core Libraries
