Repository root-project/root, pull requests merged in 2023-01, with the labels that each got.

#11962 [RF] Avoid code duplication with new private `Algorithms.h` file
  roofit/roofit/inc/RooMomentMorphFuncND.h
  roofit/roofit/src/RooFit/Detail/Algorithms.h
  roofit/roofit/src/RooMomentMorphFuncND.cxx
  roofit/roofit/src/RooMomentMorphND.cxx
Labels: in:RooFit/RooStats

#11970 [RF] Make `RooAbsArg::recursiveRedirectServers` thread safe
  roofit/roofitcore/src/RooAbsArg.cxx
Labels: in:RooFit/RooStats

#11963 [RF] Exclude `RooGrid` class from IO
  roofit/roofitcore/inc/LinkDef.h
  roofit/roofitcore/inc/RooGrid.h
  roofit/roofitcore/src/RooGrid.cxx
  roofit/roofitcore/src/RooMCIntegrator.cxx
Labels: in:RooFit/RooStats

#11981 [RF] Remove `RooGenFunction` and `RooMultiGenFunction`
  README/ReleaseNotes/v630/index.md
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/inc/LinkDef.h
  roofit/roofitcore/inc/RooAbsReal.h
  roofit/roofitcore/inc/RooAdaptiveIntegratorND.h
  roofit/roofitcore/inc/RooGenFunction.h
  roofit/roofitcore/inc/RooMultiGenFunction.h
  roofit/roofitcore/src/RooAbsReal.cxx
  roofit/roofitcore/src/RooAdaptiveIntegratorND.cxx
  roofit/roofitcore/src/RooGenFunction.cxx
  roofit/roofitcore/src/RooMultiGenFunction.cxx
Labels: in:RooFit/RooStats

#11984 [RF] Prevent accidental casting from `double` to `int` in xroofit
  roofit/xroofit/src/xRooNode.cxx
Labels: in:RooFit/RooStats

#11986 [RF] Use `std::abs` all the way in RooFit
  roofit/hs3/src/RooJSONFactoryWSTool.cxx
  roofit/multiprocess/test/utils.h
  roofit/roofit/src/RooBCPEffDecay.cxx
  roofit/roofit/src/RooBCPGenDecay.cxx
  roofit/roofit/src/RooBDecay.cxx
  roofit/roofit/src/RooBukinPdf.cxx
  roofit/roofit/src/RooCBShape.cxx
  roofit/roofit/src/RooGExpModel.cxx
  roofit/roofit/src/RooIntegralMorph.cxx
  roofit/roofit/src/RooLagrangianMorphFunc.cxx
  roofit/roofit/src/RooNDKeysPdf.cxx
  roofit/roofit/test/testRooBernstein.cxx
  roofit/roofitcore/src/RooAbsCategory.cxx
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooAbsReal.cxx
  roofit/roofitcore/src/RooAbsRealLValue.cxx
  roofit/roofitcore/src/RooBinnedGenContext.cxx
  roofit/roofitcore/src/RooBrentRootFinder.cxx
  roofit/roofitcore/src/RooCurve.cxx
  roofit/roofitcore/src/RooDataHist.cxx
  roofit/roofitcore/src/RooDataSet.cxx
  roofit/roofitcore/src/RooExpensiveObjectCache.cxx
  roofit/roofitcore/src/RooFitResult.cxx
  roofit/roofitcore/src/RooHistFunc.cxx
  roofit/roofitcore/src/RooHistPdf.cxx
  roofit/roofitcore/src/RooIntegrator1D.cxx
  roofit/roofitcore/src/RooMath.cxx
  roofit/roofitcore/src/RooMultiVarGaussian.cxx
  roofit/roofitcore/src/RooNumIntConfig.cxx
  roofit/roofitcore/src/RooNumRunningInt.cxx
  roofit/roofitcore/src/RooPlot.cxx
  roofit/roofitcore/src/RooRealIntegral.cxx
  roofit/roofitcore/src/RooRealVar.cxx
  roofit/roofitcore/src/RooTruthModel.cxx
  roofit/roofitcore/src/RooUnitTest.cxx
  roofit/roofitcore/src/TestStatistics/RooBinnedL.cxx
  roofit/roofitcore/test/testRooAbsPdf.cxx
  roofit/roofitcore/test/testRooProdPdf.cxx
  roofit/roofitcore/test/testRooWrapperPdf.cxx
  roofit/roofitcore/test/testTestStatistics.cxx
  roofit/roofitcore/test/test_lib.h
  roofit/roofitmore/src/RooAdaptiveGaussKronrodIntegrator1D.cxx
  roofit/roofitmore/src/RooGaussKronrodIntegrator1D.cxx
  roofit/roofitmore/src/RooHypatia2.cxx
  roofit/roofitmore/src/RooLegendre.cxx
  roofit/roofitmore/src/RooSpHarmonic.cxx
  roofit/roostats/src/HybridPlot.cxx
  roofit/roostats/src/HypoTestInverter.cxx
  roofit/roostats/src/HypoTestInverterResult.cxx
  roofit/roostats/src/SPlot.cxx
  roofit/xroofit/src/xRooFit.cxx
  roofit/xroofit/src/xRooHypoSpace.cxx
  roofit/xroofit/src/xRooNLLVar.cxx
Labels: in:RooFit/RooStats

#11841 [RF] New `RooPlot::createInternalPlotVarClone()` function for RooUnitTest
  roofit/roofitcore/inc/RooPlot.h
  roofit/roofitcore/src/RooMCStudy.cxx
  roofit/roofitcore/src/RooPlot.cxx
  roofit/roofitcore/src/RooUnitTest.cxx
Labels: bug, in:RooFit/RooStats

#11985 [RF] Fix copy-paste error in `rf205` tutorial and related stressRooFit test
  test/stressRooFit_tests.h
  tutorials/roofit/rf205_compplot.C
  tutorials/roofit/rf205_compplot.py
Labels: bug, in:RooFit/RooStats

#9521 [DF] Remove RDataSource methods deprecated in v6.28 (to be merged in v6.29)
  tree/dataframe/inc/ROOT/RDataSource.hxx
  tree/dataframe/src/RLoopManager.cxx
Labels: in:RDataFrame

#11989 [ntuple] Fix tutorial `ntpl008_import.C`
  tutorials/v7/ntuple/ntpl008_import.C
Labels: in:Documentation, in:RNTuple

#11990 [RF] Remove RooFormula code for gcc <= 4.8
  roofit/roofitcore/src/RooFormula.cxx
Labels: in:RooFit/RooStats

#11999 [RF] Make margin in `RooAbsRealLValue::inRange()` zero by default
  README/ReleaseNotes/v628/index.md
  roofit/roofitcore/inc/RooNumber.h
  roofit/roofitcore/src/RooAbsRealLValue.cxx
  roofit/roofitcore/src/RooNumber.cxx
Labels: improvement, in:RooFit/RooStats

#12000 [RF] Rename stuff in RooMomentMorph(Func)ND to ease spotting difference
  roofit/roofit/inc/RooMomentMorphFuncND.h
  roofit/roofit/inc/RooMomentMorphND.h
  roofit/roofit/src/RooMomentMorphFuncND.cxx
  roofit/roofit/src/RooMomentMorphND.cxx
Labels: in:RooFit/RooStats

#12005 [webgui] no need to provide dummy disconnect handler in TWebControlBar [6.28]
  gui/webgui6/src/TWebControlBar.cxx
Labels: pr:backport, in:WebGui, affects:6.28

#12009 [ntuple] Avoid lambda capture of structured binding
  tree/ntupleutil/v7/src/RNTupleImporter.cxx
Labels: in:RNTuple

#12011 [RF] Fix ranged integrals with factorized variables
  roofit/roofitcore/inc/RooRealIntegral.h
  roofit/roofitcore/src/RooRealIntegral.cxx
  roofit/roofitcore/test/testTestStatistics.cxx
  test/stressRooFit_ref.root
  test/stressRooFit_tests.h
  tutorials/roofit/rf609_xychi2fit.C
  tutorials/roofit/rf609_xychi2fit.py
Labels: bug, in:RooFit/RooStats

#11895 Remove renormalization which should have been part of PR 11060
  geom/gdml/src/TGDMLWrite.cxx
Labels: in:Geometry

#12024 [RF] Do not stream RooAbsArg eocache to avoid memory leak when reading back workspaces
  roofit/roofitcore/inc/RooAbsArg.h
Labels: in:RooFit/RooStats

#12025 [DF] Removing failing test with shorter friends
  tree/dataframe/test/dataframe_datasetspec.cxx
Labels: in:RDataFrame

#12030 [RF] New public accessor methods for various roofit data members
  roofit/roofitcore/inc/RooAbsArg.h
  roofit/roofitcore/inc/RooAbsReal.h
  roofit/roofitcore/inc/RooAbsTestStatistic.h
  roofit/roofitcore/inc/RooWorkspace.h
  roofit/roostats/inc/RooStats/HypoTestResult.h
Labels: in:RooFit/RooStats

#12027 [cling] Prepare for monorepo layout
  interpreter/cling/CMakeLists.txt
Labels: in:Cling

#12039 [RF] Fix IO and memory problems in RooMomentMorph(Func)ND
  roofit/roofit/inc/RooMomentMorphFuncND.h
  roofit/roofit/inc/RooMomentMorphND.h
  roofit/roofit/src/RooMomentMorphFuncND.cxx
  roofit/roofit/src/RooMomentMorphND.cxx
Labels: bug, in:RooFit/RooStats

#12049 [ntuple] Allow I/O customization rules with an empty target list
  tree/ntuple/v7/src/RField.cxx
Labels: bug, affects:master, in:RNTuple

#12046 [RF] Don't throw exception if proxies are inconsistent in RooProduct
  roofit/roofitcore/src/RooProduct.cxx
Labels: in:RooFit/RooStats

#11861 [rmkdepend] Use snprintf against warning (GCC 12.2):
  build/rmkdepend/def.h
  build/rmkdepend/include.c
Labels: pr:squash on merge

#12055 Plot markers using their actual size
  graf2d/quartz/src/QuartzMarker.mm
Labels: bug

#12048 [RF] additional public methods for accessing/modifying product factors
  roofit/roofitcore/inc/RooProdPdf.h
  roofit/roofitcore/inc/RooProduct.h
  roofit/roofitcore/src/RooProdPdf.cxx
Labels: in:RooFit/RooStats

#12065 Add missing #include <cstdint>
  tree/ntuple/v7/inc/ROOT/RDaos.hxx
  tree/ntuple/v7/test/CustomStruct.hxx
Labels: in:RNTuple

#12026 [ntuple] Show all fields unless a model is specified
  tree/ntuple/v7/src/RNTuple.cxx
  tree/ntuple/v7/test/ntuple_show.cxx
Labels: in:RNTuple

#12070 [tmva][sofie] Speed up SOFIE tests configuration
  tmva/sofie/inc/TMVA/SOFIE_common.hxx
  tmva/sofie/test/CMakeLists.txt
  tmva/sofie/test/EmitFromONNX.cxx.in
  tmva/sofie/test/EmitFromRoot.cxx.in
  tmva/sofie/test/input_models/ExpandDiffSize.onnx
  tmva/sofie/test/input_models/ExpandSameSize.onnx
  tmva/sofie/test/input_models/Gather2d.onnx
  tmva/sofie/test/input_models/GatherAxis0.onnx
  tmva/sofie/test/input_models/GatherAxis1.onnx
  tmva/sofie/test/input_models/GatherAxis2.onnx
  tmva/sofie/test/input_models/GatherAxis3.onnx
  tmva/sofie/test/input_models/GatherNegativeIndices.onnx
Labels: improvement, in:TMVA

#12073 [ntuple] Fix loading of class for split collections
  tree/ntupleutil/v7/src/RNTupleImporter.cxx
  tree/ntupleutil/v7/test/CustomStructUtilLinkDef.h
  tree/ntupleutil/v7/test/ntuple_importer.cxx
Labels: bug, in:RNTuple

#12084 Fix gcc13 warning in TMVA Sofie includes
  tmva/sofie/inc/TMVA/ROperator.hxx
  tmva/sofie/inc/TMVA/ROperator_BasicBinary.hxx
  tmva/sofie/inc/TMVA/ROperator_BasicNary.hxx
  tmva/sofie/inc/TMVA/ROperator_BatchNormalization.hxx
  tmva/sofie/inc/TMVA/ROperator_Conv.hxx
  tmva/sofie/inc/TMVA/ROperator_ConvTranspose.hxx
  tmva/sofie/inc/TMVA/ROperator_GRU.hxx
  tmva/sofie/inc/TMVA/ROperator_Gemm.hxx
  tmva/sofie/inc/TMVA/ROperator_LSTM.hxx
  tmva/sofie/inc/TMVA/ROperator_LayerNormalization.hxx
  tmva/sofie/inc/TMVA/ROperator_RNN.hxx
  tmva/sofie/inc/TMVA/ROperator_Selu.hxx
  tmva/sofie/inc/TMVA/ROperator_Sigmoid.hxx
  tmva/sofie/inc/TMVA/ROperator_Tanh.hxx
  tmva/sofie/src/RModel.cxx
Labels: affects:master, in:TMVA

#12087 Fix gcc13 warning in TPaveText
  graf2d/graf/src/TPaveText.cxx
Labels: affects:master, in:Graphics

#12050 [RF] Add a C/C++ function wrapper class in roofit.
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/inc/RooFuncWrapper.h
  roofit/roofitcore/test/CMakeLists.txt
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Labels: in:RooFit/RooStats

#12076 [TMVA][SOFIE] Handling Dropout layer in SOFIE Keras Parser
  tmva/sofie/inc/TMVA/ROperator_Identity.hxx
Labels: in:TMVA

#12042 [PyROOT] Only build RooFit and TMVA pythonizations if needed
  bindings/pyroot/pythonizations/CMakeLists.txt
Labels: in:Build System, in:PyROOT

#12064 Extra public accessor methods in root browser classes
  gui/gui/inc/TGFileBrowser.h
  gui/gui/inc/TRootBrowser.h
Labels: in:GUI

#12075 [clad] Bump clad version to v1.1.
  interpreter/cling/tools/plugins/clad/CMakeLists.txt
Labels: in:Cling

#12069 Reset function sections before JITting
  interpreter/cling/lib/Interpreter/IncrementalJIT.cpp
Labels: affects:master, priority:high, in:Cling, affects:6.28

#12088 Fix GL viewer camera center picking for retina displays.
  graf3d/gl/src/TGLEventHandler.cxx
Labels: bug

#12085 Fix gcc13 warnings in RDF
  tree/dataframe/inc/ROOT/RDF/RResultMap.hxx
Labels: affects:master, in:RDataFrame

#12114 [RF] Increase version number of `RooRealVar`
  roofit/roofitcore/inc/RooRealVar.h
Labels: in:RooFit/RooStats

#12066 [graf] Additional options for `TPad::PlaceBox()` method
  core/base/inc/TVirtualPad.h
  graf2d/gpad/inc/TPad.h
  graf2d/gpad/src/TPad.cxx
Labels: improvement, in:Graphics

#12104 Check if a callfunc returns void before setting the return result.
  core/metacling/src/TClingCallFunc.cxx
  core/metacling/test/TClingCallFuncTests.cxx
Labels: in:Core Libraries

#12119 [RF] Fix signature of `RooWorkspace::getSnapshots()`
  roofit/roofitcore/inc/RooWorkspace.h
  roofit/roostats/src/RooStatsUtils.cxx
Labels: bug, in:RooFit/RooStats

#12103 [RF] xroofit improvements
  roofit/xroofit/CMakeLists.txt
  roofit/xroofit/inc/RooFit/xRooFit/xRooNode.h
  roofit/xroofit/src/Banner.cxx
  roofit/xroofit/src/xRooBrowser.cxx
  roofit/xroofit/src/xRooNLLVar.cxx
  roofit/xroofit/src/xRooNode.cxx
  roofit/xroofit/src/xRooNode_interactive.cxx
Labels: in:RooFit/RooStats

#11972 [DF] Remove unused variable in `RRootDS.cxx`
  tree/dataframe/src/RRootDS.cxx
Labels: in:RDataFrame

#12122 Check if a callfunc returns void before setting the return result.
  core/metacling/src/TClingCallFunc.cxx
  core/metacling/test/TClingCallFuncTests.cxx
Labels: pr:backport, pr:emergency🚨, affects:6.28

#12128 Fix AddressSanitizer build
  core/CMakeLists.txt
Labels: priority:high, in:Build System

#12126 Fix compilation error in rbrowsable
  gui/browsable/src/TDirectoryElement.cxx
Labels: in:GUI, in:WebGui, affects:6.26

#12101 6.28: [cmake] Disable llvm-assertions for ROOT=RelWithDebInfo:
  interpreter/CMakeLists.txt
Labels: pr:backport

#12100 v628: Revert "[cmake] Xcode 14 warns about -undefined dynamic_lookup; sim…
  bindings/jupyroot/CMakeLists.txt
  bindings/pyroot/cppyy/CPyCppyy/CMakeLists.txt
  bindings/pyroot/pythonizations/CMakeLists.txt
  core/base/src/TSystem.cxx
  core/metacling/src/CMakeLists.txt
  interpreter/cling/tools/plugins/example/CMakeLists.txt
  montecarlo/pythia6/CMakeLists.txt
Labels: pr:backport

#12099 v6.28: [rmkdepend] Use snprintf against warning (GCC 12.2):
  build/rmkdepend/def.h
  build/rmkdepend/include.c
Labels: pr:backport

#12097 v6.28: [dictgen] Do not complain about headers in byproducts:
  core/dictgen/src/rootcling_impl.cxx
Labels: pr:backport

#12096 v6.28: [cling] Re-enable CodeGen-OptLevel after llvm13 upgrade:
  interpreter/cling/lib/Interpreter/IncrementalExecutor.cpp
  interpreter/cling/lib/Interpreter/IncrementalJIT.cpp
  interpreter/cling/lib/Interpreter/IncrementalJIT.h
Labels: pr:backport

#12137 TTreeReader: error out for STL within TClonesArray.
  tree/treeplayer/src/TTreeReaderArray.cxx
Labels: priority:critical, pr:emergency🚨, affects:6.28

#12176 6.28: [cmake] Use lcgpackages for libzmq.tar.gz:
  builtins/zeromq/libzmq/CMakeLists.txt
Labels: pr:emergency🚨

#12175 [cmake] Use lcgpackages for libzmq.tar.gz:
  builtins/zeromq/libzmq/CMakeLists.txt
Labels: pr:emergency🚨
