Repository root-project/root, pull requests merged in 2023-12, with the labels that each got.

#14151 [webgui] do not compile without http [6.30]
  cmake/modules/RootBuildOptions.cmake
Labels: pr:backport, in:Build System, affects:6.30

#14152 [webgui] do not build without http [6.28]
  cmake/modules/RootBuildOptions.cmake
Labels: pr:backport, in:Build System, affects:6.28

#13752 [cmake] Assume XRootD >= 5.0.0 and migrate to `XRootDConfig.cmake` shipped by XRootD
  builtins/xrootd/CMakeLists.txt
  cmake/modules/FindXROOTD.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  net/netxng/CMakeLists.txt
Labels: in:Build System

#14134 [tmva][sofie] Fix parsing of single MatMul and fix Pool padding
  tmva/sofie/inc/TMVA/ROperator_Gemm.hxx
  tmva/sofie/inc/TMVA/ROperator_Pool.hxx
  tmva/sofie_parsers/src/ParseMatMul.cxx
  tmva/sofie_parsers/src/RModelParser_ONNX.cxx
Labels: in:TMVA

#14170 Revert "[cmake] Migrate to `XRootDConfig.cmake` shipped by XRootD"
  builtins/xrootd/CMakeLists.txt
  cmake/modules/FindXROOTD.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  net/netxng/CMakeLists.txt
Labels: in:Build System, pr:emergency🚨

#14168 [RF] Introduce `RooAbsCollection::addTyped()` method
  roofit/histfactory/inc/RooStats/HistFactory/ParamHistFunc.h
  roofit/histfactory/src/ParamHistFunc.cxx
  roofit/roofit/inc/RooMomentMorphFuncND.h
  roofit/roofit/inc/RooNDKeysPdf.h
  roofit/roofit/src/RooBernstein.cxx
  roofit/roofit/src/RooChebychev.cxx
  roofit/roofit/src/RooExpPoly.cxx
  roofit/roofit/src/RooJeffreysPrior.cxx
  roofit/roofit/src/RooMomentMorph.cxx
  roofit/roofit/src/RooMomentMorphFunc.cxx
  roofit/roofit/src/RooMomentMorphFuncND.cxx
  roofit/roofit/src/RooNDKeysPdf.cxx
  roofit/roofit/src/RooParametricStepFunction.cxx
  roofit/roofit/src/RooPolynomial.cxx
  roofit/roofit/src/RooPower.cxx
  roofit/roofit/src/RooStepFunction.cxx
  roofit/roofitcore/inc/RooAbsCollection.h
  roofit/roofitcore/src/RooAbsCollection.cxx
  roofit/roofitcore/src/RooAddition.cxx
  roofit/roofitcore/src/RooConstraintSum.cxx
  roofit/roofitcore/src/RooPolyFunc.cxx
  roofit/roofitcore/src/RooPolyVar.cxx
  roofit/roofitcore/src/TestStatistics/RooSubsidiaryL.cxx
  roofit/roofitmore/src/RooAdaptiveGaussKronrodIntegrator1D.h
Labels: improvement, in:RooFit/RooStats

#14182 [cling] Provide fallback for LLVM_INCLUDE_DIRS
  interpreter/cling/CMakeLists.txt
Labels: in:Cling

#14177 [RF] Promote `ROOFIT_MEMORY_SAFE_INTERFACES` to users in release notes
  README/ReleaseNotes/v632/index.md
  roofit/histfactory/inc/RooStats/HistFactory/PiecewiseInterpolation.h
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
  roofit/histfactory/src/MakeModelAndMeasurementsFast.cxx
  roofit/histfactory/src/PiecewiseInterpolation.cxx
  roofit/roofit/src/RooIntegralMorph.cxx
  roofit/roofitcore/inc/RooAbsPdf.h
  roofit/roofitcore/inc/RooAddition.h
  roofit/roofitcore/inc/RooDataHist.h
  roofit/roofitcore/inc/RooFit/Config.h
  roofit/roofitcore/inc/RooStringVar.h
  roofit/roofitcore/src/RooAbsAnaConvPdf.cxx
  roofit/roofitcore/src/RooAbsCategory.cxx
  roofit/roofitcore/src/RooAbsData.cxx
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooAbsReal.cxx
  roofit/roofitcore/src/RooAddition.cxx
  roofit/roofitcore/src/RooDataSet.cxx
  roofit/roofitcore/src/RooFFTConvPdf.cxx
  roofit/roofitcore/src/RooMCStudy.cxx
  roofit/roofitcore/src/RooMinimizer.cxx
  roofit/roofitcore/src/RooSimultaneous.cxx
  roofit/roostats/src/MarkovChain.cxx
  roofit/roostats/src/ProfileLikelihoodCalculator.cxx
Labels: in:RooFit/RooStats

#14174 [RF] Make `RooFFTConfPdf` also work if ROOT was built with `fftw3=OFF`
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/src/RooFFTConvPdf.cxx
Labels: in:RooFit/RooStats

#14196 [ntuple] Add RDF factory for datasource with chain
  tree/dataframe/inc/ROOT/RNTupleDS.hxx
  tree/dataframe/src/RNTupleDS.cxx
Labels: in:RNTuple

#14191 [DF] Add documentation for RDatasetSpec class
  tree/dataframe/inc/ROOT/RDF/RDatasetSpec.hxx
  tree/dataframe/src/RDatasetSpec.cxx
Labels: in:RDataFrame

#13171 [GSOC][TMVA][SOFIE] Comparision ONNX Operators (Less, Greater, LessOrEqual, GreaterOrEqual, Equal) implemented with the corresponding unit tests
  tmva/sofie/CMakeLists.txt
  tmva/sofie/inc/TMVA/OperatorList.hxx
  tmva/sofie/inc/TMVA/ROperator_Comparision.hxx
  tmva/sofie/inc/TMVA/SOFIE_common.hxx
  tmva/sofie/src/RModel.cxx
  tmva/sofie/src/SOFIE_common.cxx
  tmva/sofie/test/TestCustomModelsFromONNX.cxx
  tmva/sofie/test/input_models/Equal.onnx
  tmva/sofie/test/input_models/Greater.onnx
  tmva/sofie/test/input_models/GreaterOrEqual.onnx
  tmva/sofie/test/input_models/Less.onnx
  tmva/sofie/test/input_models/LessOrEqual.onnx
  tmva/sofie/test/input_models/references/Equal.ref.hxx
  tmva/sofie/test/input_models/references/Greater.ref.hxx
  tmva/sofie/test/input_models/references/GreaterOrEqual.ref.hxx
  tmva/sofie/test/input_models/references/Less.ref.hxx
  tmva/sofie/test/input_models/references/LessOrEqual.ref.hxx
  tmva/sofie_parsers/CMakeLists.txt
  tmva/sofie_parsers/src/ParseComparision.cxx
  tmva/sofie_parsers/src/RModelParser_ONNX.cxx
Labels: in:TMVA

#13544 [GSOC][TMVA][SOFIE] Elu ONNX operator implemented
  tmva/sofie/CMakeLists.txt
  tmva/sofie/inc/TMVA/OperatorList.hxx
  tmva/sofie/inc/TMVA/ROperator_Elu.hxx
  tmva/sofie/test/TestCustomModelsFromONNX.cxx
  tmva/sofie/test/input_models/Elu.onnx
  tmva/sofie/test/input_models/references/Elu.ref.hxx
  tmva/sofie_parsers/CMakeLists.txt
  tmva/sofie_parsers/src/ParseElu.cxx
  tmva/sofie_parsers/src/RModelParser_ONNX.cxx
Labels: in:TMVA

#14212 [cling] Replace llvm::Optional, llvm::None with their std equivalents
  core/metacling/src/TCling.cxx
  core/metacling/src/TClingCallbacks.cxx
  core/metacling/src/TClingCallbacks.h
  interpreter/cling/include/cling/MetaProcessor/MetaSema.h
  interpreter/cling/lib/Interpreter/IncrementalCUDADeviceCompiler.cpp
  interpreter/cling/lib/Interpreter/IncrementalJIT.cpp
  interpreter/cling/lib/Interpreter/InterpreterCallbacks.cpp
  interpreter/cling/lib/MetaProcessor/MetaParser.cpp
  interpreter/cling/lib/MetaProcessor/MetaSema.cpp
Labels: in:Cling

#14226 [v6-30] Use the correct parameter types for `NetLocalGroupEnum` and `NetLocalGroupGetMembers`
  core/winnt/src/TWinNTSystem.cxx
Labels: pr:backport

#14227 [v6-28] Use the correct parameter types for `NetLocalGroupEnum` and `NetLocalGroupGetMembers`
  core/winnt/src/TWinNTSystem.cxx
Labels: pr:backport

#14237 [RF] Avoid factory language in HistFactory
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
Labels: bug, in:RooFit/RooStats

#14239 [v6-30] Add a safety check on `std::multimap::empty()`
  gui/browsable/inc/ROOT/Browsable/RProvider.hxx
Labels: pr:backport

#14240 [v6-28] Add a safety check on `std::multimap::empty()`
  gui/browsable/inc/ROOT/Browsable/RProvider.hxx
Labels: pr:backport

#14248 [RF][HS3] Bugfix for fully constrained shapesys
  roofit/hs3/src/JSONFactories_HistFactory.cxx
Labels: bug, in:RooFit/RooStats

#14249 [RF][HF] Do not access non-existent parameter when setting it to const in HistoToWorkspaceFactoryFast
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
Labels: bug, in:RooFit/RooStats

#14238 [cling] interpreter/CMakeLists.txt: correct CLANG_INCLUDE_DIRS
  interpreter/CMakeLists.txt
Labels: in:Build System

#14264 [cling] interpreter/CMakeLists.txt: correct CLANG_INCLUDE_DIRS [v6.30]
  interpreter/CMakeLists.txt
Labels: pr:backport, in:Build System

#14253 [RF] Fix ownership problem in `RooGenProdProj`
  roofit/roofitcore/src/RooGenProdProj.cxx
Labels: bug, in:RooFit/RooStats

#14243 [RF] Complete `RooBifurGauss` implementation
  roofit/roofit/inc/RooBifurGauss.h
  roofit/roofit/src/RooBifurGauss.cxx
  roofit/roofit/test/CMakeLists.txt
  roofit/roofit/test/testRooBifurGauss.cxx
  roofit/roofitcore/inc/RooFit/Detail/AnalyticalIntegrals.h
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Labels: in:RooFit/RooStats

#14041 [tree] Apply suggestions from clang-tidy
  tree/tree/inc/TBranch.h
  tree/tree/inc/TBranchElement.h
  tree/tree/inc/TChain.h
  tree/tree/inc/TQueryResult.h
  tree/tree/inc/TTree.h
  tree/tree/src/TBasket.cxx
  tree/tree/src/TBranch.cxx
  tree/tree/src/TBranchElement.cxx
  tree/tree/src/TChain.cxx
  tree/tree/src/TEntryList.cxx
  tree/tree/src/TEntryListArray.cxx
  tree/tree/src/TEntryListBlock.cxx
  tree/tree/src/TLeafO.cxx
  tree/tree/src/TTree.cxx
  tree/tree/src/TTreeCache.cxx
  tree/tree/src/TTreeCacheUnzip.cxx
  tree/tree/test/BulkApi.cxx
  tree/tree/test/BulkApiMultiple.cxx
  tree/tree/test/BulkApiSillyStruct.cxx
  tree/tree/test/BulkApiVarLength.cxx
  tree/tree/test/TOffsetGeneration.cxx
  tree/tree/test/entrylist_addsublist.cxx
  tree/tree/test/entrylist_enterrange.cxx
  tree/tree/test/friendinfo.cxx
  tree/treeplayer/src/TBranchProxyDescriptor.cxx
  tree/treeplayer/src/TChainIndex.cxx
  tree/treeplayer/src/TMPWorkerTree.cxx
  tree/treeplayer/src/TSelectorDraw.cxx
  tree/treeplayer/src/TSimpleAnalysis.cxx
  tree/treeplayer/src/TTreeFormula.cxx
  tree/treeplayer/src/TTreePerfStats.cxx
  tree/treeplayer/src/TTreeProcessorMT.cxx
  tree/treeplayer/src/TTreeProxyGenerator.cxx
  tree/treeplayer/src/TTreeReaderGenerator.cxx
  tree/treeplayer/src/TTreeReaderValue.cxx
  tree/treeplayer/src/TTreeReaderValueFast.cxx
  tree/treeplayer/test/basic.cxx
  tree/treeplayer/test/treeprocmt/treeprocessormt.cxx
  tree/treeviewer/inc/TParallelCoord.h
  tree/treeviewer/src/TSpider.cxx
  tree/treeviewer/src/TTreeViewer.cxx
  tree/webviewer/src/RTreeViewer.cxx
Labels: in:TTree

#14204 [Backport] VDT Finding Fix, master branch (2023.12.05.)
  cmake/scripts/ROOTConfig.cmake.in
Labels: pr:backport, in:Build System

#14166 [NFC] Fix doxygen formating in tgnumberentry
  gui/gui/src/TGNumberEntry.cxx
Labels: in:Documentation

#14192 [cmake] clarify search for nlohmann_json
  cmake/scripts/ROOTConfig.cmake.in
Labels: affects:master, in:Build System

#6908 Fix in complex_quartic problem reported in issue #6900 and add test
  math/mathmore/inc/Math/Polynomial.h
  math/mathmore/src/complex_quartic.h
  math/mathmore/test/CMakeLists.txt
  math/mathmore/test/testPolynomialRoots.cxx
Labels: in:Math Libraries

#14179 [RF] Deprecate old test statistics headers
  README/ReleaseNotes/v632/index.md
  build/unix/makepchinput.py
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/inc/RooAbsOptTestStatistic.h
  roofit/roofitcore/inc/RooAbsTestStatistic.h
  roofit/roofitcore/inc/RooChi2Var.h
  roofit/roofitcore/inc/RooNLLVar.h
  roofit/roofitcore/inc/RooXYChi2Var.h
Labels: in:RooFit/RooStats

#14056 [RF] Move internal enums of RooResolutionModels out of public interface
  roofit/roofit/inc/RooGExpModel.h
  roofit/roofit/inc/RooGaussModel.h
  roofit/roofit/src/RooGExpModel.cxx
  roofit/roofit/src/RooGaussModel.cxx
  roofit/roofitcore/inc/RooTruthModel.h
  roofit/roofitcore/src/RooTruthModel.cxx
Labels: in:RooFit/RooStats

#14236 [RF][HF] Ensure globalObservables is always created, even if no lumiError
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
Labels: in:RooFit/RooStats

#14242 [cmake] Set policy CMP0116 to OLD
  CMakeLists.txt
Labels: in:Build System

#14201 Enhance CMake FindR module
  cmake/modules/FindR.cmake
Labels: in:Build System

#14276 [core] Materialize symbols for TError variables
  core/foundation/inc/TError.h
  core/foundation/src/RLogger.cxx
  core/foundation/src/TError.cxx
Labels: priority:critical

#14245 Remove std::string_view comparison operators
  core/base/inc/TString.h
Labels: in:Core Libraries

#14280 [cmake] Fix warning about implicit file extensions
  math/mathmore/test/CMakeLists.txt
Labels: in:Build System

#14281 [core] Disable TClingLoadUnloadFileTests
  core/metacling/test/TClingLoadUnloadFileTests.cxx
Labels: in:Testing

#13508 [RF] Less Windows-specific RooFit code
  roofit/histfactory/CMakeLists.txt
  roofit/histfactory/test/CMakeLists.txt
  roofit/roofit/CMakeLists.txt
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/test/CMakeLists.txt
  roofit/roofitmore/CMakeLists.txt
Labels: in:RooFit/RooStats

#14291 Avoid strict zero comparison in complex_quartic
  math/mathmore/src/complex_quartic.h
Labels: in:Math Libraries
