Repository root-project/root, pull requests merged in 2023-04, with the labels that each got.

#12588 [ntuple] Avoid warning about possibly uninitialized variable
  tree/ntuple/v7/inc/ROOT/RColumnElement.hxx
Labels: in:RNTuple

#12609 [cmake] Fix `CUDA_TOOKIT_ROOT` typo in SearchInstalledSoftware.cmake
  cmake/modules/SearchInstalledSoftware.cmake
Labels: bug, in:Build System

#12612 [RF] Fix wrong size for gradient output array in testRooFuncWrapper.
  roofit/roofitcore/inc/RooFuncWrapper.h
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Labels: in:RooFit/RooStats

#12619 [RF] Increase version number of `RooRealVar` from 9 to 10
  roofit/roofitcore/inc/RooRealVar.h
Labels: in:RooFit/RooStats

#12628 [core] Remove some `mm*.c` in core/clib
  core/clib/CMakeLists.txt
  core/clib/src/mmemalign.c
  core/clib/src/mmstats.c
  core/clib/src/mmtrace.c
  core/clib/src/mvalloc.c
Labels: in:Core Libraries

#12638 [RF] Override `TObject::Clone()` in RooWorkspace
  roofit/roofitcore/inc/RooWorkspace.h
  roofit/roofitcore/src/RooWorkspace.cxx
Labels: in:RooFit/RooStats

#12614 [RF] Introduce `RooFit::OwningPtr<T>` alias for owning pointers
  roofit/histfactory/src/HistFactoryNavigation.cxx
  roofit/roofit/inc/RooBDecay.h
  roofit/roofit/inc/RooIntegralMorph.h
  roofit/roofit/src/RooBDecay.cxx
  roofit/roofit/src/RooIntegralMorph.cxx
  roofit/roofit/src/RooJeffreysPrior.cxx
  roofit/roofitcore/CMakeLists.txt
  roofit/roofitcore/inc/RooAbsAnaConvPdf.h
  roofit/roofitcore/inc/RooAbsArg.h
  roofit/roofitcore/inc/RooAbsCachedPdf.h
  roofit/roofitcore/inc/RooAbsCachedReal.h
  roofit/roofitcore/inc/RooAbsSelfCachedPdf.h
  roofit/roofitcore/inc/RooAbsSelfCachedReal.h
  roofit/roofitcore/inc/RooCachedPdf.h
  roofit/roofitcore/inc/RooCachedReal.h
  roofit/roofitcore/inc/RooFFTConvPdf.h
  roofit/roofitcore/inc/RooFit/Config.h
  roofit/roofitcore/inc/RooGenFitStudy.h
  roofit/roofitcore/inc/RooNumRunningInt.h
  roofit/roofitcore/src/ModelConfig.cxx
  roofit/roofitcore/src/RooAbsAnaConvPdf.cxx
  roofit/roofitcore/src/RooAbsArg.cxx
  roofit/roofitcore/src/RooAbsCachedReal.cxx
  roofit/roofitcore/src/RooAbsSelfCachedPdf.cxx
  roofit/roofitcore/src/RooAbsSelfCachedReal.cxx
  roofit/roofitcore/src/RooAbsTestStatistic.cxx
  roofit/roofitcore/src/RooCachedPdf.cxx
  roofit/roofitcore/src/RooCachedReal.cxx
  roofit/roofitcore/src/RooFFTConvPdf.cxx
  roofit/roofitcore/src/RooGenFitStudy.cxx
  roofit/roofitcore/src/RooNumRunningInt.cxx
  roofit/roofitcore/src/RooRealMPFE.cxx
  roofit/roofitcore/src/RooVectorDataStore.cxx
  roofit/roostats/inc/RooStats/MaxLikelihoodEstimateTestStat.h
  roofit/roostats/inc/RooStats/SimpleLikelihoodRatioTestStat.h
  roofit/roostats/src/AsymptoticCalculator.cxx
  roofit/roostats/src/BayesianCalculator.cxx
  roofit/roostats/src/FrequentistCalculator.cxx
  roofit/roostats/src/HypoTestCalculatorGeneric.cxx
  roofit/roostats/src/HypoTestInverter.cxx
  roofit/roostats/src/LikelihoodInterval.cxx
  roofit/roostats/src/MCMCCalculator.cxx
  roofit/roostats/src/ProfileLikelihoodCalculator.cxx
  roofit/roostats/src/ProfileLikelihoodTestStat.cxx
  roofit/roostats/src/SPlot.cxx
  roofit/roostats/src/SimpleLikelihoodRatioTestStat.cxx
  roofit/roostats/src/ToyMCImportanceSampler.cxx
  roofit/roostats/src/ToyMCSampler.cxx
  roofit/xroofit/src/xRooNLLVar.cxx
  roofit/xroofit/src/xRooNode.cxx
  test/fit/WrapperRooPdf.h
  test/fit/testRooFit.cxx
  test/stressHistFactory_tests.cxx
  test/stressRooStats_tests.h
Labels: improvement, in:RooFit/RooStats

#12607 [CI] Fix nightlies on Windows
  .github/workflows/root-ci.yml
Labels: affects:master

#12637 [ntuple] Fix failing tests for `-Dimt=OFF` builds
  tree/ntuple/v7/test/ntuple_storage.cxx
  tree/ntuple/v7/test/ntuple_storage_daos.cxx
Labels: affects:master, in:RNTuple

#12641 [RF] Migrate `RooAbsPdf::createNLL()` to use the `RooFit::OwningPtr<T>`
  roofit/histfactory/src/MakeModelAndMeasurementsFast.cxx
  roofit/roofitcore/inc/RooAbsPdf.h
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/test/TestStatistics/testInterface.cxx
  roofit/roofitcore/test/TestStatistics/testLikelihoodJob.cxx
  roofit/roofitcore/test/TestStatistics/testLikelihoodSerial.cxx
  roofit/roofitcore/test/TestStatistics/testPlot.cxx
  roofit/roofitcore/test/testTestStatistics.cxx
  roofit/roostats/inc/RooStats/BayesianCalculator.h
  roofit/roostats/inc/RooStats/MaxLikelihoodEstimateTestStat.h
  roofit/roostats/inc/RooStats/ProfileLikelihoodCalculator.h
  roofit/roostats/inc/RooStats/ProfileLikelihoodTestStat.h
  roofit/roostats/inc/RooStats/SimpleLikelihoodRatioTestStat.h
  roofit/roostats/inc/RooStats/ToyMCImportanceSampler.h
  roofit/roostats/src/AsymptoticCalculator.cxx
  roofit/roostats/src/BayesianCalculator.cxx
  roofit/roostats/src/FeldmanCousins.cxx
  roofit/roostats/src/FrequentistCalculator.cxx
  roofit/roostats/src/MCMCCalculator.cxx
  roofit/roostats/src/ProfileInspector.cxx
  roofit/roostats/src/ProfileLikelihoodCalculator.cxx
  roofit/roostats/src/ProfileLikelihoodTestStat.cxx
  roofit/roostats/src/SimpleLikelihoodRatioTestStat.cxx
  roofit/roostats/src/ToyMCImportanceSampler.cxx
  roofit/xroofit/src/xRooNLLVar.cxx
Labels: in:RooFit/RooStats

#12647 [RF] Use aliasName to lookup existing objects on RooWorkspace import
  roofit/roofitcore/src/RooWorkspace.cxx
Labels: in:RooFit/RooStats

#12657 [ntuple] Do not try to resolve `ROOT::Experimental::ClusterSize_t`
  tree/ntuple/v7/src/RField.cxx
Labels: bug, affects:master, in:RNTuple

#12660 [RF] Fix error in RooProdPdf that comes from wrong `addOwned()`
  roofit/roofitcore/src/RooProdPdf.cxx
Labels: in:RooFit/RooStats

#12674 TBranch: extend bulk io documentation
  tree/tree/inc/TBranch.h
  tree/tree/src/TBranch.cxx
Labels: in:TTree

#12683 [skip-ci] Fix wrong doxygen formating
  hist/hist/src/TH1.cxx
Labels: in:Documentation

#12687 [RF] Fix build due to changed compute() signature
  roofit/roofitcore/src/RooPolyVar.cxx
Labels: in:RooFit/RooStats, pr:emergency🚨

#12654 [cling] Ignore -Wunused-result in wrapped code
  interpreter/cling/lib/Interpreter/IncrementalParser.cpp
  interpreter/cling/lib/Interpreter/Interpreter.cpp
  interpreter/cling/test/Prompt/decls.C
Labels: improvement, in:Cling

#12697 [ntuple][cxx20] RNTupleSerialize: do not use iterators to construct `std::span`
  tree/ntuple/v7/src/RNTupleSerialize.cxx
Labels: affects:master, in:RNTuple

#12695 Fix to https://github.com/root-project/root/pull/12650
  tree/tree/src/TTreeCache.cxx
Labels: bug, affects:master

#12699 [RF] Sopport `RooRealIntegral` variable re-expression also for clones
  roofit/roofitcore/src/RooRealIntegral.cxx
  roofit/roofitcore/test/testRooRealIntegral.cxx
Labels: bug, in:RooFit/RooStats

#12702 [RF] Implement correct sampling for RooGamma with `gamma < 1`
  roofit/roofit/src/RooGamma.cxx
Labels: bug, in:RooFit/RooStats

#12707 [RF] Fix off-by-one error in HistoToWorkspaceFactoryFast
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
Labels: bug, in:RooFit/RooStats

#12706 [RF] Migrate more RooFit functions to `RooFit::OwningPtr<T>`
  roofit/histfactory/test/testHistFactory.cxx
  roofit/roofit/inc/RooIntegralMorph.h
  roofit/roofit/src/RooIntegralMorph.cxx
  roofit/roofitcore/inc/RooAbsMCStudyModule.h
  roofit/roofitcore/inc/RooAbsPdf.h
  roofit/roofitcore/inc/RooAbsReal.h
  roofit/roofitcore/inc/RooAbsStudy.h
  roofit/roofitcore/inc/RooMCStudy.h
  roofit/roofitcore/inc/RooUnitTest.h
  roofit/roofitcore/src/RooAbsMCStudyModule.cxx
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooAbsReal.cxx
  roofit/roofitcore/src/RooAbsStudy.cxx
  roofit/roofitcore/src/RooDLLSignificanceMCSModule.cxx
  roofit/roofitcore/src/RooFactoryWSTool.cxx
  roofit/roofitcore/src/RooGenFitStudy.cxx
  roofit/roofitcore/src/RooMCStudy.cxx
  roofit/roofitcore/src/RooUnitTest.cxx
  roofit/roostats/src/BayesianCalculator.cxx
  roofit/roostats/src/BernsteinCorrection.cxx
  roofit/roostats/src/ToyMCStudy.cxx
  test/fit/testFitPerf.cxx
  test/fit/testRooFit.cxx
  test/stressHistFactory_tests.cxx
  test/stressRooFit_tests.h
Labels: in:RooFit/RooStats

#12712 [v624][cmake] Protect against empty COMPILE_DEFINITIONS in genreflex and rootcint commands
  cmake/modules/RootMacros.cmake
Labels: pr:backport, in:Build System

#12713 [webgeom] support more than 4 vertices in polygon [6.28]
  geom/webviewer/src/RGeomData.cxx
Labels: pr:backport, in:Geometry, in:WebGui, affects:6.28

#12711 [webgeom] support more than 4 vertices in polygon
  geom/webviewer/src/RGeomData.cxx
Labels: affects:master, in:WebGui

#12703 [cling][v6-28] Ignore -Wunused-result in wrapped code
  interpreter/cling/lib/Interpreter/IncrementalParser.cpp
  interpreter/cling/lib/Interpreter/Interpreter.cpp
  interpreter/cling/test/Prompt/decls.C
Labels: pr:backport, in:Cling

#12719 [RF] Set BatchMode in `stressRooFit` via global configuration flag
  roofit/roofitcore/inc/RooUnitTest.h
  roofit/roofitcore/src/RooUnitTest.cxx
  roofit/roofitcore/test/TestStatistics/testPlot.cxx
  test/stressRooFit.cxx
  test/stressRooFit_tests.h
Labels: in:RooFit/RooStats

#12725 [RF] Update ParamHistFunc.cxx - remove bogus assertion
  roofit/histfactory/src/ParamHistFunc.cxx
Labels: bug, in:RooFit/RooStats

#12732 [v6-28] Qualify calls to llvm::format that have ::std:: types as parameters to avoid ambiguity in overload resolution when ADL finds `std::format`.
  interpreter/llvm/src/utils/TableGen/GlobalISel/GIMatchDag.cpp
Labels: pr:backport
