Repository root-project/root, pull requests merged in 2024-01, with the labels that each got.

#14299 [cling] Fix clad build with LLVM_LIBDIR_SUFFIX
  interpreter/cling/tools/plugins/clad/CMakeLists.txt
Labels: in:Build System, in:Cling

#14292 [RF] Update xroofit
  roofit/xroofit/inc/RooFit/xRooFit/xRooFit.h
  roofit/xroofit/inc/RooFit/xRooFit/xRooNLLVar.h
  roofit/xroofit/inc/RooFit/xRooFit/xRooNode.h
  roofit/xroofit/src/coutCapture.h
  roofit/xroofit/src/xRooBrowser.cxx
  roofit/xroofit/src/xRooHypoSpace.cxx
  roofit/xroofit/src/xRooNLLVar.cxx
  roofit/xroofit/src/xRooNode.cxx
Labels: in:RooFit/RooStats

#7899 [TMVA] RReader: allow spectators in xml file
  tmva/tmva/inc/TMVA/RReader.hxx
Labels: in:TMVA

#14310 [ntuple] fix reading of vector of enums
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/test/ntuple_types.cxx
Labels: in:RNTuple

#13339 Expanded the types that RBatchGenerator can support
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_batchgenerator.py
Labels: in:PyROOT

#12551 User guide: remove contradiciton on STL splitting
  documentation/users-guide/Trees.md
Labels: in:Documentation

#14315 [ntuple] Create `RNTupleInspector` directly from page source
  tree/ntupleutil/v7/inc/ROOT/RNTupleInspector.hxx
  tree/ntupleutil/v7/src/RNTupleInspector.cxx
  tree/ntupleutil/v7/test/ntuple_inspector.cxx
Labels: in:RNTuple

#14327 Fixes for TGeoTessellated and TGeoVGShape persistency.
  geom/gdml/src/TGDMLWrite.cxx
  geom/geom/inc/TGeoTessellated.h
  geom/geom/src/TGeoTessellated.cxx
  geom/vecgeom/inc/LinkDef.h
  geom/vecgeom/inc/TGeoVGShape.h
  geom/vecgeom/src/TGeoVGShape.cxx
Labels: improvement, bug, priority:default, in:Geometry

#14330 [TMVA] Move `tmva/tmva/inc/TMVA/DNN/Architectures/Cpu/Blas.h` to `src`
  tmva/tmva/src/DNN/Architectures/Cpu/Arithmetic.hxx
  tmva/tmva/src/DNN/Architectures/Cpu/Blas.h
  tmva/tmva/src/DNN/Architectures/Cpu/Propagation.hxx
  tmva/tmva/src/DNN/Architectures/Cpu/RecurrentPropagation.hxx
Labels: in:TMVA

#14006 [v630][relnotes] Add missing contributors
  README/ReleaseNotes/v630/index.md
Labels: pr:backport

#14338 [ci] Use builtin_xxhash=ON on Ubuntu 20.04
  .github/workflows/root-ci-config/buildconfig/ubuntu20.txt
Labels: pr:emergency🚨

#14343 [ntuple] Make RFieldBase::RValue::GetNonOwningCopy() const
  tree/ntuple/v7/inc/ROOT/RField.hxx
Labels: in:RNTuple

#14342 [ntuple] Move RPagePool to Internal namespace
  tree/ntuple/v7/inc/ROOT/RPagePool.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageDaos.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageFile.hxx
  tree/ntuple/v7/src/RPagePool.cxx
  tree/ntuple/v7/src/RPageStorageDaos.cxx
  tree/ntuple/v7/src/RPageStorageFile.cxx
  tree/ntuple/v7/test/ntuple_test.hxx
Labels: in:RNTuple

#14341 [ntuple] Move RNTuple(De)Compressor to Internal namespace
  tree/ntuple/v7/inc/ROOT/RNTupleZip.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageDaos.hxx
  tree/ntuple/v7/src/RMiniFile.cxx
  tree/ntuple/v7/src/RPageStorage.cxx
  tree/ntuple/v7/src/RPageStorageDaos.cxx
  tree/ntuple/v7/src/RPageStorageFile.cxx
  tree/ntuple/v7/test/ntuple_endian.cxx
  tree/ntuple/v7/test/ntuple_test.hxx
Labels: in:RNTuple

#14003 [cmake] Adapt to ZeroMQ 4.3.5 being now released
  cmake/modules/FindZeroMQ.cmake
  cmake/modules/RootBuildOptions.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  roofit/roofitZMQ/CMakeLists.txt
Labels: in:Build System

#14346 [v6-30] Fix JupyROOT crash on Windows. Fixes the issue #14302
  geom/geom/inc/TGeoExtension.h
  geom/geom/src/TGeoExtension.cxx
Labels: pr:backport

#14347 [ntuple] move DAOS internal affairs to Internal namespace
  tree/ntuple/v7/inc/ROOT/RDaos.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageDaos.hxx
  tree/ntuple/v7/src/RDaos.cxx
  tree/ntuple/v7/src/RPageStorageDaos.cxx
Labels: in:RNTuple

#14323 [ntuple] Further improve `RNTupleInspector::GetPageSizeDistribution`
  tree/ntupleutil/v7/inc/ROOT/RNTupleInspector.hxx
  tree/ntupleutil/v7/src/RNTupleInspector.cxx
  tree/ntupleutil/v7/test/ntuple_inspector.cxx
Labels: in:RNTuple

#14349 [llvm-project] Replace submitted changes with proper backports
  interpreter/llvm-project/clang/docs/Modules.rst
  interpreter/llvm-project/clang/lib/AST/ExprConstant.cpp
  interpreter/llvm-project/llvm-project.tag
Labels: in:Cling

#14348 [ntuple] move XyzDescriptorBuilder classes to Internal namespace
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleSerialize.hxx
  tree/ntuple/v7/inc/ROOT/RPageSourceFriends.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageDaos.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageFile.hxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/src/RNTupleSerialize.cxx
  tree/ntuple/v7/src/RPageSourceFriends.cxx
  tree/ntuple/v7/src/RPageStorage.cxx
  tree/ntuple/v7/src/RPageStorageDaos.cxx
  tree/ntuple/v7/test/ntuple_cluster.cxx
  tree/ntuple/v7/test/ntuple_test.hxx
Labels: in:RNTuple

#14353 [ntuple] Restrict public access to RValues in REntry
  tree/ntuple/v7/inc/ROOT/REntry.hxx
  tree/ntuple/v7/inc/ROOT/RNTuple.hxx
Labels: in:RNTuple

#6466 [cmake] Setup C++ Standard flags from CMAKE_CXX_STANDARD and add C++ standard to root-config/RootUseFile.cmake
  CMakeLists.txt
  cmake/modules/CheckCompiler.cmake
  cmake/modules/RootConfiguration.cmake
  cmake/modules/RootMacros.cmake
  cmake/scripts/RootUseFile.cmake.in
  config/root-config.in
Labels: in:Build System

#14262 [tmva][sofie] Add support for parsing Linear layers from graph_nets and null updates
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_gnn.py
  tmva/sofie/src/RFunction.cxx
  tmva/sofie/src/RFunction_MLP.cxx
  tmva/sofie/src/RModel_GraphIndependent.cxx
Labels: in:TMVA

#14200 Core: Avoid (indirect) memory hoarding in TPluginManager.
  core/base/inc/TPluginManager.h
  core/base/src/TPluginManager.cxx
Labels: bug, affects:master, in:Core Libraries, affects:6.28, affects:6.30

#14367 [tmva][tutorial] Fix a potential issue when creating the image test dataset
  tutorials/tmva/TMVA_CNN_Classification.C
  tutorials/tmva/TMVA_RNN_Classification.C
Labels: pr:backport, in:TMVA

#13808 Introduce PagedVector class
  interpreter/llvm-project/clang/include/clang/Basic/PagedVector.h
  interpreter/llvm-project/clang/include/clang/Basic/SourceManager.h
  interpreter/llvm-project/clang/include/clang/Serialization/ASTReader.h
  interpreter/llvm-project/clang/lib/Basic/SourceManager.cpp
  interpreter/llvm-project/clang/lib/Serialization/ASTReader.cpp
  interpreter/llvm-project/llvm-project.tag
Labels: clean build

#14369 [math] Add `constexpr` to GenVector constructors
  math/genvector/inc/Math/GenVector/AxisAngle.h
  math/genvector/inc/Math/GenVector/Cartesian2D.h
  math/genvector/inc/Math/GenVector/Cartesian3D.h
  math/genvector/inc/Math/GenVector/Cylindrical3D.h
  math/genvector/inc/Math/GenVector/DisplacementVector2D.h
  math/genvector/inc/Math/GenVector/DisplacementVector3D.h
  math/genvector/inc/Math/GenVector/EulerAngles.h
  math/genvector/inc/Math/GenVector/LorentzRotation.h
  math/genvector/inc/Math/GenVector/LorentzVector.h
  math/genvector/inc/Math/GenVector/Polar2D.h
  math/genvector/inc/Math/GenVector/Polar3D.h
  math/genvector/inc/Math/GenVector/PositionVector2D.h
  math/genvector/inc/Math/GenVector/PositionVector3D.h
  math/genvector/inc/Math/GenVector/PtEtaPhiE4D.h
  math/genvector/inc/Math/GenVector/PtEtaPhiM4D.h
  math/genvector/inc/Math/GenVector/PxPyPzE4D.h
  math/genvector/inc/Math/GenVector/PxPyPzM4D.h
  math/genvector/inc/Math/GenVector/Quaternion.h
  math/genvector/inc/Math/GenVector/Rotation3D.h
  math/genvector/inc/Math/GenVector/RotationZYX.h
  math/genvector/inc/Math/GenVector/Transform3D.h
  math/genvector/inc/Math/GenVector/Translation3D.h
Labels: in:Math Libraries

#14364 [ntuple] Amend description of tail page handling [skip-ci]
  tree/ntuple/v7/doc/tuning.md
Labels: in:Documentation, in:RNTuple

#14365 [ntuple] Add initial limit testing
  tree/ntuple/v7/test/CMakeLists.txt
  tree/ntuple/v7/test/ntuple_limits.cxx
Labels: in:RNTuple

#14384 [mysql] alternative for deprecated or removed methods in v8 (#14378)
  sql/mysql/src/TMySQLServer.cxx
Labels: pr:backport, affects:6.30

#14374 v6-30 Core: Avoid (indirect) memory hoarding in TPluginManager.
  core/base/inc/TPluginManager.h
  core/base/src/TPluginManager.cxx
Labels: pr:backport

#14375 v6-28 Core: Avoid (indirect) memory hoarding in TPluginManager.
  core/base/inc/TPluginManager.h
  core/base/src/TPluginManager.cxx
Labels: pr:backport

#10176 [skip-ci] Tutorial with Dask on CERN batch service
  tutorials/CMakeLists.txt
  tutorials/dataframe/distrdf004_dask_lxbatch.py
Labels: in:RDataFrame

#13819 [v628][tmva] Backport fixes in tmva CNN and RNN tutorials
  tutorials/CMakeLists.txt
  tutorials/tmva/TMVA_CNN_Classification.C
  tutorials/tmva/TMVA_CNN_Classification.py
  tutorials/tmva/TMVA_RNN_Classification.C
  tutorials/tmva/TMVA_RNN_Classification.py
Labels: pr:backport, in:TMVA

#14397 [v6-30][gui] Editable combo box nullptr access if SetEnabled is called
  gui/gui/src/TGComboBox.cxx
Labels: pr:backport

#14392 [cmake] clarify search for nlohmann_json [6.30]
  cmake/scripts/ROOTConfig.cmake.in
Labels: pr:backport, in:Build System, affects:6.30

#14058 [math][mathmore] Fix setting optional parameters for GSLMCIntegrator
  math/mathmore/inc/Math/GSLMCIntegrator.h
  math/mathmore/inc/Math/MCParameters.h
  math/mathmore/src/GSLMCIntegrationWorkspace.h
  math/mathmore/src/GSLMCIntegrator.cxx
  math/mathmore/src/MCParameters.cxx
Labels: in:Math Libraries

#14373 [cling] Reallow usage of file with mtime equal to zero.
  interpreter/llvm-project/clang/lib/Basic/FileManager.cpp
  interpreter/llvm-project/llvm-project.tag
Labels: bug, affects:master, in:Cling

#14402 [v6-30] Set builtin_afterimage=ON for all platforms
  .github/workflows/root-ci-config/buildconfig/global.txt
Labels: pr:backport

#14406 [ntuple] Pass RClusterIndex by value
  tree/dataframe/src/RNTupleDS.cxx
  tree/ntuple/v7/inc/ROOT/RColumn.hxx
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleUtil.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleView.hxx
  tree/ntuple/v7/inc/ROOT/RPage.hxx
  tree/ntuple/v7/inc/ROOT/RPagePool.hxx
  tree/ntuple/v7/inc/ROOT/RPageSourceFriends.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageDaos.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageFile.hxx
  tree/ntuple/v7/src/RColumn.cxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RPagePool.cxx
  tree/ntuple/v7/src/RPageSourceFriends.cxx
  tree/ntuple/v7/src/RPageStorageDaos.cxx
  tree/ntuple/v7/src/RPageStorageFile.cxx
  tree/ntuple/v7/test/ntuple_cluster.cxx
  tree/ntuple/v7/test/ntuple_endian.cxx
Labels: in:RNTuple

#14133 [cmake] Remove " linux" in package names:
  cmake/modules/RootCPack.cmake
Labels: in:Build System

#14408 [ntuple] remove REntry::GetRawPtr()
  tree/ntuple/v7/inc/ROOT/REntry.hxx
  tutorials/v7/ntuple/ntpl003_lhcbOpenData.C
Labels: in:RNTuple

#14409 [ntuple] remove RFieldBase::RValue::GetRawPtr()
  tree/dataframe/src/RNTupleDS.cxx
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntupleutil/v7/src/RNTupleImporter.cxx
Labels: in:RNTuple

#14098 [PyROOT] Better way to make C++ namespaces appear as Python modules
  bindings/pyroot/pythonizations/python/ROOT/__init__.py
  bindings/pyroot/pythonizations/python/ROOT/_facade.py
  bindings/pyroot/pythonizations/test/root_module.py
Labels: in:PyROOT

#14411 [llvm-project] Introduce paged vector [v6.30]
  interpreter/llvm-project/clang/include/clang/Basic/PagedVector.h
  interpreter/llvm-project/clang/include/clang/Basic/SourceManager.h
  interpreter/llvm-project/clang/include/clang/Serialization/ASTReader.h
  interpreter/llvm-project/clang/lib/Basic/SourceManager.cpp
  interpreter/llvm-project/clang/lib/Serialization/ASTReader.cpp
  interpreter/llvm-project/llvm-project.tag
Labels: pr:backport, clean build

#14415 [PyROOT] Use official Cppyy API to mark `TFile::Open()` as creator
  bindings/pyroot/pythonizations/CMakeLists.txt
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tfile.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/TFilePyz.cxx
Labels: in:PyROOT

#14418 [PyROOT] Do `__getattr__` pythonization of TDirectory in Python
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tdirectory.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/TDirectoryPyz.cxx
Labels: in:PyROOT

#14430 [v6-28][core][backport] Fix random crashes on Windows
  core/base/inc/TPluginManager.h
Labels: pr:backport, affects:6.28

#14432 [ntuple] use shared pointer in RFieldBase::Bind()
  tree/dataframe/src/RNTupleDS.cxx
  tree/ntuple/v7/inc/ROOT/REntry.hxx
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleModel.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RNTupleModel.cxx
Labels: in:RNTuple

#14435 Fix statements at global scope in TCling test
  core/metacling/test/TClingDataMemberInfoTests.cxx
Labels: in:Core Libraries

#14434 Improvements to tutorial TMVA_CNN_Classification
  tutorials/tmva/TMVA_CNN_Classification.C
Labels: in:TMVA

#14447 [skip-ci][Core] Change logo date from 2023 to 2024
  core/rint/src/TRint.cxx
Labels: affects:master

#14448 [skip-ci]Banner dates bp630
  core/rint/src/TRint.cxx
Labels: affects:6.30

#14449 [skip-ci] Banner dates bp628
  core/rint/src/TRint.cxx
Labels: affects:6.28

#14421 Changes to RooEffProd class
  roofit/roofitcore/inc/RooEffProd.h
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/src/RooEffProd.cxx
Labels: in:RooFit/RooStats

#14436 [ntuple] replace raw pointer interface RValue::Get()
  tree/dataframe/src/RNTupleDS.cxx
  tree/ntuple/v7/inc/ROOT/REntry.hxx
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleModel.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleView.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RFieldVisitor.cxx
  tree/ntuple/v7/test/ntuple_basics.cxx
  tree/ntuple/v7/test/ntuple_extended.cxx
  tree/ntuple/v7/test/ntuple_limits.cxx
  tree/ntuple/v7/test/ntuple_merger.cxx
  tree/ntuple/v7/test/ntuple_packing.cxx
  tree/ntuple/v7/test/ntuple_storage.cxx
  tree/ntuple/v7/test/ntuple_storage_daos.cxx
  tree/ntuple/v7/test/ntuple_types.cxx
  tree/ntuple/v7/test/rfield_blob.cxx
  tree/ntuple/v7/test/rfield_vector.cxx
  tree/ntupleutil/v7/src/RNTupleImporter.cxx
  tree/ntupleutil/v7/test/ntuple_inspector.cxx
  tutorials/v7/ntuple/ntpl003_lhcbOpenData.C
  tutorials/v7/ntuple/ntpl007_mtFill.C
Labels: in:RNTuple

#14452 [PyROOT] Remove unused method `AddUsingToClass` from pythonization lib
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/PyzPythonHelpers.cxx
Labels: in:PyROOT

#14450 [PyROOT] Use `cppyy.ll` in ROOT facade instead of CPyCppyy internals
  bindings/pyroot/pythonizations/CMakeLists.txt
  bindings/pyroot/pythonizations/python/ROOT/_facade.py
  bindings/pyroot/pythonizations/src/FacadeHelpers.cxx
  bindings/pyroot/pythonizations/src/FacadeHelpers.hxx
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
Labels: improvement, in:PyROOT

#14465 [PyROOT] Move `TDirectoryFile::Get()` pythonization from C++ to Python
  bindings/pyroot/pythonizations/CMakeLists.txt
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tdirectoryfile.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/TDirectoryFilePyz.cxx
Labels: in:PyROOT

#14470 [ntuple] move RPageAllocator, RPageDeleter to Internal namespace
  tree/ntuple/v7/inc/ROOT/RPageAllocator.hxx
  tree/ntuple/v7/inc/ROOT/RPagePool.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageDaos.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageFile.hxx
  tree/ntuple/v7/src/RPageAllocator.cxx
  tree/ntuple/v7/src/RPagePool.cxx
  tree/ntuple/v7/src/RPageStorage.cxx
  tree/ntuple/v7/src/RPageStorageDaos.cxx
  tree/ntuple/v7/src/RPageStorageFile.cxx
  tree/ntuple/v7/test/ntuple_test.hxx
Labels: in:RNTuple

#14437 [NFC][DF] Improve documentation for Vary()
  tree/dataframe/inc/ROOT/RDF/RInterface.hxx
  tree/dataframe/src/RDataFrame.cxx
Labels: improvement, in:Documentation, in:RDataFrame

#14467 [ntuple] rename RNTupleDescriptor::GenerateModel() --> CreateModel()
  tree/ntuple/v7/inc/ROOT/RNTuple.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/src/RNTuple.cxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/src/RNTupleMerger.cxx
  tree/ntuple/v7/test/ntuple_basics.cxx
Labels: in:RNTuple

#14464 [ntuple] rename RFieldBase::GenerateValue() --> CreateValue()
  tree/dataframe/src/RNTupleDS.cxx
  tree/ntuple/v7/doc/architecture.md
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleView.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RNTupleModel.cxx
  tree/ntuple/v7/test/ntuple_basics.cxx
  tree/ntuple/v7/test/ntuple_types.cxx
  tree/ntuple/v7/test/rfield_vector.cxx
  tree/ntupleutil/v7/src/RNTupleImporter.cxx
Labels: in:RNTuple

#14420 [matrix] fix TMatrixT(a,TMatrixT::kInvMult,b) constructor
  math/matrix/src/TMatrixT.cxx
  math/matrix/test/CMakeLists.txt
  math/matrix/test/testMatrixT.cxx
Labels: improvement, in:Math Libraries

#14473 [ntuple] Warn only once about RC and experimental DAOS
  tree/ntuple/v7/src/RPageStorageDaos.cxx
  tree/ntuple/v7/src/RPageStorageFile.cxx
  tree/ntuple/v7/test/ntuple_storage_daos.cxx
  tree/ntuple/v7/test/ntuple_types.cxx
Labels: in:RNTuple

#14480 [ntuple] Fix limit testing calls
  tree/ntuple/v7/test/ntuple_limits.cxx
Labels: in:RNTuple, pr:emergency🚨

#14469 [ntuple] RFieldBase::Get[Name|Type] --> Get[FieldName|TypeName]
  gui/browsable/src/RFieldProvider.hxx
  tree/dataframe/src/RNTupleDS.cxx
  tree/ntuple/v7/inc/ROOT/REntry.hxx
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleModel.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleView.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RFieldVisitor.cxx
  tree/ntuple/v7/src/RNTuple.cxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/src/RNTupleModel.cxx
  tree/ntuple/v7/src/RPageSinkBuf.cxx
  tree/ntuple/v7/test/ntuple_basics.cxx
  tree/ntuple/v7/test/ntuple_types.cxx
  tree/ntupleutil/v7/src/RNTupleImporter.cxx
  tutorials/v7/ntuple/ntpl003_lhcbOpenData.C
Labels: in:RNTuple

#14476 [ntuple] make RFieldBase::ConnectPageSource() recursive
  tree/dataframe/src/RNTupleDS.cxx
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleView.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RNTuple.cxx
  tree/ntuple/v7/test/rfield_vector.cxx
Labels: in:RNTuple

#14475 [ntuple] rename GenerateBulk() --> CreateBulk()
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleModel.hxx
  tree/ntuple/v7/src/RNTupleModel.cxx
  tree/ntuple/v7/test/ntuple_bulk.cxx
Labels: in:RNTuple

#14482 [v6-30] Use `python3` in the python tools. Fixes #14416
  main/CMakeLists.txt
Labels: pr:backport

#14485 [PyROOT] Remove `TClonesArray.__setitem__` pythonization
  bindings/pyroot/pythonizations/CMakeLists.txt
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tclonesarray.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/TClonesArrayPyz.cxx
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  bindings/pyroot/pythonizations/test/tclonesarray_itemaccess.py
Labels: in:PyROOT

#14501 [ntuple] Remove API to recreate TFile from RPageSinkFile
  tree/ntuple/v7/inc/ROOT/RMiniFile.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageFile.hxx
  tree/ntuple/v7/src/RMiniFile.cxx
  tree/ntuple/v7/src/RPageStorageFile.cxx
  tree/ntuple/v7/test/ntuple_minifile.cxx
Labels: in:RNTuple
