Repository root-project/root, pull requests merged in 2024-07, with the labels that each got.

#15941 [ntuple] minor improvement in RDF DS
  tree/dataframe/inc/ROOT/RNTupleDS.hxx
  tree/dataframe/src/RNTupleDS.cxx
Labels: in:RNTuple

#15967 [ntuple] Fix `ConstructValue` for `uint16_t` fields
  tree/ntuple/v7/inc/ROOT/RField.hxx
Labels: in:RNTuple

#15973 TCling: Remove error if symbols cannot be autoloaded
  core/metacling/src/TClingCallbacks.cxx
Labels: in:Cling

#15975 [ntuple] fix check on key.fObjLen < sizeof(RTFNTuple)
  tree/ntuple/v7/src/RMiniFile.cxx
Labels: in:RNTuple

#15372 [Minuit2] Remove unused Minuit2 code
  math/minuit2/inc/Minuit2/HessianGradientCalculator.h
  math/minuit2/inc/Minuit2/InitialGradientCalculator.h
  math/minuit2/src/HessianGradientCalculator.cxx
  math/minuit2/src/InitialGradientCalculator.cxx
  math/minuit2/src/Numerical2PGradientCalculator.cxx
  math/minuit2/src/SimplexSeedGenerator.cxx
Labels: in:Math Libraries

#15943 [jupyter] correctly handle TCanvases with same name
  bindings/jupyroot/python/JupyROOT/helpers/utils.py
Labels: affects:master, in:Notebooks

#15944 [jupyter] Correctly handle TCanvas with same names [6.32]
  bindings/jupyroot/python/JupyROOT/helpers/utils.py
Labels: pr:backport, in:Notebooks, affects:6.32

#15974 [ntuple] RPageStorageFile: commit vectorized pages in chunks
  tree/ntuple/v7/inc/ROOT/RPageStorageFile.hxx
  tree/ntuple/v7/src/RPageStorageFile.cxx
Labels: in:RNTuple

#15982 [ntuple] Make RNTupleDecompressor::Unzip overload static
  tree/ntuple/v7/inc/ROOT/RNTupleZip.hxx
  tree/ntuple/v7/src/RPageStorageDaos.cxx
  tree/ntuple/v7/test/ntuple_zip.cxx
Labels: in:RNTuple

#15989 [ntuple] remove unneeded RNTupleDescriptorBuilder::AddColumn overload
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/src/RPageSourceFriends.cxx
  tree/ntuple/v7/src/RPageStorage.cxx
  tree/ntuple/v7/test/ntuple_serialize.cxx
Labels: in:RNTuple

#15981 [math] remove unused param from SimplexSeedGenerator::operator()
  math/minuit2/src/SimplexSeedGenerator.cxx
Labels: in:Math Libraries

#15997 [v632] TUri fixes for PCRE 2
  core/base/src/TUri.cxx
Labels: pr:backport

#15999 [NFC][ntuple] minor specification fix
  tree/ntuple/v7/doc/specifications.md
Labels: in:RNTuple

#15998 [ntuple] set id for unsplit field in RFieldDescriptor::CreateField()
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
Labels: in:RNTuple

#16004 [skip-ci][ntuple] Remove `Unwrap` from inspector doc
  tree/ntupleutil/v7/inc/ROOT/RNTupleInspector.hxx
Labels: in:RNTuple

#16002 [Pymva] disable regression keras check
  tmva/pymva/test/testPyKerasRegression.C
Labels: in:TMVA

#15992 [ntuple] Allow changing compression of sources in RNTupleMerger
  tree/ntuple/v7/inc/ROOT/RNTupleMerger.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/src/RNTupleMerger.cxx
Labels: in:RNTuple

#16009 [ntuple] fix RNTupleMerger using old API
  tree/ntuple/v7/src/RNTupleMerger.cxx
Labels: in:RNTuple, pr:emergency🚨

#16010 [ntuple] fix wrong index being used in RNTupleMerger
  tree/ntuple/v7/src/RNTupleMerger.cxx
Labels: in:RNTuple

#16008 [CMake] Simplify search for X11 components
  cmake/modules/SearchInstalledSoftware.cmake
Labels: in:Build System

#15972 Update build guide for cling
  interpreter/cling/README.md
Labels: in:Cling

#16014 Two updates to clingwrapper for memory management
  bindings/pyroot/cppyy/cppyy-backend/clingwrapper/src/clingwrapper.cxx
Labels: in:PyROOT

#16036 [skip-ci][NFC][ntuple] minor style change in specification
  tree/ntuple/v7/doc/specifications.md
Labels: in:RNTuple

#16033 Revert "[ntuple] add debug output to RVectorField"
  tree/ntuple/v7/src/RField.cxx
Labels: in:RNTuple

#16035 [ntuple] fix-up column flags in RNTupleSerializer
  tree/ntuple/v7/inc/ROOT/RNTupleSerialize.hxx
Labels: in:RNTuple

#16040 [core] Simplify typedef of `[U]Long64_t`
  core/foundation/inc/RtypesCore.h
Labels: in:Core Libraries

#16037 [ntuple] remove RPageSource::fDecompressor
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/src/RPageStorage.cxx
  tree/ntuple/v7/src/RPageStorageFile.cxx
Labels: in:RNTuple

#16057 [http] exclude duplicated entry from generated importmap [6.32]
  net/http/src/THttpServer.cxx
Labels: pr:backport, in:WebGui, affects:6.32

#16066 [skip-ci][v6-32] Fix MSVC version for exporting symbols
  core/metacling/src/CMakeLists.txt
Labels: pr:backport

#16065 [CMake] Always use `lib` as library directory in builtin CFITSIO prefix
  builtins/cfitsio/CMakeLists.txt
Labels: in:Build System

#16067 [RF] Fix memory leaks in testRooCrystalBall
  roofit/roofit/test/testRooCrystalBall.cxx
Labels: in:RooFit/RooStats

#16069 [ntuple] Remove incorrect std::vector::reserve
  tree/ntuple/v7/src/RNTupleMerger.cxx
Labels: in:RNTuple

#16072 [gui] fix compile error in RWebWindowsManager.cxx
  gui/webdisplay/src/RWebWindowsManager.cxx
Labels: in:WebGui, pr:emergency🚨

#16073 Ntuple merger fixes
  tree/ntuple/v7/src/RNTupleMerger.cxx
Labels: in:RNTuple

#16077 [CI ]Remove mac12 builds
  .github/workflows/root-ci-config/buildconfig/mac12.txt
  .github/workflows/root-ci.yml
Labels: in:CI

#16058 [v6-32] Backport fixes in geometry
  geom/geom/src/TGeoNode.cxx
  geom/geom/src/TGeoVolume.cxx
Labels: affects:6.32

#16083 [ntuple] rename StreamerChecksum to TypeChecksum
  tree/ntuple/v7/doc/specifications.md
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleSerialize.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/src/RNTupleSerialize.cxx
  tree/ntuple/v7/test/ntuple_types.cxx
  tree/ntuple/v7/test/rfield_class.cxx
Labels: in:RNTuple

#16096 [ntuple] change RColumnDescriptorIterable to accept a fieldID
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
Labels: in:RNTuple

#16099 [RF] Improve implementation of RooCurve::average()
  roofit/roofitcore/src/RooCurve.cxx
  roofit/roofitcore/test/CMakeLists.txt
  roofit/roofitcore/test/testRooCurve.cxx
Labels: bug, in:RooFit/RooStats

#16104 [ntuple] remove tutorial ntpl003_lhcbOpenData.C
  tutorials/CMakeLists.txt
  tutorials/v7/ntuple/ntpl003_lhcbOpenData.C
Labels: in:RNTuple

#16106 [ntuple] Account for buffer model in memory estimation
  tree/ntuple/v7/src/RNTupleModel.cxx
  tree/ntuple/v7/test/ntuple_model.cxx
  tree/ntuple/v7/test/ntuple_model.py
Labels: in:RNTuple

#16105 [ntuple] remove CollectColumnIds from ColumnIterable
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
Labels: in:RNTuple

#16101 [ntuple] Deduplicate code in `RField.hxx`
  tree/ntuple/v7/inc/ROOT/RField.hxx
Labels: in:RNTuple

#16109 [RF][HS3] Fix compiler warnings about binding a temporary value
  roofit/hs3/src/RooJSONFactoryWSTool.cxx
Labels: in:RooFit/RooStats

#16110 [v632][RF][HS3] Fix compiler warnings about binding a temporary value
  roofit/hs3/src/RooJSONFactoryWSTool.cxx
Labels: pr:backport, in:RooFit/RooStats

#16115 [tmva] Remove warning raised by Wshadow
  tmva/sofie_parsers/src/ParseConstant.cxx
Labels: in:TMVA

#16116 [ntuple] Streamline RField<>::GenerateColumns()
  tree/dataframe/src/RNTupleDS.cxx
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/src/RField.cxx
Labels: in:RNTuple

#16118 [RF] Add an option to disable per-region WS creation in HistFactory
  roofit/histfactory/inc/RooStats/HistFactory/HistoToWorkspaceFactoryFast.h
  roofit/histfactory/src/MakeModelAndMeasurementsFast.cxx
Labels: improvement, in:RooFit/RooStats

#16113 [ntuple][ATLAS experiment] Fix compressed size returned by RNTupleIns…
  tree/ntupleutil/v7/inc/ROOT/RNTupleInspector.hxx
  tree/ntupleutil/v7/src/RNTupleInspector.cxx
Labels: in:RNTuple

#16122 [dictgen] Introduce --print-rootcling-invocation for genreflex
  README/ReleaseNotes/v634/index.md
  core/dictgen/src/rootcling_impl.cxx
Labels: in:Dictionaries

#15812 [reve]Draw text with SDF fonts in screen or world coordinates
  builtins/rendercore/RenderCore-1.4.tar.gz
  builtins/rendercore/RenderCore-1.5.tar.gz
  cmake/modules/SearchInstalledSoftware.cmake
  fonts/LiberationMono-Regular.ttf
  fonts/LiberationSerif-Regular.ttf
  graf2d/asimage/CMakeLists.txt
  graf2d/asimage/inc/LinkDef.h
  graf2d/asimage/inc/TASPngWriter.h
  graf2d/asimage/src/TASPngWriter.cxx
  graf2d/asimage/src/libAfterImage/CMakeLists.txt
  graf2d/asimage/src/libAfterImage/Makefile.in
  graf2d/asimage/src/libAfterImage/afterrootpngwrite.c
  graf2d/asimage/src/libAfterImage/afterrootpngwrite.h
  graf3d/eve7/CMakeLists.txt
  graf3d/eve7/inc/LinkDef.h
  graf3d/eve7/inc/ROOT/REveElement.hxx
  graf3d/eve7/inc/ROOT/REveScene.hxx
  graf3d/eve7/inc/ROOT/REveShape.hxx
  graf3d/eve7/inc/ROOT/REveText.hxx
  graf3d/eve7/src/REveElement.cxx
  graf3d/eve7/src/REveManager.cxx
  graf3d/eve7/src/REveScene.cxx
  graf3d/eve7/src/REveSelection.cxx
  graf3d/eve7/src/REveShape.cxx
  graf3d/eve7/src/REveText.cxx
  graf3d/gl/CMakeLists.txt
  graf3d/gl/inc/LinkDef.h
  graf3d/gl/inc/TGLSdfFontMaker.h
  graf3d/gl/src/TGLSdfFontMaker.cxx
  graf3d/gl/src/TGLSdfFontMakerLowLevel.icxx
  tutorials/eve7/event_demo.C
  tutorials/eve7/overlay_test.C
  tutorials/eve7/texts.C
  ui5/eve7/controller/GL.controller.js
  ui5/eve7/controller/Ged.controller.js
  ui5/eve7/lib/EveElementsRCore.js
  ui5/eve7/lib/EveManager.js
  ui5/eve7/lib/EveScene.js
  ui5/eve7/lib/GlViewerRCore.js
  ui5/eve7/lib/RenderCore.js
  ui5/eve7/sdf-fonts/readme.txt
Labels: affects:master, in:WebGui, clean build

#16126 [ntuple] fix column representation of nullable field
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/ntuple_types.cxx
Labels: in:RNTuple

#16136 [ntuple] Add missing RField signed char specialization
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/ntuple_types.cxx
Labels: in:RNTuple

#16132 [ntuple] ensure empty page ranges for suppressed columns
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/test/ntuple_serialize.cxx
Labels: in:RNTuple

#15913 Make web-based widgets default
  cmake/modules/RootConfiguration.cmake
  config/rootrc.in
  core/base/src/TROOT.cxx
  geom/geom/src/TGeoManager.cxx
Labels: affects:master, in:WebGui

#15880 [hist] Add backwards-compatibility for THnSparseL typedef
  hist/hist/inc/LinkDef.h
  hist/hist/inc/THnSparse.h
Labels: in:Hist
