Repository root-project/root, pull requests merged in 2024-04, with the labels that each got.

#15098 [RF] Fixup work around deleted move constructor in `std::span` backport
  roofit/roofitcore/src/RooFit/Evaluator.cxx
Labels: in:RooFit/RooStats

#15131 [skip-ci] [BP] [io] Collapse data format details of TFile class
  io/io/src/TFile.cxx
Labels: pr:backport

#15133 [v632][BP] [hist] prevent nullptr access
  hist/hist/src/TF1NormSum.cxx
Labels: pr:backport

#15147 [BP] [io] do not use single-file-merge shortcut if filters are specified
  io/io/src/TFileMerger.cxx
  io/io/test/CMakeLists.txt
  io/io/test/TFileMergerTests.cxx
Labels: pr:backport

#15148 [core] Silence 6.34 deprecation warnings for now
  core/foundation/inc/ROOT/RConfig.hxx
Labels: in:Core Libraries

#15145 [CMake] CMake dependency on Python: use targets
  bindings/jupyroot/CMakeLists.txt
  bindings/pyroot/cppyy/CPyCppyy/CMakeLists.txt
  bindings/tpython/CMakeLists.txt
  tmva/pymva/CMakeLists.txt
  tmva/pymva/test/CMakeLists.txt
Labels: in:Build System

#15137 [skip-ci] [pyroot] Use raw string to allow escaped character in docstring
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rvec.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_rtensor.py
Labels: in:PyROOT

#15155 [CMake] Fix ordering problem when checking and setting `cuda` flag
  cmake/modules/CheckCompiler.cmake
  cmake/modules/RootBuildOptions.cmake
Labels: in:Build System

#15159 [CMake] Remove `builtin_libafterimage` option
  .github/workflows/root-ci-config/buildconfig/global.txt
  cmake/modules/RootBuildOptions.cmake
  cmake/modules/RootConfiguration.cmake
  cmake/modules/SearchInstalledSoftware.cmake
  config/Makefile.in
Labels: in:Build System

#15166 [v632][hist] THnSparse::Scale iterate only over non-filled bins
  hist/hist/inc/THnSparse.h
  hist/hist/src/THnBase.cxx
Labels: pr:backport

#15163 [tmva][sofie] Fix issues with RModel streamer
  tmva/sofie/inc/TMVA/SOFIE_common.hxx
  tmva/sofie/src/RModel.cxx
Labels: bug, in:TMVA

#15174 [v630] Remove std::string_view comparison operators
  core/base/inc/TString.h
Labels: pr:backport

#14860 [tmva] Remove supefluous EnableThreadSafety()
  tmva/tmva/inc/TMVA/RBatchGenerator.hxx
Labels: in:TMVA

#15180 [PyROOT][RDF] Support conversion of `bool` columns to NumPy arrays
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rvec.py
  bindings/pyroot/pythonizations/test/rdataframe_asnumpy.py
  tree/dataframe/src/RDFUtils.cxx
Labels: improvement, in:PyROOT, in:RDataFrame

#15187 [v626][TMVA] Disable `rbdt_xgboost` test
  tmva/tmva/test/CMakeLists.txt
Labels: pr:backport, in:TMVA

#15188 [v628][TMVA] Disable `rbdt_xgboost` test
  tmva/tmva/test/CMakeLists.txt
Labels: pr:backport, in:TMVA

#15189 [v630][TMVA] Disable `rbdt_xgboost` test
  tmva/tmva/test/CMakeLists.txt
Labels: pr:backport, in:TMVA

#10308 Byte swap values read from the protobuf raw data stream on big endian
  tmva/sofie_parsers/src/RModelParser_ONNX.cxx
Labels: bug, affects:master, in:TMVA, affects:6.28, affects:6.30

#14154 2D/3D version of TH1::AddBinContent, as with TH2::SetBinContent/TH3::SetBinContent
  hist/hist/inc/TH2.h
  hist/hist/inc/TH3.h
  hist/hist/src/TH2.cxx
  hist/hist/src/TH3.cxx
Labels: improvement

#15194 [skip-ci][6.32] Backport of #14271
  hist/hist/inc/TH1.h
  hist/hist/inc/TH2.h
  hist/hist/inc/TH3.h
  hist/hist/src/TH1.cxx
  hist/hist/src/TH2.cxx
  hist/hist/src/TH3.cxx
Labels: pr:backport

#15154 [ntuple] Use CommitSealedPagesV in RNTupleMerger
  tree/ntuple/v7/src/RNTupleMerger.cxx
Labels: in:RNTuple

#15185 [CMake] Require `opengl` when building with `cocoa`
  cmake/modules/SearchInstalledSoftware.cmake
Labels: in:Build System

#15165 [v632][Core] Fix sprintf warning
  rootx/src/rootx.cxx
Labels: pr:backport

#15220 [v632][BP][tree] prevent crash in LoadCurrentDim
  tree/treeplayer/src/TTreeFormula.cxx
Labels: pr:backport

#15201 [RF] Put `RooFuncWrapper` in experimental namespace
  roofit/roofitcore/inc/RooFuncWrapper.h
  roofit/roofitcore/src/FitHelpers.cxx
  roofit/roofitcore/src/RooFuncWrapper.cxx
  roofit/roofitcore/src/RooRealIntegral.cxx
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Labels: in:RooFit/RooStats

#15241 [v632][RF] Put `RooFuncWrapper` in experimental namespace
  roofit/roofitcore/inc/RooFuncWrapper.h
  roofit/roofitcore/src/FitHelpers.cxx
  roofit/roofitcore/src/RooFuncWrapper.cxx
  roofit/roofitcore/src/RooRealIntegral.cxx
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Labels: pr:backport, in:RooFit/RooStats

#15235 [ntuple] Extend documentation of `CreateFillContext`
  tree/ntuple/v7/inc/ROOT/RNTupleParallelWriter.hxx
Labels: in:RNTuple

#15242 [cmake] provide custom include path to bsd/stdlib.h
  core/unix/CMakeLists.txt
Labels: affects:master, in:Build System

#15248 [cmake] provide custom path to bsd/stdlib.h (#15242) [6.32]
  core/unix/CMakeLists.txt
Labels: pr:backport, in:Build System, affects:6.32

#15256 [gpad] Remove variable redeclaration
  graf2d/gpad/src/TPad.cxx
Labels: bug, in:Graphics

#15254 [cmake] Add back `cxx_std_` compile feature
  cmake/modules/RootMacros.cmake
Labels: in:Build System, clean build

#15247 [RF] Comment out `ryml` backend for RooFit JSON interface
  roofit/jsoninterface/CMakeLists.txt
Labels: in:Build System, in:RooFit/RooStats

#15261 [v630][RF] Comment out `ryml` backend for RooFit JSON interface
  roofit/jsoninterface/CMakeLists.txt
Labels: pr:backport

#15260 [v632][RF] Comment out `ryml` backend for RooFit JSON interface
  roofit/jsoninterface/CMakeLists.txt
Labels: pr:backport

#15262 [v628][RF] Comment out `ryml` backend for RooFit JSON interface
  roofit/jsoninterface/CMakeLists.txt
Labels: pr:backport

#15259 [cmake] Add back cxx_std_ compile feature [v6.32]
  cmake/modules/RootMacros.cmake
Labels: pr:backport, in:Build System

#15177 [RF] Update xroofit
  roofit/xroofit/CMakeLists.txt
  roofit/xroofit/inc/RooFit/xRooFit/xRooFit.h
  roofit/xroofit/inc/RooFit/xRooFit/xRooNLLVar.h
  roofit/xroofit/inc/RooFit/xRooFit/xRooNode.h
  roofit/xroofit/src/xRooFit.cxx
  roofit/xroofit/src/xRooFitVersion.h
  roofit/xroofit/src/xRooHypoSpace.cxx
  roofit/xroofit/src/xRooNLLVar.cxx
  roofit/xroofit/src/xRooNode.cxx
Labels: in:RooFit/RooStats

#15266 [RF] Remove warning about unused variables in `RooFormula`
  roofit/roofitcore/src/RooFormula.cxx
Labels: improvement, in:RooFit/RooStats

#15278 [TMVA] Correctly link `blas` in PyMVA tests
  tmva/pymva/test/CMakeLists.txt
Labels: in:TMVA

#15275 [TMVA] Enforce supported version of TensorFlow
  requirements.txt
Labels: in:TMVA

#15277 [skip-CI][doc] Improve RVec operations documentation
  math/vecops/inc/ROOT/RVec.hxx
Labels: in:Documentation

#15286 [PyROOT] Remove now unnecessary test
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  bindings/pyroot/pythonizations/test/dependency_versions.py
Labels: in:PyROOT

#15288 [v626][tutorials] When pymva is not there exclude tutorials based on external Python ML packages
  tutorials/CMakeLists.txt
Labels: pr:backport, in:TMVA

#15290 [TMVA] Avoid torch-cppyy symbol clashing problem in tmva tutorials
  tutorials/tmva/TMVA_CNN_Classification.py
  tutorials/tmva/pytorch/ApplicationClassificationPyTorch.py
  tutorials/tmva/pytorch/ApplicationRegressionPyTorch.py
  tutorials/tmva/pytorch/ClassificationPyTorch.py
  tutorials/tmva/pytorch/MulticlassPyTorch.py
  tutorials/tmva/pytorch/RegressionPyTorch.py
Labels: in:TMVA

#15296 [skip-ci][v628][tutorials] Fix `tensorflow` and `pytorch` detection in TMVA tutorial
  tutorials/tmva/TMVA_CNN_Classification.py
Labels: pr:backport

#15297 [skip-ci][v630][tutorials] Fix `tensorflow` and `pytorch` detection in TMVA tutorial
  tutorials/tmva/TMVA_CNN_Classification.py
Labels: pr:backport

#15298 [v632][tutorials] Fix `tensorflow` and `pytorch` detection in TMVA tutorial
  tutorials/tmva/TMVA_CNN_Classification.py
Labels: pr:backport

#15099 [ci] Disable TMVA for all builds
  .github/workflows/root-ci-config/buildconfig/alma8.txt
  .github/workflows/root-ci-config/buildconfig/alma9.txt
  .github/workflows/root-ci-config/buildconfig/fedora37.txt
  .github/workflows/root-ci-config/buildconfig/fedora38.txt
  .github/workflows/root-ci-config/buildconfig/fedora39.txt
  .github/workflows/root-ci-config/buildconfig/global.txt
  .github/workflows/root-ci-config/buildconfig/mac-beta.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu20.txt
Labels: in:Build System, in:TMVA

#15229 [core] tab completion: insert match but do not replace the content after it
  core/rint/src/TTabCom.cxx
Labels: in:Core Libraries

#13967 [gui] Update the order of wildcards, to demote rare ones.
  gui/gui/src/TRootCanvas.cxx
Labels: in:GUI

#15311 [v632][PyROOT] Disable automatic conversion of regular to smart pointers
  bindings/pyroot/cppyy/CPyCppyy/src/Converters.cxx
  bindings/pyroot/cppyy/patches/CPyCppyy-Disable-implicit-conversion-to-smart-ptr.patch
  bindings/pyroot/cppyy/sync-upstream
Labels: pr:backport, in:PyROOT

#15246 [ntuple] Tweak TFile ownership model for reading
  tree/ntuple/v7/doc/architecture.md
  tree/ntuple/v7/src/RPageStorageFile.cxx
Labels: in:RNTuple

#15203 [CI] Enable fftw3, sqlite, and xml on Windows
  .github/workflows/root-ci-config/buildconfig/windows10.txt
Labels: in:Build System

#15320 [BP] MakeClass/Selector: replace more special characters in branch name.
  tree/treeplayer/src/TTreePlayer.cxx
  tree/treeplayer/src/TTreeReaderGenerator.cxx
Labels: pr:backport

#15319 [RF] Add codegen+AD support for `RooUniform` and `RooRecursiveFraction`
  roofit/roofit/inc/RooUniform.h
  roofit/roofit/src/RooUniform.cxx
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/inc/RooRecursiveFraction.h
  roofit/roofitcore/src/RooRecursiveFraction.cxx
  roofit/roofitcore/test/testRooFuncWrapper.cxx
Labels: in:RooFit/RooStats

#15325 [roofit] Document unused parameter in constructor
  roofit/roofitcore/src/RooFormula.cxx
Labels: in:RooFit/RooStats

#15322 [v6.32][BP] tab completion: insert match but do not replace the content after it
  core/rint/src/TTabCom.cxx
Labels: pr:backport, affects:6.32

#15317 [TreeReader] Add value printers for TTreeReaderArray/Value
  tree/treeplayer/inc/TTreeReaderArray.h
  tree/treeplayer/inc/TTreeReaderValue.h
  tree/treeplayer/src/TTreeReaderValue.cxx
  tree/treeplayer/test/readerarray_iterator.cxx
Labels: in:TTree

#15316 [tree] Fix subscript overflow in cumulSizes
  tree/treeplayer/src/TTreeFormula.cxx
Labels: in:TTree

#15324 [tree] public method should be safe against fImpl = null
  tree/treeplayer/inc/TTreeReaderArray.h
Labels: in:TTree

#15301 [RF] Update xRooFit
  roofit/xroofit/inc/RooFit/xRooFit/xRooNLLVar.h
  roofit/xroofit/inc/RooFit/xRooFit/xRooNode.h
  roofit/xroofit/src/xRooFitVersion.h
  roofit/xroofit/src/xRooNLLVar.cxx
  roofit/xroofit/src/xRooNode.cxx
Labels: in:RooFit/RooStats

#15334 [io] Remove wrong comment in RRawFile
  io/io/inc/ROOT/RRawFile.hxx
Labels: in:I/O

#15335 [tree] prevent crash due to null access in clones
  tree/treeplayer/src/TTreeFormula.cxx
Labels: in:TTree

#15274 [tree] Warn about too long TTreeFormula and double limit
  tree/treeplayer/src/TTreeFormula.cxx
Labels: in:TTree

#15341 [RF] Update xRooFit
  roofit/xroofit/inc/RooFit/xRooFit/xRooNLLVar.h
  roofit/xroofit/inc/RooFit/xRooFit/xRooNode.h
  roofit/xroofit/src/xRooFitVersion.h
  roofit/xroofit/src/xRooNLLVar.cxx
  roofit/xroofit/src/xRooNode.cxx
Labels: pr:backport, in:RooFit/RooStats

#15345 [webgui] try local displays only if they build
  gui/webdisplay/CMakeLists.txt
  gui/webdisplay/src/RWebDisplayHandle.cxx
Labels: affects:master, in:WebGui

#15331 [BP-v6.32][TreeReader] Add value printers for TTreeReaderArray/Value
  tree/treeplayer/inc/TTreeReaderArray.h
  tree/treeplayer/inc/TTreeReaderValue.h
  tree/treeplayer/src/TTreeReaderValue.cxx
  tree/treeplayer/test/readerarray_iterator.cxx
Labels: pr:backport

#15173 [TMVA] Fix RBDT evaluation of XGBoost models by merging RBDT with FastForest
  bindings/pyroot/pythonizations/python/ROOT/_facade.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/__init__.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_rbdt.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_tree_inference.py
  tmva/tmva/CMakeLists.txt
  tmva/tmva/inc/LinkDefUtils.h
  tmva/tmva/inc/TMVA/RBDT.hxx
  tmva/tmva/inc/TMVA/TreeInference/BranchlessTree.hxx
  tmva/tmva/inc/TMVA/TreeInference/Forest.hxx
  tmva/tmva/inc/TMVA/TreeInference/Objectives.hxx
  tmva/tmva/inc/TMVA/TreeInference/PythonHelpers.hxx
  tmva/tmva/src/RBDT.cxx
  tmva/tmva/test/BDTHelpers.hxx
  tmva/tmva/test/CMakeLists.txt
  tmva/tmva/test/rbdt_xgboost.py
  tutorials/CMakeLists.txt
  tutorials/tmva/tmva102_Testing.py
  tutorials/tmva/tmva103_Application.C
Labels: bug, in:TMVA

#15352 [jsroot] latest code for 6.32 branch
  js/build/jsroot.js
  js/changes.md
  js/modules/core.mjs
  js/modules/d3.mjs
  js/modules/gpad/TAxisPainter.mjs
  js/modules/gpad/TFramePainter.mjs
  js/modules/gpad/TPadPainter.mjs
  js/modules/gui/HierarchyPainter.mjs
  js/modules/gui/utils.mjs
  js/modules/hist2d/TGraphPainter.mjs
  js/modules/hist2d/TH1Painter.mjs
  js/modules/hist2d/THistPainter.mjs
  js/modules/io.mjs
Labels: in:WebGui, affects:6.32

#15366 [BP][ci] Disable tutorial-roostats-rs101_limitexample-py on Win
  tutorials/CMakeLists.txt
Labels: affects:6.32

#15367 Add Python 3.12-compatible `numba` version in requirements.txt
  requirements.txt
Labels: in:PyROOT

#15369 [tmva] assert is ignored in Release mode, so return null
  tmva/tmva/src/ClassifierFactory.cxx
Labels: in:TMVA

#15329 [RF] Consider `_isPdfMode` member in RooMomentMorphFuncND copy constructor
  roofit/roofit/src/RooMomentMorphFuncND.cxx
Labels: bug, in:RooFit/RooStats

#15381 [BP 632][cmake] Fix distsrc script.
  CMakeLists.txt
  build/unix/makedistsrc.sh
Labels: affects:6.32

#15356 [v630][TMVA] Fix RBDT evaluation of XGBoost models by merging RBDT with FastForest
  bindings/pyroot/pythonizations/python/ROOT/_facade.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/__init__.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_rbdt.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_tree_inference.py
  tmva/tmva/CMakeLists.txt
  tmva/tmva/inc/LinkDefUtils.h
  tmva/tmva/inc/TMVA/RBDT.hxx
  tmva/tmva/inc/TMVA/TreeInference/BranchlessTree.hxx
  tmva/tmva/inc/TMVA/TreeInference/Forest.hxx
  tmva/tmva/inc/TMVA/TreeInference/Objectives.hxx
  tmva/tmva/inc/TMVA/TreeInference/PythonHelpers.hxx
  tmva/tmva/src/RBDT.cxx
  tmva/tmva/test/BDTHelpers.hxx
  tmva/tmva/test/CMakeLists.txt
  tmva/tmva/test/rbdt_xgboost.py
  tutorials/CMakeLists.txt
  tutorials/tmva/tmva102_Testing.py
  tutorials/tmva/tmva103_Application.C
Labels: pr:backport, in:TMVA
