Repository root-project/root, pull requests merged in 2024-08, with the labels that each got.

#16150 [cling] Forcefully clean up `TemplateIdAnnotation`s
  interpreter/cling/lib/Utils/ParserStateRAII.cpp
Labels: in:Cling

#16133 [CPyCppyy] Auto-cast elements of std::vector<T*>, with T a class type
  bindings/pyroot/cppyy/CPyCppyy/src/CustomPyTypes.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CustomPyTypes.h
  bindings/pyroot/cppyy/CPyCppyy/src/Pythonize.cxx
Labels: bug, in:PyROOT

#16155 [webgui] fix usage of lower case in saved file names [6.32]
  gui/webdisplay/src/RWebDisplayHandle.cxx
Labels: pr:backport, in:WebGui, affects:6.32

#16154 [webgui] fix usage of lower case in saved file names
  gui/webdisplay/src/RWebDisplayHandle.cxx
Labels: affects:master, in:WebGui

#16158 [DF] Simplify RTreeColumnReader destructor
  tree/dataframe/inc/ROOT/RDF/RTreeColumnReader.hxx
Labels: in:RDataFrame

#16170 [PyROOT] Correctly set shape info in TTree `__getattr__` pythonization
  bindings/pyroot/pythonizations/src/TTreePyz.cxx
  bindings/pyroot/pythonizations/test/TreeHelper.h
  bindings/pyroot/pythonizations/test/ttree_branch_attr.py
Labels: improvement, in:PyROOT

#16179 [hist] Add some `const` keywords to arithmetic operators
  hist/hist/inc/TH2.h
  hist/hist/inc/TH3.h
  hist/hist/src/TH2.cxx
  hist/hist/src/TH3.cxx
Labels: in:Math Libraries

#16183 [v632][PyROOT] add Sequence_Check to the public API
  bindings/pyroot/cppyy/CPyCppyy/include/CPyCppyy/API.h
  bindings/pyroot/cppyy/CPyCppyy/src/API.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPPInstance.cxx
Labels: pr:backport

#16185 [BP 632] [multiproc] Correct entries ranges w/ nWorkers>nEntries
  tree/treeplayer/inc/TMPWorkerTree.h
  tree/treeplayer/src/TMPWorkerTree.cxx
  tree/treeplayer/test/CMakeLists.txt
  tree/treeplayer/test/treeprocs/treeprocessormt_remotefiles.cxx
  tree/treeplayer/test/treeprocs/treeprocessors.cxx
Labels: pr:backport

#16186 [ntuple] clang-format some files
  tree/ntuple/v7/inc/ROOT/RColumnElement.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RNTupleSerialize.cxx
Labels: in:RNTuple

#15151 [PyROOT] Sync with upstream cppyy
  bindings/pyroot/cppyy/CPyCppyy/src/CPPEnum.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPPExcInstance.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPPInstance.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPPScope.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPyCppyyModule.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/Pythonize.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/TemplateProxy.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/TupleOfInstances.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/Utility.cxx
  bindings/pyroot/cppyy/cppyy/doc/source/changelog.rst
  bindings/pyroot/cppyy/cppyy/doc/source/conf.py
  bindings/pyroot/cppyy/cppyy/etc/valgrind-cppyy-cling.supp
  bindings/pyroot/cppyy/cppyy/test/Makefile
  bindings/pyroot/cppyy/cppyy/test/advancedcpp.h
  bindings/pyroot/cppyy/cppyy/test/stltypes.cxx
  bindings/pyroot/cppyy/cppyy/test/test_api.py
  bindings/pyroot/cppyy/cppyy/test/test_fragile.py
  bindings/pyroot/cppyy/cppyy/test/test_leakcheck.py
  bindings/pyroot/cppyy/cppyy/test/test_overloads.py
  bindings/pyroot/cppyy/cppyy/test/test_regression.py
  bindings/pyroot/cppyy/cppyy/test/test_stltypes.py
  bindings/pyroot/cppyy/patches/CPyCppyy-Revert-Fix-bugs-introduced-by-73cbd9bde436afbc6e4d39.patch
  bindings/pyroot/cppyy/patches/CPyCppyy-Revert-do-not-allow-implicit-conversions-to-an-std-s.patch
  bindings/pyroot/cppyy/patches/CPyCppyy-Revert-don-t-allow-implicit-conversions-for-string_v.patch
  bindings/pyroot/cppyy/patches/CPyCppyy-TString_converter.patch
  bindings/pyroot/cppyy/sync-upstream
Labels: bug, in:PyROOT

#16195 [clad] Bump clad to version v1.7
  interpreter/cling/tools/plugins/clad/CMakeLists.txt
Labels: in:Cling

#16199 [v632] [PyROOT] Perform function-style casts when returning multi-keyword types
  bindings/pyroot/cppyy/CPyCppyy/src/Dispatcher.cxx
Labels: pr:backport, in:PyROOT

#16200 [PyROOT] Avoid using deprecated `numpy._float`
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdf_conversion_maps.py
Labels: in:PyROOT

#16191 [cling] Globally enable incremental extensions
  interpreter/cling/include/cling/Utils/ParserStateRAII.h
  interpreter/cling/lib/Interpreter/CIFactory.cpp
  interpreter/cling/lib/Interpreter/IncrementalParser.cpp
  interpreter/cling/lib/Interpreter/Interpreter.cpp
  interpreter/cling/lib/Interpreter/LookupHelper.cpp
  interpreter/cling/lib/Utils/ParserStateRAII.cpp
Labels: in:Cling

#16203 [RF] RooFit code improvements
  roofit/roofitcore/inc/RooAbsPdf.h
  roofit/roofitcore/inc/RooAbsReal.h
  roofit/roofitcore/src/RooAbsPdf.cxx
  roofit/roofitcore/src/RooAbsReal.cxx
Labels: in:RooFit/RooStats

#16204 [RF] Remove `RooAbsReal::plotSliceOn()`
  README/ReleaseNotes/v634/index.md
  roofit/roofitcore/inc/RooAbsReal.h
  roofit/roofitcore/src/RooAbsReal.cxx
Labels: in:RooFit/RooStats

#16169 [RooFit] : fix 6thorder+exponential interpolation if nominal is not equal to 1
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
Labels: bug, in:RooFit/RooStats

#16209 [ci] Revert Numba restrictions and lock NumPy version for upgrades
  requirements.txt
Labels: in:CI

#16198 [TTreeReader] Properly cleanup non-owned chains
  tree/treeplayer/inc/TTreeReader.h
  tree/treeplayer/src/TTreeReader.cxx
Labels: in:TTree

#16176 [DF] Remove extern template function declarations
  tree/dataframe/inc/ROOT/RDF/ActionHelpers.hxx
  tree/dataframe/src/RDFActionHelpers.cxx
Labels: in:RDataFrame

#16205 [core] Return 2 if root macro.C and macro.C does not exist as it is done for the Python interpreter
  core/base/src/TApplication.cxx
Labels: in:Core Libraries

#12924 [RF] Add methods to create owning RooFit proxies via `std::unique_ptr`
  README/ReleaseNotes/v634/index.md
  roofit/roofit/src/RooNonCPEigenDecay.cxx
  roofit/roofitcore/inc/RooTemplateProxy.h
  roofit/roofitcore/src/RooNLLVarNew.cxx
  roofit/roofitcore/src/RooNormalizedPdf.h
  roofit/roofitcore/src/RooSuperCategory.cxx
Labels: in:RooFit/RooStats

#16224 [skip-ci][Win][v6-30] Add support for Visual Studio >= v17.10
  cmake/modules/RootCPack.cmake
  interpreter/cling/lib/Utils/PlatformWin.cpp
Labels: pr:backport

#16222 [cling] Turn off delayed template parsing on Windows
  interpreter/cling/lib/Interpreter/CIFactory.cpp
Labels: in:Cling, clean build

#16223 [skip-ci][Win][v6-32] Add support for Visual Studio >= v17.10
  cmake/modules/RootCPack.cmake
  interpreter/cling/lib/Utils/PlatformWin.cpp
Labels: pr:backport

#16231 [v6-32][cmake] Avoid warning when building from tar file
  cmake/modules/SetROOTVersion.cmake
Labels: pr:backport

#16230 [ntuple] Convert count leaf names for `SetConvertDotsInBranchNames`
  tree/ntupleutil/v7/src/RNTupleImporter.cxx
  tree/ntupleutil/v7/test/ntuple_importer.cxx
Labels: in:RNTuple

#16171 [PyROOT] Call typed overload of `SetBranchAddress` for array types
  README/ReleaseNotes/v634/index.md
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_ttree.py
  bindings/pyroot/pythonizations/test/ttree_setbranchaddress.py
Labels: improvement, in:PyROOT

#16237 [ntuple] clang-format pass
  tree/ntuple/v7/inc/ROOT/RColumn.hxx
  tree/ntuple/v7/src/RColumnElement.cxx
  tree/ntuple/v7/test/ntuple_packing.cxx
  tree/ntuple/v7/test/ntuple_test.hxx
Labels: in:RNTuple

#16247 [v6-32][cmake][clad] Fix potential Clad build error
  interpreter/cling/tools/plugins/clad/CMakeLists.txt
Labels: pr:backport

#16254 [v6-32][cmake][win] Fix potential build error of cfitsio
  builtins/cfitsio/CMakeLists.txt
Labels: pr:backport

#16255 [CMake] Avoid duplicate linking against gtest
  cmake/modules/RootMacros.cmake
Labels: in:Build System

#16257 [treereader] Correctly treat empty trees with range loop iteration
  tree/treeplayer/inc/TTreeReader.h
  tree/treeplayer/test/basic.cxx
Labels: in:TTree

#16260 [afterimage] Update to latest config.guess
  graf2d/asimage/src/libAfterImage/config.guess
Labels: in:Build System, clean build

#16268 [cling] Fix `DelegateGenerator` on macOS
  interpreter/cling/lib/Interpreter/IncrementalJIT.cpp
Labels: in:Cling

#16264 [doc] Remove all non-legacy links to the old documentation url
  documentation/HttpServer/HttpServer.md
  documentation/primer/ROOT_as_calculator.md
  documentation/primer/your_first_ROOT_macro.md
  documentation/users-guide/Geometry.md
  documentation/users-guide/Graphics.md
  documentation/users-guide/InstallandBuild.md
  documentation/users-guide/Introduction.md
  documentation/users-guide/MathLibraries.md
  documentation/users-guide/SignalSlot.md
  etc/html/HELP.html
  graf2d/graf/doc/index.md
  graf3d/eve/src/TEveBrowser.cxx
  gui/gui/src/TRootBrowser.cxx
  gui/gui/src/TRootContextMenu.cxx
  hist/spectrum/src/TSpectrum.cxx
  hist/spectrumpainter/doc/index.md
  io/doc/TFile/README.md
  io/xml/src/TXMLFile.cxx
  io/xml/src/TXMLSetup.cxx
  main/src/g2root.f
  math/mathcore/inc/Math/GoFTest.h
  math/minuit/doc/index.md
  test/RootIDE/TGRootIDE.cxx
  tmva/tmva/inc/TMVA/MethodTMlpANN.h
  tmva/tmva/src/MethodTMlpANN.cxx
  tree/treeplayer/doc/index.txt
  tutorials/fit/fitEllipseTGraphRMM.cxx
  tutorials/html/MakeTutorials.C
  tutorials/legacy/htmlex.C
  tutorials/math/mathmoreIntegrationMultidim.C
  tutorials/r/Minimization.C
  tutorials/roostats/rs_numbercountingutils.C
  tutorials/roostats/rs_numbercountingutils.py
Labels: in:Documentation

#16274 [CMake] Only replace `find_package` if required
  cmake/modules/SearchInstalledSoftware.cmake
Labels: in:Build System

#16275 [CMake] Forward common CMake flags to builtin TBB
  cmake/modules/SearchInstalledSoftware.cmake
Labels: in:Build System

#16272 [webgeom] support TGeoTrack creation
  geom/webviewer/CMakeLists.txt
  geom/webviewer/inc/ROOT/RGeoPainter.hxx
  geom/webviewer/src/RGeoPainter.cxx
Labels: affects:master, in:Geometry, in:WebGui

#16276 [Html] Put back file erroneously removed in a previous commit
  etc/html/HELP.html
Labels: pr:emergency🚨

#16278 Revert "[CMake] Only replace `find_package` if required"
  cmake/modules/SearchInstalledSoftware.cmake
Labels: in:Build System, pr:emergency🚨

#16267 [cmake] add build option for html, disabled by default
  CMakeLists.txt
  cmake/modules/RootBuildOptions.cmake
Labels: in:Build System

#16277 [PyROOT] Return scope in GetActualClass based on Interpreter ClassInfo
  bindings/pyroot/cppyy/cppyy-backend/clingwrapper/src/clingwrapper.cxx
Labels: bug, in:PyROOT

#11140 [cling-cpt] Formatted the beginning functions of the cpt [skip-ci]
  interpreter/cling/tools/packaging/cpt.py
Labels: in:Cling

#16262 [Tutorials] Fix Thread Pool size for tutorials
  tutorials/.enableImplicitMTWrapper.py
  tutorials/CMakeLists.txt
Labels: in:Tutorials

#16283 [ci] Remove macos12 builds
  .github/workflows/root-ci-config/buildconfig/mac12.txt
  .github/workflows/root-ci.yml
Labels: in:CI

#16265 [rcanvas] Adjust df104.py tutorial
  tutorials/rcanvas/df104.py
Labels: affects:master, in:WebGui, in:Tutorials

#16281 [PyROOT] Improve error handling for AsNumpy with unreadable objects
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
Labels: improvement, in:PyROOT

#16263 [ci] Improve instructions on how to replicate builds locally
  .github/workflows/root-ci-config/build_root.py
  .github/workflows/root-ci-config/build_utils.py
  .github/workflows/root-ci.yml
Labels: in:CI

#14350 [hist] Update TUnfold to most recent version 17.9
  README/ReleaseNotes/v634/index.md
  hist/unfold/CMakeLists.txt
  hist/unfold/inc/LinkDef.h
  hist/unfold/inc/TUnfold.h
  hist/unfold/inc/TUnfoldBinning.h
  hist/unfold/inc/TUnfoldBinningXML.h
  hist/unfold/inc/TUnfoldDensity.h
  hist/unfold/inc/TUnfoldIterativeEM.h
  hist/unfold/inc/TUnfoldSys.h
  hist/unfold/src/TUnfold.cxx
  hist/unfold/src/TUnfoldBinning.cxx
  hist/unfold/src/TUnfoldBinningXML.cxx
  hist/unfold/src/TUnfoldDensity.cxx
  hist/unfold/src/TUnfoldIterativeEM.cxx
  hist/unfold/src/TUnfoldSys.cxx
Labels: in:Math Libraries

#16287 [tree] fix potential memory leak in TFriendElement constructor
  tree/tree/src/TFriendElement.cxx
Labels: in:TTree

#16166 [ntuple] RNTupleDescriptor: moved nested type defs out of class
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
Labels: in:RNTuple

#15947 [matrix] Fast SpMM
  math/matrix/inc/TMatrixTSparse.h
  math/matrix/src/TMatrixTSparse.cxx
  math/matrix/test/testMatrixTSparse.cxx
Labels: improvement, in:Math Libraries

#16284 [ntuple] Prevent automatic instantiation of `RSimpleField<T>`
  tree/ntuple/v7/inc/ROOT/RField/RFieldFundamental.hxx
  tree/ntuple/v7/inc/ROOT/RField/RFieldSTLMisc.hxx
  tree/ntuple/v7/src/RField.cxx
Labels: in:RNTuple

#16295 [core] remove deprecated ATOMIC_VAR_INIT from TUrl.cxx
  core/base/src/TUrl.cxx
Labels: in:Core Libraries

#16294 [hist] fix unused variable warnings
  hist/unfold/src/TUnfoldDensity.cxx
Labels: in:Hist

#16293 [ntuple] make src argument of RColumnElement::Pack/Unpack const
  tree/ntuple/v7/inc/ROOT/RColumnElement.hxx
  tree/ntuple/v7/src/RColumnElement.cxx
Labels: in:RNTuple

#16288 [misc] replace double `;;` in sources
  bindings/pyroot/cppyy/CPyCppyy/src/CPPInstance.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/Executors.cxx
  core/base/src/TStyle.cxx
  core/foundation/src/FoundationUtils.cxx
  core/meta/src/TGenericClassInfo.cxx
  core/metacling/src/TCling.cxx
  graf2d/graf/src/TLatex.cxx
  graf2d/graf/src/TLegend.cxx
  graf2d/postscript/src/TImageDump.cxx
  graf2d/postscript/src/TTeXDump.cxx
  gui/ged/src/TAxisEditor.cxx
  hist/hist/src/HFitInterface.cxx
  hist/hist/src/TFormula_v5.cxx
  hist/hist/src/TGraphAsymmErrors.cxx
  hist/hist/src/TH1.cxx
  hist/hist/src/TProfileHelper.h
  io/sql/src/TSQLFile.cxx
  math/mathcore/src/GaussIntegrator.cxx
  math/mathcore/src/SpecFuncCephes.cxx
  math/mathmore/test/testDerivation.cxx
  math/matrix/src/TDecompSparse.cxx
  math/smatrix/test/matrix_op.h
  math/vecops/test/vecops_rvec.cxx
  net/net/src/TFTP.cxx
  roofit/histfactory/src/HistFactoryNavigation.cxx
  roofit/histfactory/src/HistoToWorkspaceFactoryFast.cxx
  roofit/histfactory/src/Measurement.cxx
  roofit/roofit/src/RooGExpModel.cxx
  roofit/roofitcore/src/RooCurve.cxx
  roofit/roofitcore/src/RooDataSet.cxx
  roofit/roostats/src/BernsteinCorrection.cxx
  roofit/roostats/src/HybridPlot.cxx
  roofit/roostats/src/ProfileLikelihoodCalculator.cxx
  roofit/roostats/src/ProfileLikelihoodTestStat.cxx
  test/TrackMathCore.h
  test/guitest.cxx
  tmva/tmva/src/DataSetFactory.cxx
  tmva/tmva/src/MethodBase.cxx
  tmva/tmva/src/MethodTMlpANN.cxx
  tmva/tmva/src/PDEFoamCell.cxx
  tmva/tmva/src/RuleFitParams.cxx
  tmva/tmva/src/TransformationHandler.cxx
  tmva/tmva/test/DNN/CNN/TestConvBackpropagationCuda.cxx
  tmva/tmva/test/DNN/GRU/TestGRUBackpropagation.h
  tree/tree/src/TFriendElement.cxx
  tree/tree/src/TTreeSQL.cxx
  tree/treeplayer/src/TTreePerfStats.cxx
  tutorials/webgui/ping/ping.cxx
Labels: affects:master

#16291 [RN][NFC] Make old RN files non-empty
  bindings/doc/v602/index.md
  geom/doc/v602/index.md
  graf3d/doc/v602/index.md
  gui/doc/v602/index.md
  html/doc/v602/index.md
  io/doc/v602/index.md
  math/doc/v602/index.md
  misc/doc/v602/index.md
  montecarlo/doc/v602/index.md
  proof/doc/v602/index.md
  roofit/doc/v602/index.md
  sql/doc/v602/index.md
  tmva/doc/v602/index.md
  tutorials/doc/v602/index.md
Labels: in:Documentation

#16289 Move `build/unix` to `cmake/unix`
  CMakeLists.txt
  cmake/modules/RootConfiguration.cmake
  cmake/unix/check_dups_in_pcms.py
  cmake/unix/compiledata.sh
  cmake/unix/makedistsrc.sh
  cmake/unix/makepchinput.py
  cmake/unix/makereleasenotes.sh
  cmake/unix/module.modulemap
  cmake/unix/pandoc-jira.sh
  cmake/unix/rootmapcat.py
Labels: in:Build System

#16300 [CMake] Tutorials as tests: fail if function not found
  tutorials/CMakeLists.txt
Labels: in:Testing

#16286 [ci] Enable clad on mac beta
  .github/workflows/root-ci-config/buildconfig/mac-beta.txt
Labels: clean build, in:CI

#16301 [Core] Add the .libraries command at the prompt
  core/base/src/TApplication.cxx
Labels: in:Core Libraries

#16307 [ntuple] speed up HTTP test
  tree/ntuple/v7/test/ntuple_storage.cxx
Labels: in:RNTuple

#16316 [RF] RooDataHist arraySize getter
  roofit/roofitcore/inc/RooDataHist.h
Labels: in:RooFit/RooStats

#16317 [RF][HS3] improved documentation of RooJSONFactoryWSTool
  roofit/hs3/src/RooJSONFactoryWSTool.cxx
Labels: in:RooFit/RooStats

#16314 [cling] Fix lifetime of `ClingMMapper`
  interpreter/cling/lib/Interpreter/IncrementalJIT.cpp
Labels: in:Cling

#16175 [PyROOT] Deprecate `TPython::Eval()`
  README/ReleaseNotes/v634/index.md
  bindings/tpython/inc/TPython.h
  bindings/tpython/src/TPython.cxx
Labels: in:PyROOT

#16212 [PyROOT] Remove string converter patches to CPyCppyy
  bindings/pyroot/cppyy/CPyCppyy/src/CallContext.h
  bindings/pyroot/cppyy/CPyCppyy/src/Converters.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/DeclareConverters.h
  bindings/pyroot/cppyy/patches/CPyCppyy-Revert-Fix-bugs-introduced-by-73cbd9bde436afbc6e4d39.patch
  bindings/pyroot/cppyy/patches/CPyCppyy-Revert-do-not-allow-implicit-conversions-to-an-std-s.patch
  bindings/pyroot/cppyy/patches/CPyCppyy-Revert-don-t-allow-implicit-conversions-for-string_v.patch
  bindings/pyroot/cppyy/patches/CPyCppyy-TString_converter.patch
  bindings/pyroot/cppyy/sync-upstream
Labels: in:PyROOT

#16318 [cling] Fix lifetime of `ClingMMapper` [v6.32]
  interpreter/cling/lib/Interpreter/IncrementalJIT.cpp
Labels: pr:backport, in:Cling

#16216 [ntuple] Fix item type names for STL map fields
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/ProxiedSTLContainerLinkDef.h
  tree/ntuple/v7/test/ntuple_types.cxx
Labels: in:RNTuple

#16329 [Tree] Extend testing of TTreeReader
  tree/treeplayer/test/leafs.cxx
Labels: in:TTree

#16330 [ntuple] Add support for `std::(unordered)_multiset`
  tree/ntuple/v7/doc/specifications.md
  tree/ntuple/v7/inc/ROOT/RField/RFieldProxiedCollection.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/ProxiedSTLContainerLinkDef.h
  tree/ntuple/v7/test/ntuple_types.cxx
Labels: in:RNTuple

#16331 [ntuple] Add support for `std::(unordered)_multimap` fields
  tree/ntuple/v7/doc/specifications.md
  tree/ntuple/v7/inc/ROOT/RField/RFieldProxiedCollection.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/ProxiedSTLContainerLinkDef.h
  tree/ntuple/v7/test/ntuple_types.cxx
Labels: in:RNTuple

#16336 [RF] Deprecate HistFactory-internal fitting and plotting routine
  README/ReleaseNotes/v634/index.md
  roofit/histfactory/inc/RooStats/HistFactory/MakeModelAndMeasurementsFast.h
  roofit/histfactory/inc/RooStats/HistFactory/Measurement.h
  roofit/histfactory/src/ConfigParser.cxx
  roofit/histfactory/src/MakeModelAndMeasurementsFast.cxx
  roofit/histfactory/src/Measurement.cxx
  roofit/histfactory/test/stressHistFactory.cxx
  roofit/histfactory/test/testHistFactory.cxx
  roofit/histfactory/test/testHistFactoryPlotting.cxx
  roofit/roofitcore/CMakeLists.txt
Labels: in:RooFit/RooStats

#16337 Make it possible to disable TPython in build
  bindings/CMakeLists.txt
  cmake/modules/RootBuildOptions.cmake
Labels: in:Build System, in:PyROOT

#16352 [RF] Fixup deprecation warnings in MarkovChain.h
  roofit/roostats/inc/RooStats/MarkovChain.h
Labels: in:RooFit/RooStats

#16323 [RF] hf001_example fit performing
  README/ReleaseNotes/v634/index.md
  tutorials/CMakeLists.txt
  tutorials/histfactory/example.py
  tutorials/histfactory/hf001_example.C
  tutorials/histfactory/hf001_example.py
Labels: new contributor, in:RooFit/RooStats
