Repository root-project/root, pull requests merged in 2024-03, with the labels that each got.

#14857 [ntuple] Fix size calculation for projected fields
  tree/ntupleutil/v7/inc/ROOT/RNTupleInspector.hxx
  tree/ntupleutil/v7/src/RNTupleInspector.cxx
  tree/ntupleutil/v7/test/ntuple_inspector.cxx
Labels: in:RNTuple

#14398 [ntuple] Integrate RNTupleMerger into TFileMerger
  core/testsupport/src/TestSupport.cxx
  io/io/src/TFileMerger.cxx
  tree/ntuple/v7/src/RNTupleMerger.cxx
  tree/ntuple/v7/test/ntuple_merger.cxx
Labels: in:RNTuple

#14868 [skip-ci][NFC][doc][ntuple] clarify MT behavior of views
  tree/ntuple/v7/doc/architecture.md
Labels: in:RNTuple

#14866 [ntuple] Allow RNTupleModel to create field tokens
  tree/ntuple/v7/inc/ROOT/REntry.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleModel.hxx
  tree/ntuple/v7/src/RNTupleModel.cxx
  tree/ntuple/v7/test/ntuple_basics.cxx
Labels: in:RNTuple

#14873 [main] Pass full compression setting from hadd
  main/src/hadd.cxx
Labels: in:I/O

#14849 [ntuple] Enable binding view to external memory
  tree/ntuple/v7/inc/ROOT/RNTupleReader.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleUtil.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleView.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RNTupleReader.cxx
  tree/ntuple/v7/test/ntuple_view.cxx
Labels: in:RNTuple

#14876 [jsroot] 7.5.5 4/03/2024
  js/build/jsroot.js
  js/changes.md
  js/modules/core.mjs
  js/modules/hist/TGraph2DPainter.mjs
Labels: in:WebGui, affects:6.30

#14671 A shortcut to perform Modified and Update
  core/base/inc/TVirtualPad.h
  graf2d/gpad/inc/TPad.h
  graf2d/gpad/src/TPad.cxx
Labels: affects:master, in:Graphics

#14862 [cmake] Require TBB 2020
  .github/workflows/root-ci-config/buildconfig/alma8.txt
  cmake/modules/SearchInstalledSoftware.cmake
Labels: clean build

#14703 [PyROOT] Revert patch for versioned PyROOT libraries
  bindings/jupyroot/CMakeLists.txt
  bindings/jupyroot/python/JupyROOT/helpers/handlers.py
  bindings/jupyroot/src/IOHandler.cxx
  bindings/pyroot/cppyy/CPyCppyy/CMakeLists.txt
  bindings/pyroot/cppyy/CPyCppyy/src/CPyCppyyModule.cxx
  bindings/pyroot/cppyy/cppyy-backend/CMakeLists.txt
  bindings/pyroot/cppyy/cppyy/python/cppyy/__init__.py
  bindings/pyroot/cppyy/patches/multi_python_cppyy.patch
  bindings/pyroot/pythonizations/CMakeLists.txt
  bindings/pyroot/pythonizations/python/ROOT/__init__.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/tpython/CMakeLists.txt
  cmake/modules/SearchRootCoreDeps.cmake
Labels: in:PyROOT

#14892 Improve THStack::GetAxis methods
  hist/hist/src/THStack.cxx
Labels: affects:master, in:Graphics

#14825 [ntuple] forbid RClassField I/O of unsplittable classes
  tree/ntuple/v7/doc/specifications.md
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/rfield_class.cxx
Labels: in:RNTuple

#14895 [df] Force only one RNTuple name in distributed scheduling
  bindings/experimental/distrdf/python/DistRDF/HeadNode.py
Labels: priority:critical, in:RDataFrame

#14905 [jsroot] dev 7/03/2024 with new TRatioPlot support
  js/build/jsroot.js
  js/changes.md
  js/modules/base/BasePainter.mjs
  js/modules/base/base3d.mjs
  js/modules/core.mjs
  js/modules/draw/TLinePainter.mjs
  js/modules/draw/TRatioPlotPainter.mjs
  js/modules/gpad/RCanvasPainter.mjs
  js/modules/gpad/RFramePainter.mjs
  js/modules/gpad/RPadPainter.mjs
  js/modules/gpad/TCanvasPainter.mjs
  js/modules/gpad/TFramePainter.mjs
  js/modules/gpad/TPadPainter.mjs
  js/modules/gui.mjs
  js/modules/gui/HierarchyPainter.mjs
  js/modules/gui/menu.mjs
  js/modules/gui/utils.mjs
  js/modules/hist/TGraph2DPainter.mjs
  js/modules/hist2d/THistPainter.mjs
Labels: affects:master, in:Graphics, in:WebGui

#14911 [ntuple] fix exception handling when adding fields
  tree/ntuple/v7/inc/ROOT/RNTupleModel.hxx
  tree/ntuple/v7/src/RNTupleModel.cxx
  tree/ntuple/v7/test/ntuple_basics.cxx
Labels: in:RNTuple

#14923 [backport][cmake,test] Get rid of `lsb_release`:
  cmake/modules/RootCPack.cmake
  math/mathcore/test/stressGoFTest.cxx
  test/bench.cxx
  test/stress.cxx
  test/stressFit.cxx
  test/stressGUI.cxx
  test/stressGeometry.cxx
  test/stressGraphics.cxx
  test/stressHepix.cxx
  test/stressHistFactory.cxx
  test/stressLinear.cxx
  test/stressRooFit.cxx
  test/stressRooStats.cxx
  test/stressTMVA.cxx
Labels: pr:backport

#14916 [df] Ensure proper RNTuple data is processed by distributed tasks
  bindings/experimental/distrdf/python/DistRDF/ComputationGraphGenerator.py
  bindings/experimental/distrdf/python/DistRDF/HeadNode.py
Labels: priority:critical

#11413 [PyROOT] Improve output of CPPMethod::GetPrototype
  bindings/pyroot/cppyy/CPyCppyy/src/CPPMethod.cxx
Labels: in:PyROOT

#14293 Remove unused Python modules from PyROOT/cppyy tests by backporting commit from cppyy
  bindings/pyroot/cppyy/cppyy/test/bindexplib.py
  bindings/pyroot/cppyy/cppyy/test/test_aclassloader.py
  bindings/pyroot/cppyy/cppyy/test/test_advancedcpp.py
  bindings/pyroot/cppyy/cppyy/test/test_api.py
  bindings/pyroot/cppyy/cppyy/test/test_boost.py
  bindings/pyroot/cppyy/cppyy/test/test_boost_any.py
  bindings/pyroot/cppyy/cppyy/test/test_conversions.py
  bindings/pyroot/cppyy/cppyy/test/test_cpp11features.py
  bindings/pyroot/cppyy/cppyy/test/test_crossinheritance.py
  bindings/pyroot/cppyy/cppyy/test/test_datatypes.py
  bindings/pyroot/cppyy/cppyy/test/test_doc_features.py
  bindings/pyroot/cppyy/cppyy/test/test_eigen.py
  bindings/pyroot/cppyy/cppyy/test/test_fragile.py
  bindings/pyroot/cppyy/cppyy/test/test_lowlevel.py
  bindings/pyroot/cppyy/cppyy/test/test_operators.py
  bindings/pyroot/cppyy/cppyy/test/test_overloads.py
  bindings/pyroot/cppyy/cppyy/test/test_pythonify.py
  bindings/pyroot/cppyy/cppyy/test/test_pythonization.py
  bindings/pyroot/cppyy/cppyy/test/test_stltypes.py
  bindings/pyroot/cppyy/cppyy/test/test_streams.py
  bindings/pyroot/cppyy/cppyy/test/test_templates.py
Labels: in:PyROOT

#14927 [Backport] Update cmake/modules/RootCPack.cmake
  cmake/modules/RootCPack.cmake
Labels: pr:backport

#14918 [ntuple] Return cluster size from RPageNullSink
  tree/ntuple/v7/inc/ROOT/RPageNullSink.hxx
Labels: in:RNTuple

#14926 Backport change to use .h5 files instead of .keras in 6.28 branch
  math/mathcore/src/FitUtil.cxx
  tmva/pymva/test/EmitCustomModel.cxx
  tmva/pymva/test/EmitFromKeras.cxx
  tmva/pymva/test/TestRModelParserKeras.C
  tmva/pymva/test/generateKerasModels.py
  tmva/pymva/test/testPyKerasClassification.C
Labels: in:Build System

#14934 [PyROOT] Forward compatibility of pretty printing with CPyCppyy
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_generic.py
Labels: in:PyROOT

#14937 [roofit] Disable failing tests on Windows
  tutorials/CMakeLists.txt
Labels: pr:backport

#14938 [TMVA] Don't use the same file name (`TMVA.root`) everywhere
  tmva/pymva/test/Classification.C
  tmva/rmva/test/Classification.C
  tutorials/tmva/TMVAClassification.C
  tutorials/tmva/TMVAClassificationCategory.C
  tutorials/tmva/TMVACrossValidation.C
  tutorials/tmva/TMVACrossValidationRegression.C
  tutorials/tmva/tmva003_RReader.C
Labels: pr:backport

#14940 [PyROOT] Forward compatibility of user pythonizations with newer cppyy
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/__init__.py
Labels: in:PyROOT

#14942 [cmake] Fix version detection for old TBB
  cmake/modules/FindTBB.cmake
Labels: in:Build System

#14900 [RF] Update xroofit
  roofit/xroofit/inc/RooFit/xRooFit/xRooNLLVar.h
  roofit/xroofit/inc/RooFit/xRooFit/xRooNode.h
  roofit/xroofit/src/xRooFit.cxx
  roofit/xroofit/src/xRooNode.cxx
Labels: in:RooFit/RooStats

#14954 Deprecation of TGeoBBox::AreOverlapping
  geom/geom/inc/TGeoBBox.h
Labels: bug

#14956 [v630][RF] Update xroofit
  roofit/xroofit/inc/RooFit/xRooFit/xRooNLLVar.h
  roofit/xroofit/inc/RooFit/xRooFit/xRooNode.h
  roofit/xroofit/src/xRooFit.cxx
  roofit/xroofit/src/xRooNode.cxx
Labels: pr:backport, in:RooFit/RooStats

#14975 Make sure the option L draws closed polygon for TH2Poly
  hist/histpainter/src/TGraphPainter.cxx
  hist/histpainter/src/THistPainter.cxx
Labels: affects:master, in:Graphics

#14970 Fix Load and Save in TASPaletteEditor
  graf2d/asimage/src/TASPaletteEditor.cxx
Labels: affects:master, in:Graphics

#14362 [RF] Added code generation support for RooEfiiciency
  roofit/roofitcore/inc/RooEfficiency.h
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/src/RooEfficiency.cxx
Labels: in:RooFit/RooStats

#15000 [jsroot] better TH2Poly support
  js/build/jsroot.js
  js/changes.md
  js/modules/core.mjs
  js/modules/gui.mjs
  js/modules/gui/HierarchyPainter.mjs
  js/modules/hist2d/TH2Painter.mjs
  js/modules/hist2d/THistPainter.mjs
Labels: affects:master, in:Graphics, in:WebGui

#15009 Fix error in TGaxis::ChangeLabelByValue docu macro [skip-ci]
  graf2d/graf/src/TGaxis.cxx
Labels: affects:master, in:Documentation, in:Graphics

#15010 Fix error in TGaxis::ChangeLabelByValue docu macro [skip-ci]
  graf2d/graf/src/TGaxis.cxx
Labels: pr:backport, in:Documentation, in:Graphics, affects:6.30

#15002 [webgui] set selected pad in TWebCanvas
  gui/webgui6/src/TWebCanvas.cxx
Labels: affects:master, in:WebGui

#15003 [webgui] set selected pad in TWebCanvas [6.30]
  gui/webgui6/src/TWebCanvas.cxx
Labels: pr:backport, in:WebGui, affects:6.30

#15008 Changes to RooNLL and Eval Funcs to fix visualizations
  roofit/roofitcore/inc/RooFit/Detail/EvaluateFuncs.h
  roofit/roofitcore/src/RooNLLVarNew.cxx
Labels: in:RooFit/RooStats

#15011 Avoid the interpreter to query info for array pythonizations
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rvec.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_rtensor.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/PyzPythonHelpers.cxx
Labels: in:PyROOT

#15005 [ci] Re-add builds un pushes
  .github/workflows/root-ci.yml
Labels: in:Build System

#14969 Avoid memory leak in TROOT::GetFunction()
  core/base/src/TROOT.cxx
Labels: affects:master, in:Core Libraries

#15016 [PyROOT] Use Python standard function to get system endianness
  bindings/pyroot/pythonizations/CMakeLists.txt
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rvec.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_rtensor.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/PyzPythonHelpers.cxx
Labels: in:PyROOT

#15018 [RF] Disable RooFit AD tests on Windows
  roofit/roofitcore/test/CMakeLists.txt
Labels: in:RooFit/RooStats

#15024 [RF] Avoid deprecated `createIterator()` function in RooStats tutorials
  tutorials/histfactory/ModifyInterpolation.C
  tutorials/roostats/ModelInspector.C
  tutorials/roostats/StandardBayesianMCMCDemo.C
  tutorials/roostats/StandardHistFactoryPlotsWithCategories.C
Labels: in:RooFit/RooStats

#15014 [628] Backport 15011
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rvec.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tmva/_rtensor.py
  bindings/pyroot/pythonizations/src/PyROOTModule.cxx
  bindings/pyroot/pythonizations/src/PyROOTPythonize.h
  bindings/pyroot/pythonizations/src/PyzPythonHelpers.cxx
Labels: pr:backport, in:PyROOT

#14641 Restrict distributed initialization to executors only
  bindings/experimental/distrdf/python/DistRDF/Backends/Base.py
  bindings/experimental/distrdf/test/backend/test_common.py
Labels: in:RDataFrame

#13850 [cling] Backport jitlink ppc64
  interpreter/cling/lib/Interpreter/IncrementalJIT.cpp
  interpreter/llvm-project/llvm-project.tag
  interpreter/llvm-project/llvm/include/llvm/ExecutionEngine/JITLink/ELF_ppc64.h
  interpreter/llvm-project/llvm/include/llvm/ExecutionEngine/JITLink/TableManager.h
  interpreter/llvm-project/llvm/include/llvm/ExecutionEngine/JITLink/ppc64.h
  interpreter/llvm-project/llvm/lib/ExecutionEngine/JITLink/CMakeLists.txt
  interpreter/llvm-project/llvm/lib/ExecutionEngine/JITLink/ELF.cpp
  interpreter/llvm-project/llvm/lib/ExecutionEngine/JITLink/ELF_ppc64.cpp
  interpreter/llvm-project/llvm/lib/ExecutionEngine/JITLink/ppc64.cpp
  interpreter/llvm-project/llvm/lib/ExecutionEngine/Orc/ELFNixPlatform.cpp
Labels: pr:squash on merge, in:Cling, clean build

#14994 [RF] Rename RooMomentMorph::getVal to RooMomentMorph::getValV
  roofit/roofit/inc/RooMomentMorph.h
  roofit/roofit/inc/RooMomentMorphFunc.h
  roofit/roofit/src/RooMomentMorph.cxx
  roofit/roofit/src/RooMomentMorphFunc.cxx
Labels: bug, in:RooFit/RooStats

#15046 [Backport][graphics] Save memory when obtaining TImageDump instance
  graf2d/asimage/CMakeLists.txt
  graf2d/asimage/src/TASImage.cxx
Labels: pr:backport

#15047 [Backport][graphics] Save memory when obtaining TImageDump instance
  graf2d/asimage/CMakeLists.txt
  graf2d/asimage/src/TASImage.cxx
Labels: pr:backport

#15042 [ci] Contextualize cmake warning about builtin_afterimage=OFF
  cmake/modules/RootBuildOptions.cmake
Labels: in:Build System

#15031 [RF] Re-implement `MakeNumpyDataFrame` with no interpreter calls
  bindings/pyroot/pythonizations/CMakeLists.txt
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdataframe.py
  bindings/pyroot/pythonizations/test/rdataframe_makenumpy.py
  tree/dataframe/CMakeLists.txt
  tree/dataframe/inc/ROOT/RVecDS.hxx
Labels: in:PyROOT

#15050 [Backport 6.30][runtime_cxxmodules] Allow for changing the modulemap name to match the overlay
  interpreter/cling/lib/Interpreter/CIFactory.cpp
Labels: pr:backport

#15051 [ntuple] clarify diamond inheritance
  tree/ntuple/v7/doc/specifications.md
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/test/CustomStruct.hxx
  tree/ntuple/v7/test/CustomStructLinkDef.h
  tree/ntuple/v7/test/rfield_class.cxx
Labels: in:RNTuple

#14743 [RF] Convert 4 RooStat tutorials to PyROOT
  tutorials/roostats/HybridInstructional.py
  tutorials/roostats/HybridStandardForm.py
  tutorials/roostats/TestNonCentral.py
  tutorials/roostats/TwoSidedFrequentistUpperLimitWithBands.C
  tutorials/roostats/TwoSidedFrequentistUpperLimitWithBands.py
Labels: in:RooFit/RooStats

#15058 [RF] Also veto Python version of TestNonCentral when `mathmore=OFF`
  tutorials/CMakeLists.txt
Labels: priority:high, in:RooFit/RooStats

#15053 [core] Disable TClingLoadUnloadFileTests [v6.30]
  core/metacling/test/TClingLoadUnloadFileTests.cxx
Labels: pr:backport

#15081 [RF] Fix dirty state propagation for offsetting with new CPU backend
  roofit/roofitcore/inc/RooFit/EvalContext.h
  roofit/roofitcore/inc/RooFit/Evaluator.h
  roofit/roofitcore/src/RooEvaluatorWrapper.cxx
  roofit/roofitcore/src/RooEvaluatorWrapper.h
  roofit/roofitcore/src/RooFit/EvalContext.cxx
  roofit/roofitcore/src/RooFit/Evaluator.cxx
  roofit/roofitcore/src/RooNLLVarNew.cxx
  roofit/roofitcore/src/RooNLLVarNew.h
  roofit/roofitcore/test/testTestStatistics.cxx
Labels: bug, in:RooFit/RooStats

#15049 [Backport 6.28][runtime_cxxmodules] Allow for changing the modulemap name to match the overlay
  interpreter/cling/lib/Interpreter/CIFactory.cpp
Labels: pr:backport

#15072 [cppyy] Fix `missing-field-initializers` with Python 3.12
  bindings/pyroot/cppyy/CPyCppyy/src/CPPDataMember.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPPExcInstance.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPPInstance.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPPOverload.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPPScope.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CPyCppyyModule.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/CustomPyTypes.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/LowLevelViews.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/TemplateProxy.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/TupleOfInstances.cxx
  bindings/pyroot/cppyy/sync-upstream
Labels: in:PyROOT

#14660 [PyROOT] Replace `TDirectory.__getattr__` with `__getitem__`
  README/ReleaseNotes/v632/index.md
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tdirectory.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_tfile.py
  bindings/pyroot/pythonizations/test/tdirectory_attrsyntax.py
  tutorials/dataframe/df007_snapshot.py
  tutorials/dataframe/df017_vecOpsHEP.py
  tutorials/pyroot/pyroot005_tfile_context_manager.py
Labels: improvement, in:PyROOT

#15061 [RF] Improve parameter management in `RooEvaluatorWrapper`
  roofit/roofitcore/src/FitHelpers.cxx
  roofit/roofitcore/src/RooEvaluatorWrapper.cxx
  roofit/roofitcore/src/RooEvaluatorWrapper.h
  roofit/roofitcore/src/RooFuncWrapper.cxx
  roofit/roofitcore/src/RooNLLVarNew.cxx
  roofit/roofitcore/src/RooNLLVarNew.h
  roofit/roofitcore/test/testRooSimultaneous.cxx
Labels: bug, in:RooFit/RooStats
