Repository root-project/root, pull requests merged in 2025-08, with the labels that each got.

#19456 Add workflow to build Python wheels
  .github/workflows/cibuildwheel-impl/action.yml
  .github/workflows/python_wheel_build.yml
  bindings/pyroot/pythonizations/python/ROOT/_rootcli.py
  cmake/modules/SearchInstalledSoftware.cmake
  pyproject.toml
  setup.py
Labels: in:Python Interface

#19508 [Python] Fixup to Python library restructuring
  bindings/pyroot/cppyy/CPyCppyy/CMakeLists.txt
Labels: bug, in:Python Interface, pr:emergency🚨, clean build

#19509 [Python] Sync with `cppyy` and `CPyCppyy` master
  bindings/pyroot/cppyy/CPyCppyy/src/Pythonize.cxx
  bindings/pyroot/cppyy/cppyy/doc/source/changelog.rst
  bindings/pyroot/cppyy/cppyy/test/test_operators.py
  bindings/pyroot/cppyy/patches/CPyCppyy-Fix-usage-of-Python-GIL-to-support-threading.patch
  bindings/pyroot/cppyy/patches/CPyCppyy-Get-names-and-types-of-all-overloads-signature.patch
  bindings/pyroot/cppyy/patches/CPyCppyy-Support-conversion-from-str-to-char.patch
  bindings/pyroot/cppyy/sync-upstream
Labels: in:Python Interface

#19499 [build] Enable running wheel workflow on label
  .github/workflows/python_wheel_build.yml
Labels: build-python-wheels

#19487 [Python][RDF] Add support for std::vector and std::array in numba jitted functions
  bindings/pyroot/pythonizations/python/ROOT/_numbadeclare.py
  bindings/pyroot/pythonizations/test/numbadeclare.py
Labels: new feature, in:RDataFrame

#19518 [v636][CMake] Set `rpath` for individual targets and not globally
  cmake/modules/RootBuildOptions.cmake
  cmake/modules/RootMacros.cmake
Labels: in:Build System, clean build

#19542 [Python][UHI] Add matplotlib dependency for UHI tutorials
  requirements.txt
Labels: skip ci

#19529 [RF] Avoid expensive double loop in `setData()` for likelihooods
  roofit/roofitcore/inc/RooFit/Evaluator.h
  roofit/roofitcore/src/RooFit/Evaluator.cxx
Labels: improvement, in:RooFit/RooStats

#19536 [ntuple] Properly handle unknown columns in CreateModel
  tree/ntuple/inc/ROOT/RField.hxx
  tree/ntuple/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/src/RNTupleDescriptor.cxx
  tree/ntuple/test/ntuple_compat.cxx
Labels: in:RNTuple

#19564 [Python] Unit test for overriding C++ function returning `unsigned int`
  bindings/pyroot/cppyy/cppyy/test/test_crossinheritance.py
Labels: in:Python Interface

#19567 [roottest] use fixtures in main tests
  roottest/main/CMakeLists.txt
Labels: affects:master, in:Testing

#19581 [ntuple] add test for model extension with streamer fields
  tree/ntuple/inc/ROOT/RNTupleWriter.hxx
  tree/ntuple/test/ntuple_modelext.cxx
Labels: in:RNTuple

#19574 [6.36][ntuple] properly handle unknown columns in CreateModel()
  tree/ntuple/inc/ROOT/RField.hxx
  tree/ntuple/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/src/RNTupleDescriptor.cxx
  tree/ntuple/test/ntuple_compat.cxx
Labels: in:RNTuple

#19584 Adjust stressGraphics_web.ref
  test/stressGraphics_web.ref
Labels: affects:master, in:Testing

#19608 [v630][RF] Fix implementation of HS3 importers
  roofit/hs3/src/RooJSONFactoryWSTool.cxx
Labels: pr:backport, in:RooFit/RooStats

#19620 [CPyCppyy] Add pythonizations for `string_view`
  bindings/pyroot/cppyy/CPyCppyy/src/Pythonize.cxx
Labels: in:Python Interface

#19629 [math] Remove the GenVector namespace to improve doxygen.
  math/genvector/inc/Math/GenVector/GenVector_exception.h
  math/genvector/inc/Math/GenVector/LorentzVector.h
  math/genvector/inc/Math/GenVector/PtEtaPhiE4D.h
  math/genvector/inc/Math/GenVector/PtEtaPhiM4D.h
  math/genvector/inc/Math/GenVector/PxPyPzE4D.h
  math/genvector/inc/Math/GenVector/PxPyPzM4D.h
  math/genvector/inc/Math/GenVector/Rotation3D.h
  math/genvector/inc/Math/GenVector/VectorUtil.h
  math/genvector/src/Boost.cxx
  math/genvector/src/BoostX.cxx
  math/genvector/src/BoostY.cxx
  math/genvector/src/BoostZ.cxx
  math/genvector/src/LorentzRotation.cxx
Labels: in:Documentation

#19649 [Python] Remove all code related to `CLING_STANDARD_PCH` check
  bindings/pyroot/cppyy/cppyy/python/cppyy/__init__.py
  bindings/pyroot/pythonizations/python/ROOT/__init__.py
  roottest/python/basic/CMakeLists.txt
  roottest/python/cling/CMakeLists.txt
  roottest/python/regression/CMakeLists.txt
  roottest/root/meta/tclass/regression/CMakeLists.txt
Labels: bug, in:Python Interface

#19655 [v636][RF] Don't warn about duplicates in temporary RooArgSet in RealIntegral
  roofit/roofitcore/src/RooRealIntegral.cxx
Labels: pr:backport, in:RooFit/RooStats

#19654 [RF] Don't warn about duplicates in temporary RooArgSet in RealIntegral
  roofit/roofitcore/src/RooRealIntegral.cxx
Labels: bug, in:RooFit/RooStats

#19682 [636] Fix TF1::DrawCopy issue
  hist/hist/src/TF1.cxx
  hist/hist/test/CMakeLists.txt
  hist/hist/test/test_tf1_drawcopy.cxx
Labels: pr:backport

#19683 [v632][python] Remove fragile test
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  bindings/pyroot/pythonizations/test/memory.py
Labels: pr:backport

#19583 [rootest] remove unused files from rint, roofitstats, selector tests
  roottest/root/rint/.rootrc
  roottest/root/roofitstats/.rootrc
  roottest/root/selector/.rootrc
  roottest/root/selector/Makefile
  roottest/root/selector/simple/.rootrc
  roottest/root/selector/simple/Makefile
Labels: affects:master, in:Testing

#19703 roottest: root-tree-branch avoid output name clash.
  roottest/root/tree/branches/CMakeLists.txt
Labels: priority:critical, in:Testing

#19718 [CMake] Remove overriding `CMAKE_OSX_SYSROOT`
  CMakeLists.txt
Labels: in:Build System, clean build

#19734 [hist] Always use maximum floating point precision in `GetExpFormula`
  hist/hist/inc/TFormula.h
  hist/hist/src/TFormula.cxx
  test/TFormulaParsingTests.h
Labels: improvement, in:Hist

#19697 [Python][RDF] Add support for (some) root classes in numba jitted functions
  bindings/pyroot/pythonizations/python/ROOT/_numbadeclare.py
  bindings/pyroot/pythonizations/test/numbadeclare.py
Labels: new feature, in:Python Interface, in:RDataFrame

#19758 [nfc] improve rbrowser docu
  gui/browserv7/src/RBrowser.cxx
Labels: skip ci

#19656 RooFit: Fix plotOn normalization for extended PDFs
  roofit/roofitcore/src/RooAbsPdf.cxx
Labels: in:RooFit/RooStats

#19750 [CMake] Always use `DYLD_LIBRARY_PATH` on Apple in RootMacros
  cmake/modules/RootMacros.cmake
Labels: bug, in:Build System, clean build
