Repository root-project/root, pull requests merged in 2025-01, with the labels that each got.

#11183 Tweak fitting for TGraph to no assume points are in ascending order
  hist/hist/src/HFitInterface.cxx
Labels: in:Hist

#11098 [cling-cpt] Added some more fixes to the download_llvm_binary function [skip-ci]
  interpreter/cling/tools/packaging/cpt.py
Labels: in:Cling

#11137 [cling-cpt] Added fixes for debian packaging [skip-ci]
  interpreter/cling/tools/packaging/cpt.py
Labels: in:Cling

#14077 Made public TH1::CheckConsistency (2)
  hist/hist/inc/TH1.h
  hist/hist/src/TH1.cxx
Labels: in:Hist

#17349 [634][ci] Temporarily disable arm64 linux builds
  .github/workflows/root-ci.yml
Labels: pr:backport

#17356 [RF] Fix inverted `gSystem.AccessPathName` in tutorial
  tutorials/roostats/StandardBayesianMCMCDemo.py
Labels: in:RooFit/RooStats, pr:emergency🚨

#17341 Add initial support for loong64
  cmake/modules/SetUpLinux.cmake
  config/root-config.in
  core/foundation/inc/ROOT/RConfig.hxx
  etc/Makefile.arch
  interpreter/CMakeLists.txt
  interpreter/cling/lib/Interpreter/IncrementalJIT.cpp
Labels: new contributor

#17300 [ntuple] Exporter: add a way to blacklist/whitelist column types
  tree/ntupleutil/v7/inc/ROOT/RNTupleExporter.hxx
  tree/ntupleutil/v7/src/RNTupleExporter.cxx
  tree/ntupleutil/v7/test/ntuple_exporter.cxx
Labels: in:RNTuple

#17365 [Python] Remove hack to bypass `ClearProxiedObjects()` in tutorials
  tutorials/roofit/rf615_simulation_based_inference.py
  tutorials/roofit/rf617_simulation_based_inference_multidimensional.py
  tutorials/roofit/rf618_mixture_models.py
Labels: in:Python Interface, in:Tutorials

#17358 [RF] Add parameter getters to RooCrystalBall
  roofit/roofit/inc/RooCrystalBall.h
Labels: in:RooFit/RooStats

#17366 [ntuple] fix UB in SimpleCollectionProxy
  tree/ntuple/v7/test/SimpleCollectionProxy.hxx
Labels: in:RNTuple

#17367 [ntuple] use vector reads for simple types in RArrayField
  tree/ntuple/v7/src/RFieldSequenceContainer.cxx
Labels: in:RNTuple

#17368 [ntuple] Improve error handling of `RNTupleParallelWriter`
  tree/ntuple/v7/src/RNTupleParallelWriter.cxx
  tree/ntuple/v7/test/ntuple_parallel_writer.cxx
Labels: in:RNTuple

#17373 [ntuple] Remove redundant `RNTupleProcessor::LoadEntry` call
  tree/ntuple/v7/inc/ROOT/RNTupleProcessor.hxx
Labels: in:RNTuple

#17376 [ntuple] Simplify `REntry` pythonizations
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rntuple.py
  tree/ntuple/v7/inc/ROOT/RNTupleUtil.hxx
Labels: in:RNTuple

#17378 Remove limiting RNTuple factory function
  tree/dataframe/inc/ROOT/RNTupleDS.hxx
  tree/dataframe/src/RNTupleDS.cxx
Labels: in:RDataFrame

#17379 [geom] Emulate Inside functionality to fix false positives in overlap checking
  geom/geom/inc/TGeoArb8.h
  geom/geom/inc/TGeoBBox.h
  geom/geom/inc/TGeoBoolNode.h
  geom/geom/inc/TGeoCompositeShape.h
  geom/geom/inc/TGeoCone.h
  geom/geom/inc/TGeoEltu.h
  geom/geom/inc/TGeoHalfSpace.h
  geom/geom/inc/TGeoHype.h
  geom/geom/inc/TGeoPara.h
  geom/geom/inc/TGeoParaboloid.h
  geom/geom/inc/TGeoPcon.h
  geom/geom/inc/TGeoPgon.h
  geom/geom/inc/TGeoScaledShape.h
  geom/geom/inc/TGeoShape.h
  geom/geom/inc/TGeoShapeAssembly.h
  geom/geom/inc/TGeoSphere.h
  geom/geom/inc/TGeoTorus.h
  geom/geom/inc/TGeoTrd1.h
  geom/geom/inc/TGeoTrd2.h
  geom/geom/inc/TGeoTube.h
  geom/geom/inc/TGeoXtru.h
  geom/geom/src/TGeoArb8.cxx
  geom/geom/src/TGeoBBox.cxx
  geom/geom/src/TGeoBoolNode.cxx
  geom/geom/src/TGeoCompositeShape.cxx
  geom/geom/src/TGeoCone.cxx
  geom/geom/src/TGeoEltu.cxx
  geom/geom/src/TGeoHalfSpace.cxx
  geom/geom/src/TGeoHype.cxx
  geom/geom/src/TGeoPara.cxx
  geom/geom/src/TGeoParaboloid.cxx
  geom/geom/src/TGeoPcon.cxx
  geom/geom/src/TGeoPgon.cxx
  geom/geom/src/TGeoScaledShape.cxx
  geom/geom/src/TGeoShape.cxx
  geom/geom/src/TGeoShapeAssembly.cxx
  geom/geom/src/TGeoSphere.cxx
  geom/geom/src/TGeoTorus.cxx
  geom/geom/src/TGeoTrd1.cxx
  geom/geom/src/TGeoTrd2.cxx
  geom/geom/src/TGeoTube.cxx
  geom/geom/src/TGeoXtru.cxx
  geom/test/CMakeLists.txt
  geom/test/no_extrusion.gdml
  geom/test/test_boolean_extrusion.cxx
Labels: new feature, bug, priority:default, in:Geometry

#17397 [http] use basic sniffer if TRootSnifferFull cannot be created
  net/http/src/THttpServer.cxx
Labels: affects:master

#17411 [skip-ci] Fix typo
  tutorials/hist/index.md
Labels: in:Tutorials

#17215 [TMVA] Specify ownership of histograms in the ROCCalc documentation
  tmva/tmva/inc/TMVA/ROCCalc.h
Labels: in:TMVA

#17401 [df] Improve warning message when lazy Snapshot is not triggered
  tree/dataframe/inc/ROOT/RDF/ActionHelpers.hxx
  tree/dataframe/test/dataframe_snapshot.cxx
Labels: in:RDataFrame

#17414 [webgui] use fully qualified namespace for RLogChannel
  geom/webviewer/src/RGeomData.cxx
  graf2d/gpadv7/src/RAttrBase.cxx
  gui/browsable/src/RElement.cxx
  gui/browserv7/src/RBrowserData.cxx
  gui/cefdisplay/src/gui_handler.cxx
  gui/fitpanelv7/src/RFitPanelModel.cxx
  gui/qt5webdisplay/rootwebpage.cpp
  gui/webdisplay/src/RWebDisplayArgs.cxx
Labels: affects:master, in:WebGui

#17421 [skip-ci][NFC][ntuple] fix typo in specification
  tree/ntuple/v7/doc/BinaryFormatSpecification.md
Labels: in:RNTuple

#17396 [df] Integrate Report action with systematic variations
  tree/dataframe/inc/ROOT/RDF/ActionHelpers.hxx
  tree/dataframe/inc/ROOT/RDF/RAction.hxx
  tree/dataframe/inc/ROOT/RDF/RActionImpl.hxx
  tree/dataframe/inc/ROOT/RDF/RInterface.hxx
  tree/dataframe/src/RDataFrame.cxx
  tree/dataframe/test/dataframe_vary.cxx
Labels: in:RDataFrame

#17420 [webgeom] correctly handle configuration change
  geom/webviewer/inc/ROOT/RGeomData.hxx
  geom/webviewer/src/RGeomData.cxx
  geom/webviewer/src/RGeomViewer.cxx
Labels: affects:master, in:WebGui

#17415 [llvm-project] Replace downstream patch with backport
  interpreter/llvm-project/llvm-project.tag
  interpreter/llvm-project/llvm/CMakeLists.txt
  interpreter/llvm-project/llvm/utils/mlgo-utils/CMakeLists.txt
Labels: in:Cling

#17417 [ntuple] check return value of fread in ntuple_exporter
  tree/ntupleutil/v7/test/ntuple_exporter.cxx
Labels: in:RNTuple

#16681 [df] Unify local and distributed API
  bindings/experimental/distrdf/python/DistRDF/Backends/Dask/__init__.py
  bindings/experimental/distrdf/python/DistRDF/Backends/Spark/__init__.py
  bindings/experimental/distrdf/python/DistRDF/__init__.py
  bindings/pyroot/pythonizations/CMakeLists.txt
  bindings/pyroot/pythonizations/python/ROOT/_facade.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_rdf_namespace.py
  tree/dataframe/src/RDataFrame.cxx
  tutorials/analysis/dataframe/distrdf001_spark_connection.py
  tutorials/analysis/dataframe/distrdf002_dask_connection.py
  tutorials/analysis/dataframe/distrdf004_dask_lxbatch.py
Labels: in:RDataFrame

#17428 [skip-ci][ci] Prepare for doc generation of multiple branches
  .github/workflows/root-docs-ci.yml
  .github/workflows/root-docs-master.yml
Labels: in:Documentation

#17431 [ntuple] use MakeUninitArray when appropriate in tests
  tree/ntuple/v7/test/ntuple_merger.cxx
  tree/ntuple/v7/test/ntuple_packing.cxx
  tree/ntuple/v7/test/ntuple_serialize.cxx
  tree/ntuple/v7/test/ntuple_storage_daos.cxx
  tree/ntuple/v7/test/ntuple_test.hxx
  tree/ntuple/v7/test/ntuple_zip.cxx
Labels: in:RNTuple

#17424 [ntuple] rename RClusterIndex to RNTupleLocalIndex
  tree/dataframe/src/RNTupleDS.cxx
  tree/ntuple/v7/inc/ROOT/RColumn.hxx
  tree/ntuple/v7/inc/ROOT/RField.hxx
  tree/ntuple/v7/inc/ROOT/RField/RFieldFundamental.hxx
  tree/ntuple/v7/inc/ROOT/RField/RFieldProxiedCollection.hxx
  tree/ntuple/v7/inc/ROOT/RField/RFieldRecord.hxx
  tree/ntuple/v7/inc/ROOT/RField/RFieldSTLMisc.hxx
  tree/ntuple/v7/inc/ROOT/RField/RFieldSequenceContainer.hxx
  tree/ntuple/v7/inc/ROOT/RFieldBase.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleRange.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleUtil.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleView.hxx
  tree/ntuple/v7/inc/ROOT/RPage.hxx
  tree/ntuple/v7/inc/ROOT/RPagePool.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageDaos.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorageFile.hxx
  tree/ntuple/v7/src/RColumn.cxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RFieldBase.cxx
  tree/ntuple/v7/src/RFieldMeta.cxx
  tree/ntuple/v7/src/RFieldSequenceContainer.cxx
  tree/ntuple/v7/src/RPagePool.cxx
  tree/ntuple/v7/src/RPageStorage.cxx
  tree/ntuple/v7/src/RPageStorageDaos.cxx
  tree/ntuple/v7/src/RPageStorageFile.cxx
  tree/ntuple/v7/test/ntuple_bulk.cxx
  tree/ntuple/v7/test/ntuple_checksum.cxx
  tree/ntuple/v7/test/ntuple_cluster.cxx
  tree/ntuple/v7/test/ntuple_endian.cxx
  tree/ntuple/v7/test/ntuple_merger.cxx
  tree/ntuple/v7/test/ntuple_multi_column.cxx
  tree/ntuple/v7/test/ntuple_packing.cxx
  tree/ntuple/v7/test/ntuple_pages.cxx
  tree/ntuple/v7/test/ntuple_storage_daos.cxx
  tree/ntuple/v7/test/ntuple_test.cxx
  tree/ntuple/v7/test/ntuple_test.hxx
  tree/ntuple/v7/test/ntuple_view.cxx
Labels: in:RNTuple

#17440 [interpreter] Suppress STATUS messages from LLVM
  interpreter/CMakeLists.txt
Labels: in:Build System

#17445 [geom] Fix for setting mesh points for composite shapes.
  geom/geom/src/TGeoBoolNode.cxx
Labels: bug, priority:high, in:Geometry

#17441 [ntupleutil] exporter: check that the output file is writable
  tree/ntupleutil/v7/src/RNTupleExporter.cxx
Labels: in:RNTuple

#17413 [geom][mini] Disabling (temporarily) c++20 [[unlikely]] compiler hint.
  geom/geom/src/TGeoParallelWorld.cxx
Labels: priority:low, in:Geometry

#17457 [webgui] properly configure usage of current dir
  gui/webdisplay/src/RWebWindowsManager.cxx
Labels: affects:master, in:WebGui

#17458 [webgui] properly configure usage of current dir [6.34]
  gui/webdisplay/src/RWebWindowsManager.cxx
Labels: pr:backport, in:WebGui, affects:6.34

#17423 [cmake] Deprecate `mysql`, `odbc`, `pgsql` build options
  .github/workflows/root-ci-config/buildconfig/debian125.txt
  .github/workflows/root-ci-config/buildconfig/global.txt
  .github/workflows/root-ci-config/buildconfig/mac-beta.txt
  .github/workflows/root-ci-config/buildconfig/mac13.txt
  .github/workflows/root-ci-config/buildconfig/mac14.txt
  .github/workflows/root-ci-config/buildconfig/mac15.txt
  .github/workflows/root-ci-config/buildconfig/ubuntu2404-cuda.txt
  .github/workflows/root-ci-config/buildconfig/windows10.txt
  README/ReleaseNotes/v636/index.md
  cmake/modules/RootBuildOptions.cmake
Labels: in:Build System, clean build

#17462 [RF] Address Clang compiler warning
  roofit/roofitcore/inc/RooFit/Detail/MathFuncs.h
Labels: in:RooFit/RooStats

#17437 [ntuple] EColumnType --> ENTupleColumnType
  tree/dataframe/src/RNTupleDS.cxx
  tree/ntuple/v7/inc/ROOT/RColumn.hxx
  tree/ntuple/v7/inc/ROOT/RColumnElementBase.hxx
  tree/ntuple/v7/inc/ROOT/RField/RFieldFundamental.hxx
  tree/ntuple/v7/inc/ROOT/RFieldBase.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleSerialize.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleUtil.hxx
  tree/ntuple/v7/src/RColumn.cxx
  tree/ntuple/v7/src/RColumnElement.cxx
  tree/ntuple/v7/src/RColumnElement.hxx
  tree/ntuple/v7/src/RField.cxx
  tree/ntuple/v7/src/RFieldBase.cxx
  tree/ntuple/v7/src/RFieldMeta.cxx
  tree/ntuple/v7/src/RFieldSequenceContainer.cxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/src/RNTupleDescriptorFmt.cxx
  tree/ntuple/v7/src/RNTupleMerger.cxx
  tree/ntuple/v7/src/RNTupleSerialize.cxx
  tree/ntuple/v7/test/ntuple_cast.cxx
  tree/ntuple/v7/test/ntuple_cluster.cxx
  tree/ntuple/v7/test/ntuple_compat.cxx
  tree/ntuple/v7/test/ntuple_descriptor.cxx
  tree/ntuple/v7/test/ntuple_endian.cxx
  tree/ntuple/v7/test/ntuple_merger.cxx
  tree/ntuple/v7/test/ntuple_model.cxx
  tree/ntuple/v7/test/ntuple_multi_column.cxx
  tree/ntuple/v7/test/ntuple_packing.cxx
  tree/ntuple/v7/test/ntuple_parallel_writer.cxx
  tree/ntuple/v7/test/ntuple_serialize.cxx
  tree/ntuple/v7/test/ntuple_test.hxx
  tree/ntuple/v7/test/ntuple_types.cxx
  tree/ntupleutil/v7/inc/ROOT/RNTupleExporter.hxx
  tree/ntupleutil/v7/inc/ROOT/RNTupleInspector.hxx
  tree/ntupleutil/v7/src/RNTupleInspector.cxx
  tree/ntupleutil/v7/test/ntuple_exporter.cxx
  tree/ntupleutil/v7/test/ntuple_importer.cxx
  tree/ntupleutil/v7/test/ntuple_inspector.cxx
Labels: in:RNTuple

#17469 [PyROOT] Add executors and converters for `std::byte`
  bindings/pyroot/cppyy/CPyCppyy/src/Converters.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/Executors.cxx
  bindings/pyroot/cppyy/patches/CPyCppyy-Adapt-to-no-std-in-ROOT.patch
Labels: in:Python Interface

#17467 [RF] Don't override `TObject::Clone()` in TH2Poly
  hist/hist/inc/TH2Poly.h
  hist/hist/src/TH2Poly.cxx
Labels: bug, in:Hist

#17399 [python] Pythonize `TObject::Clone()` overrides for correct ownership
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_memory_utils.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_th1.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_th2.py
  bindings/pyroot/pythonizations/python/ROOT/_pythonization/_th3.py
  bindings/pyroot/pythonizations/test/memory.py
Labels: bug, in:Python Interface

#17482 [v632] [PyROOT] Add executors and converters for `std::byte`
  bindings/pyroot/cppyy/CPyCppyy/src/Converters.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/Executors.cxx
  bindings/pyroot/cppyy/patches/CPyCppyy-Adapt-to-no-std-in-ROOT.patch
Labels: pr:backport, in:Python Interface

#17464 [cmake] deprecate qt5web option
  README/ReleaseNotes/v636/index.md
  cmake/modules/RootBuildOptions.cmake
Labels: affects:master, in:Build System, in:WebGui

#17471 [ntuple] Add deprecated EColumnType using directive
  tree/ntuple/v7/inc/ROOT/RNTupleUtil.hxx
Labels: in:RNTuple

#17481 [v634] [PyROOT] Add executors and converters for `std::byte`
  bindings/pyroot/cppyy/CPyCppyy/src/Converters.cxx
  bindings/pyroot/cppyy/CPyCppyy/src/Executors.cxx
  bindings/pyroot/cppyy/patches/CPyCppyy-Adapt-to-no-std-in-ROOT.patch
Labels: pr:backport, in:Python Interface

#17495 [skip-ci] Add index.md for the tree tutorials
  tutorials/io/tree/index.md
Labels: in:Tutorials, 2nd Hackathon

#17478 [df] Fix Vary sanity check for typedefs
  tree/dataframe/inc/ROOT/RDF/RInterfaceBase.hxx
  tree/dataframe/test/dataframe_vary.cxx
Labels: in:RDataFrame

#17493 Delete Pythia6 Eve tutorial
  tutorials/visualisation/eve/pythia_display.C
Labels: in:Tutorials

#17507 [v634] Support linking with mold>=2.32.0
  CMakeLists.txt
Labels: pr:backport

#17513 [skip-ci][doc][nfc] Reorganise tutorials' index.md
  tutorials/index.md
Labels: in:Documentation

#17502 [tutorials] Move the h1analysis tutorials to analysis
  tutorials/CMakeLists.txt
  tutorials/analysis/tree/h1analysis.C
  tutorials/analysis/tree/h1analysis.h
  tutorials/analysis/tree/h1analysisProxy.C
  tutorials/analysis/tree/h1analysisProxy.h
  tutorials/analysis/tree/h1analysisProxyCut.C
  tutorials/analysis/tree/h1analysisTreeReader.C
  tutorials/analysis/tree/h1analysisTreeReader.h
  tutorials/analysis/tree/h1chain.C
  tutorials/analysis/tree/run_h1analysis.C
  tutorials/io/tree/JetEvent.cxx
Labels: in:Tutorials, 2nd Hackathon

#17504 [tutorials] Fix the path of tree500_cernbuild.C
  tutorials/hist/hist006_TH1_bar_charts.C
Labels: in:Tutorials, 2nd Hackathon

#17506 [RF] Increase version number of RooCrystalBall
  roofit/roofit/inc/RooCrystalBall.h
Labels: bug, in:RooFit/RooStats

#17511 [RF] Include any fundamental args as variables of RooFit::Evaluator
  roofit/roofitcore/src/RooFit/Evaluator.cxx
Labels: bug, in:RooFit/RooStats

#17517 [cmake] macOS isysroot switch argument: fix typo
  interpreter/cling/lib/Interpreter/CMakeLists.txt
Labels: clean build

#17518 [RF] Avoid unneeded cached projection integrals in RooAddPdf
  roofit/roofitcore/inc/RooFit/Detail/RooNormalizedPdf.h
  roofit/roofitcore/src/RooAddHelpers.cxx
  roofit/roofitcore/src/RooAddPdf.cxx
  roofit/roofitcore/test/CMakeLists.txt
  roofit/roofitcore/test/testRooAddPdf.cxx
Labels: improvement, in:RooFit/RooStats

#17525 [RF] Account for cuts over the index category inside RooCompositeDataStore::reduce
  README/ReleaseNotes/v636/index.md
  roofit/roofitcore/src/RooCompositeDataStore.cxx
  roofit/roofitcore/test/testRooDataSet.cxx
Labels: new contributor

#17492 [RF] Deprecate `RooAbsPdf::generateSimGlobal()`
  README/ReleaseNotes/v636/index.md
  roofit/roofitcore/inc/RooAbsPdf.h
  roofit/roofitcore/inc/RooSimultaneous.h
  roofit/roostats/src/ToyMCSampler.cxx
  tutorials/roofit/roostats/TwoSidedFrequentistUpperLimitWithBands.C
  tutorials/roofit/roostats/TwoSidedFrequentistUpperLimitWithBands.py
Labels: improvement, in:RooFit/RooStats

#17500 [ntuple] Make RNTupleDescriptor::Clone() return it by value
  tree/dataframe/inc/ROOT/RNTupleDS.hxx
  tree/dataframe/src/RNTupleDS.cxx
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/inc/ROOT/RNTupleReader.hxx
  tree/ntuple/v7/inc/ROOT/RPageStorage.hxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
  tree/ntuple/v7/src/RPageStorage.cxx
  tree/ntuple/v7/test/ntuple_descriptor.cxx
  tree/ntuple/v7/test/ntuple_storage_daos.cxx
  tree/ntupleutil/v7/inc/ROOT/RNTupleInspector.hxx
  tree/ntupleutil/v7/src/RNTupleInspector.cxx
  tree/ntupleutil/v7/test/ntuple_inspector.cxx
Labels: in:RNTuple

#17473 [ntuple] Merger: pass the destination in the ctor rather than in Merge()
  tree/ntuple/v7/inc/ROOT/RNTupleMerger.hxx
  tree/ntuple/v7/src/RNTupleMerger.cxx
  tree/ntuple/v7/test/ntuple_checksum.cxx
  tree/ntuple/v7/test/ntuple_merger.cxx
  tree/ntuple/v7/test/rfield_streamer.cxx
Labels: in:RNTuple

#17128 Allow to set the line width of candle markers
  core/base/inc/TStyle.h
  core/base/src/TStyle.cxx
  graf2d/graf/src/TCandle.cxx
Labels: affects:master, in:Graphics

#17522 core: Avoid TWinNTSystem::ExpandPathName suppressing real error.
  core/winnt/src/TWinNTSystem.cxx
Labels: bug, in:Core Libraries

#17547 [tree] Apply clang-format to TTreeReader[,Value,Array].[h,cxx]
  tree/treeplayer/inc/TTreeReader.h
  tree/treeplayer/inc/TTreeReaderArray.h
  tree/treeplayer/inc/TTreeReaderValue.h
  tree/treeplayer/src/TTreeReader.cxx
  tree/treeplayer/src/TTreeReaderArray.cxx
  tree/treeplayer/src/TTreeReaderValue.cxx
Labels: in:TTree

#17544 Fix interaction between RSampleInfo and redirected EOS paths
  tree/dataframe/src/RLoopManager.cxx
Labels: in:RDataFrame

#17569 [io] avoid unnecessary heap allocation in TFile::MakeFree
  io/io/src/TFile.cxx
Labels: in:I/O

#17559 [ntuple] Remove RContext::fHeaderExtensionOffset
  tree/ntuple/v7/inc/ROOT/RNTupleSerialize.hxx
  tree/ntuple/v7/src/RNTupleSerialize.cxx
Labels: in:RNTuple

#17572 [ntuple] Detect mismatch between entry and model in `RNTupleReader::LoadEntry`
  tree/ntuple/v7/inc/ROOT/RNTupleReader.hxx
  tree/ntuple/v7/test/ntuple_basics.cxx
Labels: in:RNTuple

#17561 [ntuple] rename RHeaderExtension::AddExtended* to MarkExtended*
  tree/ntuple/v7/inc/ROOT/RNTupleDescriptor.hxx
  tree/ntuple/v7/src/RNTupleDescriptor.cxx
Labels: in:RNTuple

#17581 [df] Add Python test with empty list of filenames
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  bindings/pyroot/pythonizations/test/rdataframe_misc.py
Labels: in:RDataFrame

#17583 [math] Improve `ROOT::Math::landau_pdf` by using power rules
  math/mathcore/src/PdfFuncMathCore.cxx
Labels: improvement, in:Math Libraries

#17586 [skip-ci][NFC][ntuple] minor spec fixes
  tree/ntuple/v7/doc/BinaryFormatSpecification.md
Labels: in:RNTuple
