Repository root-project/root, pull requests merged in 2025-10, with the labels that each got.

#20002 [core] Fix libCling linking with `-Bsymbolic` [v6.32]
  core/metacling/src/CMakeLists.txt
  interpreter/CMakeLists.txt
Labels: pr:backport, in:Build System

#19923 [core] Use version script to hide symbols in libCling
  core/metacling/src/CMakeLists.txt
  core/metacling/src/libCling.script
Labels: in:Core Libraries

#20017 [ntuple] Properly set the NTupleName in sources created from anchors
  tree/ntuple/src/RPageStorageFile.cxx
  tree/ntuple/test/ntuple_storage.cxx
Labels: in:RNTuple

#20024 [df] Remove unnecessary header inclusion
  tree/dataframe/inc/ROOT/RDataFrame.hxx
Labels: in:RDataFrame

#20020 [Python][UHI] Integrate the UHI testing suite
  bindings/pyroot/pythonizations/test/CMakeLists.txt
  bindings/pyroot/pythonizations/test/uhi_test_suite.py
Labels: improvement, in:Python Interface

#19737 update xroofit
  roofit/xroofit/inc/RooFit/xRooFit/xRooNLLVar.h
  roofit/xroofit/inc/RooFit/xRooFit/xRooNode.h
  roofit/xroofit/src/Asymptotics.cxx
  roofit/xroofit/src/xRooFit.cxx
  roofit/xroofit/src/xRooHypoSpace.cxx
  roofit/xroofit/src/xRooNLLVar.cxx
  roofit/xroofit/src/xRooNode.cxx
Labels: in:RooFit/RooStats

#19939 [nfc][RDF] mention shortcut for omitting NaNs when calculating mean
  tree/dataframe/src/RDataFrame.cxx
Labels: pr:squash on merge, skip ci

#20037 [ntuple] remove unused test
  tree/ntuple/test/ntuple_show.cxx
Labels: in:RNTuple

#20039 [RF] Fix wrong usage of `std::ostringstream` in RooProdPdf
  roofit/roofitcore/src/RooProdPdf.cxx
Labels: in:RooFit/RooStats

#20040 [RF] Avoid compute graph desync in RooFixedProdPdf
  roofit/codegen/src/CodegenImpl.cxx
  roofit/roofitcore/inc/RooProdPdf.h
  roofit/roofitcore/src/RooProdPdf.cxx
Labels: bug, in:RooFit/RooStats

#20034 [RF] Avoid implicit creation of normalization set in RooNumRunningInt
  roofit/roofitcore/inc/RooNumRunningInt.h
  roofit/roofitcore/src/RooNumRunningInt.cxx
Labels: bug, in:RooFit/RooStats

#20036 [RF] Remove fallback to Minuit 1 in stressHistFactory
  roofit/histfactory/test/stressHistFactory.cxx
Labels: in:RooFit/RooStats

#20025 [hist] Add first basic tutorial
  tutorials/CMakeLists.txt
  tutorials/hist/histv7/hist001_RHist_basics.C
  tutorials/hist/histv7/index.md
Labels: in:Hist, in:Tutorials

#19988 [test] Add test for vector of XYZVector in TTreeReaderValue
  tree/treeplayer/test/regressions.cxx
Labels: pr:squash on merge

#20053 [v6.36][ntuple] enforce correct subfield name in untyped collection
  tree/ntuple/src/RFieldSequenceContainer.cxx
  tree/ntupleutil/v7/src/RNTupleImporter.cxx
Labels: pr:backport, in:RNTuple

#20049 [hist] Accept regular axis interval as `std::pair`
  hist/histv7/benchmark/hist_benchmark_axes.cxx
  hist/histv7/benchmark/hist_benchmark_engine.cxx
  hist/histv7/benchmark/hist_benchmark_regular.cxx
  hist/histv7/inc/ROOT/RHist.hxx
  hist/histv7/inc/ROOT/RHistEngine.hxx
  hist/histv7/inc/ROOT/RRegularAxis.hxx
  hist/histv7/test/hist_axes.cxx
  hist/histv7/test/hist_engine.cxx
  hist/histv7/test/hist_hist.cxx
  hist/histv7/test/hist_io.cxx
  hist/histv7/test/hist_regular.cxx
  tutorials/hist/histv7/hist001_RHist_basics.C
Labels: in:Hist
